/* About us page*/

#about-us-heading {
    width: 100%;
    height: auto;
    background-color: #ffffff;
}

#about-us-title {
    width: 100%;
    height: auto;
    background-image: url('../images/about-us/about-roofpik.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 15%;
}

#about-us-title h1 {
    color: #ffffff;
    font-size:30px;
}

#about-us-description {
    width: 85%;
    margin: 0 auto;
    padding: 50px 0px;
}

#about-us-description h2 {
    text-align:center;
}

#about-us-description p,
#about-us-description ul li {
    font-weight: 300;
    color: #484848;
    margin: 0 0 20px;
    line-height: 1.5;
}

#our-team {
    width: 100%;
    height: auto;
}

#our-team-description {
    width: 85%;
    height: auto;
}

#our-team-description a {
    color: #337ab7;
}

#our-team-description p{
    color: #484848;  
}