.whiteb {
	background:#fff;
	border: solid 1px #ccc;
}

.floatr{
	float:right;
}

.list-icon{
	height: 30px;
    float: left;
    z-index: 1 !important;
}

.map-radio{width:50%; position: absolute; left: 30%; bottom: 0%; z-index: 9; transform: translate(-50%, -50%); color:#000;}

.map-radio label {
	color: #000;
}

.highlightedText {
    font-weight: bold;
    color:#000;
}
.loaderPositionCoverStories {
	position: absolute;
    left: 50%;
    top: 300px !important;
    width: 100px;
    height: 100px;
    margin: auto;
    z-index: 9;
}

#map-list li {
    cursor:pointer;
}