.whiteb {
    background: #fff;
    border: solid 1px #ccc;
}

.floatr {
    float: right;
}

.list-icon {
    height: 30px;
    float: left;
    z-index: 1 !important;
}

.map-radio {
    width: 50%;
    position: absolute;
    left: 30%;
    bottom: 0%;
    z-index: 9;
    transform: translate(-50%, -50%);
    color: #000;
}

.map-radio label {
    color: #000;
}

.highlightedText {
    font-weight: bold;
    color: #000;
}

#map-list li {
    cursor: pointer;
}

.redf {
    color: #FF4F33;
}

.loaderPositionCoverStories {
    left: 50%;
    top: 250px;
    width: 100px;
    height: 100px;
    margin: auto;
    z-index: 9;
}

.wd100 {
    width: 100%;
}

.ht40 {
    height: 350px !important;
}

.mgtp10 {
    margin-top: 10% !important;
}

.loadingPositionModal {
    padding-left: 50%;
    padding-top: 10%;
}

.loadingMessagePosition {
    padding-left: 43%;
    font-weight: bold;
}

.loadingPositionReviews {
    margin-left: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
}
