.img_blogs {
    height: 450px !important;
}

.img_blogs_sm {
    height: 225px !important;
}

.bl_limg img {
    height: 150px;
}

.bl_rimg img {
    height: 100px;
}
.blogimgbn img{height: 500px !important; max-height: 500px !important;}
