.img_blogs {
    height: 450px;
}

.img_blogs_sm {
    height: 225px;
}

.bl_limg img {
    height: 150px;
}

.bl_rimg img {
    height: 100px;
}

.type-in .story1 {
    max-height: 480px;
}

.type-in .story2 {
    max-height: 240px;
}
