.business_sec4 h5{font-size: 17px; min-height: 45px;}
.business_sec4 .col{padding-right: 20px;}
.business_sec4 .col:last{padding-right: 10px;}
.business_sec4 .col img{width: 100px; height: 100px;}

.busi_packages .card{ min-height: 350px }
.busi_packages .card h2{font-size: 1.5rem }
.busi_packages .price{font-size: 2rem; color:#ff7e82; }

.busi_leadcost .card{ padding:30px 10px; }
.busi_leadcost .card{ min-height: 320px }
.busi_leadcost .card h2{font-size: 1.5rem }
.busi_leadcost .price{font-size: 2rem; color:#ff7e82; }
.busi_channel .col{ min-height: 230px; }
.busi_channel_form .col{ min-height: 260px; padding-top: 40px !important; }

.busi_channel_form a{cursor: pointer !important; color: #666; position: relative;
 border-top: 1px solid #ddd;
 border-left: 1px solid #ddd;  
 border-bottom: 1px solid #ddd; 
 border-right: 1px solid #fff;}
 .busi_channel_form a:first-child{border-left:none !important}
.busi_channel_form a:last-child{border-right:none !important}

.busi_channel_form a:hover{color:#ff7e82; border: 1px solid #ff7e82;}
.busi_channel_form a:hover h5{color:#ff7e82;}
.busi_channel_form a .check{ position: absolute;  display: none; right: 0px; top: 0px; font-size: 38px; width: 40px; height: 40px; }
.busi_channel_form a:hover .check{ display: block; background-color: #ff7e82; color: #fff; }

.busi_channel_form a.active{color:#ff7e82; border: 1px solid #ff7e82 !important;}
.busi_channel_form a.active h5{color:#ff7e82;}
.busi_channel_form a.active .check{ position: absolute;  display: none; right: 0px; top: 0px; font-size: 38px; width: 40px; height: 40px; }
.busi_channel_form a.active .check{ display: block; background-color: #ff7e82; color: #fff; }

.busi_circle{margin-top: -22px;}
.busi_circle .circle{border:2px solid #ddd; width: 30px; height: 30px; display: inline-block; background-color: #fff;}
.busi_circle .circle.active{background-color: #26a69a; color: #fff; border-color: #26a69a}
.busi_hr{border:1px solid #ddd;}
.busi_mgl40{margin-left: -40px !important;}
.busi_mgr40{margin-right: -20px !important;}

.busi_channel img{
	width:64px;
	height:64px;
}

@media screen and (min-height: 0px) and (max-width: 600px){
.business_sec4 .col {margin-bottom: 40px;}
.busi_leadcost .card, .busi_channel .col{ min-height: auto }
.busi_channel, .busi_leadcost{display: block;}
}