/* General */

.section-header {
    padding: 80px 0 50px;
}

.section-header h1 {
    font-size: 30px;
}

.section-header h2 {
    font-size: 18px;
    font-weight: 400;
}

.projects-wrapper{
    display: none;
}

.top-projects-loading{
    text-align: center;
}


/* Featured Header*/

.featured-header {
    background-size: cover !important;
    background: url('../images/home/bg1.jpg') center center no-repeat;
    height: 100vh;
    position: relative;
}

.featured-header-wrapper {
    background: rgba(25, 25, 25, 0.51);
    padding: 30px 0 50px;
    margin-top: -80px;
}

.featured-header h1 {
    font-size: 32px;
    color: #fff;
    text-align: center;
    margin: 10px 0 40px;
    width: auto;
    font-weight: 400;
    padding: 0 50px;
}

.featured-header h2 {
    font-size: 20px;
    font-weight: 300;
    color: #dadada;
    text-align: center;
    margin: 0px 0 20px;
    width: auto;
    padding: 0 50px;
}

.featured-header h3 {
    font-size: 20px;
    font-weight: 300;
    color: #dadada;
    text-align: center;
    margin: 20px 0 0px;
    width: auto;
    padding: 0 50px;
}

.featured-header .home-search {
    box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.1), inset 2px 2px 1px #f0f0f0;
    background-color: #fff;
    height: 55px;
    padding: 18px 0;
    border-radius: 6px;
    margin: 0;
    border: 0;
}

.featured-header .home-search input {
    font-size: 14px;
    font-weight: 300;
    color: #888888;
    line-height: 1.3;
    padding: 0px 5% 0px;
    border: 0px;
    -webkit-font-smoothing: antialiased;
    width: 90%;
}

.featured-header .home-search input:focus {
    outline-width: 0;
    outline: none;
    color: #484848;
}

.top-features {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 160px;
    background: rgba(0, 0, 0, 0.4)
}

.city-list{
    margin: 0 0 10px;
}

.city-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.city-list ul li {
    font-size: 14px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    position: relative;
    padding:0px 30px;
    background: rgba(255, 255, 255, 0.75);
    margin: 0 10px 0 0;
    border-radius: 20px;
    cursor: pointer;
}

.city-list ul li:hover{
    background: #fff;
}

.city-list ul li span{
    display: block;
}

.city-list ul li.city-active{
    background: #ea7740;
    color:#fff;
    font-weight: 600;
}
.city-list ul li span.city-status{
    display: none;
}

/* Info Box */

.top-features i {
    font-size: 30px;
    color: #ED8323;
    margin-top: 10px;
}

.top-features h1 {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

.top-features h2 {
    font-size: 16px;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
    color: #afafaf;
}


/* Category Wrapper */

.main-category-wrapper img {
    width: 100%;
    height: 100%;
}

.category-img-wrapper {
    overflow: hidden;
    padding: 10px 0 10px;
}

.family {
    background: url('../images/home/family.jpg') center center no-repeat;
    background-size: cover;
}

.elderly {
    background: url('../images/home/elderly.jpg') center center no-repeat;
    background-size: cover;
}

.bachelors {
    background: url('../images/home/bachelors.jpg') center center no-repeat;
    background-size: cover;
}

.married {
    background: url('../images/home/couples.jpg') center center no-repeat;
    background-size: cover;
}

.children {
    background: url('../images/home/children.jpg') center center no-repeat;
    background-size: cover;
}

.pets {
    background: url('../images/home/pets.jpg') center center no-repeat;
    background-size: cover;
}

.sohna-rd {
    background: url('../images/home/sohna.jpg') center center no-repeat;
    background-size: cover;
}

.golf-rd {
    background: url('../images/home/golf-rd.jpg') center center no-repeat;
    background-size: cover;
}

.golf-extn {
    background: url('../images/home/golf-extn.jpg') center center no-repeat;
    background-size: cover;
}

.dwarka-exp {
    background: url('../images/home/dwarka-exp.jpg') center center no-repeat;
    background-size: cover;
}


/* Write Reviews */

.write-reviews {
    background: url('../images/home/write-bg.jpg') center center no-repeat;
    background-size: cover;
    padding: 100px 0;
    margin: 100px 0 0px;
}

.write-reviews .reviews-wrapper {
    background: rgba(25, 25, 25, 0.51);
    padding: 30px 0 50px;
}

.write-reviews .reviews-wrapper h1 {
    font-size: 40px;
    font-weight: 100;
    color: #fff;
    text-align: center;
    margin: 0 0 10px;
    width: auto;
}

.write-reviews .reviews-wrapper h2 {
    font-size: 20px;
    font-weight: 100;
    color: #f7f7f7;
    text-align: center;
    margin: 20px 0 60px;
    width: auto;
    padding: 0px 20px;
}


/* Dialog */

.search-dialog {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.search-dialog input {
    width: 100%;
    padding: 10px;
    border: 0px;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
}

.search-dialog .md-button {
    padding: 0px !important;
}

.search-item img {
    margin: 0 10px 0 0px;
}

.search-item {
    margin: 10px 0;
}

.your-class {
    background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}


/* Top Projects*/

.projects-wrapper {
    position: relative;
}



.projects-wrapper:hover .arrows{
    display: block !important;
}

.projects-wrapper button {
    background: rgba(0, 0, 0, 0.55);
    border: 0px;
    width: 30px;
    color: #fff;
    display:none !important;
    z-index: 2;
}

.projects-wrapper .prev-proj {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    margin-left:10px;
 
}

.projects-wrapper .next-proj {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    margin-right: 10px;


}

.top-project-details{
    margin:0 10px;
    cursor: pointer;
}

.projects-wrapper .top-project-details figure {
    margin: 0;
    padding: 0px;
    text-align: center;
    position: relative;
}

.projects-wrapper .top-project-details img {
    width: 100%;
}

.projects-wrapper .top-project-details figcaption {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: rgba(35, 35, 35, 0.63);
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}

.projects-wrapper .top-project-info{
    padding: 10px 10px 10px;
    border: 1px #ccc solid;
}

.projects-wrapper .top-project-name{
   font-weight: 600;
  display: block;
}

.projects-wrapper .top-project-loc{
        font-size: 14px;
    display: block;
    line-height: 30px;
}



/*Blogs*/
.blogs{
    position:relative;
}

.blogs-wrapper{
        margin:0px 0 100px;
}

.prev-blog{
    position:absolute;
    bottom:-70px;
    left:45%;
    background: rgba(0,0,0,0.1);
    border:0px;

}

.prev-blog:hover{
     background: rgba(0,0,0,0.3);
}

.next-blog{
    position:absolute;
    bottom:-70px;
    right:45%;
    background: rgba(0,0,0,0.1);
    border:0px;

}

.next-blog:hover{
     background: rgba(0,0,0,0.3);
}


.blog-details figcaption{
    font-size: 18px;
    line-height: 20px;
    margin: 10px 0;
}

.blog-details .blog-info span{
    display: block;
}
