.search-home input {
    border-bottom: 0px;
}

.search-home .valign-wrapper {
    height: 100%;
    margin-top: -65px;
}

.cardmg {
    margin: 10px 0;
}

.searchfix {
    display: block !important;
    margin: 0 !important;
}

.inpspn {
    position: absolute;
    left: 10px;
    top: 0px;
    z-index: 11;
    line-height: 45px;
    font-weight: bold;
}

.inp_pdw {
    padding-left: 60px !important;
    padding-right: 10px !important;
    width: calc(100% - 70px) !important;
}

.loading-icon {
    position: absolute !important;
    right: 8px;
    top: 8px;
    z-index: 9 !important;
    width: 28px;
    height: 28px;
}

.bg-home-img {
    background: url(http://www.yustusa.com/9/2015/06/natural-modern-interior-amazing-home-interior-design-that-has-wooden-floor-can-be-decor-with-white-ceiling-can-add-the-beauty-inside-the-modern-house-design-ideas-.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.m-h5 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 30px;
    color: #fff;
}

.searchfix_xs {
    background: rgba(4, 4, 4, 0.43);
    padding: 10px 30px 20px;
}

.write-review h3 {
    line-height: 50px;
}

.write-review a {
    margin-top: 20px;
}

.alink:hover {
    text-decoration: underline;
}

.alink {
    line-height: 30px;
    color: rgb(0, 166, 153)
}

.home_se h5 {
    font-size: 17px !important
}

.home_se p {
    min-height: 60px;
}

.home-carousel .card {
    min-height: 255px;
}

.tabline1,
.tabline2,
.tabline3,
.tabline4 {
    position: absolute;
    z-index: 9;
    height: 5px;
    width: 200px;
    border-bottom: dashed 1px #F44336;
}

.tabline1 {
    left: 25%;
    top: 130px;

   /* -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);*/

    
}

.tabline2 {
    left: 20%; border-color: #26a69a;
    top: 61%;
   
}

.tabline3 {
    right: 17%; border-color: #ff9800;
    top: 100px; width: 230px;
    
}

.tabline4 {
    right: 19%; border-color: #2196F3;
    top: 56%;
   
}




@media screen and (min-width:0px) and (max-width: 600px) {
    .searchfix_xs {
        position: absolute;
        left: 50%;
        z-index: 9;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 10px 10px 10px 20px !important;
    }
    .m-h5 {
        font-size: 1.5rem;
        line-height: 140%;
    }
    .homev .valign-wrapper{display: block;}
    .homevalign .valign-wrapper{display: flex;}
}
