.header .logo {cursor: pointer;}
.mgt-5{margin-top: 55px;}
.blog-details figcaption {
    margin: 10px 0 0 0 !important;
    font-size: 17px;
    font-weight: 700;
    color: #555;
}

.sub-t {
    font-size: 15px;
    line-height: 20px;
    color: #484848;
}
.imgsrh{width: 150px; height: 100px;}
.mgt3 {
    margin-top: 30px;
}

.city-list ul {
    text-align: center;
}
#faq .faq-question h3{font-size: 17px; margin: 0px;}
#faq .faq-answer p{font-size: 16px; margin: 5px 0px;}
.profile-page .profile-page-content{font-size: 15px;}
.user-menu-list-item-span{cursor: pointer;}
.rf-footer ul li{cursor: pointer; padding: 2px 0px;}
.user-all-reviews-page #review-container{color: #444;}
.menu-name{padding-left: 40px; display:block; overflow: hidden; white-space: nowrap;text-overflow: ellipsis;}
.header .main-menu ul li{text-align: left;}
.header .main-menu .menu-item{padding: 0 7px;}
.fixrtmenu{width: 145px; }
.user-all-reviews-page #user-all-reviews-title{background-color: #ddd;}
.write-review-page #review-form-title{background-color: #ddd; color: #444;}
footer{margin-top: 30px}
.proj-imgfix{overflow: hidden; height: 400px;}


@media (max-width: 480px) {
    .xs_posit {
        position: absolute;
    }
    .xsmgtm3 {
        margin-top: -20px;
    }
    .featured-header-wrapper {
        padding: 15px 0 15px 0;
    }
    .top-features {
        height: 210px;
    }
    .featured-header h1 {
        font-size: 17px;
        padding: 0 10px;
        margin: 5px 0 10px 0;
    }
    .city-list ul li {
        padding: 0 10px;
        margin: 2px 2px;
        line-height: 25px;
    }
    .featured-header h3 {
        padding: 0 10px;
        font-size: 17px;
        line-height: 17px;
    }
    .prev-blog {
        left: 35%;
    }
    .next-blog {
        right: 35%;
    }
    md-list-item.md-no-proxy,
    md-list-item .md-no-style {
        padding: 0 10px;
    }
    .top-features h2 {
        font-size: 14px;
        line-height: 13px;
    }
    .featured-header .home-search {
        padding: 7px 0;
        height: 35px;
    }
    .search-dialog input{font-size: 14px; padding:0px 0px 5px 0px;}
    md-dialog .md-dialog-content{padding: 10px;}

    .imgsrh{width: 80px; height: 60px;}
    .xshide{display: none !important;}
    .xsshow{display: block !important;}
    .project-list-page .project-card{padding: 10px;}
    .project-list-page h4{ margin: 5px 0 5px 10px;font-size: 15px;}
    .project-list-page .project-card p { margin: 0px 10px; font-size: 15px; }
    .project-list-page #project-name { margin: 5px 0 5px 10px; font-size: 17px; }
    .project-details-page #rating{font-size: 19px;}
    .project-details-page #review-title{font-size: 17px;}
    .login-dialog { min-width: 250px;}
    .project-details-page #rating-container{padding-left: 0px;}
    .project-details-page .all-reviews{padding: 0px;}
    .project-details-page #project-name{font-size: 24px;}
    .project-details-page #address-title{font-size: 16px;}
    .project-details-page #address-value{font-size: 15px;}
    .project-list-page .path-filters span.path-btn{font-size: 14px;}
    .section-header h1{font-size: 22px;}
    .section-header {padding: 25px 0 50px; }
    .write-reviews .reviews-wrapper h1{font-size: 21px;}
    .write-reviews .reviews-wrapper h2{font-size: 18px;}
    .mgtxs5{margin-top: 5%;}
    .profile-page .detail-label{text-align: left;}
    .profile-page input{width: 100%;}
    .profile-page #info-container{padding-left: 10px;padding-right: 10px;}
.profile-page #info-heading{margin-top: 10px;}
.profile-page .detail-label h4{margin:10px 0px;}
#faq .faq-question h3{font-size: 16px; margin: 5px 0;}
#faq .faq-answer{font-size: 15px;}
.header .logo img{max-width: 100px;}
.header .logo{max-width: 10px; overflow: hidden;}
.review_ratings .material-icons{font-size: 20px;}
.rating-ques{font-size: 15px;}
.fixrtmenu{width: 95px !important; }
#about-us-description{padding: 20px 0px;}

}
@media (min-width: 200px) and (max-width: 359px) {
.header .main-menu .menu-item{ padding: 0 4px;  }
.header .logo{padding: 10px 15px}
.header .main-menu ul li{line-height: 55px; font-size: 13px;}
}

@media (min-width: 360px) and (max-width: 480px) {
.header .main-menu .menu-item{ padding: 0 5px;  }
.header .logo{padding: 10px 15px}
.header .main-menu ul li{line-height: 55px; font-size: 14px;}
}


@media (min-width: 481px) and (max-width: 599px) {
.fixrtmenu{width: 125px !important; }
	  .mgtxs5{margin-top: 5%;}
	  .header .main-menu .menu-item{ padding: 0 7px;  }
	  .profile-page .detail-label{text-align: left;}
	  .header .logo{max-width: 10px; overflow: hidden;}

}
@media (min-width: 481px) and (max-width: 767px) {
	.section-header{padding: 40px 0 20px}
	.write-reviews .reviews-wrapper h1{font-size: 32px;}
#faq .faq-question h3{font-size: 16px; margin: 5px 0;}
#faq .faq-answer{font-size: 15px;}
	.profile-page #profile-img{width: 150px; height: 150px;}
	.profile-page .detail-label{font-size: 15px;}
	.search-dialog input {
    width: 100%;
    padding: 5px 0 5px;   
    font-size: 16px;}
  .top-features h2{font-size: 14px; line-height: 15px;}
  .featured-header h1{font-size: 16px; margin:10px 0;}
	.featured-header .home-search {
        padding: 7px 0;
        height: 35px; line-height: 17px;
    }
    #about-us-description{padding: 20px 0px;}
    .featured-header h1 {
        font-size: 17px;
        padding: 0 10px; margin:10px 0 20px 0;
    }
    .city-list ul li {
        padding: 0 12px;
        margin: 0 5px 0 0;
    }
    .prev-blog {
        left: 42%;
    }
    .next-blog {
        right: 42%;
    }
    .featured-header h3 {
        padding: 0 10px;
        font-size: 17px;
        line-height: 17px;
    }
    md-list-item.md-no-proxy, md-list-item .md-no-style{padding:0 9px;}
      .imgsrh{width: 100px; height: 80px;}
      .project-details-page #project-name{font-size: 24px;}
      .project-details-page #rating{font-size: 21px;}
      .fixrtmenu{width: 125px !important; }
}

@media (min-width: 768px) and (max-width: 960px) {
	body{font-size: 14px;}
    .featured-header h1 {
        font-size: 21px;
        padding: 0 10px;
    }
    .city-list ul li {
        padding: 0 20px;
    }
    #faq .faq-question h3{font-size: 17px; margin:0;}
#faq .faq-answer{font-size: 16px;}
.top-features{height: 175px;}
}

@media (min-width: 961px) and (max-width: 1024px) {
    .city-list ul li {
        padding: 0 25px;
    }
      #faq .faq-question h3{font-size: 17px; margin: 0px;}
#faq .faq-answer{font-size: 16px;}
#faq .faq-answer p{margin:0;}
}
