.myClass {
    top: 55px !important;
    right: 0px !important;
}

#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 70%;
    left: 37%;
}

.loaderPosition {
    position: absolute;
    left: 50%;
    top: 200px;
    width: 100px;
    height: 100px;
    margin: auto;
}

.loaderPositionMap {
    position: absolute;
    left: 50%;
    top: 2400px;
    width: 100px;
    height: 100px;
    margin: auto;
    z-index: 9;
}

/*.loaderPositionCoverStories {
    position: absolute;
    left: 50%;
    top: 200px;
    width: 100px;
    height: 100px;
    margin: auto;
<<<<<<< HEAD
}*/

.loaderPositionProfile{
    position: absolute;
    left: 50%;
}

.loaderPositionDetails {
    position: absolute;
    left: 50%;
    top: 300px;
    width: 100px;
    height: 100px;
    margin: auto;
}

.myClass{
    min-height: 200px;
}

.pointer{
    cursor: pointer;
}

.loaderPositionReview{
    position: absolute;
    left: 60%;
    top: 190px;
    width: 30px !important;
    height: 30px !important;
    margin: auto;
}

.failed{
    color: red;
}

.success{
    color: green;
}
