/*Profile Page*/
.croppie-container .cr-boundary {
    height:300px !important;
    width:300px !important;
}
.profile-page .profile-page-content{
    margin:100px auto 0;
}

.profile-page #image-container{
    text-align:center;
}

.profile-page #info-container{
    border:1px solid #ccc;
    padding-bottom:20px;
    margin-bottom:20px;
}

.profile-page #info-heading {
    margin: 0px 0 20px 0;
    padding: 5px 15px;
    background-color: #ccc
}

.profile-page input {
    border: 1px solid #ccc;
    padding:8px 10px;
    width:80%;
}

.profile-page #add-mobile-btn:hover {
    cursor: auto;
    text-decoration:underline;
}
.profile-page #add-mobile-btn:focus {
    outline:none;
}
.profile-page #submit-btn {
    margin:0 auto;
    background-color:#ff5a5f;
    color:#fff;
    font-weight:bold;
}
.profile-page #view-reviews:hover {
    cursor: auto;
    color:#808080;
}
.profile-page #view-reviews:focus {
    outline:none;
}

.profile-page #profile-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.profile-page .change-img-btn {
    background-color: #ccc;
    color:#fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 33px;
    padding: 8px 15px;
    border-radius: 3px;
}

.profile-page .user-detail-row{
    margin-bottom:15px;
}

.profile-page .detail-label {
    text-align:right;
    margin-right:20px;
}
.profile-page #gender-dropdown, #year-dropdown, #city-dropdown {
    font-size: 100%;
    height: 33px;
}
.profile-page #month-dropdown {
    font-size: 100%;
    height: 33px;
    margin-right:20px;
}
.profile-page #date-dropdown {
    font-size: 100%;
    height: 33px;
    margin-right:20px;
}
.profile-page #add-mobile-btn i {
    font-size: 18px;
}
.profile-page #add-mobile-btn-link {
    margin-left: 4px;
    font-size: 14px;
}
.profile-page #mobile-div {
    padding: 20px 10px;
    margin: 24px 0px;
    border: 1px solid #ccc;
}
.profile-page #extra-code {
    padding: 3px 7px 0;
    line-height: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-right: none;
}
.profile-page #add-num-btn {
    background-color: #ccc;
    line-height: 33px;
    padding: 0 15px;
    border-radius: 3px;
}

.profile-page #image-upload-btn {
    width: auto;
    /* margin: 0 auto; */
    background-color: #ff5a5f;
    color: #fff;
    border-radius: 4px;
    font-weight: bold;
}

.profile-page .profile-img-upload input[type="file"]{
    -webkit-appearance:none; 
    position:absolute;
    top:0; left:0;
    opacity:0; 
}

.profile-page #save-btn {
    text-align:center;
}