
.imgcir_req {
    border-radius: 50%;
    width: 150px !important;
    height: 150px;
    overflow: hidden;
}

.imghn {
    width: 100px !important;
    height: 100px !important;
}
.indic_color .indicators .indicator-item.active {
    background-color: #26a69a !important;
}

.indic_color .indicators .indicator-item {
    background-color: #999 !important;
}
.img32 {
    width: 32px !important;
    height: 32px !important
}