
@import url("header.css");
@import url("common.css");
@import url("home.css");
@import url("listing.css");
@import url("project.css");
@import url("write-review.css");
@import url("advertise.css");
@import url("blogs.css");
@import url("requirement.css");
@import url("story.style.css");
@import url("careers.css");
@import url("homecoverstories.css");
@import url("location.css");
@import url("comparison.css");
@import url("business-advantage.css");
@import url("contact.css");
@import url("offers.css");
@import url("zstyles.css");






/*.search_header {
    width: 100%;
    padding-left: 10px;
    float: left;
    color: #666;
    border-left: solid 1px #ddd;
    height: 100%;
    position: relative;
    display: block;
    margin-left: 20px;
}

.search_header input {
    border: none !important;
    color: #666;
    padding-left: 30px;
    width: calc(100% - 30px)
}

.search_header input:focus,
.search_header input:focus:not([readonly]),
.search_header input:hover {
    box-shadow: none !important;
    border: none !important;
}

.searchtopicon {
    position: absolute;
    width: 30px;
    top: 0px;
    left: 10px;
}
*/

/*.resultfind,
.resultfind ul,
.resultfind ul li {
    width: 100%;
    margin-left: -11px;
    margin-top: 0px;
}*/

/*.lht {
    height: 30px;
    line-height: 20px;
}*/

/*.inp_pdwsm {
    padding-left: 25px !important;
    border-bottom: none !important;
    padding-right: 10px !important;
    width: calc(100% - 35px) !important;
}*/
/*.rt_img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    background-color: #ff5a5f;
    width: 32px;
    line-height: 22px;
}
*/
/*.search_list {
    display: block;
    font-size: 13px !important;
    font-weight: 300;
    width: calc(100% - 30px) !important;
    padding-left: 30px !important;
    height: 30px !important;
    margin: 0 !important;
    border: 1px solid #ddd !important;
}

.search_ilist {
    position: absolute;
    top: 4px;
    color: #ccc;
    left: 3px;
    cursor: pointer;
}


*/


/*.btnnum {
    padding: 0 10px;
    cursor: pointer;
    text-align: center;
    width: 16.5%;
    line-height: 45px;
    background-color: #fafafa;
    float: left;
}

.btnnum:hover,
.btnnum:focus {
    background-color: #26a69a;
    color: #fff;
}*/

/*.bhkactive {
    background-color: #ff5a5f;
    color: #fff;
}*/


/*.mgtb_big {
    margin-top: 120px;
    margin-bottom: 60px;
}
*/
/*.seldrop .select-dropdown {
    margin-left: -12px;
    width: calc(100% + 24px) !important;
    margin-top: 45px;
}

.seldrop .select-wrapper input.select-dropdown {
    width: 100% !important;
    font-size: 11px !important;
}
*/

/*.abs_city {
    position: absolute;
    display: none;
    top: 62px;
    border: 1px solid #ddd;
    left: 0;
    width: 750px;
    background-color: #fff;
    z-index: 999 !important;
    padding: 0 10px 10px 10px;
}
*/
/*.abs_check ul li {
    margin-top: 20px;
    width: 25%;
    float: left;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 5px;
}



.abs_check [type="checkbox"]+label {
    font-size: 12px !important;
}*/

/*.price_m {
    top: 45px;
}

.price_m ul {
    height: 125px;
    overflow-y: auto;
    margin: 0;
}

.price_m ul li {
    line-height: 25px;
    padding: 0 10px;
    cursor: pointer;
}

.price_m ul li:hover {
    background-color: #eee;
}
*/

/*
.wdsearch {
    width: calc(100% - 20px) !important;
}
*/

/*
.justify {
    text-align: justify;
}
*/










/*
.search_header .homecoll .collection-item.avatar {
    background-color: #fafafa;
    border-bottom: solid 1px #ddd;
    padding-left: 15px;
    color: #444;
}

.search_header .homecoll .collection-item.avatar:nth-child(2n) {
    background-color: #fff;
}

.search_header .homecoll {
    border-bottom: none;
}

.search_header .homecoll .collection-item.avatar:hover {
    background-color: #ff5a5f;
    color: #fff !important;
}*/


/*.locationli li {
    width: 50%;
    float: left;
    display: block;
    padding-left: 40px;
    font-size: 14px;
    margin-bottom: 20px;
    position: relative;
}

.locationli li:before {
    position: absolute;
    width: 20px;
    height: 15px;
    content: '\E0C8';
    color: #999;
    left: 5px;
    top: -4px;
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
}*/

/*.units_tab .tabs .tab {
    line-height: 24px !important;
}*/



/*.units_tab .tabs {
    margin-bottom: 20px;
}

.units_tab .tabs a.active {
    z-index: 99;
    font-size: 20px;
    color: #333;
    background-color: #fff;
    transform: scale(1.08);
    transform-origin: left bottom;
    font-weight: 400;
    border-radius: 4px;
}

.units_tab .tabs .indicator {
    display: none;
}
*/



/*.units_subtab .tabs .indicator {
    display: block;
}

.units_subtab .tabs a.active {
    z-index: 99;
    font-size: 15px;
    color: #333;
    background-color: #fff;
    transform: scale(1.08);
    transform-origin: left bottom;
    font-weight: 400;
    border-radius: 4px;
}*/

/*responsive media css*/

@media only screen and (max-width: 992px) {   
    .projList{padding-left: 10px !important;}
    .side-nav a {
        padding: 0 32px;
    }
    .sm_rtfixabs .rtfixabs {
        position: relative !important;
        width: 100%;
        margin-left: 0px !important;
        right: 0 !important;
        top: 0 !important;
    }
    .img_detail {
        height: auto !important; 
    }
    .menu_sub li a {
        margin-right: 15px !important;
        font-size: 13px !important;
    }
    .smxst {
        margin-top: 50px;
    }
    .rightsd {
        box-shadow: inset 0px -8px 8px -8px rgba(0, 0, 0, 0.2);
        padding-bottom: 50px !important;
    }
    #aboutUs-banner h1{font-size: 30px;}
     .offer_img{height: auto !important;}
}
@media screen and (min-width:601px) and (max-width: 992px) {
     .offer_img{height: 150px !important;}
.micro_overy{overflow-y: auto; height: auto;}
}

@media screen and (min-width:0px) and (max-width: 1079px) {
    .container {
        max-width: 90%;
        width: 90%;
    }
    i.left {
        margin-right: 10px;
    }
    .wdp70 {width: 90%;}
}

@media screen and (min-width:993px) and (max-width: 1079px) {
    .rtfixabs {
        width: 290px !important;
        right: 4% !important;
    }
    .filterList div label {
        font-size: 11px !important;
    }
    
}

@media screen and (min-width:1080px) and (max-width: 1120px) {
    .container {
        width: 95%
    }
    .rtfixabs {
        width: 290px !important;
        right: 4% !important;
    }

}

@media screen and (min-width:993px) and (max-width: 1200px) {
    #seesample_popup {
        right: 0px;
        top: -24px;
        left: auto;
    }
    .listing_rightfix{right: 0% !important;}
    .wdp70 {width: 90%;}
}

@media screen and (min-width:0px) and (max-width: 767px) {
    h2{font-size: 2.56rem;}
    .miconleft,
    .miconright {
        position: absolute;
        display: block;
        height: 20px;
        color: #999;
        line-height: 20px;
        z-index: 99;
        width: 25px;
        text-align: center;
        top: 13px
    }
    .miconleft {
        left: 0px
    }
    .miconright {
        right: -5px
    }
   
   .about-values{margin: 20px 0px  !important;}
 
    .xswdfull {
        width: 100% !important;
    }
  
    .xsnone {
        display: none !important;
    }
    
    .xspdl0 {
        padding-left: 0px !important;
    }
   .xspdlrn{padding-left: 0 !important; padding-right: 0 !important;}
   
    #fixsub_hd {
        display: none !important;
    }
    .salient li {
        font-size: 13px;
    }
    .heading {
        font-size: 16px !important;
    }
    .text_abs_blog h5 {
        font-size: 15px !important;
    }
}

@media screen and (min-width:600px) and (max-width: 767px) {

   
    .wd20p {
        width: 25% !important;
    }

}

@media screen and (min-width:0px) and (max-width: 600px) {

    .offer_link a{padding: 15px;}
    .starrating{height: 45px;}

.micro_overy{height: auto !important;}
    .transformfix{width: 80%;}
    .arrow_box {
        display: none;
    }

 .search-results ul.homecoll li.collection-item{line-height: 30px !important;}

    .xs_bdaw {
        border-bottom: 2px solid #fff !important;
        border-left: none;
        border-right: none;
        border-top: none;
    }
    .xs_bdtn {
        border-top: none !important;
        border-right: none;
    }
    .img_location {
        height: 200px
    }
    .btnhd{margin-top: 14px !important;}

    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.50rem
    }
   
    .dt_abs {
        left: 25px;
    }
    .salient li {
        width: 100%;
    }
    .img_blogs {
        height: 250px;
    }
    #seesample_popup {
        left: 0px;
        top: -24px;
    }
    #addatip_popup {
        display: none !important;
    }
    .wd20p {
        width: 33% !important;
    }
    .xsbdrn {
        border-right: 0 !important;
    }
    .xspdt {
        padding-top: 48px !important;
    }
    .xsmgt20 {
        margin-top: 20px !important;
    }
    .imglist {
        height: 200px;
    }
    .xspdl10 {
        padding-left: 10px !important;
    }
    .gallery a img {
        width: 50%;
        padding-bottom: 5px;
    }
    #facilities_popup {
        width: 90%;
    }
    .xspdb10 {
        padding-bottom: 10px !important;
    }
    .xspdt10 {
        padding-top: 10px !important;
    }
    .xspdln {
        padding-left: 0 !important;
    }
    .xspdl10 {
        padding-left: 10px !important;
    }
    .xspdrn {
        padding-right: 0 !important;
    }
    .ft20 {
        font-size: 17px !important;
        line-height: 21px;
    }
    .tabs .tab a {
        font-size: 13px;
    }
    .busin_xs {
        height: 570px !important;
    }
    .pdlr100 {
        padding: 50px 5% !important;
    }
    .post-title{margin-top: 10px !important;}
}

@media screen and (min-width:0px) and (max-width: 400px) {
    #login_signup_popup {
        width: 96%;
    }

    .xsnr10 {
        margin-right: 10px !important;
    }
    .write h3 {
        font-size: 21px;
        line-height: 25px;
    }
    .xshdh {
        font-size: 19px;
        line-height: 24px;
    }
    .listp p {
        font-size: 11px;
    }
    .wd20p {
        width: 50% !important;
    }
    .imgcir {
        width: 40px;
        height: 40px;
    }
    
    .circle_h {
        width: 100px;
        height: 100px;
    }
    .circle_h .ft12 {
        font-size: 11px !important;
    }
    .tabs .tab a {
        font-size: 13px;
    }
    #seesample_popup,
    #addatip_popup {
        width: 90%;
    }
    .valign-wrapper {
        display: block;
    }
    .xsspdt10 {
        padding-top: 10px !important;
    }
}

