<div class="row mgt70">
    <div class="row blue mgbn">
        <div class="container container2">
            <div class="row bx_proht reletive">
                <div class="prof_img">
                    <img ng-src="{{image}}">
                    <div class="file-field input-field prof_camera overhdn">
                        <input type="file" onchange="angular.element(this).scope().getFileDetails(this)" accept="image/*">
                        <i class="material-icons pointer">photo_camera</i>
                    </div>
                </div>
                <div class="row white-text proflink mgbn">
                    <div class="col s3">
                        <h4 class="mgan">{{textReviews}}</h4>
                        <p class="mgan">Reviews</p>
                    </div>
                    <div class="col s3">
                        <h4 class="mgan">{{totalRatings}}</h4>
                        <p class="mgan">Ratings</p>
                    </div>
                    <div class="col s3">
                        <h4 class="mgan">0</h4>
                        <p class="mgan">Score</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container container2">
        <div class="row pdleft200 mgt10">
            <form name="profileForm">
                <div class="input-field col s3 mgtn" ng-click="enableFullName()">
                    <!--   <i class="material-icons prefix">account_circle</i> -->
                    <input placeholder="Full Name" type="text" class="validate mgb5 bodn ht2rem ft16b grey-text text-darken-1" ng-disabled="disableFullName" ng-model="user.fullName" ng-blur="blurFullName()">
                </div>
                <div class="input-field col s3 mgtn" ng-click="enablePhoneNumber()">
                    <!-- <i class="material-icons prefix">phone</i> -->
                    <input placeholder="Phone Number" type="tel" class="validate bodn ht2rem grey-text mgb5 ft14" ng-model="user.phoneNumber" ng-disabled="disablePhoneNumber" ng-blur="blurPhoneNumber()">
                </div>
                <div class="input-field col s3 mgtn" ng-click="enableAddress()">
                    <!-- <i class="material-icons prefix">account_balance</i> -->
                    <input placeholder="Address" type="text" class="validate mgb5 ht2rem bodn grey-text ft14" ng-model="user.address" ng-disabled="disableAddress" ng-blur="blurAddress()">
                </div>
                <div class="clearfix"></div>
                <div class="input-field col s3 mgtn">
                    <!-- <i class="material-icons prefix">email</i> -->
                    <input placeholder="Email" type="email" class="validate grey-text mgb5 ht2rem bodn ft14" ng-model="user.emailId" ng-disabled=true>
                </div>
                <div class="input-field col s3 mgtn">
                    <!-- <i class="material-icons prefix">location_city</i> -->
                    <input placeholder="City" type="text" class="validate grey-text mgb5 ht2rem bodn ft14" ng-model="user.city" ng-disabled=true>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col s12">
                <ul class="timeline">
                    <li ng-repeat="id in userReviews" ng-class="$index%2==0 ? 'timeline' : 'timeline-inverted'">
                        <div class="timeline-badge blue"><i class="material-icons">edit</i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5 class="mgan">{{id.reviewTitle}}, <i ng-show="id.projectName" ng-click="goToProjectPage(id)"><a style = "cursor: pointer">- {{id.projectName}}</a></i></h5>
                                <p class="mgan grey-text"><small>{{id.createdDate | date:'MMM dd, yy'}}</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>Review Text</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge green"><i class="material-icons">thumb_up</i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5 class="mgan">Mussum ipsum cacilds</h5>
                                <p class="mgan grey-text"><small> 11 hours ago via Twitter</small></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge orange"><i class="material-icons">star</i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5 class="mgan">Mussum ipsum cacilds</h5>
                                <p class="mgan grey-text"><small> 11 hours ago via Twitter</small></p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge black"><i class="material-icons">visibility</i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5 class="mgan">View</h5>
                                <p class="mgan grey-text"><small> 11 hours ago via Twitter</small></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
