<div class="mgt20" ng-show="reviews">
    <div class="row mgan pda10 allbd">
        <h4 class="mgan ft22">
                <span class="left">
                     <i class="material-icons small">star</i>
                     <i class="material-icons small">star</i>
                     <i class="material-icons small">star</i>
                     <i class="material-icons small">star</i>
                     <i class="material-icons small">star</i>
                </span>
                <span class="mgt5 in-block"> 4.5 Star Rating From 527 Reviews </span>
            </h4>
        <div class="row mgt20 center-align">
            <button class="btn blue"><i class="material-icons left">edit</i> Write Review</button>
        </div>
    </div>
    <div class="row">
        <div class="col s4 mgt20">
            <div class="allbd white pda10 htrating">
                <h5 class="ft15 mgtn b mgb10">User Rating</h5>
                <div class="row mgbn">
                    <div class="col s6 mgrn">
                        <input type="checkbox" class="filled-in" id="filled-in-box2" />
                        <label for="filled-in-box2">Excellent </label>
                    </div>
                    <div class="col s3 pdan">
                        <span class="progress mgbn  ht10 grey lighten-2">
                        <span class="determinate blue" style="width: 30%"></span>
                        </span>
                    </div>
                    <div class="col s3 grey-text mgt3">1500</div>
                </div>
                <div class="row mgbn">
                    <div class="col s6 mgrn">
                        <input type="checkbox" class="filled-in" id="filled-in-box3" />
                        <label for="filled-in-box3">Very Good </label>
                    </div>
                    <div class="col s3 pdan">
                        <span class="progress mgbn  ht10 grey lighten-2">
                        <span class="determinate blue" style="width: 30%"></span>
                        </span>
                    </div>
                    <div class="col s3 grey-text mgt3">500</div>
                </div>
                <div class="row mgbn">
                    <div class="col s6 mgrn">
                        <input type="checkbox" class="filled-in" id="filled-in-box4" />
                        <label for="filled-in-box4">Good </label>
                    </div>
                    <div class="col s3 pdan">
                        <span class="progress mgbn  ht10 grey lighten-2">
                        <span class="determinate blue" style="width: 30%"></span>
                        </span>
                    </div>
                    <div class="col s3 grey-text mgt3">450</div>
                </div>
                <div class="row mgbn">
                    <div class="col s6 mgrn">
                        <input type="checkbox" class="filled-in" id="filled-in-box5" />
                        <label for="filled-in-box5">Average </label>
                    </div>
                    <div class="col s3 pdan">
                        <span class="progress mgbn  ht10 grey lighten-2">
                        <span class="determinate blue" style="width: 30%"></span>
                        </span>
                    </div>
                    <div class="col s3 grey-text mgt3">150</div>
                </div>
                <div class="row mgbn">
                    <div class="col s6 mgrn">
                        <input type="checkbox" class="filled-in" id="filled-in-box6" />
                        <label for="filled-in-box6">Bad </label>
                    </div>
                    <div class="col s3 pdan">
                        <span class="progress mgbn  ht10 grey lighten-2">
                        <span class="determinate blue" style="width: 30%"></span>
                        </span>
                    </div>
                    <div class="col s3 grey-text mgt3">10</div>
                </div>
            </div>
        </div>
        <div class="col s2 mgt20">
            <div class="allbd white pda10 htrating">
                <h5 class="ft15 mgtn b mgb10">Resident Type</h5>
                <div class="row mgbn">
                    <div class="col s12 mgrn">
                        <input type="checkbox" class="filled-in" id="type1" />
                        <label for="type1">Owners </label>
                    </div>
                </div>
                <div class="row mgbn">
                    <div class="col s12 mgrn">
                        <input type="checkbox" class="filled-in" id="type2" />
                        <label for="type2">Tenants </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s6 mgt20">
            <div class="allbd white pda10 ft13 htrating">
                <h5 class="ft15 mgtn b mgb10">Rating Summary</h5>
                <div class="row mgbn">
                    <div class="col s7">Amenities (4)</div>
                    <div class="col s5 right-align  grey-text ft20i">
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons">star</i>
                    </div>
                </div>
                <div class="row mgbn">
                    <div class="col s7">Security (4)</div>
                    <div class="col s5 right-align  grey-text ft20i">
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons">star</i>
                    </div>
                </div>
                <div class="row mgbn">
                    <div class="col s7">Open And Green Areas (4.5)</div>
                    <div class="col s5 right-align  grey-text ft20i">
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons">star</i>
                    </div>
                </div>
                <div class="row mgbn">
                    <div class="col s7">Electricity And Water Supply (4.5)</div>
                    <div class="col s5 right-align  grey-text ft20i">
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons">star</i>
                    </div>
                </div>
                <div class="row mgbn">
                    <div class="col s7">Convenience Of House Maids (4)</div>
                    <div class="col s5 right-align  grey-text ft20i">
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons">star</i>
                    </div>
                </div>
                <div class="row mgbn">
                    <div class="col s7">Convenience Of Parking (5)</div>
                    <div class="col s5 right-align  grey-text ft20i">
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons">star</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mgt20">
        <div class="col s8">
            <div class="row bdbtm ft13 grey-text text-darken-2 mglrn mgb10 pdb10">
                <div class="col b pdb20">
                    <img class="imgcir mgt10" src="images/general/noImage.png">
                </div>
                <div class="col">
                    <p><b> Rajneesh Sharma </b> | Sep 01, 16</p>
                    <p class="grey-text review ft20i mgbn mgtmn">
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons">star</i>
                    </p>
                </div>
                <div class="col s12">
                    <p><b>Wonderful ambience - greenery all around</b></p>
                    <p class="justify">One entry and exit point has been constructed so thats a very big advantage and guards are always present. Clubhouse is there and it has a good ambience and is very well maintained. There are wide open green areas. It is spread across the Sohna Road and Golf Course Road Extension. There are some problems with the power backup. Housemaids are easily available. Basement and open parking is maintained and twice a day they have guards around. Here we have high-rise buildings with very good layout, main road connectivity is good which provides for easy transportation. Sohna Road is a problem as service roads are bad if you are coming in or going out of the society it is bad but inside, the ambience is wonderful.</p>
                </div>
            </div>
            <div class="row bdbtm ft13 grey-text text-darken-2 mglrn mgb10 pdb10">
                <div class="col b pdb20">
                    <img class="imgcir mgt10" src="images/general/noImage.png">
                </div>
                <div class="col">
                    <p><b> Rajneesh Sharma </b> | Sep 01, 16</p>
                    <p class="grey-text review ft20i mgbn mgtmn">
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons">star</i>
                    </p>
                </div>
                <div class="col s12">
                    <p><b>Wonderful ambience - greenery all around</b></p>
                    <p class="justify">One entry and exit point has been constructed so thats a very big advantage and guards are always present. Clubhouse is there and it has a good ambience and is very well maintained. There are wide open green areas. It is spread across the Sohna Road and Golf Course Road Extension. There are some problems with the power backup. Housemaids are easily available. Basement and open parking is maintained and twice a day they have guards around. Here we have high-rise buildings with very good layout, main road connectivity is good which provides for easy transportation. Sohna Road is a problem as service roads are bad if you are coming in or going out of the society it is bad but inside, the ambience is wonderful.</p>
                </div>
            </div>
            <div class="row bdbtm ft13 grey-text text-darken-2 mglrn mgb10 pdb10">
                <div class="col b pdb20">
                    <img class="imgcir mgt10" src="images/general/noImage.png">
                </div>
                <div class="col">
                    <p><b> Rajneesh Sharma </b> | Sep 01, 16</p>
                    <p class="grey-text review ft20i mgbn mgtmn">
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons blue-text">star</i>
                        <i class="material-icons">star</i>
                    </p>
                </div>
                <div class="col s12">
                    <p><b>Wonderful ambience - greenery all around</b></p>
                    <p class="justify">One entry and exit point has been constructed so thats a very big advantage and guards are always present. Clubhouse is there and it has a good ambience and is very well maintained. There are wide open green areas. It is spread across the Sohna Road and Golf Course Road Extension. There are some problems with the power backup. Housemaids are easily available. Basement and open parking is maintained and twice a day they have guards around. Here we have high-rise buildings with very good layout, main road connectivity is good which provides for easy transportation. Sohna Road is a problem as service roads are bad if you are coming in or going out of the society it is bad but inside, the ambience is wonderful.</p>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="allbd white pda10 ft13 htrating">
                <h5 class="ft15 mgtn b mgb10 pdb10 bdbtm">Nearby Projects</h5>
                <div class="row mgbn">
                    <div class="card shdnone">
                        <div class="cardTitle row mgb5">
                            <a href="" class="col s12 black-text ilpspan">
                                <span>Bestech Park View City 1Sohna Road, Sector 48 ProjectSohna Road, Sector 48 Project</span>
                                <span class="ft11 grey-text">Sohna Road, Sector 48 Project Sohna Road, Sector 48 ProjectSohna Road, Sector 48 Project</span>
                            </a>
                        </div>
                        <div class="card-image  waves-effect waves-light">
                            <a href=""> <img src="images/home/sohna.jpg"></a>
                        </div>
                        <div class="row mgln mgrn mgb10 ht50 allbd">
                            <div class="col s6 pd5 dis-tab ht50">
                                <span class="block ellipsis">Rent Price</span>
                                <span class="ft12 grey-text block ellipsis">₹28000 - ₹55000</span>
                            </div>
                            <div class="col s6 pd5 center ht50">
                                <span class="block ellipsis">2, 3, 4 BHK</span>
                                <span class="ft12 grey-text block ellipsis">1776 Sq. Ft. - 2345 Sq. </span>
                            </div>
                        </div>
                    </div>
                    <div class="card shdnone">
                        <div class="cardTitle row mgb5">
                            <a href="" class="col s12 black-text ilpspan">
                                <span>Bestech Park View City 1Sohna Road, Sector 48 ProjectSohna Road, Sector 48 Project</span>
                                <span class="ft11 grey-text">Sohna Road, Sector 48 Project Sohna Road, Sector 48 ProjectSohna Road, Sector 48 Project</span>
                            </a>
                        </div>
                        <div class="card-image  waves-effect waves-light">
                            <a href=""> <img src="images/home/sohna.jpg"></a>
                        </div>
                        <div class="row mgln mgrn mgb10 ht50 allbd">
                            <div class="col s6 pd5 dis-tab ht50">
                                <span class="block ellipsis">Rent Price</span>
                                <span class="ft12 grey-text block ellipsis">₹28000 - ₹55000</span>
                            </div>
                            <div class="col s6 pd5 center ht50">
                                <span class="block ellipsis">2, 3, 4 BHK</span>
                                <span class="ft12 grey-text block ellipsis">1776 Sq. Ft. - 2345 Sq. </span>
                            </div>
                        </div>
                    </div>
                    <div class="card shdnone">
                        <div class="cardTitle row mgb5">
                            <a href="" class="col s12 black-text ilpspan">
                                <span>Bestech Park View City 1Sohna Road, Sector 48 ProjectSohna Road, Sector 48 Project</span>
                                <span class="ft11 grey-text">Sohna Road, Sector 48 Project Sohna Road, Sector 48 ProjectSohna Road, Sector 48 Project</span>
                            </a>
                        </div>
                        <div class="card-image  waves-effect waves-light">
                            <a href=""> <img src="images/home/sohna.jpg"></a>
                        </div>
                        <div class="row mgln mgrn mgb10 ht50 allbd">
                            <div class="col s6 pd5 dis-tab  ht50">
                                <span class="block ellipsis">Rent Price</span>
                                <span class="ft12 grey-text block ellipsis">₹28000 - ₹55000</span>
                            </div>
                            <div class="col s6 pd5 center ht50">
                                <span class="block ellipsis">2, 3, 4 BHK</span>
                                <span class="ft12 grey-text block ellipsis">1776 Sq. Ft. - 2345 Sq. </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
