<div style="margin-top:100px;">
    <div class="row mgbn">
        <div class="container">
            <div class="row linkroot mgbn">
                <nav>
                    <div class="nav-wrapper">
                        <div class="col s12">
                            <a href="" class="breadcrumb">Home</a>
                            <a href="" class="breadcrumb">Blogs</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="row mgbn">
        <div class="container mgt10">
            <div class="row mgan">
                <div id="boxfilterlist" class="col s2 m4">
                    <form>
                        <div class="row mgan">
                            <div class="row pdt2 mgbn">
                                <h3 class="ft14 b bodb mgb10 pdb10">Project Categories</h3>
                                <div class="row mgt10 mgbn mgln mgrn">
                                    <div class="mgt5" ng-repeat="item in categories">
                                        <input type="checkbox" ng-model="selected.category[item.id]" id="{{item.id}}" ng-change="applyFilters()" class="filled-in" />
                                        <label class="ft12" for="{{item.id}}">{{item.name}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row pdt2 mgbn">
                                <h3 class="ft14 b bodb mgb10 pdb10">Bedroom</h3>
                                <div class="filterList row mgan">
                                    <div class="col s6 pdln mgt5" ng-repeat="item in [1, 2, 3, 4, 5, 6]">
                                        <input type="checkbox" class="filled-in" ng-model="selected.bhk[item]" ng-change="applyFilters()" id="{{item}}" />
                                        <label for="{{item}}">{{item}} BHK</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row pdt2 mgbn">
                                <h3 class="ft14 b bodb mgb10 pdb10">Property Types</h3>
                                <div class="row mgt10 mgbn mgln mgrn">
                                    <div class="mgt5" ng-repeat="item in propertyTypes">
                                        <input type="checkbox" ng-model="selected.ptype[item.id]" id="{{item.id}}" ng-change="applyFilters()" class="filled-in" />
                                        <label class="ft12" for="{{item.id}}">{{item.name}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row pdt2 mgbn">
                                <h3 class="ft14 b bodb mgb10 pdb10">Micromarket</h3>
                                <hr>
                                <div class="input-field mgtn bodinp">
                                    <input class="inpfilter search_list" ng-model="searchMicromarket" placeholder="Search"><i class="material-icons search_ilist">search</i>
                                    <div class="search-results"></div>
                                </div>
                                <div class="filterList mgt10">
                                    <div class="mgt5" ng-repeat="micro in micromarkets| filter: searchMicromarket">
                                        <input type="checkbox" class="filled-in" id="{{micro.key}}" ng-change="applyFilters()" ng-model="selected.micro[micro.key]" />
                                        <label class="ft12" for="{{micro.key}}">{{micro.name}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row pdt2 mgbn">
                                <h3 class="ft14 b bodb mgb10 pdb10">Location</h3>
                                <hr>
                                <div class="input-field mgtn bodinp">
                                    <input class="inpfilter search_list" ng-model="searchLocation" placeholder="Search"><i class="material-icons search_ilist">search</i>
                                    <div class="search-results"></div>
                                </div>
                                <div class="filterList mgt10">
                                    <div class="mgt5" ng-repeat="location in locations| filter: searchlocation">
                                        <input type="checkbox" class="filled-in" id="{{location.key}}" ng-change="applyFilters()" ng-model="selected.loc[location.key]" />
                                        <label class="ft12" for="{{location.key}}">{{location.name}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row pdt2 mgbn">
                                <h3 class="ft14 b bodb mgb10 pdb10">Builders</h3>
                                <hr>
                                <div class="input-field mgtn bodinp">
                                    <input class="inpfilter search_list" ng-model="searchBuilder" placeholder="Search"><i class="material-icons search_ilist">search</i>
                                    <div class="search-results"></div>
                                </div>
                                <div class="filterList mgt10">
                                    <div class="mgt5" ng-repeat="builder in builders| filter: searchBuilder">
                                        <input type="checkbox" class="filled-in" id="{{builder.key}}" ng-change="applyFilters()" ng-model="selected.builder[builder.key]" />
                                        <label class="ft12" for="{{builder.key}}">{{builder.name}}</label>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row pdt2 mgbn">
                                <h3 class="ft14 b bodb mgb10 pdb10">Rating</h3>
                                <div class="filterList mgt10">
                                    <input type="checkbox" class="filled-in" id="star" />
                                    <label class="ft12" for="star">
                                        <span class="block ft12 grey-text truncate">
                                    <i class="material-icons pdt2 ft14 text-darken-2">star</i>
                                     <i class="material-icons pdt2 ft14 text-darken-2">star</i>
                                      <i class="material-icons pdt2 ft14 text-darken-2">star</i>
                                       <i class="material-icons pdt2 ft14 text-darken-2">star</i>
                                        <i class="material-icons pdt2 ft14 text-darken-2">star_half</i>
                                    </span></label>
                                </div>
                            </div> -->
                            <div class="row pdt2 mgbn">
                                <h3 class="ft14 b bodb mgb10 pdb10">Price</h3>
                                <div class="row mgbn">
                                    <div class="col s5 relative">
                                        <input type="number" placeholder="₹ Min" class="filled-in ft12" id="min-price" ng-model="price.min" />
                                        <div class="search-results price_m white shdsm" style="display: none;">
                                            <ul class="left-align">
                                                <li>₹ 5000</li>
                                                <li>₹ 5000</li>
                                                <li>₹ 7000</li>
                                                <li>₹ 7000</li>
                                                <li>₹ 11000</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col s5 relative">
                                        <input type="number" placeholder="₹ Max" class="filled-in ft12" id="max-price" ng-model="price.max" />
                                        <div class="search-results price_m white shdsm" style="display: none">
                                            <ul class="left-align">
                                                <li>₹ 5000</li>
                                                <li>₹ 5000</li>
                                                <li>₹ 7000</li>
                                                <li>₹ 7000</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col s2 relative">
                                        <p ng-click="applyFilters()">Go</p>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row pdt2 mgbn">
                                <h3 class="ft14 b bodb mgb10 pdb10">Area</h3>
                                <div class="filterList row mgbn">
                                    <div class="col s6 relative">
                                        <input type="number" placeholder="Ft. Min" class="filled-in ft12" id="min-area" ng-model="area.min" />
                                        <div class="search-results price_m white shdsm" style="display: none">
                                            <ul class="left-align">
                                                <li>Ft 5000</li>
                                                <li>Ft 5000</li>
                                                <li>Ft 7000</li>
                                                <li>Ft 7000</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col s6 relative">
                                        <input type="number" placeholder="Ft. Max" class="filled-in ft12" id="max-area" ng-model="area.max" />
                                        <div class="search-results price_m white shdsm" style="display: none">
                                            <ul class="left-align">
                                                <li>Ft 5000</li>
                                                <li>Ft 5000</li>
                                                <li>Ft 7000</li>
                                                <li>Ft 7000</li>
                                                <li>Ft 11000</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </form>
                </div>
                <div class="col s7 m8 pdl30">
                    <div class="row mgan">
                        <!-- card project list repeat start -->
                        <div class="col s12 card pdt10 pdbn white" ng-repeat="project in projects">
                            <div class="row relative mgbn">
                                <div class="col s4 imglist pdb10">
                                    <a href=""> <img src="images/olive.jpg" class="responsive-img"></a>
                                </div>
                                <div class="col s6 pdln">
                                    <!-- <div class="truncate grey-text ft12">lorem ipsum</div> -->
                                    <h2 class="ft18 b mgbn mgt5 truncate"><a href="" class="redt">{{project.name}}</a></h2>
                                    <h6 class="mgbn ft12 truncate b text-darken-2 mgt5">
                                <a href="" class="grey-text">{{project.location.display}}</a></h6>
                                    <!-- <div class="grey-text mgt5 ft12">lorem ipsum</div> -->
                                </div>
                                <!-- <div class="col s2 pdln right-align">
                                    <span class="pdl10 pdr10 b grnbg white-text">4.7</span>
                                    <div class="ft11 grey-text mgt5">7832 votes </div>
                                    <div class="ft11 grey-text">4233 reviews</div>
                                </div> -->
                            </div>
                            <div class="row mgan bodt">
                                <div class="col s4 listp grey-text pdln pdt10">
                                    <p>BUILDER:</p>
                                    <p>RENT:</p>
                                    <p>PROPERTY TYPES:</p>
                                    <!-- <p>FEATURED IN:</p> -->
                                </div>
                                <div class="col s8 listp grey-text text-darken-2 pdln pdt10 pdb10 pdrn">
                                    <p>{{project.builder}}</p>
                                    <p>₹{{project.rent.min}} - ₹{{project.rent.max}}</p>
                                    <p>{{project.propertyTypes}}</p>
                                    <!-- <p>Microbreweries, Insta-worthy</p> -->
                                </div>
                            </div>
                            <!-- <div class="row bodt mgbn center grey lighten-5">
                                <a href="" class="col s4 grey-text text-darken-2 pda10 listbtn bod-right">Call</a>
                                <a href="" class="col s4 b grey-text text-darken-2 pda10 listbtn bod-right">View Details</a>
                                <a href="" class="col s4 grey-text text-darken-2 listbtn pda10">Bookmarks</a>
                            </div> -->
                        </div>
                        <!-- card project list repeat end -->
                    </div>
                </div>
                <div class="col s3 hide-on-med-and-down">
                    <div class="row card mgb10 pdt10 mgln pdr10 white">
                        <h3 class="mgan ft16 b pdl10 pdr10">Lorem ipsum</h3>
                        <p class="ft12 grey-text pdl10 pdr10 mgtn mgb10">Go out for a meal</p>
                        <div class="col s6 pdl10 pdb10 pdrn mgb10 relative">
                            <div class="rt_img b white-text center">4.7</div>
                            <a href=""> <img src="images/olive.jpg" class="responsive-img"></a>
                            <a href="" class="grey-text truncate ft13 mgtn  text-darken-2 "> Modern Indian, North Indian</a>
                            <p class="mgtn mgbn grey-text ft12">Just the right place for some fantastic sea-food</p>
                        </div>
                        <div class="col s6 pdl10 pdb10 pdrn mgb10 relative">
                            <div class="rt_img b white-text center">4.7</div>
                            <a href=""> <img src="images/olive.jpg" class="responsive-img"></a>
                            <a href="" class="grey-text truncate ft13 mgtn  text-darken-2 "> Modern Indian, North Indian</a>
                            <p class="mgtn mgbn grey-text ft12">Just the right place for some fantastic sea-food</p>
                        </div>
                        <div class="col s6 pdl10 pdb10 pdrn mgb10 relative">
                            <div class="rt_img b white-text center">4.7</div>
                            <a href=""> <img src="images/olive.jpg" class="responsive-img"></a>
                            <a href="" class="grey-text truncate ft13 mgtn  text-darken-2 "> Modern Indian, North Indian</a>
                            <p class="mgtn mgbn grey-text ft12">Just the right place for some fantastic sea-food</p>
                        </div>
                        <div class="col s6 pdl10 pdb10 pdrn mgb10 relative">
                            <div class="rt_img b white-text center">4.7</div>
                            <a href=""> <img src="images/olive.jpg" class="responsive-img"></a>
                            <a href="" class="grey-text truncate ft13 mgtn  text-darken-2 "> Modern Indian, North Indian</a>
                            <p class="mgtn mgbn grey-text ft12">Just the right place for some fantastic sea-food</p>
                        </div>
                        <div class="col s6 pdl10 pdb10 pdrn mgb10 relative">
                            <div class="rt_img b white-text center">4.7</div>
                            <a href=""> <img src="images/olive.jpg" class="responsive-img"></a>
                            <a href="" class="grey-text truncate ft13 mgtn  text-darken-2 "> Modern Indian, North Indian</a>
                            <p class="mgtn mgbn grey-text ft12">Just the right place for some fantastic sea-food</p>
                        </div>
                        <div class="col s6 pdl10 pdb10 pdrn mgb10 relative">
                            <div class="rt_img b white-text center">4.7</div>
                            <a href=""> <img src="images/olive.jpg" class="responsive-img"></a>
                            <a href="" class="grey-text truncate ft13 mgtn  text-darken-2 "> Modern Indian, North Indian</a>
                            <p class="mgtn mgbn grey-text ft12">Just the right place for some fantastic sea-food</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
