<div class="container">
    <div class="row mgt70 linkroot">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#home" class="breadcrumb">Home</a>
                    <a href="" class="breadcrumb">Projects</a>
                </div>
            </div>
        </nav>
    </div>
    <h5 class="pdt10 pdb10 b">Projects     
    <a data-target="filterbox" class="right pointer"><i class="material-icons">filter_list</i></a>
    
    </h5>
    <div class="row responsive-md">
        <div class="col s12 m6" ng-repeat="project in projectList">
            <div class="card">
                <div class="cardTitle row mgbn">
                    <!-- <a href="#project-details" class="col s8 black-text bod-right pd-tspan"> -->
                    <a ng-href="/#/project-details/{{project.id}}" class="col s8 black-text pd-tspan">
                        <span>{{project.name}}</span>
                        <span class="ft12 grey-text">{{project.address}}</span>
                    </a>
                    <div class="col s2 bod-right card-ict hide">
                        <a ng-href="/#/project-details/{{project.id}}"><i class="material-icons grey-text">favorite_border</i></a></div>
                    <div class="col s2 card-ict hide">
                        <a ng-href="/#/project-details/{{project.id}}"><i class="material-icons">phone</i></a>
                    </div>
                </div>
                <div class="card-image  waves-effect waves-light block">
                    <a ng-href="/#/project-details/{{project.id}}"> <img ng-src="{{project.cover}}"></a>
                </div>
                <div class="row mg0 ht50">
                    <div class="col s6 pd5 dis-tab bod-right ht50">
                        <span class="block ellipsis">Rent Price</span>
                        <span class="ft12 grey-text block ellipsis">₹{{project.rent.min}}- ₹{{project.rent.max}}</span>
                    </div>
                    <div class="col s6 pd5 center ht50" ng-show="project.area.min != 0">
                        <span class="block ellipsis">{{project.bhks}} BHK</span>
                        <span class="ft12 grey-text block ellipsis">{{project.area.min}} Sq.Ft.<span ng-show="project.area.max != project.area.min"> - {{project.area.max}} Sq.Ft.</span> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="filterbox" class="modal white modal-fixed-footer">
    <form>
        <div class="modal-content pdb25">
            <h5 class="ft16b mgtn"> Filter 
                   <a class="right modal-close grey-text" ><i class="material-icons">close</i> </a>
                </h5>
            <hr>
            <div class="row pdt2 mgbn">
                <h5 class="ush6">Property Type</h5>
                <hr>
                <p>
                    <input type="checkbox" class="filled-in" ng-model="selected.type.apartments" id="apartments" />
                    <label for="apartments">Apartments</label>
                </p>
                <p>
                    <input type="checkbox" class="filled-in" ng-model="selected.type.independentFloors" id="independentFloors" />
                    <label for="independentFloors">Independent Floors</label>
                </p>
                <p>
                    <input type="checkbox" class="filled-in" ng-model="selected.type.penthouses" id="penthouses" />
                    <label for="penthouses">Penthouses / Duplexes</label>
                </p>
                <p>
                    <input type="checkbox" class="filled-in" ng-model="selected.type.villas" id="villas" />
                    <label for="villas">Villas / Row-houses</label>
                </p>
                <p>
                    <input type="checkbox" class="filled-in" ng-model="selected.type.servicedApartments" id="servicedApartments" />
                    <label for="servicedApartments">Serviced Apartments</label>
                </p>
                <p>
                    <input type="checkbox" class="filled-in" ng-model="selected.type.plots" id="plots" />
                    <label for="plots">Plots</label>
                </p>
            </div>
            <div class="row pdt2 mgbn">
                <h5 class="ush6">Project Segment</h5>
                <hr>
                <p>
                    <input type="checkbox" class="filled-in" ng-model="selected.segment.economy" id="economy" />
                    <label for="economy">Economy</label>
                </p>
                <p>
                    <input type="checkbox" class="filled-in" ng-model="selected.segment.highEnd" id="high-end" />
                    <label for="high-end">High End</label>
                </p>
                <p>
                    <input type="checkbox" class="filled-in" ng-model="selected.segment.luxury" id="luxury" />
                    <label for="luxury">Luxury</label>
                </p>
                <p>
                    <input type="checkbox" class="filled-in" ng-model="selected.segment.ultraLuxury" id="ultra-luxury" />
                    <label for="ultra-luxury">Ultra Luxury</label>
                </p>
            </div>
            <div class="row pdt2 mgbn">
                <h5 class="ush6">BHK</h5>
                <hr>
                <p>
                    <input type="checkbox" class="filled-in" ng-model="selected.bhk.one" id="1bhk" />
                    <label for="1bhk">1</label>
                </p>
                <p>
                    <input type="checkbox" class="filled-in" ng-model="selected.bhk.two" id="2bhk" />
                    <label for="2bhk">2</label>
                </p>
                <p>
                    <input type="checkbox" class="filled-in" ng-model="selected.bhk.three" id="3bhk" />
                    <label for="3bhk">3</label>
                </p>
                <p>
                    <input type="checkbox" class="filled-in" ng-model="selected.bhk.four" id="4bhk" />
                    <label for="4bhk">4</label>
                </p>
                <p>
                    <input type="checkbox" class="filled-in" ng-model="selected.bhk.five" id="5bhk" />
                    <label for="5bhk">5</label>
                </p>
                <p>
                    <input type="checkbox" class="filled-in" ng-model="selected.bhk.six" id="6bhk" />
                    <label for="6bhk">6</label>
                </p>
            </div>
            <div class="row pdt2 mgbn ">
                <h5 class="ush6">Locality</h5>
                <hr>
                <div class="filterList">
                    <p ng-repeat="(key,value) in localities">
                        <input type="checkbox" ng-model="selected.localities[key]" class="filled-in" id="loc_{{key}}" />
                        <label for="loc_{{key}}">{{key}}</label>
                    </p>
                </div>
            </div>
            <div class="row pdt2 mgbn">
                <h5 class="ush6">Location</h5>
                <hr>
                <div class="filterList">
                    <p ng-repeat="(key,value) in locations">
                        <input type="checkbox" class="filled-in" ng-model="selected.locations[key]" id="loc_{{key}}" />
                        <label for="loc_{{key}}">{{key}}</label>
                    </p>
                </div>
            </div>
            <div class="row pdt2 mgbn">
                <h5 class="ush6">Builder</h5>
                <hr>
                <div class="filterList">
                    <p ng-repeat="(key,value) in builders">
                        <input type="checkbox" class="filled-in" ng-model="selected.builders[key]" id="bld_{{key}}" />
                        <label for="bld_{{key}}">{{key}}</label>
                    </p>
                </div>
            </div>
            <div class="row pdt2 mgbn">
                <h5 class="ush6">Select Area Range</h5>
                <hr>
                <div class="col s6">
                    <label for="minArea">Minimum Area:</label>
                    <input type="number" min="0" max="5000" ng-model="minArea" size="10" id="minArea">
                </div>
                <div class="col s6">
                    <label for="maxArea">Maximum Area:</label>
                    <input type="number" min="0" max="5000" ng-model="maxArea" size="10" id="maxArea">
                </div>
                <hr>
            </div>
            <div class="row pdt2 mgbn">
                <h5 class="ush6">Select Price Range</h5>
                <hr>
                <div class="col s6">
                    <label for="minPrice">Minimum Price:</label>
                    <input type="number" min="0" max="5000" ng-model="minPrice" size="10" id="minPrice">
                </div>
                <div class="col s6">
                    <label for="maxPrice">Maximum Price:</label>
                    <input type="number" min="0" max="5000" ng-model="maxPrice" size="10" id="maxPrice">
                </div>
                <hr>
            </div>
        </div>
        <div class="modal-footer">
            <a href="" class="modal-action modal-close waves-effect waves-green btn blue mgr10" ng-click="applyFilters()">Apply</a>
            <a href="" class="modal-action modal-close waves-effect waves-green btn teal lighten-1 mgr10">Reset</a>
        </div>
    </form>
</div>
