<div ng-show="coverStoriesFetched">
    <h5 class="center b">Cover Stories</h5>
    <div class="coverfixbox card pdan" ng-repeat='story in stories'>
        <div class="card-image reletive">
            <img ng-src="{{story.coverPhoto}}">
            <div class="overlay pda10">
                <h5 class="mg0 ft13 b truncate">{{story.title}}</h5>
                <p class="mg0 ft12 truncate grey-text">{{story.userName}}</p>
                <p class="mg0 ft12 truncate grey-text">{{story.placeName}}</p>
                <p class="mg0 ft12 truncate grey-text">{{story.createdDate | date:'MMM dd, yy'}}</p>
                <div class="row grey darken-4 right-align mgt5">
                    <button class="btn-flat grey-text text-lighten-1">
                        <i class="material-icons">thumb_up</i>
                    </button>
                    <button class="btn-flat grey-text text-lighten-1"><i class="material-icons">favorite_border</i>
                    </button>
                    <button class="btn-flat grey-text text-lighten-1"><i class="material-icons">visibility</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
