<main>
    <section ui-view="search">
    </section>
    <section>
        <div class="row white pd48">
            <div class="container">
                <h4 class="center mgb50">What we have at Roofpik</h4>
                <div class="row mgbn center relative valign-wrapper">
                    <span class="hide-on-med-and-down">
                <i class="tabline1"></i>
                <i class="tabline2"></i>
                <i class="tabline3"></i>
                <i class="tabline4"></i>
                <i class="tabline5"></i>
                </span>
                    <div class="col s12 m6 l3">
                        <div class="row mgbn mgt30">
                            <div class="col s12">
                                <h5 class="ft18 red-text">Reviews:</h5>
                                <p class="ft14">Real residents and owners are sharing positive and negative experiences about their property on Roofpik.com. Let them tell you what it is like to live in a project.</p>
                            </div>
                            <div class="col s12 mgt30">
                                <h5 class="ft18 green-text">Resident Stories:</h5>
                                <p class="ft14">Read real experiences of people about their property and their detailed insights about the project.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l6">
                        <div class="row mgbn">
                            <div class="col s12">
                                <h5 class="ft18 orange-text">Project Information</h5>
                                <p class="ft14">Valldated project information
                                    <br> with comparisons, price trends, photos etc.</p>
                            </div>
                            <div class="col s12 hide-on-med-and-down">
                                <img src="images/home/home-process1.jpg" alt="" class="responsive-img">
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l3">
                        <div class="row mgbn">
                            <div class="col s12">
                                <h5 class="ft18 orange-text">NearBy</h5>
                                <p class="ft14">Know your nearby schools, markets, hospitals etc.</p>
                            </div>
                            <div class="col s12 mgt30">
                                <h5 class="ft18 blue-text">Listed Partners</h5>
                                <p class="ft14">Connect with verified dealers such as Brokers, Movers&Packers, Rental Furnitures etc.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Write a Review section start -->
    <section class="write-review">
        <div class="parallax-container valign-wrapper" style="height: 400px">
            <div class="parallax">
                <img src="images/v1/home/share-bg.jpg" class="responsive-img"></div>
            <div class="row center ">
                <div class="col s12 valign white-text">
                    <h4>Why Share your Experience with us ?</h4>
                    <a href="/#/write-review" class="btn mgr10 b">WRITE A REVIEW</a>
                    <a href="/#/write-review" class="btn b btn-primary">Share Your Story</a>
                </div>
                <!--  <div class="col s12 l6 offset-l3 white-text">
                    <h5 class="ft15">You’re a busy person or just not into “sharing experiences”. So why should you share your experience with us? Great question! Here’s a list of our top reasons why you should share:</h5>
                </div> -->
            </div>
        </div>
    </section>
    <section class="h-services sec-paddind">
        <div class="container">
            <div class="row over home_se center mar-b-80">
                <div class="col m3 s12">
                    <div class="z-services pda20">
                        <img src="images/v1/home/share-earn.png" style="width:64px; height:64px">
                        <h5>Share to <b>Earn</b></h5>
                        <p>Earn incentives in the form of a goody bag or <b class="red-text ft13"> exciting gift vouchers </b></p>
                    </div>
                </div>
                <div class="col m3 s12">
                    <div class="z-services pda20">
                         <img src="images/v1/home/share-inform.png" style="width:64px; height:64px">
                        <h5>Share to <b>Inform</b></h5>
                        <p>Share your <b class="green-text ft13">“Aha!” or “Oh no!”</b> moments so others can learn from your experience </p>
                    </div>
                </div>
                <div class="col m3 s12">
                    <div class="z-services pda20">
                        <img src="images/v1/home/share-educate.png" style="width:64px; height:64px">
                        <h5>Share to <b>Educate</b></h5>
                        <p><b class="blue-text ft13">Lend a helping hand</b> by expressing your valuable insights and experiences</p>
                    </div>
                </div>
                <div class="col m3 s12">
                    <div class="z-services pda20">
                         <img src="images/v1/home/share-count.png" style="width:64px; height:64px">
                        <h5>Share to be <b>Counted</b></h5>
                        <p>Join the <b class="orange-text ft13">fastest-growing</b>  real estate community to find help in buying / selling / renting tomorrow</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <section class="hide-on-med-and-down">
        <div class="row mgbn white pd48 ">
            <div class="container">
                <div class="row mgbn">
                    <div class="col s12 center">
                        <h4>@Roofpik - See what people are talking about their property.</h4>
                    </div>
                </div>
                <div class="carousel carousel-slider indic_color home-carousel" data-indicators="true" style="height: 350px">
                    <div class="carousel-item" href="#one!">
                        <div class="row mgan">
                            <div class="col s12 m6 pda20">
                                <div class="row card mgbn pda20 white valign-wrapper">
                                    <div class="col">
                                        <img src="images/home/Gunjan.jpg" class="imgcir_req">
                                    </div>
                                    <div class="col">
                                        <img src="images/general/Quote_Left.png" class="img32">
                                        <p>“The society is for army men and one can feel the aura of discipline, serenity, greenery and cleanliness around. The extremely friendly neighborhood is one of the key features also.”</p>
                                        <div class="ft13 b">Gunjan, AWHO,
                                            <br>Sispal Vihar</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m6 pda20">
                                <div class="row card mgbn pda20 white valign-wrapper">
                                    <div class="col">
                                        <img src="images/home/jk.jpg" class="imgcir_req">
                                    </div>
                                    <div class="col">
                                        <img src="images/general/Quote_Left.png" class="img32">
                                        <p>The moment one thinks of rent a vivid image revolves in our mind. An image of bag packed bachelors or truck loaded duo with their kids around, job change, new city etc.</p>
                                        <div class="ft13 b">J.K. Arora
                                            <br> South City 2 </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" href="#two!">
                        <div class="row mgan">
                            <div class="col s12 m6 pda20">
                                <div class="row card mgbn pda20 white valign-wrapper">
                                    <div class="col">
                                        <img src="images/home/neetika.jpg" class="imgcir_req">
                                    </div>
                                    <div class="col">
                                        <img src="images/general/Quote_Left.png" class="img32">
                                        <p>“We wanted a gated location too and thus my husband and I decided on this place. Besides excellent security and availability of all services nearby, the society is spacious and green.”</p>
                                        <div class="ft13 b">Neetika,
                                            <br> Fresco Nirvana Country</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m6 pda20">
                                <div class="row card mgbn pda20 white valign-wrapper">
                                    <div class="col">
                                        <img src="images/home/Meenakshi.jpg" class="imgcir_req">
                                    </div>
                                    <div class="col">
                                        <img src="images/general/Quote_Left.png" class="img32">
                                        <p>“The house rent is low compared to the facilities but still I think the support service charges are a little on the higher side of value-for-money.”</p>
                                        <div class="ft13 b">Meenakshi and Amit Tyagi,
                                            <br> Parsvnath Greenville
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" href="#three!">
                        <div class="row mgan">
                            <div class="col s12 m6 pda20">
                                <div class="row card mgbn pda20 white valign-wrapper">
                                    <div class="col">
                                        <img src="images/home/archna.jpg" class="imgcir_req">
                                    </div>
                                    <div class="col">
                                        <img src="images/general/Quote_Left.png" class="img32">
                                        <p>“Nirvana Country is known for its independent villas, though Woodstock stands apart by offering apartments and provides for us to be part of an affluent society at an affordable budget…”</p>
                                        <div class="ft13 b">Archana Sharma, Woodstock, Nirvana Country
                                            <br> India </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col s112 m6 pda20">
                                <div class="row card mgbn pda20 white valign-wrapper">
                                    <div class="col">
                                        <img src="images/home/atul-namdev.jpg" class="imgcir_req">
                                    </div>
                                    <div class="col">
                                        <img src="images/general/Quote_Left.png" class="img32">
                                        <p>“We love the house lay-out. It’s excellent in terms of open space. The balcony and airy rooms is something that we love.”</p>
                                        <div class="ft13 b">Amit Namdeo,
                                            <br>Omaxe Nile</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <section class="pd48 homevalign">
        <div class="parallax-container valign-wrapper" style="height: 400px">
            <div class="parallax">
                <img src="images/v1/home/business-bg.jpg">
            </div>
            <div class="row center valign">
                <div class="col s12 white-text">
                    <h4>Roofpik For Business</h4>
                    <h5>Multiply your income 4x by becoming a partner with the largest real estate reviewing platform.</h5>
                    <a href="/#/business-advantage" class="btn mgr10 b mgt20">Start Today</a>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <section>
        <div class="row mgbn white pd48">
            <div class="container homev">
                <h4 class="center">Advantage Roofpik</h4>
                <h5 class="center ft18 mgb50">World’s First Property Reviewing Platform </h5>
                <div class="row mgbn mgt30">
                    <div class="col s12 m2 center">
                        <i class="material-icons medium red-text">location_city</i>
                        <h5 class="ft18">Search and <br> Shortlist Projects</h5>
                        <p class="ft14">Access to verified Project Information, Reviews, and Ratings with Project Photos</p>
                    </div>
                    <div class="col s12 m1 mgtdoted dotted">
                    </div>
                    <div class="col s12 m2 center">
                        <i class="material-icons medium red-text">group</i>
                        <h5 class="ft18">Find Best<br> Reviewed Agents</h5>
                        <p class="ft14 ">Our Hall of Fame agents who can help you find a great apartment in the right neighborhood.</p>
                    </div>
                    <div class="col s12 m1 mgtdoted dotted"></div>
                    <div class="col s12 m2 center">
                        <i class="material-icons medium red-text">location_on</i>
                        <h5 class="ft18">Site<br> Visit</h5>
                        <p class="ft14">Guided site visits with our verified partners</p>
                    </div>
                    <div class="col s12 m1 mgtdoted dotted"></div>
                    <div class="col s12 m2 center xsspdt10">
                        <i class="material-icons medium red-text">home</i>
                        <h5 class="ft18">Get Right<br> Home</h5>
                        <p class="ft14">Committed guidance all the way till move-in</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- hide-on-med-and-down -->
</main>
