<main>
    <section ui-view="search">
    </section>
    <section ui-view="newcontent">
    </section>
   <!--  <section>
        <div class="row white pd48">
            <div class="container">
                <h4 class="center mgb50">What we have at Roofpik</h4>
                <div class="row mgbn center val_xs relative valign-wrapper">
                    <span class="hide-on-med-and-down">
                <i class="tabline1"></i>
                <i class="tabline2"></i>
                <i class="tabline3"></i>
                <i class="tabline4"></i>
                <i class="tabline5"></i>
                </span>
                    <div class="col s12 m6 l3">
                        <div class="row mgbn mgt30">
                            <div class="col s12">
                                <h5 class="ft18 red-text">Reviews:</h5>
                                <p class="ft14">Real residents and owners are sharing positive and negative experiences about their property on Roofpik.com. Let them tell you what it is like to live in a project.</p>
                            </div>
                            <div class="col s12 mgt30">
                                <h5 class="ft18 green-text">Resident Stories:</h5>
                                <p class="ft14">Read real experiences of people about their property and their detailed insights about the project.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l6">
                        <div class="row mgbn">
                            <div class="col s12 mgt30">
                                <h5 class="ft18 orange-text">Project Information</h5>
                                <p class="ft14">Valldated project information
                                    <br> with comparisons, price trends, photos etc.</p>
                            </div>
                            <div class="col s12 hide-on-med-and-down">
                                <img src="images/home/home-process1.jpg" alt="" class="responsive-img">
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l3">
                        <div class="row mgbn">
                            <div class="col s12 mgt30">
                                <h5 class="ft18 orange-text">NearBy</h5>
                                <p class="ft14">Know your nearby schools, markets, hospitals etc.</p>
                            </div>
                            <div class="col s12 mgt30">
                                <h5 class="ft18 blue-text">Listed Partners</h5>
                                <p class="ft14">Connect with verified dealers such as Brokers, Movers&Packers, Rental Furnitures etc.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="write-review">
        <div class="parallax-container valign-wrapper" style="height: 400px">
            <div class="parallax">
                <img src="images/v1/home/share-bg.jpg" class="responsive-img"></div>
            <div class="row center ">
                <div class="col s12 valign white-text">
                    <h4>Why Share your Experience with us ?</h4>
                    <a href="/#/write-review" class="btn mgr10 b">WRITE A REVIEW</a>
                </div>
            </div>
        </div>
    </section>
    <section class="h-services sec-paddind">
        <div class="container">
            <div class="row over home_se center mar-b-80">
                <div class="col m3 s12">
                    <div class="z-services pda20">
                        <img src="images/v1/home/share-earn.png" style="width:64px; height:64px">
                        <h5>Share to <b>Earn</b></h5>
                        <p> <b class="green-text ft13"> Earn incentives  </b>in the form of a goody bag or exciting gift vouchers </p>
                    </div>
                </div>
                <div class="col m3 s12">
                    <div class="z-services pda20">
                        <img src="images/v1/home/share-inform.png" style="width:64px; height:64px">
                        <h5>Share to <b>Inform</b></h5>
                        <p>Share your <b class="red-text ft13">“Aha!” or “Oh no!”</b> moments so others can learn from your experience </p>
                    </div>
                </div>
                <div class="col m3 s12">
                    <div class="z-services pda20">
                        <img src="images/v1/home/share-educate.png" style="width:64px; height:64px">
                        <h5>Share to <b>Educate</b></h5>
                        <p><b class="blue-text ft13">Lend a helping hand</b> by expressing your valuable insights and experiences</p>
                    </div>
                </div>
                <div class="col m3 s12">
                    <div class="z-services pda20">
                        <img src="images/v1/home/share-count.png" style="width:64px; height:64px">
                        <h5>Share to be <b>Counted</b></h5>
                        <p>Join the <b class="orange-text ft13">fastest-growing</b> real estate community to find help in buying / selling / renting tomorrow</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div> -->

<!--     <section class="pd48 homevalign">
        <div class="parallax-container valign-wrapper" style="height: 400px">
            <div class="parallax">
                <img src="images/v1/home/business-bg.jpg">
            </div>
            <div class="row center valign">
                <div class="col s12 white-text">
                    <h4>Roofpik For Business</h4>
                    <h5>Multiply your income 4x by becoming a partner with the largest real estate reviewing platform.</h5>
                    <a href="/#/business-advantage" class="btn mgr10 b mgt20">Start Today</a>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div> -->
    
    <!-- hide-on-med-and-down -->
</main>
