<section>
<!-- <<<<<<< HEAD
    <div class="parallax-container posabs_img waves-effect waves-light grey darken-3 htv100">
        <div class="btn-mid-box center">
            <h3 class="white-text ft24 pdlr text-shd">Power Your Property Search with Genuine User Reviews </h3>
            <div class="row pdlrb">
                <div class="col m5 s12">
                    <div class="input-field input-box-h card col s12 ht45 pdan">
                        <span class="inpspn">Find :</span>
                        <input type="text" placeholder="Apartments, Commercials, PG" id="type-selection" class="autocompletenear inp_pdw" ng-model="searched" ng-change="showResults()">
                        <div class="search-results" ng-show="showSearch">
                            <ul>
                                <li ng-repeat="item in search| filter: searched" class="pda10 whiteb" ng-click="selectType(item)">
                                    <img ng-src="{{item.icon}}" class="list-icon"/>
                                    <span>{{item.name}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col m5 s12 pdln">
                    <div class="input-field input-box-h card col s12 ht45 pdan">
                        <span class="inpspn">Near :</span>
                        <input placeholder="Enter a Destination" class="autocompletenear inp_pdw" id="locality-search" ng-model="locationSearched" ng-change="showLocalities()">
                        <div class="search-results" ng-show="showSearch1">
                            <ul>
                                <li ng-repeat="item in locations| filter: locationSearched" class="pda10 whiteb" ng-click="selectLocation(item)">
                                    <span>{{item.name}}</span>
                                </li>
                            </ul>
======= -->
    <div class="parallax-container white htv100">
        <video class="videohome" loop="loop" autoplay="autoplay" preload="auto">
            <source src="video/home-background-video.mp4" type="video/mp4">
        </video>
        <div class="home-search">
            <h3 class="white-text ft24 center textsd b">Power Your Property Search with Genuine User Reviews </h3>
            <div class="row mgbn">
                <ul class="tabs tabs-fixed-width tabs-transparent hometabs">
                    <li class="tab bgblk-trn radiust2"><a class="active white-text" href="#searchboxhome">Residential</a></li>
                    <li class="tab bgblk-trn"><a class="white-text" href="#searchboxhome">Commercial</a></li>
                    <li class="tab bgblk-trn radiusr2"><a class="white-text" href="#searchboxhome">PG</a></li>
                </ul>
            </div>
            <div id="searchboxhome" class="row bgblk-trn radius2 pdr10 cardmg searchfix">
                <div class="col s10 pdan">
                    <div class="row mgbn">
                        <div class="col s6">
                            <div class="input-field card col s12 ht45 pdan reletive">
                                <span class="inpspn">Find :</span>
                                <input type="text" placeholder="Apartments, Commercials, PG" id="type-selection" class="autocompletenear inp_pdw mgbn" ng-model="searched" ng-change="showResults()">
                                <img src="https://media.giphy.com/media/dWZ8hwnTnOX1m/200.gif" class="loading-icon" />
                                <div class="search-results" ng-show="showSearch">
                                    <ul class="collection homecoll">
                                        <li ng-repeat="item in search| filter: searched" class=" collection-item avatar" ng-click="selectType(item)">
                                            <img ng-src="{{item.icon}}" class="circle" />
                                            <span class="title ft13">{{item.name}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col s6 pdln">
                            <div class="input-field card col s12 ht45 pdan">
                                <span class="inpspn">Near :</span>
                                <input placeholder="Enter a Destination" class="autocompletenear inp_pdw mgbn" id="locality-search" ng-model="locality" ng-change="showLocalities()">
                                <div class="search-results" ng-show="showSearch1">
                                    <ul class="collection homecoll">
                                        <li ng-repeat="item in search| filter: locationSearched" class=" collection-item avatar" ng-click="selectType(item)">
                                            <img ng-src="{{item.icon}}" class="circle" />
                                            <span class="title ft13">{{item.name}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mgbn" style="display: none;">
                        <div class="col s12">
                            <div class="input-field card col s12 ht45 pdan reletive">
                                <span class="inpspn">Find :</span>
                                <input type="text" placeholder="Apartments, Commercials, PG" id="type-selection" class="autocompletenear inp_pdw mgbn">
                                <img src="https://media.giphy.com/media/dWZ8hwnTnOX1m/200.gif" class="loading-icon" />
                                <div class="search-results" ng-show="showSearch">
                                    <ul class="collection homecoll">
                                        <li ng-repeat="item in search| filter: searched" class=" collection-item avatar" ng-click="selectType(item)">
                                            <img ng-src="{{item.icon}}" class="circle" />
                                            <span class="title ft13">{{item.name}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-field col m2 s12 pdan">
                    <button class="btn col m12  waves-effect waves-light red lighten-1 ht45">
                        <i class="material-icons left">search</i>Search
                    </button>
                </div>
            </div>
            <div class="row mgt5">
                <button class="btn-flat white-text bgblk-trn capitalize btn-sm"><i class="material-icons left">delete</i> Clear</button>
                <button class="btn-flat white-text right bgblk-trn capitalize btn-sm"><i class="material-icons left">arrow_drop_down_circle</i> Search by Name</button>
            </div>
        </div>
        <div class="btn-mid-box center">
            <div class="row bgblk-trn mgbn pdt25 pdb10 white-text">
                <div class="col s12 m4">
                    <div class="col s3 m2 mgt5">
                        <i class="material-icons left ft32">star</i>
                    </div>
                    <div class="col s9 m10">
                        <h5>Neutral and Unbiased Reviews</h5>
                        <p class="grey-text">Registered users and verified reviews help us derive accurate ratings.</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="col s3 m2 mgt5">
                        <i class="material-icons left ft32">show_chart</i>
                    </div>
                    <div class="col s9 m10">
                        <h5>Fact-driven Insights</h5>
                        <p class="grey-text">From noise levels to maintenance, get all the vital stats of a property.</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="col m2 mgt5">
                        <i class="material-icons left ft32">list</i>
                    </div>
                    <div class="col m10">
                        <h5>Analytical Comparison </h5>
                        <p class="grey-text">We work magic with complex technologies to create detailed property comparisons.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row red lighten-1 center pda50 mgbn">
        <h4 class="uppercase white-text">write a review and claim your goody bag.</h4>
        <button class="btn white black-text mgt20"><i class="material-icons left" ng-click="">create</i>Review Now</button>
    </div>
    <div class="row mgbn">
        <div id="mapContainer">
            <div id="mapCanvas"></div>            
        </div>
    </div>
</section>
