<section>
    <div class="parallax-container posabs_img waves-effect waves-light grey darken-3 htv100">
        <div class="btn-mid-box center">
            <h3 class="white-text ft24 pdlr text-shd">Power Your Property Search with Genuine User Reviews </h3>
            <div class="row pdlrb">
                <div class="col m5 s12">
                    <div class="input-field input-box-h card col s12 ht45 pdan">
                        <span class="inpspn">Find :</span>
                        <input type="text" placeholder="Apartments, Commercials, PG" id="type-selection" class="autocompletenear inp_pdw" ng-model="searched" ng-change="showResults()">
                        <div class="search-results" ng-show="showSearch">
                            <ul>
                                <li ng-repeat="item in search| filter: searched" class="pda10 whiteb" ng-click="selectType(item)">
                                    <img ng-src="{{item.icon}}" class="list-icon"/>
                                    <span>{{item.name}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col m5 s12 pdln">
                    <div class="input-field input-box-h card col s12 ht45 pdan">
                        <span class="inpspn">Near :</span>
                        <input placeholder="Enter a Destination" class="autocompletenear inp_pdw" id="locality-search" ng-model="locationSearched" ng-change="showLocalities()">
                        <div class="search-results" ng-show="showSearch1">
                            <ul>
                                <li ng-repeat="item in locations| filter: locationSearched" class="pda10 whiteb" ng-click="selectLocation(item)">
                                    <span>{{item.name}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="input-field col m2 s12 pdan">
                    <button class="btn col m12  waves-effect waves-light red lighten-1 ht45" id="">
                        <i class="material-icons left">search</i>Search</i>
                </div>
            </div>
            <div class="row bgblk-trn mgbn pdt25 pdb10 white-text">
                <div class="col s12 m4">
                    <div class="col s3 m2 mgt5">
                        <i class="material-icons left ft32">star</i>
                    </div>
                    <div class="col s9 m10">
                        <h5>Neutral and Unbiased Reviews</h5>
                        <p class="grey-text">Registered users and verified reviews help us derive accurate ratings.</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="col s3 m2 mgt5">
                        <i class="material-icons left ft32">show_chart</i>
                    </div>
                    <div class="col s9 m10">
                        <h5>Fact-driven Insights</h5>
                        <p class="grey-text">From noise levels to maintenance, get all the vital stats of a property.</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="col m2 mgt5">
                        <i class="material-icons left ft32">list</i>
                    </div>
                    <div class="col m10">
                        <h5>Analytical Comparison </h5>
                        <p class="grey-text">We work magic with complex technologies to create detailed property comparisons.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
