<section>
    <div class="parallax-container htv100">
        <div class="parallax">
            <img src="images/home/home-bg.jpg">
        </div>
        <div class="home-search">
            <h3 class="white-text ft24 center textsd b">Power Your Property Search with Genuine User Reviews </h3>
            <div class="row mgbn" ng-hide="searchByName">
                <ul class="tabs tabs-fixed-width tabs-transparent hometabs">
                    <li class="tab bgblk-trn radiust2" ng-click="selectVertical('residential')"><a class="active white-text reletive" href="#searchboxhome">Residential</a></li>
                    <li class="tab bgblk-trn" ng-click="selectVertical('commercial')"><a class="white-text reletive" href="#searchboxhome">Commercial</a></li>
                    <li class="tab bgblk-trn radiusr2" ng-click="selectVertical('pg')"><a class="white-text reletive" href="#searchboxhome">PG</a></li>
                </ul>
            </div>
            <div id="searchboxhome" class="row bgblk-trn radius2 pdr10 cardmg searchfix">
                <div class="col s12 m10 pdan">
                    <div class="row mgbn" ng-hide="searchByName">
                        <div class="col s12 m6 pdrn ">
                            <div class="input-field card col s12 ht45 pdan bod-right rdsan reletive">
                                <span class="inpspn">Find :</span>
                                <input type="text" placeholder="Apartments, Commercials, PG" id="type-selection" class="autocompletenear inp_pdw mgbn" ng-model="categorySearched">
                                <!-- <img src="https://media.giphy.com/media/dWZ8hwnTnOX1m/200.gif" class="loading-icon" /> -->
                                <div class="search-results" ng-show="showSearch">
                                    <ul class="collection homecoll">
                                        <li ng-repeat="item in categorySearch| filter: categorySearched" class=" collection-item avatar" ng-click="selectCategory(item)">
                                            <img ng-src="{{item.icon}}" class="circle" />
                                            <span class="title ft13" ng-bind-html="item.name | highlight:categorySearched"></span>
                                        </li>
                                    </ul>
                                    <!-- <div class="pd5 grey lighten-4 ft12">More Options</div> -->
                                    <!-- <ul class="collection homecoll">
                                        <li class=" collection-item avatar"><img ng-src="images/homeicon/Commercial.png" class="circle" /> Explore Locality</li>
                                    </ul> -->
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 pdln res-xs">
                            <div class="input-field card col s12 ht45 pdan rdsan">
                                <span class="inpspn">Near :</span>
                                <input placeholder="Enter a Destination" class="autocompletenear inp_pdw mgbn" id="locality-search" ng-model="locationSearched" ng-change="searchLocation()">
                                <img src="http://www.ladbrokes.com/bingo/christmas-cracker/images/loadingAnimation.gif" class="loading-icon" ng-show="searchingLocation" />
                                <div class="search-results" ng-show="showSearch1">
                                    <ul class="collection homecoll">
                                        <li ng-repeat="item in locations | filter:locationSearched" class=" collection-item avatar" ng-click="selectLocation(item)">
                                            <!-- <img ng-src="{{item.icon}}" class="circle" /> -->
                                            <span class="title ft13" ng-bind-html="item.name | highlight:locationSearched"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mgbn" ng-show="searchByName">
                        <div class="col s12 res-xsip2">
                            <div class="input-field card col s12 ht45 pdan reletive rdsan">
                                <span class="inpspn">Find :</span>
                                <input type="text" placeholder="Apartments, Commercials, PG" id="name-search" class="autocompletenear inp_pdw mgbn" ng-model="searchedText" ng-change="getSearchData()">
                                <img src="http://www.ladbrokes.com/bingo/christmas-cracker/images/loadingAnimation.gif" class="loading-icon" ng-show="searchingName" />
                                <div class="search-results" ng-show="showSearch2">
                                    <ul class="collection homecoll">
                                        <li ng-repeat="item in searchByNameData |filter:searchedText" class=" collection-item avatar" ng-click="selectSearchByName(item)">
                                            <!-- <img ng-src="{{item.icon}}" class="circle" /> -->
                                            <span class="title ft13" ng-bind-html="item.name | highlight:searchedText"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-field col m2 s12 pdan res-xsb">
                    <button class="btn btn-full resbtn blue ht45 wd-sm overhidden mpdt5" ng-click="search()">
                        <i class="material-icons left">search</i>Search
                    </button>
                </div>
            </div>
            <div class="row mgt5">
                <button class="btn-flat white-text bgblk-trn capitalize btn-sm" ng-click="testListPage()"><i class="material-icons left">delete</i> Clear</button>
                <button class="btn-flat white-text right bgblk-trn capitalize btn-sm" ng-click="toggleSearchType()"><i class="material-icons left">{{toggleIcon}}</i>{{showSearchTitle}}</button>
            </div>
        </div>
        <div class="btn-mid-box center hide-on-small-only">
            <div class="row bgblk-trn mgbn pdt25 pdb10 white-text">
                <div class="col s12 m4">
                    <div class="col s3 m2 mgt5">
                        <i class="material-icons left ft32">star</i>
                    </div>
                    <div class="col s9 m10">
                        <h5>Neutral and Unbiased Reviews</h5>
                        <p class="grey-text">Registered users and verified reviews help us derive accurate ratings.</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="col s3 m2 mgt5">
                        <i class="material-icons left ft32">show_chart</i>
                    </div>
                    <div class="col s9 m10">
                        <h5>Fact-driven Insights</h5>
                        <p class="grey-text">From noise levels to maintenance, get all the vital stats of a property.</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="col m2 mgt5">
                        <i class="material-icons left ft32">list</i>
                    </div>
                    <div class="col m10">
                        <h5>Analytical Comparison </h5>
                        <p class="grey-text">We work magic with complex technologies to create detailed property comparisons.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row blue lighten-1 center pda50 mgbn">
        <i class="material-icons medium white-text">card_giftcard</i>
        <h5 class="uppercase white-text">
        write a review and claim your goody bag.</h5>
        <button id="review_btn" class="btn btn-large white black-text mgt20" ng-click="test()"><i class="material-icons left">create</i>Review Now</button>
    </div>
   
     <div class="row pda10 mgbn reletive white">
        <div ui-view="coverStories"></div>
    </div>
    <div class="row blue lighten-1 center white-text mgbn pda50">
  
     <h4 class="center b ltspacing">In Stats</h4>
        <div class="col s12 m4 pda10">
            <div class="allbd block pda10">
                <i class="material-icons medium">edit</i>
                <h4 class="uppercase white-text">
                    4000+</h4>
                <h5>Reviews</h5>
            </div>
        </div>
        <div class="col s12 m4 pda10">
            <div class="allbd block pda10">
                <i class="material-icons medium">home</i>
                <h4 class="uppercase white-text">700+
                </h4>
                <h5> Properties</h5>
            </div>
        </div>
        <div class="col s12 m4 pda10">
            <div class="allbd block pda10">
                <i class="material-icons medium">location_on</i>
                <h4 class="uppercase white-text">
                    75+
               </h4>
                <h5>Localities</h5>
            </div>
        </div>
    </div>
    <div class="row mgbn white hidden_sm">
        <div class="container container2">
            <div class="row mgbn">
                <div class="col m12 pda10">
                    <div maphome></div>
                </div>
            </div>
        </div>
    </div>
</section>
