<main>
    <div class="row white relative htv100 fixedall" style="display: none;">
        <div class="transform center mgtn wdp70">
            <h5 class="xshdh"><b class="redt">Roofpik</b> Power Your Property Search with Genuine User Reviews </h5>
            <div class="row center">
                <div class="col s12 mgt20">
                    <div class="cs-loader">
                        <div class="cs-loader-inner">
                            <label> ●</label>
                            <label> ●</label>
                            <label> ●</label>
                            <label> ●</label>
                            <label> ●</label>
                            <label> ●</label>
                        </div>
                    </div>
                </div>
                <div class="col s12 mgt20 b">Loading</div>
            </div>
        </div>
    </div>
    <div class="row ht300 xsht5 white relative" ui-view="search">
    </div>
    <section class="micro-markets" ui-view="microMarkets"></section>
<!-- Write a Review section start -->
    <section>
        <div class="container">
            <div class="row mg48">
                <div class="col s12 m5 l4 write xswdfull">
                    <h3>Write a Review About Your Buying or Renting Experience</h3>
                    <p>Your verified review will do more than help someone find their dream property. It will also help educate a girl. For every new review on the website, Roofpik joins hands with Nanhi Kali to sponsor a day’s education for a girl child.</p>
                    <a href="/#/write-review" class="btn">WRITE A REVIEW</a>
                </div>
                <div class="col s12 m7 l7 right xsmgt20 xsnone">
                    <img class="responsive-img" src="images/home/writebg.jpg">
                </div>
            </div>
            <div class="row mg48 mgln mgrn hide-on-med-and-down" ui-view="popularProjects"></div>
        </div>
    </section>
<!-- Write a Review section end -->


    <div class="row grey lighten-5 pd48 mgbn" ui-view="popularSearches"></div>
  <!-- our Partners section start -->
    <section class="pd48">
        <div class="container">
            <h5 class="center mgtn"> Our Partners  </h5>
            <p class="center ft14 grey-text">Lorem ipsum is simmply dummy text</p>
            <div class="row mgbn mgt10 mgln mgrn center">
                <div class="col s12 m6 l3 black xsmgt20">
                    <img src="images/partners/fastfox-logo.png">
                </div>
                <div class="col s12 m6 l3 xsmgt20">
                    <img src="images/partners/99acres.png">
                </div>
                <div class="col s12 m6 l3 xsmgt20">
                    <img src="images/partners/magicbricks.png">
                </div>
                <div class="col s12 m6 l3 xsmgt20">
                    <img src="images/partners/triplogo.png">
                </div>
            </div>
        </div>
    </section>
 <!-- our Partners section end -->
    <div class="row bodt bodb mgbn">
        <div class="container">
            <div class="row mgbn">
                <div class="col s12 m4 pdl40 pd48 bod-right xsbdrn relative">
                    <i class="material-icons iconlfix">star</i>
                    <h5 class="heading mgbn mgtn">Neutral and Unbiased Reviews</h5>
                    <p class="mgbn">Registered users and verified reviews help us derive accurate ratings.</p>
                </div>
                <div class="col s12 m4 pdl40 pd48 bod-right xsbdrn relative">
                    <i class="material-icons iconlfix">show_chart</i>
                    <h5 class="heading mgbn mgtn">Fact-driven Insights</h5>
                    <p class="mgbn">From noise levels to maintenance, get all the vital stats of a property.</p>
                </div>
                <div class="col s12 m4 pdl40 pd48 relative">
                    <i class="material-icons iconlfix">list</i>
                    <h5 class="heading mgbn mgtn">Analytical Comparison</h5>
                    <p class="mgbn">We work magic with complex technologies to create detailed property comparisons.</p>
                </div>
            </div>
        </div>
    </div>
</main>
