<div>
    <style>

    nav{
        background: rgba(255, 255, 255, 0) !important;
    }
    /* Key Box */
    
    .main-key {
        width: 100%;
        background: #e3dfd9;
        padding: 100px 0;
    }
    /* Project Box */
    
    .main-project {
        width: 100%;
        background: #fff;
        padding: 100px 0;
    }
    
    .main-project .proj-img {
        width: 100%;
        background: url(../images/project.jpg) no-repeat center center;
        /*    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    }
    
    .main-project .proj-title {
        font-size: 14px;
        color: #25314A !important;
        margin-bottom: 5px !important;
    }
    
    .main-project .proj-add {
        font-size: 10px;
        color: #a5a5a5 !important;
        margin-bottom: 15px !important;
    }
    
    .main-project .proj-review-title {
        color: #7f833d;
        font-weight: 400;
    }
    
    .main-project .stars {
        margin-bottom: 15px !important;
    }
    
    .main-project .stars .material-icons {
        font-size: 14px;
        color: #7f833d;
    }
    
    .main-project .review-text {
        font-size: 10px;
    }
    
    .main-project .review-pros {
        margin: 10px 0 20px !important;
    }
    
    .main-project .review-cons {
        margin: 10px 0 0px !important;
    }
    
    .main-featured {
        margin-bottom: 100px;
    }
    
    .main-featured img {
        margin-top: 50px;
    }
    
    .mgb50 {
        margin-bottom: 50px;
    }

    @media only screen and (min-width: 992px){
        .mgt100{
            margin-top: 100px;
        }
    }
    </style>
    <div class="main-key">
        <div class="container">
            <div class="row mgb50">
                <div class="col s12 center-align">
                    <h4>Why Roofpik?</h4>
                    <h6>World’s first reliable property reviewing platform</h6>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4">
                    <div class="center promo promo-example">
                        <i class="material-icons ft40">group</i>
                        <p class="promo-caption ft20">Peoples Platform</p>
                        <p class="light center">Overplay of real resident reviews that helps you make an informed decision to shortlist your property online.</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="center promo promo-example">
                        <i class="material-icons ft40">flash_on</i>
                        <p class="promo-caption ft20">Trust and Transparency</p>
                        <p class="light center">Steered by the need to create a much awaited neutral platform to help you know the real living experiences.</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="center promo promo-example">
                        <i class="material-icons ft40">attach_money</i>
                        <p class="promo-caption ft20">Wiser Investments</p>
                        <p class="light center">We serve you reliable facts and data for your hard earned money for smarter and wiser investments.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-project">
        <div class="container">
            <div class="row">
                <div class="col s12 m4">
                    <div class="row">
                        <div class="col s12 mgt100">
                            <div class="center-align">
                                <h5>What we Do?</h5>
                                <p>We give you reliable insights and information on the living happiness and challenges faced through verified reviews given by real residents that helps you make the best property choice.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m8">
                    <div class="card horizontal">
                        <div class="card-image proj-img">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <p class="proj-title"><strong>Unitech Escape, Gurugram</strong></p>
                                <p class="proj-add">Nirvana Country, Sector 50, Sohna Road, Gurugram, Haryana - 122018</p>
                                <p><span class="proj-review-title">"Best Place to Live"</span> - Current resident of Tower 4
                                    <p class="stars">
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star_border</i>
                                    </p>
                                </p>
                                <p class="review-pros"><strong>Pros:</strong>
                                    <br> <span class="review-text"> One of the best places to live in Gurgaon. Good for both kids and senior citizens. Well maintained parks and have lots of activities in the ommunity club.</span></p>
                                <p class="review-cons"><strong>Cons:</strong>
                                    <br> <span class="review-text">Swimming pool is not developed and still there is no clue when it will start.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hide-on-med-and-down">
        <div class="row mgbn white pd48 ">
            <div class="container">
                <div class="row mgbn">
                    <div class="col s12 center">
                        <h4>People love Roofpik!</h4>
                        <p>Roofpik is the largest growing community of readers and writers that has impacted and served the need of many to make a wise choice in renting and buying.</p>
                    </div>
                </div>
                <div class="carousel carousel-slider indic_color home-carousel" data-indicators="true" style="height: 350px">
                    <div class="carousel-item" href="#one!">
                        <div class="row mgan">
                            <div class="col s12 m6 pda20">
                                <div class="row card mgbn pda20 white valign-wrapper">
                                    <div class="col">
                                        <img src="images/home/Gunjan.jpg" class="imgcir_req">
                                        <div class="ft13 b center">Gunjan, AWHO,
                                            <br>Sispal Vihar</div>
                                    </div>
                                    <div class="col">
                                        <img src="images/general/Quote_Left.png" class="img32">
                                        <p>“The society is for army men and one can feel the aura of discipline, serenity, greenery and cleanliness around. The extremely friendly neighborhood is one of the key features also.”</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m6 pda20">
                                <div class="row card mgbn pda20 white valign-wrapper">
                                    <div class="col">
                                        <img src="images/home/jk.jpg" class="imgcir_req">
                                        <div class="ft13 b center">J.K. Arora
                                            <br> South City 2 </div>
                                    </div>
                                    <div class="col">
                                        <img src="images/general/Quote_Left.png" class="img32">
                                        <p>The moment one thinks of rent a vivid image revolves in our mind. An image of bag packed bachelors or truck loaded duo with their kids around, job change, new city etc.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" href="#two!">
                        <div class="row mgan">
                            <div class="col s12 m6 pda20">
                                <div class="row card mgbn pda20 white valign-wrapper">
                                    <div class="col">
                                        <img src="images/home/neetika.jpg" class="imgcir_req">
                                        <div class="ft13 b center">Neetika,
                                            <br> Fresco Nirvana Country</div>
                                    </div>
                                    <div class="col">
                                        <img src="images/general/Quote_Left.png" class="img32">
                                        <p>“We wanted a gated location too and thus my husband and I decided on this place. Besides excellent security and availability of all services nearby, the society is spacious and green.”</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m6 pda20">
                                <div class="row card mgbn pda20 white valign-wrapper">
                                    <div class="col">
                                        <img src="images/home/Meenakshi.jpg" class="imgcir_req">
                                        <div class="ft13 b center">Meenakshi & Amit Tyagi,
                                            <br> Parsvnath Greenville
                                        </div>
                                    </div>
                                    <div class="col">
                                        <img src="images/general/Quote_Left.png" class="img32">
                                        <p>“The house rent is low compared to the facilities but still I think the support service charges are a little on the higher side of value-for-money.”</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" href="#three!">
                        <div class="row mgan">
                            <div class="col s12 m6 pda20">
                                <div class="row card mgbn pda20 white valign-wrapper">
                                    <div class="col">
                                        <img src="images/home/archna.jpg" class="imgcir_req">
                                        <div class="ft13 b center">Archana Sharma, Woodstock, Nirvana Country
                                        </div>
                                    </div>
                                    <div class="col">
                                        <img src="images/general/Quote_Left.png" class="img32">
                                        <p>“Nirvana Country is known for its independent villas, though Woodstock stands apart by offering apartments and provides for us to be part of an affluent society at an affordable budget…”</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s112 m6 pda20">
                                <div class="row card mgbn pda20 white valign-wrapper">
                                    <div class="col">
                                        <img src="images/home/atul-namdev.jpg" class="imgcir_req">
                                        <div class="ft13 b center">Amit Namdeo,
                                            <br>Omaxe Nile</div>
                                    </div>
                                    <div class="col">
                                        <img src="images/general/Quote_Left.png" class="img32">
                                        <p>“We love the house lay-out. It’s excellent in terms of open space. The balcony and airy rooms is something that we love.”</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-featured">
        <div class="container">
            <div class="row">
                <div class="col s12 center">
                    <h4>We got featured</h4>
                </div>
                <div class="col s12">
                    <img src="images/featured.png" class="responsive-img" />
                </div>
            </div>
        </div>
    </div>
</div>
