<div class="container">
    <div class="row mgbn">
        <h5 class="center mgtn"> Popular Searches  </h5>
        <div class="col s12 m6 l3">
            <h3 class="heading">Apartments For Rent</h3>
            <a href="" class="alink ft15 truncate">Apartments for Sale in Dubai Marnia </a>
            <a href="" class="alink ft15 truncate">Apartments for Sale in Dubai Marnia </a>
            <a href="" class="alink ft15 truncate">Apartments for Sale in Dubai Marnia </a>
            <a href="" class="alink ft15 truncate">Apartments for Sale in Dubai Marnia </a>
            <a href="" class="alink ft15 truncate">Apartments for Sale in Dubai Marnia </a>
        </div>
        <div class="col s12 m6 l3">
            <h3 class="heading">Villas for Rent</h3>
            <a href="" class="alink ft15 truncate">Apartments for Sale in Dubai Marnia </a>
            <a href="" class="alink ft15 truncate">Apartments for Sale in Dubai Marnia </a>
            <a href="" class="alink ft15 truncate">Apartments for Sale in Dubai Marnia </a>
            <a href="" class="alink ft15 truncate">Apartments for Sale in Dubai Marnia </a>
            <a href="" class="alink ft15 truncate">Apartments for Sale in Dubai Marnia </a>
        </div>
        <div class="col s12 m6 l3">
            <h3 class="heading">Penthouse For Rent</h3>
            <a href="" class="alink ft15 truncate">Apartments for Sale in Dubai Marnia </a>
            <a href="" class="alink ft15 truncate">Apartments for Sale in Dubai Marnia </a>
            <a href="" class="alink ft15 truncate">Apartments for Sale in Dubai Marnia </a>
            <a href="" class="alink ft15 truncate">Apartments for Sale in Dubai Marnia </a>
            <a href="" class="alink ft15 truncate">Apartments for Sale in Dubai Marnia </a>
        </div>
        <div class="col s12 m6 l3">
            <h3 class="heading">Row Houses For Rent</h3>
            <a href="" class="alink ft15 truncate">Apartments for Sale in Dubai Marnia </a>
            <a href="" class="alink ft15 truncate">Apartments for Sale in Dubai Marnia </a>
            <a href="" class="alink ft15 truncate">Apartments for Sale in Dubai Marnia </a>
            <a href="" class="alink ft15 truncate">Apartments for Sale in Dubai Marnia </a>
            <a href="" class="alink ft15 truncate">Apartments for Sale in Dubai Marnia </a>
        </div>
    </div>
</div>
