<div>
    <h3 class="heading">
       Popular Projects                   
    </h3>
    <div class="slider ht400">
        <ul class="slides white ht350">
            <li>
                <div class="row mns8 mgbn">
                    <div class="col s4 pdlr8">
                        <div class="card boxsdn mgtn rdsan pdbn mgbn">
                            <div class="card-image">
                                <img src="images/general/bestech.jpg">
                            </div>
                            <div class="card-content pdt8 pdln pdrn pdbn">
                                <a href="" class="a48">
                                    <h5 class="truncate mgan ft15 lineh18 b lts">₹11469 Vipul Greens</h5>
                                    <h6 class="truncate mgt3 mgbn ft15 lineh18  lts">Sohna Road, Sector 48</h6>
                                    <div class="star lineh16 mgt5">
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <span class="ft12 lts4 lineh16">(3.95) 91 Reviews</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col s4 pdlr8">
                        <div class="card boxsdn mgtn rdsan pdbn mgbn">
                            <div class="card-image">
                                <img src="images/general/bestech.jpg">
                            </div>
                            <div class="card-content pdt8 pdln pdrn pdbn">
                                <a href="" class="a48">
                                    <h5 class="truncate mgan ft15 lineh18 b lts">₹11469 Vipul Greens</h5>
                                    <h6 class="truncate mgt3 mgbn ft15 lineh18  lts">Sohna Road, Sector 48</h6>
                                    <div class="star lineh16 mgt5">
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <span class="ft12 lts4 lineh16">(3.95) 91 Reviews</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col s4 pdlr8">
                        <div class="card boxsdn mgtn rdsan pdbn mgbn">
                            <div class="card-image">
                                <img src="images/general/bestech.jpg">
                            </div>
                            <div class="card-content pdt8 pdln pdrn pdbn">
                                <a href="" class="a48">
                                    <h5 class="truncate mgan ft15 lineh18 b lts">₹11469 Vipul Greens</h5>
                                    <h6 class="truncate mgt3 mgbn ft15 lineh18  lts">Sohna Road, Sector 48</h6>
                                    <div class="star lineh16 mgt5">
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <span class="ft12 lts4 lineh16">(3.95) 91 Reviews</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="row mns8 mgbn">
                    <div class="col s4 pdlr8">
                        <div class="card boxsdn mgtn rdsan pdbn mgbn">
                            <div class="card-image">
                                <img src="images/general/bestech.jpg">
                            </div>
                            <div class="card-content pdt8 pdln pdrn pdbn">
                                <a href="" class="a48">
                                    <h5 class="truncate mgan ft15 lineh18 b lts">₹11469 Sohna Road</h5>
                                    <h6 class="truncate mgt3 mgbn ft15 lineh18  lts">Sohna Road, Sector 48</h6>
                                    <div class="star lineh16 mgt5">
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <span class="ft12 lts4 lineh16">(3.95) 91 Reviews</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col s4 pdlr8">
                        <div class="card boxsdn mgtn rdsan pdbn mgbn">
                            <div class="card-image">
                                <img src="images/general/bestech.jpg">
                            </div>
                            <div class="card-content pdt8 pdln pdrn pdbn">
                                <a href="" class="a48">
                                    <h5 class="truncate mgan ft15 lineh18 b lts">₹11469 Sohna Road</h5>
                                    <h6 class="truncate mgt3 mgbn ft15 lineh18  lts">Sohna Road, Sector 48</h6>
                                    <div class="star lineh16 mgt5">
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <span class="ft12 lts4 lineh16">(3.95) 91 Reviews</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col s4 pdlr8">
                        <div class="card boxsdn mgtn rdsan pdbn mgbn">
                            <div class="card-image">
                                <img src="images/general/bestech.jpg">
                            </div>
                            <div class="card-content pdt8 pdln pdrn pdbn">
                                <a href="" class="a48">
                                    <h5 class="truncate mgan ft15 lineh18 b lts">₹11469 Sohna Road</h5>
                                    <h6 class="truncate mgt3 mgbn ft15 lineh18  lts">Sohna Road, Sector 48</h6>
                                    <div class="star lineh16 mgt5">
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                        <span class="ft12 lts4 lineh16">(3.95) 91 Reviews</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
