<div class="htv100 white search-home">
<div class="valign-wrapper">
    <div class="row center valign searchfix_xs wdp70">
        <h5 class="m-h5"><b class="redt">Roofpik</b> Power Your Property Search with Genuine User Reviews </h5>
        <div id="searchboxhome" class="row radius2 pdr10 cardmg searchfix">
            <div class="col s12 m12 l8 no-padding">
                <div class="row mgbn" ng-hide="searchByName">
                    <div class="col s12 m6 pdrn xspdln">
                        <div class="input-field card col s12 ht45 no-padding bod-right rdsan relative">
                            <span class="inpspn">Find :</span>
                            <input type="text" placeholder="Apartments, Commercials, PG" id="projsearch" class="autocompleteFind inp_pdw mgbn" ng-model="projsearch.txt" ng-focus="projsearchFocus()" ng-blur="projsearchBlur()" ng-change="getprojsearch()">
                            <img src="images/general/buffering.gif" class="loading-icon" ng-show="projsearch.loading" />
                            <div class="search-results left-align" ng-show="projsearch.status && !projsearch.loading">
                                <ul class="collection homecoll white mgan">
                                    <li class="collection-item avatar" ng-repeat="projItem in projsearch.data" ng-click="getprojitem(projItem)">
                                        <span class="title ft14">{{projItem.name}}</span>
                                        <span class="subtitle ft13">{{projItem.subtitle}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 pdln xspdrn">
                        <div class="input-field card col s12 ht45 no-padding rdsan">
                            <span class="inpspn">Near :</span>
                            <input type="text" placeholder="Enter a Locality" id="locsearch" class="autocompleteNear inp_pdw mgbn" ng-model="locsearch.txt" ng-focus="locsearchFocus()" ng-blur="locsearchBlur()" ng-change="getlocsearch()">
                            <img src="images/general/buffering.gif" class="loading-icon" ng-show="locsearch.loading" />
                            <div class="search-results left-align" ng-show="locsearch.status">
                                <ul class="collection homecoll white mgan">
                                    <li class="collection-item avatar" ng-repeat="locItem in locsearch.data" ng-click="getlocitem(locItem)">
                                        <span class="title ft14">{{locItem.name}}</span>
                                        <span class="subtitle ft13">{{locItem.subtitle}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-field col s5 m3 offset-m3 l2 pdln">
                <button class="btn btn-full waves-effect waves-light ht45 over_hidden " ng-click="search()">
                    Search
                </button>
            </div>
             <div class="input-field col s7 m3 l2 pdln">
                <button class="btn btn-full  btn-primary waves-effect waves-light ht45 over_hidden " ng-click="writeReview()">
                    Write Review
                </button>
            </div>
        </div>
    </div>
</div>

</div>
