<div class="row white bg-home-img htv100 mgbn">
    <div class="transform center searchfix_xs wdp70">
        <h5 class="m-h5">Welcome to an easy and trustworthy way to find your property
 </h5>
        <div id="searchboxhome" class="row radius2 pdr10 cardmg searchfix">
            <div class="col s12 m12 l8 no-padding">
                <div class="row mgbn" ng-hide="searchByName">
                    <div class="col s12 m12 pdrn xspdln">
                        <div class="input-field card col s12 ht45 no-padding bod-right rdsan relative">
                            <span class="inpspn">Find :</span>
                            <input id="place_name" type="text" class="autocompleteFind inp_pdw mgbn" gm-places-autocomplete ng-model="autocomplete" placeholder="Seach locality and property" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-field col s5 m3 offset-m3 l2 pdln">
                <button class="btn btn-full ht45 b over_hidden " ng-click="search()">
                    Search
                </button>
            </div>
            <div class="input-field col s7 m3 l2 pdln">
                <button class="btn btn-full  btn-primary b ht45 over_hidden " ng-click="writeReview()">
                    Write Review
                </button>
            </div>
        </div>
    </div>
    <div class="abs center hd_home_cr">
        <a href="" class="white grey-text ft13 text-darken-2">
            <span class="green-text ft20 block">299</span> Projects
        </a>
        <a href="" class="white grey-text ft13 text-darken-2">
            <span class="red-text ft20 block">4050</span> Reviews
        </a>
    </div>
</div>
