<section layout="row" class="write-reviews" flex layout-align="center center" layout-wrap>
    <div class="reviews-wrapper" flex="80" layout-align="center center" layout="row" layout-wrap>
        <h1 flex="100"> Write a Review About Your Buying or Renting Experience </h1>
        <h2 flex="100"> Your verified review will do more than help someone find their dream property. It will also help educate a girl.
                <br>
                For every new review on the website, Roofpik joins hands with Nanhi Kali to sponsor a day’s education for a girl child.
                 </h2>
        <div flex="100" class="center-text">
            <md-button class="md-raised md-primary" ng-click="gotoWriteReviews()">Write Review</md-button>
        </div>
    </div>
</section>
