<div>
    <section class="about-banner">
        <div id="aboutUs-banner" class="parallax-container">
            <div class="section no-pad-bot">
                <div class="container mar-t-200">
                    <div class="row center">
                        <h5 class="header col s12 white-text">WELCOME TO</h5>
                        <h1 class="header center white-text">TONA7 TEMPLATE</h1>
                    </div>
                    <div class="row center">
                        <a href="#" id="download-button" class="btn">Show Work</a>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            <div class="parallax"><img src="images/banner1.jpg" alt="Unsplashed background img 1"></div>
        </div>
    </section>
    <section class="h-services sec-paddind">
        <div class="container">
            <div class="row over center mar-b-80">
                <div class="col m4 s12">
                    <div class="z-services">
                        <i class="material-icons medium">redeem</i>
                        <h5>Web Design</h5>
                        <p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem an.</p>
                    </div>
                </div>
                <div class="col m4 s12">
                    <div class="z-services">
                        <i class="material-icons medium">date_range</i>
                        <h5>Application</h5>
                        <p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem an.</p>
                    </div>
                </div>
                <div class="col m4 s12">
                    <div class="z-services">
                        <i class="material-icons medium">event_seat</i>
                        <h5>Graphic Design</h5>
                        <p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem an.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <section>
        <div class="container">
            <div class="row mg48">
                <div class="col s12 m5 l4 write xswdfull">
                    <h3>WHO WE ARE</h3>
                    <p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem an, cule dicta iriure at.phaedrum.Lorem ipsum dolorw sit amet,cule dicta iriure at. Ubique maluisset vel te, his dico vituperata ut. in quodsi vulputate. It will also help educate a girl. For every new review on the website, Roofpik joins hands with Nanhi Kali to sponsor a day’s education for a girl child.</p>
                    <a href="/#/write-review" class="btn">WRITE A REVIEW</a>
                </div>
                <div class="col s12 m7 l7 right xsmgt20 xsnone">
                    <img class="responsive-img" src="images/home/writebg.jpg">
                </div>
            </div>
            <div class="row mg48 mgln mgrn hide-on-med-and-down" ui-view="popularProjects"></div>
        </div>
    </section>
    <div class="clearfix"></div>
    <section>
        <div class="container">
            <div class="row  mar-b-40 leading-charge">
                <div class="col s12 mar-b-20 center">
                    <h4>Who’s Leading The Charge?</h4>
                </div>
                <div class="col m5 offset-m1 s12">
                    <figure class="waves-effect waves-block waves-light">
                        <img class="responsive-img" src="images/arpit.jpg">
                        <figcaption>
                            <h6 class="grey-text text-darken-4">Arpit Mittal – The Tech Maestro</h6>
                            <p>Co-Founder <a href="#" target="_blank" class="b">in</a></p>
                            <p><strong>Arpit</strong> brings rich technical experience and a passion for all things entrepreneurial. His previous venture, Edcited.com, was acquired by VC-funded company, Co-Cubes.</p>
                            <p>He is the force that keeps Roofpik on the cutting edge of technology and product innovation.</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col m5 s12">
                    <figure class="waves-effect waves-block waves-light">
                        <img class="responsive-img" src="images/kanika.jpg">
                        <figcaption>
                            <h6 class="grey-text text-darken-4">Kanika Katoch – The Talent Maven</h6>
                            <p>Co-Founder <a href="#" target="_blank" class="b">in</a></p>
                            <p><strong>Kanika</strong> has to her credit close to a decade of lending value to reputable brands such KPMG, Convergys and Oracle through her expertise in human resources and strategic business planning.</p>
                            <p><strong>At Roofpik</strong> Kanika spearheads the People Strategy and fosters operational excellence.</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- section start -->
    <section>
        <div class="parallax-container busin_bnht busin_xs">
            <div class="parallax">
                <img src="images/home/writebg.jpg" class="abs">
            </div>
            <div class="row mgbn white-text bgblack_tr pd48 wdfull abs htfull">
                <div class="container">
                    <div class="row mgbn center">
                        <div class="col s12">
                            <h4>We Make Difference</h4>
                        </div>
                        <div class="col s12 m4">
                            <i class="material-icons medium">group</i>
                            <h5>390 MILLION</h5>
                            <h6>unique monthly visitors**</h6>
                        </div>
                        <div class="col s12 m4">
                            <i class="material-icons medium">group</i>
                            <h5>390 MILLION</h5>
                            <h6>unique monthly visitors**</h6>
                        </div>
                        <div class="col s12 m4">
                            <i class="material-icons medium">group</i>
                            <h5>390 MILLION</h5>
                            <h6>unique monthly visitors**</h6>
                        </div>
                        <div class="clearfix"></div>
                        <div class="ft11 col s12 pdt30 center">*Roofpik Sites, worldwide, May 2017
                            <br> **Source: Roofpik log files, 2017</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->
    <div class="clearfix"></div>
    <!-- our Partners section start -->
    <section class="pd48">
        <div class="container">
            <h5 class="center mgtn"> Our Partners  </h5>
            <p class="center ft14 grey-text">Lorem ipsum is simmply dummy text</p>
            <div class="row mgbn mgt10 mgln mgrn center">
                <div class="col s12 m6 l3 black xsmgt20">
                    <img src="images/partners/fastfox-logo.png">
                </div>
                <div class="col s12 m6 l3 xsmgt20">
                    <img src="images/partners/99acres.png">
                </div>
                <div class="col s12 m6 l3 xsmgt20">
                    <img src="images/partners/magicbricks.png">
                </div>
                <div class="col s12 m6 l3 xsmgt20">
                    <img src="images/partners/triplogo.png">
                </div>
            </div>
        </div>
    </section>
    <!-- our Partners section end -->
    <!-- call me back section start -->
    <section class="white pd48">
        <div class="container">
            <div class="row mgln mgrn">
                <div class="col s12 center">
                    <h3>Why advertise on Roofpik?</h3>
                    <p>Please leave your contact details below, and
                        <br> we’ll be in touch within 24 hours</p>
                </div>
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s4 m2 offset-m1">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">City</label>
                        </div>
                        <div class="input-field col s4 m2">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">lorem ipsum</label>
                        </div>
                        <div class="input-field col s4 m2">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">Your full name</label>
                        </div>
                        <div class="input-field col s4 m2">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">Email</label>
                        </div>
                        <div class="input-field col s4 m2">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">Phone Number</label>
                        </div>
                    </div>
                </div>
                <div class="col s12 center"><a href="" class="btn">Call me back</a></div>
            </div>
        </div>
    </section>
    <!-- call me back section end -->
    <script>
    $(document).ready(function() {
        $('.parallax').parallax();

    });
    </script>
</div>
