<div class="mgt65">
    <style>
    .about-values {
        margin: 50px 0;
        /*background: rgba(58, 58, 58, 0.49);*/
    }
    
    .about-values h4 {
        margin: 0;
        padding: 10px;
        background: rgba(58, 58, 58, 0.49);
    }
    </style>
    <section class="about-banner">
        <div id="aboutUs-banner" class="parallax-container">
            <div class="section no-pad-bot">
                <div class="container mar-t-200">
                    <div class="row center">
                        <!-- <h5 class="header col s12 white-text">WELCOME TO</h5> -->
                        <h1 class="header center dgyt ">RE-IMAGINE THE FUTURE OF PROPERTY SEARCH</h1>
                    </div>
                    <div class="row center">
                        <a href="#" id="download-button" class="btn b">Search Projects</a>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row linkroot mgan linkabs_abt">
                <nav class="bgtrans">
                    <div class="nav-wrapper bgtrans">
                        <div class="col s12">
                            <a href="/#/home" class="breadcrumb">Home</a>
                            <a href="" class="breadcrumb">About Us</a>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="parallax"><img src="images/v1/about/main-bg.jpg" alt="About Roofpik" class="responsive-img"></div>
        </div>
    </section>
    <section class="h-services sec-paddind">
        <div class="container">
            <div class="row over center aboutb mar-b-80">
                <div class="col m4 s12">
                    <div class="z-services">
                        <i class="material-icons medium">beenhere</i>
                        <h5>Reliable Property <b class="red-text">Reviews</b></h5>
                        <p>We’re pushing the boundaries of user reviews to help residents share real experiences of buying, renting, or investing in property. With a comprehensive verification process in place, we ensure that nothing but genuine opinions reach you.</p>
                    </div>
                </div>
                <div class="col m4 s12">
                    <div class="z-services">
                        <i class="material-icons medium">terrain</i>
                        <h5><b class="green-text">Guide</b> to Localities</h5>
                        <p>We’re about more than just real estate projects. With thousands of reviews about neighbourhoods and localities in leading Indian cities, Roofpik helps you shortlist and select the best areas to work, live, and play.</p>
                    </div>
                </div>
                <div class="col m4 s12">
                    <div class="z-services">
                        <i class="material-icons medium">insert_chart</i>
                        <h5><b class="orange-text">Data</b> driven Insights</h5>
                        <p>We gather and investigate data based on structured parameters to give you a transparent evaluation of projects. This is done via statistical rankings of properties, comparative listings of localities, and refined search results.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <section>
        <div class="container">
            <div class="row valign-wrapper">
                <div class="col s12 m5 l4 write xswdfull valign">
                    <h3>We make a difference</h3>
                    <p>At <span class="bluel-text b"> Roofpik </span>, we decided to disrupt the status quo by bringing to life a hub for genuine and verified user reviews. Whether you’re investing, buying, or renting, we help you <b>make the best property choice based on recommendations, advice, and reviews</b> from thousands of people like you.
                    </p>
                </div>
                <div class="col s12 m7 l7 right xsmgt20 xsnone">
                    <img class="responsive-img" src="images/v1/about/difference.jpg">
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <section>
        <div class="container mgt65">
            <div class="row  mar-b-40 leading-charge mgb50">
                <div class="col s12 mar-b-20 center">
                    <h4>Who’s Leading The Charge?</h4>
                </div>
                <div class="col m5 offset-m1 s12">
                    <figure class="waves-effect waves-block waves-light">
                        <img class="responsive-img" src="images/arpit.jpg">
                        <figcaption>
                            <h6 class="grey-text text-darken-4">Arpit Mittal – The Tech Maestro</h6>
                            <p>Co-Founder <a href="#" target="_blank" class="b">in</a></p>
                            <p><strong>Arpit</strong> brings rich technical experience and a passion for all things entrepreneurial. His previous venture, Edcited.com, was acquired by VC-funded company, Co-Cubes.</p>
                            <p>He is the force that keeps Roofpik on the cutting edge of technology and product innovation.</p>
                            <p class="ft12">
                                <i>  "I work because I love to not because I have to. 
Arpit believes in never giving up. He says if you dare to dream Big, you will fail multiple times but all you need to do is have courage to pursue them. When no one believes in you, you never loose faith but to Dream Bigger.
#Geek,#courage# leader with a strong believer of creating a success
"
 </i>
                            </p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col m5 s12">
                    <figure class="waves-effect waves-block waves-light">
                        <img class="responsive-img" src="images/kanika.jpg">
                        <figcaption>
                            <h6 class="grey-text text-darken-4">Kanika Katoch – The Talent Maven</h6>
                            <p>Co-Founder <a href="#" target="_blank" class="b">in</a></p>
                            <p><strong>Kanika</strong> has to her credit close to a decade of lending value to reputable brands such KPMG, Convergys and Oracle through her expertise in human resources and strategic business planning.</p>
                            <p><strong>At Roofpik</strong> Kanika spearheads the People Strategy and fosters operational excellence.</p>
                            <p class="ft12">
                                <i>  "Kanika believes in Smart Work. She firmly builds the high driven performance culture where your performance is measured by strategic application and results and not by the number of hours in office. #Smart work,#creativity#passionate leader with a tinge of honest helping hand."</i></p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- section start -->
    <section>
        <div class="parallax-container busin_bnht busin_xs mg60">
            <div class="parallax">
                <img src="images/v1/about/fall-forward.jpg" class="abs responsive-img">
            </div>
            <div class="row mgbn white-text bgblack_tr pd48 wdfull abs htfull">
                <div class="container">
                    <div class="row mgbn center">
                        <div class="col s12">
                            <h5 class="ft17 mgtn">Management Belief</h5>
                            <h2>FALL <span class="redt">FORWARD</span></h2>
                            <h5>"You hang around a barber shop, sooner or later you are going to get a haircut"
                                 </h5>
                            <p>DENZEL WASHINGTON</p>
                        </div>
                        <div class="col s12 m4 about-values">
                            <h4 class="flow-text">Never be discouraged
                                </h4>
                        </div>
                        <div class="col s12 m4 about-values">
                            <h4 class="flow-text">Never hold back
                                </h4>
                        </div>
                        <div class="col s12 m4 about-values">
                            <h4 class="flow-text"> Give everything you got</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->
    <div class="clearfix"></div>
    <!-- call me back section start -->
    <section class="white pd48">
        <div class="container">
            <div class="row mgln mgrn">
                <div class="col s12 center">
                    <h3>Get in Touch</h3>
                    <p>Please leave your contact details below, and
                        <br> we’ll be in touch within 24 hours</p>
                </div>
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s4 m4">
                            <input id="user_name" type="text" class="validate" required ng-model="data.name">
                            <label for="user_name">Name</label>
                        </div>
                        <div class="input-field col s4 m4">
                            <input id="user_phone" type="text" class="validate" required ng-model="data.phone">
                            <label for="user_phone">Phone Number</label>
                        </div>
                        <div class="input-field col s4 m4">
                            <input id="user_email" type="text" class="validate" required ng-model="data.email">
                            <label for="user_email">Email</label>
                        </div>
                    </div>
                </div>
                <div class="col s12 center"><a class="btn" ng-click="sendEnquiry()">Call me back</a></div>
            </div>
        </div>
    </section>
    <!-- call me back section end -->
    <script>
    $(document).ready(function() {
        $('.parallax').parallax();

    });
    </script>
</div>
