<div>
    <section class="mgt45">
        <div class="row linkroot mgan">
            <nav class="bgtrans">
                <div class="nav-wrapper bgtrans">
                    <div class="col s12">
                        <a href="/#/home" class="breadcrumb">Home</a>
                        <a href="" class="breadcrumb">Take The Pladge</a>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <section class="pd48 grey lighten-5">
        <div class="row center">
            <h5>I Pledge!</h5>
            <p>Share your property experience to grab huge discounts and exciting deals. </p>
        </div>
        <div class="row mgan pda10">
            <div class="col s12 m4 l2 boxbtnoff">
                <a href="" class="card cardhov block grey-text text-darken-2">
                    <div class="row">
                        <div class="col s12 no-padding relative homefiximg">
                            <img src="images/img-offers/restaurants.jpg" class="responsive-img">
                            <div class="truncate center pda10 ft12 col s12">
                                <b>Restaurants</b>
                                <p class="truncate mgan">sub text this is simmply dummy text</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m4 l2 boxbtnoff">
                <a href="" class="card cardhov block grey-text text-darken-2">
                    <div class="row">
                        <div class="col s12 no-padding relative homefiximg">
                            <img src="images/img-offers/Cinemas.jpg" class="responsive-img">
                            <div class="truncate center pda10 ft12 col s12 no-padding">
                                <b>Cinemas</b>
                                <p class="truncate mgan">sub text this is simmply dummy text</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m4 l2 boxbtnoff">
                <a href="" class="card cardhov block grey-text text-darken-2">
                    <div class="row">
                        <div class="col s12 no-padding relative homefiximg">
                            <img src="images/img-offers/hotel.jpg" class="responsive-img">
                            <div class="truncate center pda10 ft12 col s12 no-padding">
                                <b>Cinemas</b>
                                <p class="truncate mgan">sub text this is simmply dummy text</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m4 l2 boxbtnoff">
                <a href="" class="card cardhov block grey-text text-darken-2">
                    <div class="row">
                        <div class="col s12 no-padding relative homefiximg">
                            <img src="images/img-offers/spa.jpg" class="responsive-img">
                            <div class="truncate center pda10 ft12 col s12 no-padding">
                                <b>Cinemas</b>
                                <p class="truncate mgan">sub text this is simmply dummy text</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m4 l2 boxbtnoff">
                <a href="" class="card cardhov block grey-text text-darken-2">
                    <div class="row">
                        <div class="col s12 no-padding relative homefiximg">
                            <img src="images/img-offers/shopping.jpg" class="responsive-img">
                            <div class="truncate center pda10 ft12 col s12 no-padding">
                                <b>Cinemas</b>
                                <p class="truncate mgan">sub text this is simmply dummy text</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m4 l2 boxbtnoff">
                <a href="" class="card cardhov block grey-text text-darken-2">
                    <div class="row">
                        <div class="col s12 no-padding relative homefiximg">
                            <img src="images/img-offers/healt-and-fitness.jpg" class="responsive-img">
                            <div class="truncate center pda10 ft12 col s12 no-padding">
                                <b>Cinemas</b>
                                <p class="truncate mgan">sub text this is simmply dummy text</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m4 l2 boxbtnoff">
                <a href="" class="card cardhov block grey-text text-darken-2">
                    <div class="row">
                        <div class="col s12 no-padding relative homefiximg">
                            <img src="images/img-offers/healt-and-fitness.jpg" class="responsive-img">
                            <div class="truncate center pda10 ft12 col s12 no-padding">
                                <b>Cinemas</b>
                                <p class="truncate mgan">sub text this is simmply dummy text</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m4 l2 boxbtnoff">
                <a href="" class="card cardhov block grey-text text-darken-2">
                    <div class="row">
                        <div class="col s12 no-padding relative homefiximg">
                            <img src="images/img-offers/healt-and-fitness.jpg" class="responsive-img">
                            <div class="truncate center pda10 ft12 col s12 no-padding">
                                <b>Cinemas</b>
                                <p class="truncate mgan">sub text this is simmply dummy text</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m4 l2 boxbtnoff">
                <a href="" class="card cardhov block grey-text text-darken-2">
                    <div class="row">
                        <div class="col s12 no-padding relative homefiximg">
                            <img src="images/img-offers/healt-and-fitness.jpg" class="responsive-img">
                            <div class="truncate center pda10 ft12 col s12 no-padding">
                                <b>Cinemas</b>
                                <p class="truncate mgan">sub text this is simmply dummy text</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m4 l2 boxbtnoff">
                <a href="" class="card cardhov block grey-text text-darken-2">
                    <div class="row">
                        <div class="col s12 no-padding relative homefiximg">
                            <img src="images/img-offers/healt-and-fitness.jpg" class="responsive-img">
                            <div class="truncate center pda10 ft12 col s12 no-padding">
                                <b>Cinemas</b>
                                <p class="truncate mgan">sub text this is simmply dummy text</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m4 l2 boxbtnoff">
                <a href="" class="card cardhov block grey-text text-darken-2">
                    <div class="row">
                        <div class="col s12 no-padding relative homefiximg">
                            <img src="images/img-offers/healt-and-fitness.jpg" class="responsive-img">
                            <div class="truncate center pda10 ft12 col s12 no-padding">
                                <b>Cinemas</b>
                                <p class="truncate mgan">sub text this is simmply dummy text</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m4 l2 boxbtnoff">
                <a href="" class="card cardhov block grey-text text-darken-2">
                    <div class="row">
                        <div class="col s12 no-padding relative homefiximg">
                            <img src="images/img-offers/healt-and-fitness.jpg" class="responsive-img">
                            <div class="truncate center pda10 ft12 col s12 no-padding">
                                <b>Cinemas</b>
                                <p class="truncate mgan">sub text this is simmply dummy text</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m4 l2 boxbtnoff">
                <a href="" class="card cardhov block grey-text text-darken-2">
                    <div class="row">
                        <div class="col s12 no-padding relative homefiximg">
                            <img src="images/img-offers/healt-and-fitness.jpg" class="responsive-img">
                            <div class="truncate center pda10 ft12 col s12 no-padding">
                                <b>Cinemas</b>
                                <p class="truncate mgan">sub text this is simmply dummy text</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m4 l2 boxbtnoff">
                <a href="" class="card cardhov block grey-text text-darken-2">
                    <div class="row">
                        <div class="col s12 no-padding relative homefiximg">
                            <img src="images/img-offers/healt-and-fitness.jpg" class="responsive-img">
                            <div class="truncate center pda10 ft12 col s12 no-padding">
                                <b>Cinemas</b>
                                <p class="truncate mgan">sub text this is simmply dummy text</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m4 l2 boxbtnoff">
                <a href="" class="card cardhov block grey-text text-darken-2">
                    <div class="row">
                        <div class="col s12 no-padding relative homefiximg">
                            <img src="images/img-offers/healt-and-fitness.jpg" class="responsive-img">
                            <div class="truncate center pda10 ft12 col s12 no-padding">
                                <b>Cinemas</b>
                                <p class="truncate mgan">sub text this is simmply dummy text</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m4 l2 boxbtnoff">
                <a href="" class="card cardhov block grey-text text-darken-2">
                    <div class="row">
                        <div class="col s12 no-padding relative homefiximg">
                            <img src="images/img-offers/healt-and-fitness.jpg" class="responsive-img">
                            <div class="truncate center pda10 ft12 col s12 no-padding">
                                <b>Cinemas</b>
                                <p class="truncate mgan">sub text this is simmply dummy text</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m4 l2 boxbtnoff">
                <a href="" class="card cardhov block grey-text text-darken-2">
                    <div class="row">
                        <div class="col s12 no-padding relative homefiximg">
                            <img src="images/img-offers/healt-and-fitness.jpg" class="responsive-img">
                            <div class="truncate center pda10 ft12 col s12 no-padding">
                                <b>Cinemas</b>
                                <p class="truncate mgan">sub text this is simmply dummy text</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row mgln mgrn center">
            <a href="/#/pladge" class="btn pdl30 pdr30 red">Take the Pledge</a>
        </div>
    </section>
    <script type="text/javascript">
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
    });
    </script>
    <!-- controllers -->
</div>
