<div>
    <div class="parallax-container htv100">
        <div class="parallax"> <img src="images/home/home-bg.jpg"></div>
        <div class="transformfix center">
            <h3 class="white-text text-sd mgbn">Roofpik <b>Business Advantage</b></h3>
            <h5 class="white-text text-sd mgbn">Access industry-leading tools that empower you to attract and engage with potential guests worldwide — and influence their booking decisions.</h5>
        </div>
    </div>
    <div class="row mgbn white">
        <div class="container">
            <div class="row linkroot mgbn mgln mgrn">
                <nav>
                    <div class="nav-wrapper">
                        <div class="col s12">
                            <a href="" class="breadcrumb">Home</a>
                            <a href="" class="breadcrumb">Verified</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="row mgbn white">
        <div class="container">
            <div class="row mgbn">
                <div class="col s12 center pdlr100">
                    <h5>Exclusively for Accommodations</h5>
                    <p>Business Advantage empowers you to better market your property to potential guests, impact booking decisions, differentiate from competitors, and measure and improve your online reputation.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mgbn bgwhite_tr">
        <div class="container">
            <div class="row mgbn pd48 xspdt10">
                <div class="col s12 m6 pdt30 xspdt10">
                    <h5>Why does Roofpik Verify accounts?</h5>
                    <p>We Verify accounts to establish the authenticity of key and active foodies on Roofpik. While we keep tweaking our prerequisites for Verification,</p>
                </div>
                <div class="col s12 m6 pdl30 xspdl10">
                    <img src="images/general/dumm.png" class="responsive-img">
                </div>
            </div>
        </div>
    </div>
    <div class="row mgbn white">
        <div class="container">
            <div class="row mgbn pd48 xspdt10">
                <div class="col s12 m6 pdt30 xspdt10">
                    <h5>Why does Roofpik Verify accounts?</h5>
                    <p>We Verify accounts to establish the authenticity of key and active foodies on Roofpik. While we keep tweaking our prerequisites for Verification,</p>
                </div>
                <div class="col s12 m6 pdl30 xspdl10">
                    <img src="images/general/analytics.png" class="responsive-img">
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container busin_bnht busin_xs">
        <div class="parallax">
            <img src="images/home/writebg.jpg" class="abs">
        </div>
        <div class="row mgbn white-text bgblack_tr pd48 wdfull abs htfull">
            <div class="container">
                <div class="row mgbn center">
                    <div class="col s12">
                        <h4>Build Your Business with the World's Largest Travel Site*</h4>
                    </div>
                    <div class="col s12 m4">
                        <i class="material-icons medium">group</i>
                        <h5>390 MILLION</h5>
                        <h6>unique monthly visitors**</h6>
                    </div>
                    <div class="col s12 m4">
                        <i class="material-icons medium">group</i>
                        <h5>390 MILLION</h5>
                        <h6>unique monthly visitors**</h6>
                    </div>
                    <div class="col s12 m4">
                        <i class="material-icons medium">group</i>
                        <h5>390 MILLION</h5>
                        <h6>unique monthly visitors**</h6>
                    </div>
                    <div class="ft11 col s12 pdt30 center">*Roofpik Sites, worldwide, May 2017
                        <br> **Source: Roofpik log files, 2017</div>
                </div>
            </div>
        </div>
    </div>
   <!-- call me back section start -->
    <section class="white pd48">
        <div class="container">
            <div class="row mgln mgrn">
                <div class="col s12 center">
                    <h3>Why advertise on Roofpik?</h3>
                    <p>Please leave your contact details below, and
                        <br> we’ll be in touch within 24 hours</p>
                </div>
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s4 m2 offset-m1">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">City</label>
                        </div>
                        <div class="input-field col s4 m2">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">lorem ipsum</label>
                        </div>
                        <div class="input-field col s4 m2">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">Your full name</label>
                        </div>
                        <div class="input-field col s4 m2">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">Email</label>
                        </div>
                        <div class="input-field col s4 m2">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">Phone Number</label>
                        </div>
                    </div>
                </div>
                <div class="col s12 center"><a href="" class="btn">Call me back</a></div>
            </div>
        </div>
    </section>
      <!-- call me back section end -->

    <script>
    $(document).ready(function() {
        $('ul.tabs').tabs();
        Materialize.updateTextFields();

        $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 240
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true // Choose whether you can drag to open on touch screens
        });
        $('select').material_select();
        $('.slider').slider();
        $('.dropdown-button').dropdown();
        $('.carousel').carousel();
        $('.modal').modal();
        $('.parallax').parallax();

    });
    </script>
</div>