<div>
    <div class="parallax-container htv100">
        <div class="parallax"> <img src="https://image.shutterstock.com/z/stock-photo-real-estate-broker-and-customer-shaking-hands-after-signing-a-contract-real-estate-home-loan-and-580092196.jpg" class="responsive-img"></div>
        <div class="transformfix center">
            <h3 class=" mgbn">Roofpik <b>Business Advantage</b></h3>
            <h5 class=" mgbn">Multiply your income 4x by becoming a partner with the largest real estate reviewing platform.
</h5>
        </div>
    </div>
   
    <div class="row mgbn white">
        <div class="container">
            <div class="row mgbn">
                <div class="col s12 center pdlr100">
                    <h5>World’s First Property Reviewing Platform</h5>
                    <p>Multiply your income 4x by becoming a partner with the largest real estate reviewing platform.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <section class="pd48">
        <div class="row">
            <div class="container">
                <div class="row mgbn">
                    <div class="col s12 center">
                        <h3> Who all can get Associated?</h3>
                    </div>
                </div>
                <h5>Channel Partners</h5>
                <div class="row bodt bodb busi_channel valign-wrapper center">
                    <div class="col s12 m4 pdt20 pdb20  bod-right relative">
                        <i class="material-icons medium">star</i>
                        <h5 class="ft17">Brokers</h5>
                    </div>
                    <div class="col s12 m4 pdt20 pdb20 bod-right relative">
                        <i class="material-icons medium">show_chart</i>
                        <h5 class="ft17">Furniture Rental</h5>
                    </div>
                    <div class="col s12 m4 pdt20 pdb20 bod-right relative">
                        <i class="material-icons medium">list</i>
                        <h5 class="ft17">Movers and Packers</h5>
                    </div>
                    <div class="col s12 m4 pdt20 pdb20 bod-right relative">
                        <i class="material-icons medium">list</i>
                        <h5 class="ft17">Interior Designers</h5>
                    </div>
                    <div class="col s12 m4 pdt20 pdb20  relative">
                        <i class="material-icons medium">list</i>
                        <h5 class="ft17 mgbn">Home Related Service Company</h5>
                        <p class="mgtn"> (Cleaning, Plumbing, electricians, etc)</p>
                    </div>
                </div>
                <h5>Coupon Partners</h5>
                <div class="row center busi_channel bodt bodb valign-wrapper">
                    <div class="col s12 m4 pdt20 pdb20 bod-right relative">
                        <i class="material-icons medium">star</i>
                        <h5 class="ft17">Restaurants</h5>
                    </div>
                    <div class="col s12 m4 pdt20 pdb20 bod-right relative">
                        <i class="material-icons medium">show_chart</i>
                        <h5 class="ft17">Shopping Outlets</h5>
                    </div>
                    <div class="col s12 m4 pdt20 pdb20 bod-right relative">
                        <i class="material-icons medium">list</i>
                        <h5 class="ft17">Spa and Salons</h5>
                    </div>
                    <div class="col s12 m4 pdt20 pdb20 bod-right relative">
                        <i class="material-icons medium">list</i>
                        <h5 class="ft17">Gyms</h5>
                    </div>
                    <div class="col s12 m4 pdt20 pdb20 relative">
                        <i class="material-icons medium">list</i>
                        <h5 class="ft17">Furniture Outlets</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="row mgbn bgwhite_tr">
        <div class="container">
            <div class="row mgbn">
                <div class="col s12 center">
                    <h3>Why become our partner?</h3>
                </div>
            </div>
            <div class="row mgbn pd48 xspdt10 valign-wrapper">
                <div class="col s12 m6 pdt30 xspdt10">
                    <h5>Get Relevant and Verified Leads:</h5>
                    <p>Pre Screened and Verified Customers with their preferences about budget, apartment size, locality, move in time etc</p>
                </div>
                <div class="col s12 m6 pdl30 xspdl10">
                    <img src="https://image.shutterstock.com/z/stock-vector-face-recognition-system-verifying-suspect-in-the-crowd-270201404.jpg" class="responsive-img">
                </div>
            </div>
             <div class="row mgbn pd48 xspdt10  valign-wrapper">
             <div class="col s12 m6 pdl30 xspdl10">
                    <img src="https://image.shutterstock.com/z/stock-vector-color-circles-flat-icons-in-a-speaker-shape-digital-marketing-social-media-network-computer-291634679.jpg" class="responsive-img">
                </div>
                <div class="col s12 m6 pdt30 xspdt10">
                    <h5>Improve your discoverability:</h5>
                    <p>Increase your footfall and drive more revenue by boosting the visibility to more relevant audiences</p>
                </div>
                
            </div>
        </div>
    </div>

        <section>
        <div class="row mgbn white pd48">
            <div class="container">
                <div class="row mgbn business_sec4 center">
                    <div class="col s12 m3">
                        <img src="https://image.shutterstock.com/z/stock-vector-logo-of-information-technology-concept-of-logo-in-the-form-of-a-bulb-with-circuit-board-264927923.jpg" alt="">
                        <h5> Information Platform for Projects & Localities:</h5>
                        <p>Showcase readily available validated project information with customer reviews and real project pictures</p>
                    </div>
                    <div class="col s12 m3">
                        <img src="https://image.shutterstock.com/z/stock-vector-pointing-hand-and-five-stars-customer-reviews-rating-user-feedback-concept-modern-flat-design-313706699.jpg" alt="">
                        <h5>Improving Credibility:</h5>
                        <p>A platform for you to get rated by customers for building trust with new customers</p>
                    </div>
                    <div class="col s12 m3">
                        <img src="https://image.shutterstock.com/z/stock-vector-business-training-and-learning-single-icon-vector-illustration-357035702.jpg" alt="">
                        <h5>Preferred Partner Program:</h5>
                        <p>Maximise your reach by featuring on top of the list with our preferred partner program for selected projects and localities. (Minimum Customer Rating Standards to me Met)</p>
                    </div>
                    <div class="col s12 m3">
                        <img src="https://image.shutterstock.com/z/stock-vector-analytics-infographic-elements-381876622.jpg" alt="">
                        <h5>Analytics:</h5>
                        <p>Get insights about the most in demand projects, localities, sentiment and price trend analysis</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
       <section>
        <div class="row mgbn white pd48">
            <div class="container">
                <div class="row center">
                    <h5>Lead Cost</h5>
                </div>
                <div class="row mgbn busi_leadcost valign-wrapper center">
                    <div class="col s12 m4 pda20">
                    <div class="card">
                        <h2>Economy</h2>
                        <p class="grey-text">Property Rent</p>
                        <div class="price">15,000 Rs</div>
                        <p class="ft17">Cost/Lead(3x Shared) <span>150</span></p>
                        <p class="b">Cost/Exclusive Lead <span>400</span></p>
                        </div>
                    </div>
                    <div class="col s12 m4 pda20">
                    <div class="card">
                        <h2>Mid Range</h2>
                        <p class="grey-text">Property Rent</p>
                        <div class="price">15,000 Rs</div>
                        <p class="ft17">Cost/Lead(3x Shared) <span>300</span></p>
                        <p class="b">Cost/Exclusive Lead <span>800</span></p>
                        </div>
                    </div>
                    <div class="col s12 m4 pda20">
                    <div class="card">
                        <h2>Premium</h2>
                         <p class="grey-text">Property Rent</p>
                        <div class="price">15,000 Rs</div>
                       <p class="ft17">Cost/Lead(3x Shared) <span>500</span></p>
                        <p class="b">Cost/Exclusive Lead <span>1300</span></p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row mgbn white pd48">
            <div class="container">
                <div class="row center">
                    <h5>Pricing</h5>
                </div>
                <div class="row mgbn busi_packages center">
                    <div class="col s12 m3 card">
                        <h2> Basic</h2>
                        <p><em>Showcase readily available </em></p>
                        <div class="price"> 5000 Rs</div>
                        <p class="ft17">No Bonus</p>
                        <p class="b">Discount 0%</p>
                        <button class="btn mgt30">Buy Now</button>
                    </div>
                    <div class="col s12 m3 card">
                        <h2>Silver</h2>
                        <p><em>Showcase readily available </em></p>
                        <div class="price">20,000 Rs</div>
                       <p class="ft17"> 3,750 Rs Bonus</p>
                        <p class="b">Discount 15%</p>
                        <button class="btn mgt30">Buy Now</button>
                    </div>
                    <div class="col s12 m3 card">
                        <h2>Gold</h2>
                        <p><em>Showcase readily available </em></p>
                        <div class="price">50,000 Rs</div>
                        <p class="ft17">10,000 Rs Bonus</p>
                        <p class="b">Discount 20%</p>
                        <button class="btn mgt30">Buy Now</button>
                    </div>
                    <div class="col s12 m3 card">
                        <h2>Platinum</h2>
                        <p><em>Showcase readily available </em></p>
                        <div class="price">100,000 Rs</div>
                        <p class="ft17">30,000 Rs Bonus</p>
                        <p class="b">Discount 30%</p>
                        <button class="btn mgt30">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- call me back section start -->
    <section class="white pd48">
        <div class="container">
            <div class="row mgln mgrn">
                <div class="col s12 center">
                    <h3>Why advertise on Roofpik?</h3>
                    <p>Please leave your contact details below, and
                        <br> we’ll be in touch within 24 hours</p>
                </div>
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s4 m2 offset-m1">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">City</label>
                        </div>
                        <div class="input-field col s4 m2">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">lorem ipsum</label>
                        </div>
                        <div class="input-field col s4 m2">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">Your full name</label>
                        </div>
                        <div class="input-field col s4 m2">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">Email</label>
                        </div>
                        <div class="input-field col s4 m2">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">Phone Number</label>
                        </div>
                    </div>
                </div>
                <div class="col s12 center"><a href="" class="btn">Call me back</a></div>
            </div>
        </div>
    </section>
    <!-- call me back section end -->
    <script>
    $(document).ready(function() {
        $('ul.tabs').tabs();
        Materialize.updateTextFields();

        $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 240
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true // Choose whether you can drag to open on touch screens
        });
        $('select').material_select();
        $('.slider').slider();
        $('.dropdown-button').dropdown();
        $('.carousel').carousel();
        $('.modal').modal();
        $('.parallax').parallax();

    });
    </script>
</div>
