<div>
    <div class="parallax-container htv100">
        <div class="parallax"> <img src="images/home/home-bg.jpg"></div>
        <div class="transformfix center">
            <h3 class="white-text text-sd mgbn">Roofpik <b>Business Advantage</b></h3>
            <h5 class="white-text text-sd mgbn">Access industry-leading tools that empower you to attract and engage with potential guests worldwide — and influence their booking decisions.</h5>
        </div>
    </div>
    <div class="row mgbn white">
        <div class="container">
            <div class="row linkroot mgbn mgln mgrn">
                <nav>
                    <div class="nav-wrapper">
                        <div class="col s12">
                            <a href="" class="breadcrumb">Home</a>
                            <a href="" class="breadcrumb">Verified</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <section class="pd48">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col s12 center">
                        <h3> Who all can get Associated?</h3>
                    </div>
                    <div class="col s8 offset-s2 pda20 mgt20">
                        <hr class="busi_hr">
                        <div class="row busi_circle">
                            <div class="col s4 pdln">
                            <i class="circle active material-icons">check</i>
                            <br>
                   <span class="busi_mgl40"> Category Selection</span>
                            </div>
                            <div class="col s4 center"><i class="circle"></i>
<br>
                   <span> Business info </span>
                            </div>
                            <div class="col s4 right-align pdrn"><i class="circle"></i>
<br>
                   <span class="busi_mgr40">Contact info</span>
                            </div>
                        </div>
                    </div>
                </div>
<!-- section 1 select start -->
                <section>
                    <h5>Channel Partners</h5>
                    <div class="row busi_channel_form valign-wrapper center">
                        <a href="" class="col s12 m4 pdt20 pdb20 active">
                            <i class="material-icons check">check</i>
                            <i class="material-icons medium">star</i>
                            <h5 class="heading">Brokers</h5>
                        </a>
                        <a class="col s12 m4 pdt20 pdb20">
                            <i class="material-icons check">check</i>
                            <i class="material-icons medium">show_chart</i>
                            <h5 class="heading">Furniture Rental</h5>
                        </a>
                        <a class="col s12 m4 pdt20 pdb20">
                            <i class="material-icons check">check</i>
                            <i class="material-icons medium">list</i>
                            <h5 class="heading">Movers and Packers</h5>
                        </a>
                        <a class="col s12 m4 pdt20 pdb20">
                            <i class="material-icons check">check</i>
                            <i class="material-icons medium">list</i>
                            <h5 class="heading">Interior Designers</h5>
                        </a>
                        <a class="col s12 m4 pdt20 pdb20">
                            <i class="material-icons check">check</i>
                            <i class="material-icons medium">list</i>
                            <h5 class="heading mgbn">Home Related Service Company</h5>
                            <p class="mgtn"> (Cleaning, Plumbing, electricians, etc)</p>
                        </a>
                    </div>
                    <h5>Coupon Partners</h5>
                    <div class="row center busi_channel_form valign-wrapper">
                        <a class="col s12 m4 pdt20 pdb20">
                            <i class="material-icons check">check</i>
                            <i class="material-icons medium">star</i>
                            <h5 class="heading">Restaurants</h5>
                        </a>
                        <a class="col s12 m4 pdt20 pdb20">
                            <i class="material-icons check">check</i>
                            <i class="material-icons medium">show_chart</i>
                            <h5 class="heading">Shopping Outlets</h5>
                        </a>
                        <a class="col s12 m4 pdt20 pdb20">
                            <i class="material-icons check">check</i>
                            <i class="material-icons medium">list</i>
                            <h5 class="heading">Spa and Salons</h5>
                        </a>
                        <a class="col s12 m4 pdt20 pdb20">
                            <i class="material-icons check">check</i>
                            <i class="material-icons medium">list</i>
                            <h5 class="heading">Gyms</h5>
                        </a>
                        <a class="col s12 m4 pdt20 pdb20">
                            <i class="material-icons check">check</i>
                            <i class="material-icons medium">list</i>
                            <h5 class="heading">Furniture Outlets</h5>
                        </a>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary b">Next <i class="material-icons right">chevron_right</i></button>
                    </div>
                </section>
<!-- section 1 select end -->

<!-- section 2 select start -->
                <section>
                   
                    <div class="row">
                        <button class="btn btn-primary b">Next <i class="material-icons right">chevron_right</i></button>
                    </div>
                </section>
<!-- section 2 select end -->

<!-- section 3 select start -->
                <section>
                   
                    <div class="row">
                        <button class="btn btn-primary b">Next <i class="material-icons right">chevron_right</i></button>
                    </div>
                </section>
<!-- section 3 select end -->



            </div>
        </div>
    </section>
    <script>
    $(document).ready(function() {
        $('ul.tabs').tabs();
        Materialize.updateTextFields();

        $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 240
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true // Choose whether you can drag to open on touch screens
        });
        $('select').material_select();
        $('.slider').slider();
        $('.dropdown-button').dropdown();
        $('.carousel').carousel();
        $('.modal').modal();
        $('.parallax').parallax();

    });
    </script>
</div>
