<div>
    <section class="careers-banner mgt65">
        <div id="careers-ban" class="parallax-container">
            <div class="section no-pad-bot">
                <div class="container">
                    <div class="row center white-text mgt65">
                        <h1 class="header center  mar-zero ">Why Join Us?</h1>
                        <h5 class="header col s12">We are Lead by</h5>
                        <div class="col s12">
                            <div class="row mgt20">
                                <div class="col l4 m12">
                                    <p class="top-values"><b>Passion</b> to create Success</p>
                                </div>
                                <div class="col l4 m12">
                                    <p class="top-values">High Sense of <b>Independance</b></p>
                                </div>
                                <div class="col l4 m12">
                                    <p class="top-values">And Hard-Work <b>beyond failure</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 mgt20">
                            <h5 class="center">What does it take to be a Roofpik Team Member?</h5>
                            <p class="ft15 ">At Roofpik, we hire the smartest, most passionate people who don’t shy away from challenges. We love to encourage our employees to use their time to not just develop their own skills and talents, but also to grow as individuals on their journey with us. If you’re ambitious, have an entrepreneurial streak, and appreciate the difference between smart work and hard work, we want to hear from you. </p>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            <div class="parallax"><img src="images/v1/career/main-bg.jpg" class="responsive-img"></div>
        </div>
    </section>
    <section class="abt">
        <div class="container">
            <div class="row center mgt65">
                <h4>The Building Blocks of Life at Roofpik</h4>
            </div>
            <div class="row valign-wrapper">
                <div class="col m5 s12">
                    <h5 class="text1">Development</h5>
                    <p>We are focused on creating a work environment that thrives on discussions, reasoning, and actions that help solve real problems. Roofians are driven by a high sense of independence to confidently spearhead unconventional approaches to everyday challenges. </p>
                </div>
                <div class="col m5  offset-m1 s12">
                    <img src="images/v1/career/development.jpg" class="responsive-img">
                </div>
            </div>
            <div class="row valign-wrapper">
                <div class="col m5 s12">
                    <img src="images/v1/career/creativity.jpg" class="responsive-img">
                </div>
                <div class="col offset-m1 m5 s12">
                    <h5 class="text1">Creativity</h5>
                    <p>We believe that empowered people can redefine the way a problem is solved. That’s precisely why creativity through empowerment is an inseparable part of life at Roofpik. At Roofpik, creativity also means striving to be counted among the best and the brightest.</p>
                </div>
            </div>
            <div class="row valign-wrapper">
                <div class="col  m5 s12">
                    <h5 class="text1">Culture</h5>
                    <p>At Roofpik, professionalism, empowerment, honesty, accountability, and team work are more than just buzzwords – they are our core values and a way of life. The Roofpik culture is all about sharing the same enthusiasm for our colleagues’ ambitions as we do for our own.</p>
                </div>
                <div class="col offset-m1 m5 s12">
                    <img src="images/v1/career/culture.jpg" class="responsive-img">
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <section class="grid center">
        <div class="mar-t-40">
            <div class="row">
                <h4>Behind the Scenes</h4>
                <h6>We have a passion for great ideas. And we put these ideas to work while having a lot of fun all along. Here’s a sneak peek.</h6>
            </div>
            <div class="row">
                <div class="col m3 s12 pdlrn">
                    <div class="row">
                        <div class="col s12 pdlrn">
                            <img class="materialboxed responsive-img" src="images/grid2.jpg" data-caption="A picture of some deer and tons of trees">
                        </div>
                        <div class="col s12 pdlrn">
                            <img class="materialboxed responsive-img" src="images/grid3.jpg" data-caption="A picture of some deer and tons of trees">
                        </div>
                    </div>
                </div>
                <div class="col m6 s12 pdlrn">
                    <div class="row">
                        <div class="col s12 pdlrn">
                            <img class="materialboxed responsive-img" src="images/grid1.jpg" data-caption="A picture of some deer and tons of trees">
                        </div>
                    </div>
                </div>
                <div class="col m3 s12 pdlrn">
                    <div class="row">
                        <div class="col s12 pdlrn">
                            <img class="materialboxed responsive-img" src="images/grid2.jpg" data-caption="A picture of some deer and tons of trees">
                        </div>
                        <div class="col s12 pdlrn">
                            <img class="materialboxed responsive-img" src="images/grid3.jpg" data-caption="A picture of some deer and tons of trees">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <section class="team_arya mar-t-40 mar-t-80">
        <div class="container center">
            <div class="row">
                <div class="col s12">
                    <h4>Through the Team Roofpik Lens</h4></div>
            </div>
            <img class="quote" src="images/quote.png">
            <div class="row">
                <div class="col l8 offset-l2 m10 offset-m1 s12">
                    <div class="rina">
                        <p class="animated fadeIn">
                            <b>Why Rina loves her job</b>
                            <br> “I love the work environment and different work styles I’m gaining exposure to at Roofpik. It’s great to be part of an organization that has helped me explore my potential as a Marketing Specialist.”</p>
                        <p class="ft13 grey-text text-darken-2">
                            <b> What Rina is all about</b>
                            <br> Rina believes in applying the Roofpik values of professionalism, honesty, empowerment, accountability, and teamwork not just at work but everywhere life takes her. </p>
                    </div>
                    <div class="barun hide">
                        <p class="animated fadeIn">
                            <b>Why Barun loves his job</b>
                            <br> “I love challenging my limits with the help and guidance of my seniors and peers at work. The most motivating line for me was when the company’s co-founder, Arpit Mittal, said, “We will become rich together.”</p>
                        <p class="ft13 grey-text text-darken-2">
                            <b> What Barun is all about </b>
                            <br>Barun thrives as a team player and takes pride in being reliable and flexible at work. An Indian to the hilt, he flaunts his patriotism with pride. </p>
                    </div>
                    <div class="vishakha hide mgb30">
                        <p class="animated fadeIn">
                            <b>Why Vishakha loves her job</b>
                            <br> “I love the way we are being guided, motivated, encouraged, and appreciated at Roofpik. It’s rewarding since I get opportunities to bring in the passion, the support, the grace and ambition to reality at my job.”</p>
                        <p class="ft13 grey-text text-darken-2">
                            <b> What Vishakha is all about</b>
                            <br> I possess talent and energy and will do what it takes to get the job done. I choose to empower myself with challenges to be a successful women entrepreneur tomorrow. </p>
                    </div>
                    <div class="rahul hide">
                        <p class="animated fadeIn">
                            <b>Why Rahul loves his job</b>
                            <br>“Being a part of Roofpik brings along a great mix of challenges, appreciation, fun, and meaningful interactions. I love that every day is different at Roofpik.”</p>
                        <p class="ft13 grey-text text-darken-2">
                            <b>What Rahul is all about</b>
                            <br>Rahul believes that, “Hard work beats talent when talent doesn’t work hard.”</p>
                    </div>
                    <div class="binya hide">
                        <p class="animated fadeIn">
                            <b>Why Binya loves his job</b>
                            <br>“Not a monotonous working environment, thrives on new challenges and exploring a whole new dimension on Human potential management.”</p>
                        <p class="ft13 grey-text text-darken-2">
                            <b>What Binya is all about</b>
                            <br>Binya is a survivor and her motto is “You can always Do More than you think you can”. She firmly believes when things go wrong, take a step back and ask yourself ”how big of a deal is this, really?”Is it really,truly worth stressing over?Allow things to just be the way they are and yourself to just feel what you feel, so that you can move onto greater things more quickly. </p>
                    </div>
                </div>
            </div>
            <div class="row team_images mgt20 valign-wrapper">
                <div class="col s3">
                    <div><img class="lazy rina transformImg zeroOpacity" src="images/rina.jpg"></div>
                    <div class="info rinaInfo">
                        <h4 class="animated fadeIn"><b>Rina Kumari</b><br>
                        <span class="ft13">Marketing Specialist</span></h4>
                    </div>
                </div>
                <div class="col s3">
                    <div><img class="lazy barun" src="images/barun-singh.jpg"></div>
                    <div class="info barunInfo hide">
                        <h4 class="animated fadeIn"><b>Barun Singh</b><br><span class="ft13">Research Analyst</span></h4>
                    </div>
                </div>
                <div class="col s3">
                    <div><img class="lazy vishakha" src="images/Vishakha.jpg"></div>
                    <div class="info vishakhaInfo hide">
                        <h4 class="animated fadeIn"><b>Vishakha Talaich</b><br><span class="ft13">Business Development Specialist</span></h4>
                    </div>
                </div>
                <div class="col s3">
                    <div><img class="lazy rahul" src="images/rahul.jpg"></div>
                    <div class="info rahulInfo hide">
                        <h4 class="animated fadeIn"><b>Rahul Chopra</b><br><span class="ft13">Events & Marketing Executive</span></h4>
                    </div>
                </div>
                <div class="col s3">
                    <div><img class="lazy binya" src="images/binya.jpg"></div>
                    <div class="info binyaInfo hide">
                        <h4 class="animated fadeIn"><b>Binya</b> <br><span class="ft13">[HR & Marketing Executive]</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <section class="openings_card_sec mar-t-40">
        <div class="container">
            <div class="row center">
                <div class="col s10 offset-s1">
                    <h4 class="mar-b-40">Explore Possibilities at Roofpik</h4>
                    <h6>If your left brain meets your right and you believe what you do is more important than who you’re doing it for, check out the opportunities listed below. This could be the beginning of exciting possibilities. </h6>
                    <p class="center">Looking for a different role?
                        <br> Drop us a message with your CV at <a href="mailto:contact@roofpik.com">contact@roofpik.com</a> and we will get back to you.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4">
                    <a href="pdf/JD_Communication & Content Writer.pdf">
                        <div class="card_sec waves-effect waves-orange">
                            <h5>Content</h5>
                            <h6 class="pink-text">0 Positions</h6>
                        </div>
                    </a>
                </div>
                <div class="col s12 m4">
                    <a href="pdf/Full-Stack-Developer-V1.pdf">
                        <div class="card_sec waves-effect waves-orange">
                            <h5>Business Development</h5>
                            <h6 class="pink-text">8 Positions</h6>
                        </div>
                    </a>
                </div>
                <div class="col s12 m4">
                    <a href="pdf/JDMarketingandBusinessDevelopment.pdf">
                        <div class="card_sec waves-effect waves-orange">
                            <h5>Marketing</h5>
                            <h6 class="pink-text">6 Positions</h6>
                        </div>
                    </a>
                </div>
                <div class="col s12 m4">
                    <a href="pdf/JD_Market Research_Analyst.pdf">
                        <div class="card_sec waves-effect waves-orange">
                            <h5>Market Research</h5>
                            <h6 class="pink-text">0 Positions</h6>
                        </div>
                    </a>
                </div>
                <div class="col s12 m4">
                    <a href="pdf/Customer-Service-Specialist.pdf">
                        <div class="card_sec waves-effect waves-orange">
                            <h5>Customer Relations (CRM)</h5>
                            <h6 class="pink-text">4 Positions</h6>
                        </div>
                    </a>
                </div>
                 <div class="col s12 m4">
                    <a href="pdf/Software-Engineer_Angular-JS-V1.pdf">
                        <div class="card_sec waves-effect waves-orange">
                            <h5>Tech Developer</h5>
                            <h6 class="pink-text">4 Positions</h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <p class="center">Looking for a different role?
                    <br> Drop us a message with your CV at <a href="mailto:careers@roofpik.com">careers@roofpik.com</a> and we will get back to you.</p>
            </div>
        </div>
</div>
</section>
<div class="clearfix"></div>
<!-- call me back section start -->
<section class="white pd48">
    <div class="container">
        <div class="row mgln mgrn">
            <div class="col s12 center">
                <h3>So if you have it in you?<br> <span class="green-text">Join US!</span>

                    </h3>
                <p>Please leave your contact details below, and
                    <br> if your profile is of interest to us, you will hear back within 72 hrs</p>
            </div>
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s4 m3">
                        <input id="review-title" type="text" class="validate" required ng-model="data.name">
                        <label for="review-title">Your full name</label>
                    </div>
                    <div class="input-field col s4 m2">
                        <input id="review-title" type="text" class="validate" required  ng-model="data.location">
                        <label for="review-title">Current Location</label>
                    </div>
                    <div class="input-field col s4 m3">
                        <input id="review-title" type="text" class="validate" required  ng-model="data.position">
                        <label for="review-title">Position To Apply For</label>
                    </div>
                    <div class="input-field col s4 m2">
                        <input id="review-title" type="text" class="validate" required  ng-model="data.email">
                        <label for="review-title">Email</label>
                    </div>
                    <div class="input-field col s4 m2">
                        <input id="review-title" type="text" class="validate" required  ng-model="data.phone">
                        <label for="review-title">Phone Number</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"  ng-model="data.summary"></textarea>
                        <label for="textarea1">Career Summary</label>
                    </div>
                </div>
            </div>
            <div class="col s12 center"><a ng-click="sendEnquiry()" class="btn b">Submit</a></div>
        </div>
    </div>
</section>
<!-- call me back section end -->
<script type="text/javascript" src="js/costum.js"></script>
<script>
$(document).ready(function() {
    //Careers page Testimonial hover state
    $('.materialboxed').materialbox();
    $(".team_arya .team_images img").hover(function() {
        var theClass = $(this).attr('class');
        var allSiblings = $(this).parent().parent().siblings().children().children();
        $(this).addClass('transformImg');
        $(this).removeClass('zeroOpacity');
        allSiblings.removeClass('transformImg');
        $(this).css('opacity', '1');
        allSiblings.css('opacity', '0.5');
        $(this).parent().parent().siblings().children().next().addClass('hide');

        showHideTestimonial(theClass);
    })

    function showHideTestimonial(theClass) {
        if (theClass == 'lazy rina zeroOpacity' || theClass == 'lazy rina') {
            $('div.rina').siblings().addClass('hide');
            $('div.rina').removeClass('hide');
            $('div.rinaInfo').removeClass('hide');
        } else if (theClass == "lazy barun") {
            $('div.barun').siblings().addClass('hide');
            $('div.barun').removeClass('hide');
            $('div.barunInfo').removeClass('hide');
        } else if (theClass == "lazy vishakha") {
            $('div.vishakha').removeClass('hide');
            $('div.vishakha').siblings().addClass('hide');
            $('div.vishakhaInfo').removeClass('hide');
        } else if (theClass == "lazy rahul") {
            $('div.rahul').removeClass('hide');
            $('div.rahul').siblings().addClass('hide');
            $('div.rahulInfo').removeClass('hide');
        } else if (theClass == "lazy binya") {
            $('div.binya').removeClass('hide');
            $('div.binya').siblings().addClass('hide');
            $('div.binyaInfo').removeClass('hide');
        }
    }
})
</script>
</div>
