<div>
 <link rel="stylesheet" href="css/zstyles.css">
    <link rel="stylesheet" href="css/careers.css">   
    <section class="careers-banner mgt65">
        <div id="careers-ban" class="parallax-container">
            <div class="section no-pad-bot">
                <div class="container">
                    <div class="row center mar-t-100">
                        <h1 class="header center white-text mar-zero ">Why Join Us?</h1>                      
                        <h5 class="header col s12 white-text">We are Lead by:</h5>
                        <ul class="care_ul white-text ft15 b"> 
                        <li>Passion to create Success</li>
                        <li>High Sense of Independance</li>
                        <li>And Hard-Work beyond failure</li>
                        </ul>
                        
                        <p class="white-text ft14">At Roofpik, we hire the smartest, most passionate people who don’t shy away from challenges. We love to encourage our employees to use their time to not just develop their own skills and talents, but also to grow as individuals on their journey with us. 

If you’re ambitious, have an entrepreneurial streak, and appreciate the difference between smart work and hard work, we want to hear from you. </p>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            <div class="parallax"><img src="images/cover.jpg" alt="Unsplashed background img 1"></div>
        </div>
    </section>
    <section class="abt">
        <div class="container right-align">
            <div class="row valign-wrapper">               
                <div class="col offset-m1 m5 s12">
                    <h5 class="text1">Development</h5>
                    <p>We are focused on creating a work environment that thrives on discussions, reasoning, and actions that help solve real problems. Roofians are driven by a high sense of independence to confidently spearhead unconventional approaches to everyday challenges. </p>
                </div>
                 <div class="col m6 s12 left-align">
                    <img src="images/about_2.png">
                </div>
            </div>
            <div class="row">
                <div class="col m6 s12 right">
                    <img src="images/innovation.png">
                </div>
                <div class="col offset-m1 m5 s12">
                    <h5 class="text1">Creativity</h5>
                    <p>We believe that empowered people can redefine the way a problem is solved. That’s precisely why creativity through empowerment is an inseparable part of life at Roofpik. At Roofpik, creativity also means striving to be counted among the best and the brightest.</p>
                </div>
            </div>
            <div class="row">
                <div class="col m6 s12 right">
                    <img src="images/people.png">
                </div>
                <div class="col offset-m1 m5 s12">
                    <h5 class="text1">Culture</h5>
                    <p>At Roofpik, professionalism, empowerment, honesty, accountability, and team work are more than just buzzwords – they are our core values and a way of life. The Roofpik culture is all about sharing the same enthusiasm for our colleagues’ ambitions as we do for our own.</p>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <section class="grid center">
        <div class="container mar-t-40">
            <div class="row">
                <h3 class="mar-zero">Behind the scenes</h3>
                <h6>We are the best at what we do and we are all smiles while we are at it.</h6>
            </div>
            <div class="row">
                <div class="col m8 s12">
                    <img src="images/grid1.jpg">
                </div>
                <div class="col m4 s12">
                    <div class="row">
                        <div class="col s12">
                            <img src="images/grid2.jpg">
                        </div>
                        <div class="col s12">
                            <img src="images/grid3.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <section class="team_arya mar-t-40 mar-t-80">
        <div class="container center">
            <img class="quote" src="images/quote.png">
            <div class="row">
                <div class="col l8 offset-l2 m10 offset-m1 s12">
                    <div class="sharad">
                        <p class="animated fadeIn">We bring a change in people's lives by saving them from daily hassles, so that they can focus on doing what they love instead!</p>
                        <h4 class="animated fadeIn">Sharad Harjai, AVP Marketing</h4>
                    </div>
                    <div class="saumya hide">
                        <p class="animated fadeIn">My favourite thing about working at Grofers is the fact that I'm empowered to solve problems and challenge my limits.</p>
                        <h4 class="animated fadeIn">Saumya Agarwal, AVP Recruitment</h4>
                    </div>
                    <div class="dhruv hide">
                        <p class="animated fadeIn">Grofers is an ever changing blend of challenge, opportunity, excitement, small wins and big changes.</p>
                        <h4 class="animated fadeIn">Dhruv Arora, CRM Head</h4>
                    </div>
                    <div class="tapan hide">
                        <p class="animated fadeIn">Every day I get to reinvent old ideas and work on some new ones to get consumers closer to the products they love.</p>
                        <h4 class="animated fadeIn">Tapan Malhotra, VP Sales</h4>
                    </div>
                </div>
            </div>
            <div class="row team_images">
                <div class="col s3">
                    <div><img class="lazy sharad transformImg zeroOpacity" src="images/sharad.png"></div>
                    <div class="info sharadInfo">
                        <h4 class="animated fadeIn">Sharad Harjai</h4>
                    </div>
                </div>
                <div class="col s3">
                    <div><img class="lazy saumya" src="images/saumya.png"></div>
                    <div class="info saumyaInfo hide">
                        <h4 class="animated fadeIn">Saumya Agarwal</h4>
                    </div>
                </div>
                <div class="col s3">
                    <div><img class="lazy dhruv" src="images/dhruv.png"></div>
                    <div class="info dhruvInfo hide">
                        <h4 class="animated fadeIn">Dhruv Arora</h4>
                    </div>
                </div>
                <div class="col s3">
                    <div><img class="lazy tapan" src="images/tapan.png"></div>
                    <div class="info tapanInfo hide">
                        <h4 class="animated fadeIn">Tapan Malhotra</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <section class="openings_card_sec mar-t-40">
        <div class="container">
            <div class="row center">
                <h3 class="heading mar-b-40">Explore Possibilities</h3>
                <div class="col m4 s12">
                    <a href="#">
                        <div class="card_sec waves-effect waves-orange">
                            <h5>Engineering</h5>
                            <h6 class="pink-text">11 Positions</h6>
                        </div>
                    </a>
                </div>
                <div class="col m4 s12">
                    <a href="#">
                        <div class="card_sec waves-effect waves-orange">
                            <h5>Design</h5>
                            <h6 class="pink-text">0 Positions</h6>
                        </div>
                    </a>
                </div>
                <div class="col m4 s12">
                    <a href="#">
                        <div class="card_sec waves-effect waves-orange">
                            <h5>Content</h5>
                            <h6 class="pink-text">0 Positions</h6>
                        </div>
                    </a>
                </div>
                <div class="col m4 s12">
                    <a href="#">
                        <div class="card_sec waves-effect waves-orange">
                            <h5>Finance and Accounts</h5>
                            <h6 class="pink-text">1 Position</h6>
                        </div>
                    </a>
                </div>
                <div class="col m4 s12">
                    <a href="#">
                        <div class="card_sec waves-effect waves-orange">
                            <h5>Operations</h5>
                            <h6 class="pink-text">1 Position</h6>
                        </div>
                    </a>
                </div>
                <div class="col m4 s12">
                    <a href="#">
                        <div class="card_sec waves-effect waves-orange">
                            <h5>Sales</h5>
                            <h6 class="pink-text">8 Positions</h6>
                        </div>
                    </a>
                </div>
                <div class="col m4 s12">
                    <a href="#">
                        <div class="card_sec waves-effect waves-orange">
                            <h5>Marketing</h5>
                            <h6 class="pink-text">6 Positions</h6>
                        </div>
                    </a>
                </div>
                <div class="col m4 s12">
                    <a href="#">
                        <div class="card_sec waves-effect waves-orange">
                            <h5>Talent Acquisition</h5>
                            <h6 class="pink-text">1 Position</h6>
                        </div>
                    </a>
                </div>
                <div class="col m4 s12">
                    <a href="#">
                        <div class="card_sec waves-effect waves-orange">
                            <h5>Facilities</h5>
                            <h6 class="pink-text">0 Positions</h6>
                        </div>
                    </a>
                </div>
                <div class="col m4 s12">
                    <a href="#">
                        <div class="card_sec waves-effect waves-orange">
                            <h5>Retail</h5>
                            <h6 class="pink-text">2 Positions</h6>
                        </div>
                    </a>
                </div>
                <div class="col m4 s12">
                    <a href="#">
                        <div class="card_sec waves-effect waves-orange">
                            <h5>Legal</h5>
                            <h6 class="pink-text">0 Positions</h6>
                        </div>
                    </a>
                </div>
                <div class="col m4 s12">
                    <a href="#">
                        <div class="card_sec waves-effect waves-orange">
                            <h5>Business Intelligence</h5>
                            <h6 class="pink-text">0 Positions</h6>
                        </div>
                    </a>
                </div>
                <div class="col m4 s12">
                    <a href="#">
                        <div class="card_sec waves-effect waves-orange">
                            <h5>Human Resources</h5>
                            <h6 class="pink-text">0 Positions</h6>
                        </div>
                    </a>
                </div>
                <div class="col m4 s12">
                    <a href="#">
                        <div class="card_sec waves-effect waves-orange">
                            <h5>Customer Relations (CRM)</h5>
                            <h6 class="pink-text">4 Positions</h6>
                        </div>
                    </a>
                </div>
            </div>
            <p class="center">Looking for a different role?
                <br> Drop us a message with your CV at <a href="mailto:careers@123456789.com">careers@123456789.com</a> and we will get back to you.</p>
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- our Partners section start -->
    <section class="pd48">
        <div class="container">
            <h5 class="center mgtn"> Our Partners  </h5>
            <p class="center ft14 grey-text">Lorem ipsum is simmply dummy text</p>
            <div class="row mgbn mgt10 mgln mgrn center">
                <div class="col s12 m6 l3 black xsmgt20">
                    <img src="images/partners/fastfox-logo.png">
                </div>
                <div class="col s12 m6 l3 xsmgt20">
                    <img src="images/partners/99acres.png">
                </div>
                <div class="col s12 m6 l3 xsmgt20">
                    <img src="images/partners/magicbricks.png">
                </div>
                <div class="col s12 m6 l3 xsmgt20">
                    <img src="images/partners/triplogo.png">
                </div>
            </div>
        </div>
    </section>
    <!-- our Partners section end -->
    <!-- call me back section start -->
    <section class="white pd48">
        <div class="container">
            <div class="row mgln mgrn">
                <div class="col s12 center">
                    <h3>So if you have it in you?<br> Join US!

                    </h3>
                    <p>Please leave your contact details below, and
                        <br> if your profile is of interest to us, you will hear back within 72 hrs</p>
                </div>
                <div class="col s12">
                    <div class="row">
                     <div class="input-field col s4 m2">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">Your full name</label>
                        </div>
                        <div class="input-field col s4 m2 offset-m1">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">Current Location</label>
                        </div>
                        <div class="input-field col s4 m2">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">Position To Apply For</label>
                        </div>
                       
                        <div class="input-field col s4 m2">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">Email</label>
                        </div>
                        <div class="input-field col s4 m2">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">Phone Number</label>
                        </div>
                         <div class="input-field col s4 m2 offset-m1">
                         <textarea >Career Summary</textarea>                          
                       
                        </div>
                    </div>
                </div>
                <div class="col s12 center"><a href="" class="btn">Call me back</a></div>
            </div>
        </div>
    </section>
    <!-- call me back section end -->
    <script type="text/javascript" src="js/costum.js"></script>
    <script>
    $(document).ready(function() {
        //Careers page Testimonial hover state
        $(".team_arya .team_images img").hover(function() {
            var theClass = $(this).attr('class');
            var allSiblings = $(this).parent().parent().siblings().children().children();
            $(this).addClass('transformImg');
            $(this).removeClass('zeroOpacity');
            allSiblings.removeClass('transformImg');
            $(this).css('opacity', '1');
            allSiblings.css('opacity', '0.5');
            $(this).parent().parent().siblings().children().next().addClass('hide');

            showHideTestimonial(theClass);
        })

        function showHideTestimonial(theClass) {
            if (theClass == 'lazy sharad zeroOpacity' || theClass == 'lazy sharad') {
                $('div.sharad').siblings().addClass('hide');
                $('div.sharad').removeClass('hide');
                $('div.sharadInfo').removeClass('hide');
            } else if (theClass == "lazy dhruv") {
                $('div.dhruv').siblings().addClass('hide');
                $('div.dhruv').removeClass('hide');
                $('div.dhruvInfo').removeClass('hide');
            } else if (theClass == "lazy saumya") {
                $('div.saumya').removeClass('hide');
                $('div.saumya').siblings().addClass('hide');
                $('div.saumyaInfo').removeClass('hide');
            } else if (theClass == "lazy tapan") {
                $('div.tapan').removeClass('hide');
                $('div.tapan').siblings().addClass('hide');
                $('div.tapanInfo').removeClass('hide');
            }
        }
    })
    </script>
</div>
