<div>
    <div class="row mgbn white">
        <div class="container">
            <div class="row linkroot mgbn mgln mgrn">
                <nav>
                    <div class="nav-wrapper">
                        <div class="col s12">
                            <a href="" class="breadcrumb">Home</a>
                            <a href="" class="breadcrumb">Comparison</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="row mgbn white pd48">
        <div class="container">
            <div class="row ">
                <div class="col s12 center">
                    <h3 class="ft24">lorem ipsum See how Roofpik stacks up to other tools.</h3>
                </div>
            </div>
            <section>
                <div class="row mgan nthbghd white valign-wrapper">
                    <div class="col s3 pda20 line40"></div>
                    <div class="col s3 pdln pdrn relative">
                        <div class="search_comp">
                            <i class="material-icons search_compicon grey-text">more_horiz</i>
                            <input type="text" name="" placeholder="+ Add comparison" class="mgbn">
                            <div class="search-results search_comp_find">
                                <ul class="collection homecoll white mgan">
                                    <li class="collection-item avatar bodb">
                                        <img src="images/homeicon/CGHS.png" class="circle mgt5" />
                                        <span class="b ft13 truncate">Gurgaon</span>
                                        <span class="ft12 mnst5 truncate">CGHS</span>
                                    </li>
                                    <li class="collection-item avatar bodb">
                                        <img src="images/homeicon/CGHS.png" class="circle mgt5" />
                                        <span class="b ft13 truncate">Gurgaon</span>
                                        <span class="ft12 mnst5 truncate">CGHS</span>
                                    </li>
                                    <li class="collection-item avatar bodb">
                                        <img src="images/homeicon/CGHS.png" class="circle mgt5" />
                                        <span class="b ft13 truncate">Gurgaon</span>
                                        <span class="ft12 mnst5 truncate">CGHS</span>
                                    </li>
                                    <li class="collection-item avatar bodb">
                                        <img src="images/homeicon/CGHS.png" class="circle mgt5" />
                                        <span class="b ft13 truncate">Gurgaon</span>
                                        <span class="ft12 mnst5 truncate">CGHS</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col s3 pdln pdrn relative">
                        <div class="search_comp">
                            <i class="material-icons search_compicon grey-text">more_horiz</i>
                            <input type="text" name="" placeholder="+ Add comparison" class="mgbn">
                            <div class="search-results search_comp_find">
                                <ul class="collection homecoll white mgan">
                                    <li class="collection-item avatar bodb">
                                        <img src="images/homeicon/CGHS.png" class="circle mgt5" />
                                        <span class="b ft13 truncate">Gurgaon</span>
                                        <span class="ft12 mnst5 truncate">CGHS</span>
                                    </li>
                                    <li class="collection-item avatar bodb">
                                        <img src="images/homeicon/CGHS.png" class="circle mgt5" />
                                        <span class="b ft13 truncate">Gurgaon</span>
                                        <span class="ft12 mnst5 truncate">CGHS</span>
                                    </li>
                                    <li class="collection-item avatar bodb">
                                        <img src="images/homeicon/CGHS.png" class="circle mgt5" />
                                        <span class="b ft13 truncate">Gurgaon</span>
                                        <span class="ft12 mnst5 truncate">CGHS</span>
                                    </li>
                                    <li class="collection-item avatar bodb">
                                        <img src="images/homeicon/CGHS.png" class="circle mgt5" />
                                        <span class="b ft13 truncate">Gurgaon</span>
                                        <span class="ft12 mnst5 truncate">CGHS</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col s3 pdln pdrn relative">
                        <div class="search_comp">
                            <i class="material-icons search_compicon grey-text">more_horiz</i>
                            <input type="text" name="" placeholder="+ Add comparison" class="mgbn">
                            <div class="search-results search_comp_find">
                                <ul class="collection homecoll white mgan">
                                    <li class="collection-item avatar bodb">
                                        <img src="images/homeicon/CGHS.png" class="circle mgt5" />
                                        <span class="b ft13 truncate">Gurgaon</span>
                                        <span class="ft12 mnst5 truncate">CGHS</span>
                                    </li>
                                    <li class="collection-item avatar bodb">
                                        <img src="images/homeicon/CGHS.png" class="circle mgt5" />
                                        <span class="b ft13 truncate">Gurgaon</span>
                                        <span class="ft12 mnst5 truncate">CGHS</span>
                                    </li>
                                    <li class="collection-item avatar bodb">
                                        <img src="images/homeicon/CGHS.png" class="circle mgt5" />
                                        <span class="b ft13 truncate">Gurgaon</span>
                                        <span class="ft12 mnst5 truncate">CGHS</span>
                                    </li>
                                    <li class="collection-item avatar bodb">
                                        <img src="images/homeicon/CGHS.png" class="circle mgt5" />
                                        <span class="b ft13 truncate">Gurgaon</span>
                                        <span class="ft12 mnst5 truncate">CGHS</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mgan nthbghd valign-wrapper">
                    <div class="col s3 pda20 line40">Price starting at</div>
                    <div class="col s3 pda20 center line40 ft24">Free</div>
                    <div class="col s3 pda20 center line40 ft24"></div>
                    <div class="col s3 pda20 center line40 ft24"></div>
                </div>
                <div class="row mgan nthbg valign-wrapper">
                    <div class="col s3 pda10">Visual campaign builder</div>
                    <div class="col s3 pda10 center"><i class="material-icons green-text">check</i></div>
                    <div class="col s3 pda10 center">lorem ipsum</div>
                    <div class="col s3 pda10 center"><i class="material-icons grey-text">remove</i></div>
                </div>
                <div class="row mgan nthbg valign-wrapper bothsd">
                    <div class="col s3 pda10">Visual campaign builder</div>
                    <div class="col s3 pda10 center"><i class="material-icons green-text">check</i></div>
                    <div class="col s3 pda10 center"><i class="material-icons green-text">check</i></div>
                    <div class="col s3 pda10 center"><i class="material-icons green-text">check</i></div>
                </div>
                <div class="row mgan nthbg valign-wrapper bothsd">
                    <div class="col s3 pda10">Visual campaign builder</div>
                    <div class="col s3 pda10 center"><i class="material-icons green-text">check</i></div>
                    <div class="col s3 pda10 center"><i class="material-icons green-text">check</i></div>
                    <div class="col s3 pda10 center"><i class="material-icons green-text">check</i></div>
                </div>
                <div class="row mgan nthbg valign-wrapper bothsd">
                    <div class="col s3 pda10">Visual campaign builder</div>
                    <div class="col s3 pda10 center"><i class="material-icons green-text">check</i></div>
                    <div class="col s3 pda10 center"><i class="material-icons green-text">check</i></div>
                    <div class="col s3 pda10 center"><i class="material-icons green-text">check</i></div>
                </div>
                <div class="row mgan nthbg valign-wrapper bothsd">
                    <div class="col s3 pda10">Visual campaign builder</div>
                    <div class="col s3 pda10 center"><i class="material-icons green-text">check</i></div>
                    <div class="col s3 pda10 center"><i class="material-icons green-text">check</i></div>
                    <div class="col s3 pda10 center"><i class="material-icons green-text">check</i></div>
                </div>
                <div class="row mgan nthbg valign-wrapper bothsd">
                    <div class="col s3 pda10">Visual campaign builder</div>
                    <div class="col s3 pda10 center"><i class="material-icons green-text">check</i></div>
                    <div class="col s3 pda10 center"><i class="material-icons green-text">check</i></div>
                    <div class="col s3 pda10 center"><i class="material-icons green-text">check</i></div>
                </div>
                <div class="row mgan nthbg valign-wrapper bothsd">
                    <div class="col s3 pda10">Visual campaign builder</div>
                    <div class="col s3 pda10 center"><i class="material-icons green-text">check</i></div>
                    <div class="col s3 pda10 center"><i class="material-icons green-text">check</i></div>
                    <div class="col s3 pda10 center"><i class="material-icons green-text">check</i></div>
                </div>
                <div class="row mgan nthbg valign-wrapper bothsd">
                    <div class="col s3 pda10">Visual campaign builder</div>
                    <div class="col s3 pda10 center"><i class="material-icons green-text">check</i></div>
                    <div class="col s3 pda10 center"><i class="material-icons green-text">check</i></div>
                    <div class="col s3 pda10 center"><i class="material-icons green-text">check</i></div>
                </div>
                <div class="row mgan nthbg valign-wrapper bothsd">
                    <div class="col s3 pda10">Visual campaign builder</div>
                    <div class="col s3 pda10 center"><i class="material-icons green-text">check</i></div>
                    <div class="col s3 pda10 center"><i class="material-icons green-text">check</i></div>
                    <div class="col s3 pda10 center"><i class="material-icons green-text">check</i></div>
                </div>
                <div class="row mgan nthbg valign-wrapper bothsd">
                    <div class="col s3 pda10">Visual campaign builder</div>
                    <div class="col s3 pda10 center"><i class="material-icons green-text">check</i></div>
                    <div class="col s3 pda10 center"><i class="material-icons green-text">check</i></div>
                    <div class="col s3 pda10 center"><i class="material-icons green-text">check</i></div>
                </div>
            </section>
        </div>
    </div>
    <!-- call me back section start -->
    <section class="white pd48">
        <div class="container">
            <div class="row mgln mgrn">
                <div class="col s12 center">
                    <h3>Why advertise on Roofpik?</h3>
                    <p>Please leave your contact details below, and
                        <br> we’ll be in touch within 24 hours</p>
                </div>
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s4 m2 offset-m1">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">City</label>
                        </div>
                        <div class="input-field col s4 m2">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">lorem ipsum</label>
                        </div>
                        <div class="input-field col s4 m2">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">Your full name</label>
                        </div>
                        <div class="input-field col s4 m2">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">Email</label>
                        </div>
                        <div class="input-field col s4 m2">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">Phone Number</label>
                        </div>
                    </div>
                </div>
                <div class="col s12 center"><a href="" class="btn">Call me back</a></div>
            </div>
        </div>
    </section>
    <!-- call me back section end -->
    <script>
    $(document).ready(function() {
        $('ul.tabs').tabs();
        Materialize.updateTextFields();

        $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 240
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true // Choose whether you can drag to open on touch screens
        });
        $('select').material_select();
        $('.slider').slider();
        $('.dropdown-button').dropdown();
        // $('.carousel').carousel();
        $('.modal').modal();
        $('.parallax').parallax();
        $('.collapsible').collapsible();


    });

    $(function() {
        $('.carousel.carousel-slider').carousel({
            full_width: true
        });
    });
    </script>
</div>
