<section class="mgt65">
    <div class="parallax-container htv70">
        <div class="parallax"> <img src="images/v1/guidelines/main-bg.jpg" class="responsive-img"></div>
        <div class="transformfix center">
            <h3 class="white-text text-sd mgbn">Roofpik <b> FAQ's</b></h3>
        </div>
    </div>
    <div class="row linkroot mgan">
        <div class="container">
            <nav class="bgtrans">
                <div class="nav-wrapper bgtrans">
                    <div class="col s12 pdln">
                        <a href="/#/home" class="breadcrumb">Home</a>
                        <a href="" class="breadcrumb">FAQ's</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row mgt65 white">
        <div class="container">
            <div class="row">
                <div class="col s12 m7">
                    <p><b>What is Roofpik?</b></p>
                    <p>
                        Roofpik is the first-of-its-kind real estate community that has thousands of property reviews by verified residents. On Roofpik, residents and home buyers can directly share their personal experiences of buying, renting, investing, and living in a property. This helps Roofpik users find their dream home by comparing and selecting from hundreds of properties.
                    </p>
                    <p><b>How does Roofpik help my search for a home?</b></p>
                    <p>
                        Roofpik helps you directly connect with real residents who are sharing first-hand experiences about a property or real estate project. Roofpik props up this useful information by showing you comparative listings, refined search results, verified dealers, and more. This helps you make well-informed decisions on finding a great property in the locality of your choice.
                    </p>
                    <p><b>How is Roofpik different from other property search portals?</b></p>
                    <p>
                        Unlike other property search portals that lay emphasis on property listings and classifieds, Roofpik is focused on genuine reviews, validated project information, and trusted dealers/partners. Roofpik offers:
                    </p>
                    <ul class="pd48 ulbulit">
                        <li class="pdb10">
                            <b> Reviews:</b> Real residents and property owners sharing positive and negative experiences
                        </li>
                        <li class="pdb10">
                            <b> Project information:</b> Everything that you need to choose a property including photos, comparisons, and price trends.
                        </li>
                        <li class="pdb10">
                            <b> Resident stories:</b> Read real experiences of people about their property and their detailed insights about the project.
                        </li>
                        <li class="pdb10">
                            <b> Facilities in the vicinity:</b> Everything you and your family need to roll, from work to play and from utilities to transport.
                        </li>
                        <li class="pdb10">
                            <b> Listed partners:</b> A direct channel to connect with verified dealers such as brokers, packers and movers, furniture rentals, and more.
                        </li>
                    </ul>
                    <p><b>What kind of properties can I search for on Roofpik?</b></p>
                    <p>
                        You can find user reviews for both apartments and independent homes as well as for localities.
                    </p>
                    <p><b>Who can see what I share on Roofpik?</b></p>
                    <p>
                        Roofpik’s rapidly growing community of residents and property buyers, sellers, and owners can see what you publicly share on Roofpik.
                    </p>
                    <p><b>What are Resident Stories?</b></p>
                    <p>
                        Resident Stories are real experiences of people about their property and their detailed insights about a project. To read Resident Stories, visit http://roofpik.com/#/story/gurgaon.
                    </p>
                    <p><b>How can I contribute a Resident Story?</b></p>
                    <p>
                        If you’d like us to feature you in a Resident Story, please write to us stating the name and location of your project at contact@roofpik.com. We will be in touch with you within 72 hours to help you craft your very own Resident Story on Roofpik.
                    </p>
                    <p><b>Which cities does Roofpik cover?</b></p>
                    <p>
                        Roofpik currently covers Gurgaon but we are rapidly expanding into other cities. Watch this space for more!
                    </p>
                    <br>
                    <p><b>How can I contact Roofpik?</b></p>
                    <p> You can contact us through any of the following channels:</p>
                    <p><b>Email:</b> contact@roofpik.com</p>
                    <p><b>Snail mail:</b> 91 Springboard, Gurugram</p>
                    <p><b>Phone:</b> +91 124 438 4167</p>
                    <p><b>Twitter:</b> @roofpik</p>
                    <p><b>Facebook:</b> www.facebook.com/roofpik/ </p>
                    <p><b>LinkedIn:</b> www.linkedin.com/company/roofpik </p>
                    <br>
                    <p>We look forward to hearing from you!</p>
                </div>
                <div class="col s12 m4 offset-m1">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header b">
                                How can I join Roofpik?</div>
                            <div class="collapsible-body pda20 white">
                                <span>You can join Roofpik by creating a User Account. Roofpik currently allows you to create a User Account using your Facebook or Google credentials. </span>
                                <br>
                                <br>
                                <b>To create a Roofpik account:</b>
                                <br>
                                <ul class="ulbulit mgt20">
                                    <li>Go to <a href="http://www.roofpik.com/">www.roofpik.com</a> and find the Sign Up link </li>
                                    <li>On the Sign Up page, choose whether you’d like to create an account using your Google or Facebook credentials</li>
                                    <li>Click Sign Up </li>
                                    <li>Roofpik will verify your phone number by sending you an SMS text message with a four-digit code.</li>
                                    <li>Enter the verification code in the box provided on the Sign Up page</li>
                                    <li>You can now start writing and browsing through reviews on Roofpik!</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header b">
                                Do I have to pay to register on Roofpik? </div>
                            <div class="collapsible-body pda20 white">
                                <span>No. Registration on Roofpik is free.  </span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header b">
                                What can I share on Roofpik? </div>
                            <div class="collapsible-body pda20 white">
                                <span>You can share comprehensive reviews about a real estate project or locality on Roofpik.  </span>
                                <br>
                                <br>
                                <ul class="ulbulit mgt20">
                                    <li>Share your first-hand experience of moving in and living in a property</li>
                                    <li>Share relevant images of a property or locality</li>
                                    <li>Rate properties on parameters such as everyday amenities, water and electricity supply, apartment layout, access to public transport, and more </li>
                                    <li>Roofpik will verify your phone number by sending you an SMS text message with a four-digit code.</li>
                                    <li>Provide tips to residents on choosing a good house</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                   
                </div>
            </div>
        </div>
    </div>
    <script>
    $(document).ready(function() {
        $('ul.tabs').tabs();
        Materialize.updateTextFields();

        $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 240
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true // Choose whether you can drag to open on touch screens
        });
        $('select').material_select();
        $('.slider').slider();
        $('.dropdown-button').dropdown();
        $('.carousel').carousel();
        $('.modal').modal();
        $('.parallax').parallax();
        $('.collapsible').collapsible();

    });
    </script>
</section>
