<section class="mgt65">
    <div class="parallax-container htv100">
        <div class="parallax"> <img src="https://image.shutterstock.com/z/stock-photo-office-leather-desk-table-with-computer-supplies-and-coffee-cup-top-view-with-copy-space-305024276.jpg" class="responsive-img"></div>
        <div class="transformfix center">
            <h3 class="white-text text-sd mgbn">General <b> Guidelines</b></h3>
        </div>
    </div>
    <div class="row mgbn white">
        <div class="container">
            <div class="row linkroot mgbn mgln mgrn">
                <nav>
                    <div class="nav-wrapper">
                        <div class="col s12">
                            <a href="" class="breadcrumb">Home</a>
                            <a href="" class="breadcrumb">guidelines</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="row mgbn white">
        <div class="container">
            <div class="row mgbn">
                <div class="col s12 center pdlr100">
                    <h5>General Guidelines</h5>
                    <p>Yelp allows users to contribute different kinds of content, including reviews, photos, videos, events, votes, tips, direct messages, and more. Playing nice isn’t rocket science, but just in case, we’ve put together these general guidelines. Please also read the guidelines below for specific types of content that you might contribute to the site.
                    </p>
                    <ul class="left-align pd48">
                        <li class="pdb10">
                            <b>Inappropriate content:</b> Colorful language and imagery is fine, but there's no need for threats, harassment, lewdness, hate speech, and other displays of bigotry.
                        </li>
                        <li class="pdb10">
                            <b> Promotional content:</b> Unless you're using your Business Owners Account to add content to your business's profile page, we generally frown upon promotional content. Let's keep the site useful for consumers and not overrun with commercial noise from every user.
                        </li>
                        <li class="pdb10">
                            <b>Inappropriate content:</b> Colorful language and imagery is fine, but there's no need for threats, harassment, lewdness, hate speech, and other displays of bigotry.
                        </li>
                        <li class="pdb10">
                            <b> Promotional content:</b> Unless you're using your Business Owners Account to add content to your business's profile page, we generally frown upon promotional content. Let's keep the site useful for consumers and not overrun with commercial noise from every user.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row mgbn bgwhite_tr">
        <div class="container">
            <div class="row mgbn">
                <div class="col s12 pdlr100">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                            <div class="collapsible-body pda20 white"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                            <div class="collapsible-body pda20 white"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                            <div class="collapsible-body pda20 white"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   
    <script>
    $(document).ready(function() {
        $('ul.tabs').tabs();
        Materialize.updateTextFields();

        $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 240
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true // Choose whether you can drag to open on touch screens
        });
        $('select').material_select();
        $('.slider').slider();
        $('.dropdown-button').dropdown();
        $('.carousel').carousel();
        $('.modal').modal();
        $('.parallax').parallax();
        $('.collapsible').collapsible();

    });
    </script>
</section>
