<section class="mgt65">
    <div class="parallax-container htv70">
        <div class="parallax"> <img src="images/v1/guidelines/main-bg.jpg" class="responsive-img"></div>
        <div class="transformfix center">
            <h3 class="white-text text-sd mgbn">Content <b> Guidelines</b></h3>
        </div>
    </div>
    <div class="row mgbn white">
        <div class="container">
            <div class="row linkroot mgbn mgln mgrn">
                <nav>
                    <div class="nav-wrapper">
                        <div class="col s12">
                            <a href="" class="breadcrumb">Home</a>
                            <a href="" class="breadcrumb">guidelines</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="row mgbn white">
        <div class="container">
            <div class="row mgbn">
                <div class="col s8 center offset-s2">
                    <h5>General Guidelines</h5>
                    <p><b>At Roofpik,</b> every single review carries the potential to influence somebody’s property search. Which is why we want to ensure that Roofpik is, and continues to remain, a safe and useful platform for everyone.
                        <br>
                        <br> We define content as reviews, photos, tips, direct messages, videos, and more. Please read these guidelines to understand what you can and cannot post on Roofpik:
                    </p>
                    <ul class="left-align pd48">
                        <li class="pdb10">
                            <b> Inappropriate content:</b> Threats, hate speech, harassment, lewdness, and other displays of racism are not allowed on Roofpik and will be removed by our moderators.
                        </li>
                        <li class="pdb10">
                            <b> Conflicts of interest:</b> All contributions and reviews should be objective and unbiased. No one likes a bragger. So please do not post reviews about your own business or ask your friends, relatives, or customers to write glowing reviews about your business. Likewise, you shouldn’t write reviews about your peers or competitors in the same industry.
                        </li>
                        <li class="pdb10">
                            <b> Promotional content:</b> Promotional content comes in the way of our mission to provide genuine and useful property reviews. Be advised that our moderators may remove any content that seems overtly promotional.
                        </li>
                        <li class="pdb10">
                            <b> Relevance:</b> At Roofpik, we greatly appreciate the art of staying relevant. So if you’re writing a property review, be sure to not digress into political mudslinging, a business’ employment or other back-end practices, and situations not relevant to your review.
                        </li>
                        <li class="pdb10">
                            <b> Privacy:</b> Do not post close-up pictures, full names, email ids, phone numbers, or addresses of people without their permission. You may use full names of service providers if adding that information is relevant to your review.
                        </li>
                        <li class="pdb10">
                            <b> Intellectual property:</b> Do not copy reviews or photos from other people (from Roofpik or other sources on the internet). Please write your own reviews and upload your own photos and videos.
                        </li>
                        <li class="pdb10">
                            <b> Demanding payment:</b> Do not use posting (or removing) a review as a means to threaten a business into paying you for it. It’s alright to ask a business to remedy a bad experience but extracting payment by using a review as a threat isn’t.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mgbn">
                <div class="col s8 offset-s2">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header b">
                                <i class="material-icons">person_outline</i> User profile guidelines</div>
                            <div class="collapsible-body pda20 white">
                                <span>People tend to be suspicious of empty profiles (or those with inappropriate content). It’s always a good idea to fill in all of the fields in your profile on Roofpik because: </span>
                                <ul class="ulbulit mgt20">
                                    <li>It helps people know who you are and adds credibility to your review.</li>
                                    <li>Helps you connect better with our community to buy, sell, and rent property.</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header b">
                                <i class="material-icons">edit</i> Review guidelines: </div>
                            <div class="collapsible-body pda20 white">
                                <span>Make your review count by using these reviewing tips: </span>
                                <ul class="ulbulit mgt20">
                                    <li>
                                        <b>Remain Relevant:</b> A review with the relevant details garners more ratings and trust. Avoid excessive complaints or compliments, provide specific details where possible, and be objective about your views. The best reviews state both pros and cons.
                                    </li>
                                    <li>
                                        <b>Honesty Helps:</b> Although this is a neutral platform for users to openly share their views, reviews with discriminatory, libellous, or profane content will not pass the verification stage. Share your own experiences and not what you’ve heard about the property or neighbourhood you’re reviewing.
                                    </li>
                                    <li>
                                        <b>Add Photos:</b> You may not be able to write a thousand words, so post a picture! Photos of the property, project, and locality help garner more readers for your review besides making it credible.
                                    </li>
                                </ul>
                            </div>
                        </li>

                          <li>
                            <div class="collapsible-header b">
                                <i class="material-icons">photo</i> Photos and videos:  </div>
                            <div class="collapsible-body pda20 white">
                                <span>Property or locality photos or videos should be relevant to your review and should support your review. For instance, you may upload photos or videos to show readers the features of projects, apartments, or localities in greater detail. Photos and videos that are not relevant to your review may be removed by our moderators.  </span>
                               
                            </div>
                        </li>                     


                    </ul>
                </div>
            </div>
        </div>
    </div>
   
    <script>
    $(document).ready(function() {
        $('ul.tabs').tabs();
        Materialize.updateTextFields();

        $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 240
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true // Choose whether you can drag to open on touch screens
        });
        $('select').material_select();
        $('.slider').slider();
        $('.dropdown-button').dropdown();
        $('.carousel').carousel();
        $('.modal').modal();
        $('.parallax').parallax();
        $('.collapsible').collapsible();

    });
    </script>
</section>
