<div class="mgt65">
    <div class="row linkroot mgan">
        <nav class="bgtrans pdl20">
            <div class="nav-wrapper bgtrans">
                <div class="col s12 pdln">
                    <a href="/#/home" class="breadcrumb">Home</a>
                    <a href="" class="breadcrumb">Offers</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- <div class="row mgan center white offer_link">
        <a href="" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11] track  by $index">
            <i class="material-icons">language</i> Movie
        </a>
    </div> -->
    <div class="row center">
        <h5>Exciting Offers</h5>
    </div>
    <div class="row mgan center white offer_link mgt30">
        <a href="">
            <i class="material-icons">language</i> Restaurants
        </a>
        <a href="">
            <i class="material-icons">language</i> Hotels / Travel
        </a>
        <a href="">
            <i class="material-icons">language</i> Beauty & Spas
        </a>
        <a href="">
            <i class="material-icons">language</i> Shopping Outlets
        </a>
        <a href="">
            <i class="material-icons">language</i> Departmental Stores
        </a>
        <a href="">
            <i class="material-icons">language</i> Health and Fitness
        </a>
        <a href="">
            <i class="material-icons">language</i> Cinemas
        </a>
    </div>
    <div class="row center">
        <h5>Everything you need for your home</h5>
    </div>
    <div class="row mgan center white offer_link">
        <a href="" class="blue">
            <i class="material-icons">language</i>
        </a>
        <a href="">
            <i class="material-icons">language</i>
        </a>
        <a href="" class="green">
            <i class="material-icons">language</i>
        </a>
        <a href="" class="">
            <i class="material-icons">language</i>
        </a>
        <a href="">
            <i class="material-icons">language</i>
        </a>
    </div>
    <div class="clearfix"></div>
    <div class="row pda20 mgbn mgln mgrn">
        <div class="col s12 m12 l8 card offset-l2">
            <div class="row mgan">
                <div class="col s12 m6 pda20 right-align mgt30">
                    <h3>  extra
            <br> savings</h3>
                </div>
                <div class="col s12 m6 pda20 relative bodl">
                    <div class="row mgan">
                        <div class="col s12 m12 l9 bodall">
                            <h5 class="b">20% CASHBACK</h5>
                            <p>New Users only | Upto Rs. 500 | first transaction only</p>
                            <div>
                                <div class="txnew bodall left">New</div>
                                <a href="" class="btn">Copy</a>
                            </div>
                            <div class="fixbot grey lighten-4 pda10 bodt mgt20">Valid till 30 Apr 2017
                                <a href="" class="mgr10 right red-text">Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="row mgln mgrn pda10">
            <div class="col s12 m4 l2 boxbtnoff">
                <a href="" class="card cardhov block grey-text text-darken-2">
                    <div class="row">
                        <div class="col s12 no-padding relative offer_img">
                            <div class="abs b truncate center  bgwhite_tr pda10 ft12 fixbot col s12">
                                Interior Designers
                            </div>
                            <img src="https://img1.nbstatic.in/la-webp-s/5785d92952faff000ecb197f.jpg" class="responsive-img">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m4 l2 boxbtnoff">
                <a href="" class="card cardhov block grey-text text-darken-2">
                    <div class="row">
                        <div class="col s12 no-padding relative offer_img">
                            <div class="abs b truncate center  bgwhite_tr pda10 ft12 fixbot col s12">
                                Packers and movers
                            </div>
                            <img src="images/img-offers/furniture1.jpg" class="responsive-img">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m4 l2 boxbtnoff">
                <a href="" class="card cardhov block grey-text text-darken-2">
                    <div class="row">
                        <div class="col s12 no-padding relative offer_img">
                            <div class="abs b truncate center  bgwhite_tr pda10 ft12 fixbot col s12">
                                Online food delivery
                            </div>
                            <img src="https://img1.nbstatic.in/la-webp-s/5785d92952faff000ecb197f.jpg" class="responsive-img">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m4 l2 boxbtnoff">
                <a href="" class="card cardhov block grey-text text-darken-2">
                    <div class="row">
                        <div class="col s12 no-padding relative offer_img">
                            <div class="abs b truncate center  bgwhite_tr pda10 ft12 fixbot col s12">
                                Sanitarywares
                            </div>
                            <img src="https://img1.nbstatic.in/la-webp-s/5785d92952faff000ecb197f.jpg" class="responsive-img">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m4 l2 boxbtnoff">
                <a href="" class="card cardhov block grey-text text-darken-2">
                    <div class="row">
                        <div class="col s12 no-padding relative offer_img">
                            <div class="abs b truncate center  bgwhite_tr pda10 ft12 fixbot col s12">
                                Home related services
                            </div>
                            <img src="https://img1.nbstatic.in/la-webp-s/5785d92952faff000ecb197f.jpg" class="responsive-img">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m4 l2 boxbtnoff">
                <a href="" class="card cardhov block grey-text text-darken-2">
                    <div class="row">
                        <div class="col s12 no-padding relative offer_img">
                            <div class="abs b truncate center  bgwhite_tr pda10 ft12 fixbot col s12">
                                Furniture Rentals
                            </div>
                            <img src="https://img1.nbstatic.in/la-webp-s/5785d92952faff000ecb197f.jpg" class="responsive-img">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!--  <div class="col s12 m4 l3 boxCoupon">
               <a href="" class="card cardhov block grey-text text-darken-2">
                    <div class="row">
                        <div class="col s12 no-padding relative offer_img">
                            <div class="abs white b fixrt col">
                                <i class="material-icons left red-text">favorite_border</i>998
                            </div>
                            <div class="abs white ft12 fixbot col">
                                Roofpik <span class="grey-text">|</span> <span class="green-text b">3.7</span>
                            </div>
                            <img src="https://img1.nbstatic.in/la-webp-s/5785d92952faff000ecb197f.jpg" class="responsive-img">
                        </div>
                        <div class="col s12">
                            <h5 class="mgbn ft17 truncate">Heading lorem ipsum</h5>
                            <p class="mgtn">27 Locations</p>
                            <p> Get 40% Cashback</p>
                        </div>
                        <div class="col s12">
                            <div class="row mgan">
                                <div class="col s12 bodt pdln pdrn pdt10 pdb10">
                                    <div class="bodall pda10 b red-text left">80% Off</div>
                                    <div class="green-text ft17 right">
                                        <del class="block ft11 grey-text right-align">₹ 11,000</del>
                                        ₹ 11,000</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
        </div> -->
        <div class="row mgln mgrn pda10">
            <div class="col s12 m4 l3 boxCoupon" ng-repeat="item in allCoupon" style="height:400px">
                <a ng-click="checkReview(item.key)" class="card cardhov block grey-text text-darken-2">
                    <div class="row">
                        <div class="col s12 no-padding relative offer_img">
                            <img src="{{item.img}}" class="responsive-img">
                        </div>
                        <div class="col s12">
                            <h5 class="mgbn ft17 truncate">{{item.name}}</h5>
                            <p class="mgtn">{{item.displayAdd}}</p>
                            <p class="minht70"> {{item.coupon.title}}</p>
                        </div>
                        <div class="col s12">
                            <div class="row mgan">
                                <div class="col s12 bodt pdln pdrn pdt10 pdb10">
                                    <div class="bodall pda10 b red-text left" ng-show="item.coupon.offer">{{item.coupon.offer}} Off</div>
                                    <div class="green-text ft17 right" ng-show="item.coupon.mrp && item.coupon.discount">
                                        <del class="block ft11 grey-text right-align">₹ {{item.coupon.mrp}}</del>
                                        ₹ {{item.coupon.discount}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <div id="offer_modal_popup" class="modal offer_modal_popup">
        <div class="modal-content">
            <div class="card block pda20 grey-text text-darken-2">
                <div class="row">
                    <div class="col s12">
                        <h5 class="ft17 truncate">Please write a Review</h5>
                        <p> To Avail the coupons kindly write the review of the project or locality you live in.</p>
                        <a ng-click="writeReview()" class="btn b">Write Review</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
    <div id="offer_modal2_popup" class="modal offer_modal_popup">
        <div class="modal-content">
            <div class="card block pda20 grey-text text-darken-2">
                <div class="row">
                    <div class="col s12">
                        <h5 class="ft17 truncate">Please Login</h5>
                        <p> To Avail the coupons kindly login into your account.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
    <script>
    $(document).ready(function() {
        $('ul.tabs').tabs();
        Materialize.updateTextFields();

        $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 240
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true // Choose whether you can drag to open on touch screens
        });
        $('select').material_select();
        $('.slider').slider();
        $('.dropdown-button').dropdown();
        $('.carousel').carousel();
        $('.modal').modal();
        $('.parallax').parallax();

    });
    </script>
</div>
