<div class="mgt65">
    <div class="row mgan center white offer_link">
        <a href="" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11] track  by $index">
            <i class="material-icons">language</i> Movie
        </a>
    </div>
    <section>
        <div class="row mgln mgrn pda10">
            <div class="col s12 m4 l3" ng-repeat="item in allCoupon" style="height:400px">
                <a onclick="#offer_modal_popup" data-target="offer_modal_popup" class="card block grey-text text-darken-2">
                    <div class="row">
                        <div class="col s12 no-padding relative offer_img">
                            <img src="https://img1.nbstatic.in/la-webp-s/5785d92952faff000ecb197f.jpg" class="responsive-img">
                        </div>
                        <div class="col s12">
                            <h5 class="mgbn ft17 truncate">{{item.name}}</h5>
                            <p class="mgtn">{{item.displayAdd}}</p>
                            <p> {{item.coupon.title}}</p>
                        </div>
                        <div class="col s12">
                            <div class="row mgan">
                                <div class="col s12 bodt pdln pdrn pdt10 pdb10">
                                    <div class="bodall pda10 b red-text left">80% Off</div>
                                    <div class="green-text ft17 right">
                                        <del class="block ft11 grey-text right-align">₹ 11,000</del>
                                        ₹ 11,000</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <div id="offer_modal_popup" class="modal">
        <div class="modal-content">
            <div class="card block grey-text text-darken-2">
                <div class="row">
                    <div class="col s12 no-padding relative offer_img">
                        <img src="https://img1.nbstatic.in/la-webp-s/5785d92952faff000ecb197f.jpg" class="responsive-img">
                    </div>
                    <div class="col s12">
                        <h5 class="mgbn ft17 truncate">Heading lorem ipsum</h5>
                        <p class="mgtn">27 Locations</p>
                        <p> Get 40% Cashback</p>
                    </div>
                    <div class="col s12">
                        <div class="row mgan">
                            <div class="col s12 bodt pdln pdrn pdt10 pdb10">
                                <div class="bodall pda10 b red-text left">80% Off</div>
                                <div class="green-text ft17 right">
                                    <del class="block ft11 grey-text right-align">₹ 11,000</del>
                                    ₹ 11,000</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
    <script>
    $(document).ready(function() {
        $('ul.tabs').tabs();
        Materialize.updateTextFields();

        $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 240
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true // Choose whether you can drag to open on touch screens
        });
        $('select').material_select();
        $('.slider').slider();
        $('.dropdown-button').dropdown();
        $('.carousel').carousel();
        $('.modal').modal();
        $('.parallax').parallax();

    });
    </script>
</div>
