<div>
    <div class="parallax-container prop_htv100">
        <div class="parallax"> <img src="images/v1/business/main-bg.jpg" class="responsive-img"></div>
        <div class="transformfix center wdtrans">
            <h3 class=" mgbn">Owner <b>Property Details Form</b></h3>
            <h5 class=" mgbn">Put your portfolio on autopilot.</h5>
        </div>
    </div>
    <div class="row linkroot mgan">
        <nav class="bgtrans pdl20">
            <div class="nav-wrapper bgtrans">
                <div class="col s12 pdln center">
                    <a href="/#/home" class="breadcrumb">Home</a>
                    <a href="" class="breadcrumb">Owner Property Details Form</a>
                </div>
            </div>
        </nav>
    </div>
    <section>
        <div class="row mgbn grey lighten-5 pd48">
            <div class="container">
                <div class="row">
                    <div class="col s12 m12 l10 offset-l1">
                        <div class="row mgbn">
                            <div class="col s12 center">
                                <h5>Owner Property Details</h5>
                                <p>Please fill your Property details</p>
                            </div>
                            <div class="input-field col s6">
                                <input id="firstname" type="text" class="validate">
                                <label for="firstname">First Name</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="lastname" type="text" class="validate">
                                <label for="lastname">Last Name</label>
                            </div>
                            <div class="col s12">
                                <h5 class="ft16">Address Details</h5>
                            </div>
                            <div class="input-field col s6 m2">
                                <input id="houseno" type="text" class="validate">
                                <label for="houseno">House No.</label>
                            </div>
                            <div class="input-field col s6 m2">
                                <input id="Street" type="text" class="validate">
                                <label for="Street">Street No.</label>
                            </div>
                            <div class="input-field col s12 m8">
                                <input id="Address" type="text" class="validate">
                                <label for="Address">Address Details</label>
                            </div>
                            <div class="input-field col s6 m3">
                                <input id="Near" type="text" class="validate">
                                <label for="Near">Near</label>
                            </div>
                            <div class="input-field col s6 m3">
                                <input id="Sector" type="text" class="validate">
                                <label for="Sector">Sector</label>
                            </div>
                            <div class="input-field col s6 m3">
                                <input id="City" type="text" class="validate">
                                <label for="City">City</label>
                            </div>
                            <div class="input-field col s6 m3">
                                <input id="Pin" type="text" class="validate">
                                <label for="Pin">Pin Code</label>
                            </div>
                            <div class="col s12">
                                <h5 class="ft16">Highlights</h5>
                            </div>
                            <div class="input-field col s12">
                                <input id="Highlights" type="text" class="validate">
                                <label for="Highlights">Highlights</label>
                            </div>
                            <div class="col s12">
                                <h5 class="ft16">Description</h5>
                            </div>
                           
                            <div class="input-field col s6 m3">
                                <input id="BHK" type="text" class="validate">
                                <label for="BHK">BHK</label>
                            </div>
                            <div class="input-field col s6 m3">
                                <input id="Size" type="text" class="validate">
                                <label for="Size">Size Sq. Ft.</label>
                            </div>
                            <div class="input-field col s6 m3">
                                <input id="Furnishing" type="text" class="validate">
                                <label for="Furnishing">Furnishing</label>
                            </div>
                            <div class="input-field col s6 m3">
                                <input id="Parking" type="text" class="validate">
                                <label for="Parking">Parking</label>
                            </div>
                            <div class="input-field col s6 m3">
                                <input id="Bathrooms" type="text" class="validate">
                                <label for="Bathrooms">Bathrooms</label>
                            </div>
                            <div class="input-field col s6 m2">
                                <input id="ServantRoom" type="text" class="validate">
                                <label for="ServantRoom">Servant Room</label>
                            </div>
                            <div class="input-field col s6 m2">
                                <input id="PoojaRoom" type="text" class="validate">
                                <label for="PoojaRoom">Pooja Room</label>
                            </div>
                            <div class="input-field col s6 m2">
                                <input id="Floor" type="text" class="validate">
                                <label for="Floor">Floor</label>
                            </div>
                            <div class="input-field col s6 m3">
                                <input id="Facing" type="text" class="validate">
                                <label for="Facing">Facing</label>
                            </div>
                             <div class="input-field col s12">
                                <textarea id="textarea1" class="materialize-textarea"></textarea>
                                <label for="textarea1">Type Description</label>
                            </div>
                            <div class="col s12">
                                <h5 class="ft16">Gallery </h5>
                            </div>
                            <div class="file-field col s12 m6 input-field">
                                <div class="btn">
                                    <span>File Upload</span>
                                    <input type="file">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                            <div class="file-field col s12 m6 input-field">
                                <div class="btn">
                                    <span>Cover Image File Upload</span>
                                    <input type="file">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                            <div class="col s12">
                                <h5 class="ft16">Details </h5>
                            </div>
                            <div class="input-field col s4 m3">
                                <input id="Status" type="text" class="validate">
                                <label for="Status">Status</label>
                            </div>
                            <div class="input-field col s4 m3">
                                <input id="AvailableFrom" type="text" class="validate">
                                <label for="AvailableFrom">Available From</label>
                            </div>
                            <div class="input-field col s4 m3">
                                <input id="Rent" type="text" class="validate">
                                <label for="Rent">Rent</label>
                            </div>
                            <div class="input-field col s4 m3">
                                <input id="Maintenance" type="text" class="validate">
                                <label for="Maintenance">Maintenance</label>
                            </div>
                            <div class="input-field col s4 m3">
                                <input id="OtherCharges" type="text" class="validate">
                                <label for="OtherCharges">Other Charges</label>
                            </div>
                            <div class="input-field col s12 m9">
                                <input id="PreferredProfile" type="text" class="validate">
                                <label for="PreferredProfile">Preferred Profile of Tenant</label>
                            </div>
                            <div class="col s12">
                                <h5 class="ft16">Other Details </h5>
                            </div>
                            <div class="input-field col s12">
                                <input id="OtherDetails" type="text" class="validate">
                                <label for="OtherDetails">Other Details text</label>
                            </div>

                            <div class="col s12">
                                <button class="btn btn-primary btn-large b pdl30 pdr30">Submit Property Details</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
