<div>
    <div class="parallax-container prop_htv100">
        <div class="parallax"> <img src="images/v1/home/business-bg.jpg" class="responsive-img"></div>
        <div class="transformfix center wdtrans">            
            <h3 class="white-text text-sd mgbn mgt30">DLF The Magnolias</h3>
            <h5 class="white-text text-sd">Golf Course Road, Sector 42</h5>
        </div>
    </div>
    <div class="container"> 
     <div class="row linkroot mgan">
        <nav class="bgtrans">
            <div class="nav-wrapper bgtrans">
                <div class="col s12 pdln">
                    <a href="/#/home" class="breadcrumb">Home</a>
                    <a href="" class="breadcrumb">Owner Property Details</a>
                </div>
            </div>
        </nav>
    </div>
    </div>
  
    <section>
        <div class="row mgbn grey lighten-5 pd48">
            <div class="container">           
            <div class="row">
                <div class="col s12 m12 l8">
                    <div class="row section scrollspy" id="Overview">
                        <div class="col s12 pdb20">
                            <h3 class="heading mgbn">Overview</h3>
                            <div class="ft14 grey-text">DLF The Magnolias</div>
                        </div>
                        <div class="col s12">
                            <div class="row pdt10">
                                <div class="col s4 m3 pdb20">
                                    <div class="ft14">24x7</div>
                                    <div class="grey-text ft12">Security</div>
                                </div>
                                <div class="col s4 m3 pdb20">
                                    <div class="ft14">₹ 300,000</div>
                                    <div class="grey-text ft12">Rent (3 BHK Approx)</div>
                                </div>
                                <div class="col s4 m3 pdb20">
                                    <div class="ft14">Full</div>
                                    <div class="grey-text ft12">Power Backup</div>
                                </div>
                                <div class="col s4 m3 pdb20">
                                    <div class="ft14">Yes</div>
                                    <div class="grey-text ft12">Car Parking</div>
                                </div>
                                 <div class="col s4 m3 pdb20">
                                    <div class="ft14">14-05-2017</div>
                                    <div class="grey-text ft12">Start Date </div>
                                </div>
                                 <div class="col s4 m3 pdb20">
                                    <div class="ft14">14-05-2017</div>
                                    <div class="grey-text ft12">End Date </div>
                                </div>
                                <div class="col s4 m3 pdb20">
                                    <div class="ft14">₹5,000</div>
                                    <div class="grey-text ft12">Monthly Maintenance</div>
                                </div>
                                <div class="col s4 m3 pdb20">
                                    <div class="ft14">₹50,000</div>
                                    <div class="grey-text ft12">Security Amount</div>
                                </div>
                                  

                                                            
                            </div>
                        </div>
                        <div class="col s12 ft14 grey-text text-darken-2">
                            <p>DLF Group re-defines lavish living with their premium multi-storey project DLF The Magnolias that are ready to move in flats, developed in 5 blocks. The project is entirely designed by the expert architects and offers spacious and luxurious 4BHK and 5BHK homes with study room and servant quarters to give you a posh status quo. It is located in Sector- 42, Gurgaon to give you a lifestyle that is envious and price list which is affordable on your pockets.</p>
                        </div>
                    </div>                   
                  
                </div>
               
            </div>
               <div class="row mgbn section scrollspy" id="gallery">
                        <div class="col s12">
                            <h5 class="ft15 mgtn b pdb10">Gallery</h5>
                        </div>
                        <div class="row mgan">
                            <div class="gallery galleryrowfix">
                                <a ng-href="images/img-offers/home.jpg"><img ng-src="images/img-offers/home.jpg"></a>
                                 <a ng-href="images/img-offers/hotel.jpg"><img ng-src="images/img-offers/hotel.jpg"></a>
                                  <a ng-href="images/img-offers/furniture1.jpg"><img ng-src="images/img-offers/furniture1.jpg"></a>
                                   <a ng-href="images/img-offers/restaurants.jpg"><img ng-src="images/img-offers/restaurants.jpg"></a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
</div>
