<div>
    <div class="parallax-container prop_htv100">
        <div class="parallax"> <img src="images/v1/business/main-bg.jpg" class="responsive-img"></div>
        <div class="transformfix center wdtrans">
            <h3 class=" mgbn">Owner <b>Lease Details Form</b></h3>
            <h5 class=" mgbn">Put your portfolio on autopilot.</h5>
        </div>
    </div>
    <div class="row linkroot mgan">
        <nav class="bgtrans pdl20">
            <div class="nav-wrapper bgtrans">
                <div class="col s12 pdln center">
                    <a href="/#/home" class="breadcrumb">Home</a>
                    <a href="" class="breadcrumb">Owner Inspection</a>
                </div>
            </div>
        </nav>
    </div>
    <section>
        <div class="row mgbn grey lighten-5 pd48">
            <div class="container">
                <div class="row">
                    <div class="col s6 pdr30">
                        <div class="row mgbn">
                            <div class="col s12">
                                <h5>Owner Inspection</h5>
                            </div>
                            <div class="input-field col s12">
                            <i class="material-icons prefix">date_range</i>
                                <input id="startdate" type="date" class="datepicker">
                                <label for="startdate">Start Date</label>
                            </div>
                            <div class="input-field col s12">
                            <i class="material-icons prefix">person</i>
                                <input id="Yourname" type="text" class="validate">
                                <label for="Yourname">Your Name</label>
                            </div>
                            <div class="input-field col s12">
                            <i class="material-icons prefix">list</i>
                                <input id="Details" type="text" class="validate">
                                <label for="Details">Details</label>
                            </div>
                            <div class="col s12">
                                <h5 class="ft16">File Upload</h5>
                            </div>
                            <div class="file-field col s12 input-field">
                                <div class="btn">
                                    <span>File Upload</span>
                                    <input type="file">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                           <div class="col s12">
                                <button class="btn btn-primary btn-large b right pdl30 pdr30">Submit Details</button>
                            </div>
                        </div>
                    </div>
                    <div class="col s6 pdl30">
                        <div class="row mgbn">
                            <div class="col s12">
                                <h5>Documents</h5>
                            </div>
                            <div class="col s12">
                                <h5 class="ft16">ID Proof</h5>
                            </div>
                            <div class="input-field col s12">
                                <select>
                                    <option value="" disabled selected>Choose your Documents</option>
                                    <option value="1">Passport</option>
                                    <option value="2">Voter ID Card</option>
                                    <option value="3">Ration Card</option>
                                    <option value="1">Aadhaar Card (UID)</option>
                                    <option value="2">Driving License</option>
                                    <option value="3">Ration Card</option>
                                </select>
                                <label>Select Documents</label>
                            </div>
                            <div class="file-field col s12 input-field">
                                <div class="btn">
                                    <span>ID Proof</span>
                                    <input type="file">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                            <div class="col s12">
                                <button class="btn btn-primary btn-large b pdl30 pdr30 right">Submit Documents</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
