<div>
    <div class="parallax-container prop_htv100">
        <div class="parallax"> <img src="images/v1/business/main-bg.jpg" class="responsive-img"></div>
        <div class="transformfix center wdtrans">
            <h3 class=" mgbn">Roofpik <b>Rent & Finance</b></h3>
            <h5 class=" mgbn">Simple, fair pricing.</h5>
            <div class="row pda10 mgt30 bgwhite_tr left-align">
                <div class="input-field col s12 m3 l4">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="fullname" type="text" class="validate mgb10">
                    <label for="fullname b">Your Name</label>
                </div>
                <div class="input-field col s12 m3 l3">
                    <i class="material-icons prefix">phone</i>
                    <input id="fullname" type="text" class="validate mgb10">
                    <label for="fullname b">Phone</label>
                </div>
                <div class="input-field col s12 m3 l3">
                    <i class="material-icons prefix">email</i>
                    <input id="emailid" type="text" class="validate mgb10">
                    <label for="emailid b">Email Id</label>
                </div>
                <div class="col s12 m3 l2">
                    <a href="" class="btn btn-full mgt20 b">Submit</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mgan">
        <div class="col s12 pda10 grey lighten-4 center">
            <ul class="manag_menu">
                <li><a href="#/property-management">Overview</a></li>
                <li><a href="#/tenants">Tenat Placement</a></li>
                <li><a href="#/maintenance">Maintenance</a></li>
                <li><a href="#/rent" class="active">Rent & Finance</a></li>
                <li><a href="#/compliance">Compliance</a></li>
                <li><a href="#/emergencies">Emergencies & Support</a></li>
                <li><a href="#/pricing">Pricing</a></li>
            </ul>
        </div>
    </div>
    <div class="row linkroot mgan">
        <nav class="bgtrans pdl20">
            <div class="nav-wrapper bgtrans">
                <div class="col s12 pdln center">
                    <a href="/#/home" class="breadcrumb">Home</a>
                    <a href="" class="breadcrumb">Rent & Finance</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="row mgbn">
        <div class="container">
            <div class="row mgbn pd48">
                <div class="col s12 m6 offset-m3 center">
                    <h5 class="ftw100 ft18 lineh24">We collect rent every month and deposit it into your bank account within seven business days.</h5>
                </div>
                <div class="col s12 m6 offset-m3 mgt20">
                    <img src="images/v1/business/leads.jpg" class="responsive-img">
                </div>
                <div class="col s12 m6 offset-m3 center mgt30">
                    <h5 class="ftw100 ft18 lineh24">
                       See your tenants’ rent roll at a glance in your owner’s dashboard, or dive into your ledgers for a more detailed view.  </h5>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="row mgbn grey lighten-5 pd48">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <img src="images/v1/business/leads.jpg" class="responsive-img">
                    </div>
                    <div class="col s12 center mgt30">
                        <h5 class="ftw100 ft18 lineh24">
                       See your tenants’ rent roll at a glance in your owner’s dashboard, <br>
                       or dive into your ledgers for a more detailed view.  </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row mgbn white pd48">
            <div class="container">
                <div class="row valign-wrapper">
                    <div class="col s12 m4">
                        <img src="images/v1/business/leads.jpg" class="responsive-img">
                    </div>
                    <div class="col s12 m8">
                        <h5 class="ftw100 ft18 lineh24">
                      We do everything we can to ensure rent is paid on time, but when it isn’t,<br> we’re here to 
                      enforce late fees and other penalties. </h5>
                        <a href="" class="text-green mgt30 ft15">Learn more about what we do when rent is late </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <section class="hide-on-med-and-down">
        <div class="row mgbn white pd48 ">
            <div class="container">
                <div class="row mgbn">
                    <div class="col s12 center">
                        <h4>@Roofpik - See what people are talking about their property.</h4>
                    </div>
                </div>
                <div class="carousel carousel-slider indic_color home-carousel" data-indicators="true" style="height: 350px">
                    <div class="carousel-item" href="#one!">
                        <div class="row mgan">
                            <div class="col s12 m6 pda20">
                                <div class="row card mgbn pda20 white valign-wrapper">
                                    <div class="col">
                                        <img src="images/home/Gunjan.jpg" class="imgcir_req">
                                        <div class="ft13 b center">Gunjan, AWHO,
                                            <br>Sispal Vihar</div>
                                    </div>
                                    <div class="col">
                                        <img src="images/general/Quote_Left.png" class="img32">
                                        <p>“The society is for army men and one can feel the aura of discipline, serenity, greenery and cleanliness around. The extremely friendly neighborhood is one of the key features also.”</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m6 pda20">
                                <div class="row card mgbn pda20 white valign-wrapper">
                                    <div class="col">
                                        <img src="images/home/jk.jpg" class="imgcir_req">
                                        <div class="ft13 b center">J.K. Arora
                                            <br> South City 2 </div>
                                    </div>
                                    <div class="col">
                                        <img src="images/general/Quote_Left.png" class="img32">
                                        <p>The moment one thinks of rent a vivid image revolves in our mind. An image of bag packed bachelors or truck loaded duo with their kids around, job change, new city etc.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" href="#two!">
                        <div class="row mgan">
                            <div class="col s12 m6 pda20">
                                <div class="row card mgbn pda20 white valign-wrapper">
                                    <div class="col">
                                        <img src="images/home/neetika.jpg" class="imgcir_req">
                                        <div class="ft13 b center">Neetika,
                                            <br> Fresco Nirvana Country</div>
                                    </div>
                                    <div class="col">
                                        <img src="images/general/Quote_Left.png" class="img32">
                                        <p>“We wanted a gated location too and thus my husband and I decided on this place. Besides excellent security and availability of all services nearby, the society is spacious and green.”</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m6 pda20">
                                <div class="row card mgbn pda20 white valign-wrapper">
                                    <div class="col">
                                        <img src="images/home/Meenakshi.jpg" class="imgcir_req">
                                        <div class="ft13 b center">Meenakshi & Amit Tyagi,
                                            <br> Parsvnath Greenville
                                        </div>
                                    </div>
                                    <div class="col">
                                        <img src="images/general/Quote_Left.png" class="img32">
                                        <p>“The house rent is low compared to the facilities but still I think the support service charges are a little on the higher side of value-for-money.”</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" href="#three!">
                        <div class="row mgan">
                            <div class="col s12 m6 pda20">
                                <div class="row card mgbn pda20 white valign-wrapper">
                                    <div class="col">
                                        <img src="images/home/archna.jpg" class="imgcir_req">
                                        <div class="ft13 b center">Archana Sharma, Woodstock, Nirvana Country
                                        </div>
                                    </div>
                                    <div class="col">
                                        <img src="images/general/Quote_Left.png" class="img32">
                                        <p>“Nirvana Country is known for its independent villas, though Woodstock stands apart by offering apartments and provides for us to be part of an affluent society at an affordable budget…”</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s112 m6 pda20">
                                <div class="row card mgbn pda20 white valign-wrapper">
                                    <div class="col">
                                        <img src="images/home/atul-namdev.jpg" class="imgcir_req">
                                        <div class="ft13 b center">Amit Namdeo,
                                            <br>Omaxe Nile</div>
                                    </div>
                                    <div class="col">
                                        <img src="images/general/Quote_Left.png" class="img32">
                                        <p>“We love the house lay-out. It’s excellent in terms of open space. The balcony and airy rooms is something that we love.”</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- call me back section start -->
    <section class="grey lighten-5 pd48">
        <div class="container">
            <div class="row mgln mgrn">
                <div class="col s12 center">
                    <h5>Get great tenants in your properties in no time.</h5>
                    <p>Please leave your contact details below, and
                        <br> we’ll be in touch within 24 hours</p>
                </div>
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s6 m3">
                            <input id="firstname" type="text" class="validate">
                            <label for="firstname">First Name</label>
                        </div>
                        <div class="input-field col s6 m3">
                            <input id="lastName" type="text" class="validate">
                            <label for="lastName">Last Name</label>
                        </div>
                        <div class="input-field col s6 m3">
                            <input id="email" type="text" class="validate">
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field col s6 m3">
                            <input id="phone" type="text" class="validate">
                            <label for="phone">Phone Number</label>
                        </div>
                    </div>
                </div>
                <div class="col s12 center"><a class="btn" ng-click="businessEnquiry()">Call me back</a></div>
            </div>
        </div>
    </section>
    <!-- call me back section end -->
</div>
