<section class="mgt65">
    <div class="parallax-container htv100">
        <div class="parallax"> <img src="images/home/home-bg.jpg"></div>
        <div class="transformfix">
            <div class="row  container center relative">
                <div class="col s12 m12 l7">
                    <h3 class="white-text text-sd mgbn"><b>Hassle Free Home Search,</b><br>
                    For your employees.</h3>
                </div>
                <div class="col s5 m5 l5 hide-on-med-and-down">
                    <div class="rtfix_cor white card">
                        <div class="row mgan">
                            <div class="col s12 ft15 center pda10">
                                We will take care of
                                <br>
                                <h3 class="mgan ft16 red-text">Search</h3>
                                <p class="ft12 grey-text">Enter your details to get callback</p>
                            </div>
                            <form>
                                <div class="input-field col s12">
                                    <input placeholder="Email" type="text" class="validate mgb5 ft12">
                                </div>
                                <div class="input-field col s2 ft12">
                                    <input placeholder="+91" type="text" class="validate mgb5 ft12">
                                </div>
                                <div class="input-field col s10">
                                    <input placeholder="Mobile No." type="text" class="validate mgb5 ft12">
                                </div>
                                <div class="col s12 mgtmn mgt10">
                                    <button class="btn btn-full"><i class="material-icons left">phone</i> Get Callback</button>
                                    <p class="ft11 grey-text center">Calling hours are from 9 a.m to 10 p.m IST</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mgbn white">
        <div class="container">
            <div class="row linkroot mgbn mgln mgrn">
                <nav>
                    <div class="nav-wrapper">
                        <div class="col s12">
                            <a href="" class="breadcrumb">Home</a>
                            <a href="" class="breadcrumb">Requirement</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="row mgbn white pd48">
        <div class="container">
            <div class="row mgbn">
                <div class="col s12 center">
                    <h3>How it Works</h3>
                </div>
            </div>
            <div class="row valign-wrapper mgbn">
                <div class="col s12 m3 center">
                    <i class="material-icons large red-text">location_city</i>
                    <h5>Checkout Pictures</h5>
                    <p class="ft14">We maintain the largest database of fresh properties, with pics and other relevant details.</p>
                </div>
                <div class="col s12 m1 dotted">
                </div>
                <div class="col s12 m3 center">
                    <i class="material-icons large red-text">group</i>
                    <h5>Checkout Pictures</h5>
                    <p class="ft14 ">We maintain the largest database of fresh properties, with pics and other relevant details.</p>
                </div>
                <div class="col s12 m1 dotted"></div>
                <div class="col s12 m3 center xsspdt10">
                    <i class="material-icons large red-text">settings</i>
                    <h5>Checkout Pictures</h5>
                    <p class="ft14">We maintain the largest database of fresh properties, with pics and other relevant details.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mgbn bgwhite_tr pd48">
        <div class="container">
            <div class="row mgbn">
                <div class="col s12 center">
                    <h3>Find a great agent.</h3>
                    <h6>Our Hall of Fame lists agents who can help you find a great apartment in the right neighborhood.</h6>
                    <div class="row pdlr100">
                        <div class="col s12 m6 l3 pdb20">
                            <img src="images/home/writebg.jpg" class="imgcir_req imghn">
                            <h6>Lorem ipsum</h6>
                            <p class="mgan">Sub heading</p>
                            <div>
                                <i class="material-icons ft15 stargrn">star</i>
                                <i class="material-icons ft15 stargrn">star</i>
                                <i class="material-icons ft15 stargrn">star</i>
                                <i class="material-icons ft15 stargrn">star</i>
                                <i class="material-icons ft15 stargrn">star</i>
                                <span class="ft12 lineh16">(3.95)</span>
                            </div>
                        </div>
                        <div class="col s12 m6 l3 pdb20">
                            <img src="images/home/writebg.jpg" class="imgcir_req imghn">
                            <h6>Lorem ipsum</h6>
                            <p class="mgan">Sub heading</p>
                            <div>
                                <i class="material-icons ft15 stargrn">star</i>
                                <i class="material-icons ft15 stargrn">star</i>
                                <i class="material-icons ft15 stargrn">star</i>
                                <i class="material-icons ft15 stargrn">star</i>
                                <i class="material-icons ft15 stargrn">star</i>
                                <span class="ft12 lineh16">(3.95)</span>
                            </div>
                        </div>
                        <div class="col s12 m6 l3 pdb20">
                            <img src="images/home/writebg.jpg" class="imgcir_req imghn">
                            <h6>Lorem ipsum</h6>
                            <p class="mgan">Sub heading</p>
                            <div>
                                <i class="material-icons ft15 stargrn">star</i>
                                <i class="material-icons ft15 stargrn">star</i>
                                <i class="material-icons ft15 stargrn">star</i>
                                <i class="material-icons ft15 stargrn">star</i>
                                <i class="material-icons ft15 stargrn">star</i>
                                <span class="ft12 lineh16">(3.95)</span>
                            </div>
                        </div>
                        <div class="col s12 m6 l3 pdb20">
                            <img src="images/home/writebg.jpg" class="imgcir_req imghn">
                            <h6>Lorem ipsum</h6>
                            <p class="mgan">Sub heading</p>
                            <div>
                                <i class="material-icons ft15 stargrn">star</i>
                                <i class="material-icons ft15 stargrn">star</i>
                                <i class="material-icons ft15 stargrn">star</i>
                                <i class="material-icons ft15 stargrn">star</i>
                                <i class="material-icons ft15 stargrn">star</i>
                                <span class="ft12 lineh16">(3.95)</span>
                            </div>
                        </div>
                    </div>
                    <a href="" class="btn">Find Your Agent!</a>
                </div>
            </div>
        </div>
    </div>
    <section>
    <div class="row mgbn pd48 hide-on-med-and-down">
        <div class="container">
            <div class="row mgbn">
                <div class="col s12 center">
                    <h3>What our customers are saying</h3>
                </div>
            </div>
            <div class="row mgan relative">
                <div class="carousel carousel-slider indic_color ht300" data-indicators="true">
                    <div class="carousel-item" href="#one!">
                        <div class="row mgan">
                            <div class="col s6 pda20">
                                <div class="row card mgbn pda20 white">
                                    <div class="col s5">
                                        <img src="images/home/writebg.jpg" class="imgcir_req">
                                    </div>
                                    <div class="col s7">
                                        <img src="images/general/Quote_Left.png" class="img32">
                                        <p>I was moving on a very short notice. FastFox could get me a house in 2 days flat. Very fast indeed.</p>
                                        <div class="ft13 b">Lorem Ipsum
                                            <br> India </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col s6 pda20">
                                <div class="row card mgbn pda20 white">
                                    <div class="col s5">
                                        <img src="images/home/writebg.jpg" class="imgcir_req">
                                    </div>
                                    <div class="col s7">
                                        <img src="images/general/Quote_Left.png" class="img32">
                                        <p>I was moving on a very short notice. FastFox could get me a house in 2 days flat. Very fast indeed.</p>
                                        <div class="ft13 b">Lorem Ipsum
                                            <br> India </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" href="#two!">
                        <div class="row mgan">
                            <div class="col s6 pda20">
                                <div class="row card mgbn pda20 white">
                                    <div class="col s5">
                                        <img src="images/home/writebg.jpg" class="imgcir_req">
                                    </div>
                                    <div class="col s7">
                                        <img src="images/general/Quote_Left.png" class="img32">
                                        <p>I was moving on a very short notice. FastFox could get me a house in 2 days flat. Very fast indeed.</p>
                                        <div class="ft13 b">Lorem Ipsum
                                            <br> India </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col s6 pda20">
                                <div class="row card mgbn pda20 white">
                                    <div class="col s5">
                                        <img src="images/home/writebg.jpg" class="imgcir_req">
                                    </div>
                                    <div class="col s7">
                                        <img src="images/general/Quote_Left.png" class="img32">
                                        <p>I was moving on a very short notice. FastFox could get me a house in 2 days flat. Very fast indeed.</p>
                                        <div class="ft13 b">Lorem Ipsum
                                            <br> India </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" href="#three!">
                        <div class="row mgan">
                            <div class="col s6 pda20">
                                <div class="row card mgbn pda20 white">
                                    <div class="col s5">
                                        <img src="images/home/writebg.jpg" class="imgcir_req">
                                    </div>
                                    <div class="col s7">
                                        <img src="images/general/Quote_Left.png" class="img32">
                                        <p>I was moving on a very short notice. FastFox could get me a house in 2 days flat. Very fast indeed.</p>
                                        <div class="ft13 b">Lorem Ipsum
                                            <br> India </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col s6 pda20">
                                <div class="row card mgbn pda20 white">
                                    <div class="col s5">
                                        <img src="images/home/writebg.jpg" class="imgcir_req">
                                    </div>
                                    <div class="col s7">
                                        <img src="images/general/Quote_Left.png" class="img32">
                                        <p>I was moving on a very short notice. FastFox could get me a house in 2 days flat. Very fast indeed.</p>
                                        <div class="ft13 b">Lorem Ipsum
                                            <br> India </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <div class="clearfix"></div>
    <section>
        <div class="parallax-container" style="height: 400px">
            <div class="parallax"> <img src="images/home/writebg.jpg"></div>
            <div class="transformfix white-text center">
                <h2>Fastest way to rent home</h2>
                <h5>Quick, convenient and hassle-free</h5>
            </div>
        </div>
    </section>
    <!-- call me back section start -->
    <section class="white pd48">
        <div class="container">
            <div class="row mgln mgrn">
                <div class="col s12 center">
                    <h3>Why advertise on Roofpik?</h3>
                    <p>Please leave your contact details below, and
                        <br> we’ll be in touch within 24 hours</p>
                </div>
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s4 m2 offset-m1">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">City</label>
                        </div>
                        <div class="input-field col s4 m2">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">lorem ipsum</label>
                        </div>
                        <div class="input-field col s4 m2">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">Your full name</label>
                        </div>
                        <div class="input-field col s4 m2">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">Email</label>
                        </div>
                        <div class="input-field col s4 m2">
                            <input id="review-title" type="text" class="validate" required>
                            <label for="review-title">Phone Number</label>
                        </div>
                    </div>
                </div>
                <div class="col s12 center"><a href="" class="btn">Call me back</a></div>
            </div>
        </div>
    </section>
      <!-- call me back section end -->
    <script>
    $(document).ready(function() {

        $('.parallax').parallax();



    });

    $(function() {
        $('.carousel.carousel-slider').carousel({
            full_width: true
        });
    });
    </script>
</section>
