<div>
    <section class="mgt65">
        <div class="row linkroot mgan">
            <nav class="bgtrans">
                <div class="nav-wrapper bgtrans">
                    <div class="col s12 m10 xspdl20 offset-m1">
                        <a href="/#/home" class="breadcrumb">Home</a>
                        <a href="" class="breadcrumb">Take The Pladge</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row pd48">
            <div class="col s12 m6 offset-m3">
                <div class="row mgan">
                    <div class="col s12 pdl30 xspdl10">
                        <h4 class="orange-text">Fill in the Details</h4>
                        <p>Join here</p>
                        <form name="contactUs">
                            <div class="row mgbn">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">person</i>
                                    <input id="select_project" type="text" class="mgb10 validate" required>
                                    <label for="select_project">Your Name</label>
                                </div>
                            </div>
                            <div class="row mgbn">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">email</i>
                                    <input id="select_project" type="text" class="mgb10 validate" required>
                                    <label for="select_project">Your Email</label>
                                </div>
                            </div>
                            <div class="row mgbn">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">phone</i>
                                    <input id="select_project" type="text" class="mgb10 validate" required>
                                    <label for="select_project">Your phone</label>
                                </div>
                            </div>
                            <div class="row mgbn">
                                <div class="input-field col s12">
                                  <i class="material-icons prefix">date_range</i>
                                    <input id="datebirth" type="date" class="datepicker">
                                    <label for="datebirth">Date Of Birth</label>
                                </div>
                            </div>
                            <div class="row mgbn">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">message</i>
                                    <textarea id="textarea1" class="materialize-textarea mgb10" required></textarea>
                                    <label for="textarea1">Type your Message</label>
                                </div>
                            </div>
                            <div class="col s12">
                                <button class="btn btn-full btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
    });
    </script>
    <!-- controllers -->
</div>
