<div>
    <div class="parallax-container htv100">
        <div class="parallax"> <img src="images/verified-res.jpg" class="responsive-img"></div>
        <div class="transformfix center">
            <h3 class="white-text text-sd mgbn">Verified <b>Profiles</b></h3>
        </div>
    </div>
    <div class="row mgbn white">
        <div class="container">
            <div class="row linkroot mgbn mgln mgrn">
                <nav>
                    <div class="nav-wrapper">
                        <div class="col s12">
                            <a href="" class="breadcrumb">Home</a>
                            <a href="" class="breadcrumb">Verified</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="row mgbn white">
        <div class="container">            
                <div class="row center mgbn">
                    <div class="col s12 m10 offset-m1 mgt20">
                        <h5>What is a Verified account on Roofpik?</h5>
                        <p>A verified account is one that Roofpik considers a trustworthy source of information for its online community. Any account with a blue checkbox on their Roofpik profile is a verified account. </p>
                    </div>
                    <div class="col s12 m10 offset-m1 mgt20">
                        <h5>Why are some accounts Verified and others aren’t?</h5>
                        <p>Roofpik verifies accounts to differentiate and authenticate the most active and reliable reviewers on the portal. In many ways, Verification is also our way of helping you differentiate between people who might be able to help you more with their unbiased, trustworthy, and informative reviews. Because not all accounts offer these advantages, we verify only the ones that meet our prerequisites for Verification. (P.S.: Roofpik cannot guarantee that Verified accounts are free from subjective opinions!)</p>
                    </div>
                    <div class="col s12 m10 offset-m1 mgt20">
                        <h5>What counts as a Verification-worthy account?</h5>
                        <p>If you consistently provide quality reviews that offer helpful, objective information, or expertise in a locality, you stand a chance to be considered for Verification. At Roofpik, we are continuously tweaking our criteria for Verification to help our users get access to high-quality content.</p>
                    </div>
                    <div class="col s12 m10 offset-m1 mgt20">
                        <h5>I’ve contributed some great reviews. Why hasn't my account been Verified? </h5>
                        <p>If you’ve been consistently contributing to the Roofpik community by means of writing genuine and unbiased property reviews, we’re likely already considering you for Verification. Please be patient and keep those helpful contributions coming in for us to notice you. Oh, and we do not accept profile Verification requests, so please do not make one.</p>
                    </div>

                     <div class="col s12 m10 offset-m1 mgt20">
                        <h5>Yay! I have a Verified account. What extra features can I enjoy on Roofpik?</h5>
                        <p>Sorry, Verified accounts on Roofpik get no extra features. Verification is a means to authenticate your continued passion to help our vibrant community of renters and buyers. It doesn’t qualify one for special privileges. </p>
                    </div>
                     <div class="col s12 m10 offset-m1 mgt20">
                        <h5>Can one lose their Verified status?</h5>
                        <p>Yes, Verified accounts can be stripped off the Verified status if they are found to be in violation of Roofpik’s Review Guidelines, Terms of Service, or Code of Conduct. </p>
                    </div>


                </div>            
        </div>
    </div>
    <script>
    $(document).ready(function() {
        $('ul.tabs').tabs();
        Materialize.updateTextFields();

        $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 240
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true // Choose whether you can drag to open on touch screens
        });
        $('select').material_select();
        $('.slider').slider();
        $('.dropdown-button').dropdown();
        $('.carousel').carousel();
        $('.modal').modal();
        $('.parallax').parallax();

    });
    </script>
</div>
