<section class="story-main mgt65">
    <link rel="stylesheet" type="text/css" href="../../css/story.style.css">
    <div class="row no-padding">
        <div class="col s8 no-padding" ng-click="showStory(featuredlarge.key)">
            <div class="margaret-first-column type-in twonins-post-1">
                <div class="thumb">
                    <img ng-src="{{featuredlarge.imgsrc}}" class="responsive-img">
                </div>
                <div class="post-info">
                    <div class="post-cat">
                        <a href="">{{featuredlarge.projName}}</a>
                    </div>
                    <h2 class="post-title">
                            <a href="">
                                       {{featuredlarge.name}}
                                                         </a>
                        </h2>
                    <div class="post-meta">
                        <div class="post-author">
                            <span class="avatar">
                                    By
                                </span>
                            <a href="">{{featuredlarge.authorname}}</a>
                        </div>
                        <div class="date">
                            {{featuredlarge.date | date}} </div>
                        <div class="meta-comment">
                            <a href="">1</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s4 no-padding">
            <div class="row no-padding">
                <div class="col s12 no-padding" ng-repeat="fsmall in featuredsmall" ng-click="showStory(fsmall.key)">
                    <div class="margaret-first-column type-in twonins-post-1">
                        <div class="thumb">
                            <img ng-src="{{fsmall.imgsrc}}" class="responsive-img">
                        </div>
                        <div class="post-info pda20">
                            <h2 class="post-title mgan">
                            <a href="" class="flow-text"> {{fsmall.name}} </a>
                        </h2>
                            <div class="post-meta">
                                <div class="post-author">
                                    <span class="avatar">
                                    By
                                </span>
                                    <a href="">{{fsmall.authorname}}</a>
                                </div>
                                <div class="date">
                                    {{fsmall.date | date}} </div>
                                <div class="meta-comment">
                                    <a href="">1</a>
                                </div>
                            </div>
                            <div class="post-cat mgt5">
                                <a href="">{{fsmall.projName}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="twonins-header">
                <h3 class="main-title">Resident Story</h3>
                <div class="sub-title">
                    <p>Story of people living in Gurgaon</p>
                </div>
            </div>
        </div>
        <div class="row" ng-repeat="story in stories">
            <div class="col s12 hoverable pointer" ng-if="$odd" ng-click="showStory(story.key)">
                <div class="row mgbn valign-wrapper">
                    <div class="col s12 m6 no-padding">
                        <img ng-src="{{story.imgsrc}}" class="responsive-img block" />
                    </div>
                    <div class="col s12 m6">
                        <div class="pda10">
                            <div class="story-meta">
                                <span class="story-date">{{story.date | date}} /</span>
                                <span class="story-author">by  {{story.authorname}} /</span>
                                <span class="story-project">{{story.user}} /</span>
                                <span class="story-project">{{story.views}} 76</span>
                                <h3 class="story-title">{{story.name}} </h3>
                            </div>
                            <!-- .entry-meta -->
                            <p>{{story.shortDesc}} </p>
                            <a href="" class="nicole-post-button" ng-click="showStory(story.key)">Read More  </a>
                            <!-- .entry-footer -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 hoverable pointer" ng-if="$even" ng-click="showStory(story.key)">
                <div class="row mgbn valign-wrapper">
                    <div class="col s12 m6">
                        <div class="pda10">
                            <div class="story-meta">
                                <span class="story-date">{{story.date | date}}  /</span>
                                <span class="story-author">by  {{story.authorname}} /</span>
                                <span class="story-project">{{story.user}} /</span>
                                <span class="story-project">{{story.views}} 444</span>
                                <h3 class="story-title">{{story.name}} </h3>
                            </div>
                            <!-- .entry-meta -->
                            <p>{{story.shortDesc}} </p>
                            <a href="" class="nicole-post-button" ng-click="showStory(story.key)">Read More</a>
                            <!-- .entry-footer -->
                        </div>
                    </div>
                    <div class="col s12 m6 no-padding">
                        <img ng-src="{{story.imgsrc}}" class="responsive-img block" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
