<div>
    <h1 id="project-name">{{projectName}}&nbsp;&nbsp;<span ng-repeat="rate in [1,2,3,4,5] track by $index" ng-show="allRatings.overallRating">
        <i class="fa fa-star" ng-class="($index<=(allRatings.overallRating-1))?'newGreen':'grey'" id="overall-rating"></i>
        </span>
        <span id="review-num" ng-show="allRatings.overallRating">({{allRatings.overallRatingNum}} Review<span ng-show="allRatings.overallRatingNum > 1">s</span>)</span>
        <span ng-hide="allRatings.overallRating" id="overall-rating">(0 Reviews) <a href="/#/write-reviews/{{project.projectId}}" class="newGreen">Be the first one to review.</a></span>
    </h1>
    <p id="display-address" >{{project.projectDetails.address.displayAddress}}</p>
    <div layout="row" layout-wrap id="status-segment">
        <div flex flex-xs="50" id="status">
            <i class="fa fa-home"></i>
            <p>{{project.projectStatus}}</p>
        </div>
        <div flex flex-xs="50" id="bhk" ng-show="project.configurations">
            <i class="fa fa-bed"></i>
            <p>{{bhk}}</p>
        </div>
        <div flex flex-xs="100" id="segment">
            <i class="fa fa-diamond"></i>
            <p>{{project.segment}}</p>
        </div>
    </div>
    <div layout="row" layout-wrap id="detail">
        <div flex="20" flex-xs="30" id="detail-title">
            <p>Price</p>
        </div>
        <div flex="80" flex-xs="70" layout-wrap layout="row" id="detail-value">
            <div flex="50" flex-xs="100" flex-sm="100">
                <p><b>Buy:&nbsp;&nbsp;</b>&#8377;{{buyMin}}<span ng-show="buyMin != buyMax"> - &#8377;{{buyMax}}</span></p>
            </div>
            <div flex="50" flex-xs="100" flex-sm="100">
                <p><b>Rent:&nbsp;&nbsp;</b>&#8377;{{rentMin}}<span ng-show="rentMin != rentMax"> - &#8377;{{rentMax}}</p>
            </div>
        </div>
    </div>
    <div layout="row" layout-wrap id="detail" ng-show="project.configurations">
        <div flex="20" flex-xs="30" id="detail-title">
            <p>Area</p>
        </div>
        <div flex="80" flex-xs="70" layout="row" id="detail-value">
            <p>{{minArea}} <span ng-show="minArea != 'NA'">Sq.Ft.<span><span ng-show="minArea != maxArea"> - {{maxArea}} Sq.Ft.</span></p>
        </div>
    </div>
    <div layout="row" layout-wrap id="detail">
        <div flex="20" flex-xs="30" id="detail-title">
            <p>Address</p>
        </div>
        <div flex="80" flex-xs="70" layout="row" id="detail-value">
            <p>{{project.projectDetails.address.addressLine1}}, {{project.projectDetails.address.addressLine2}}</p>
        </div>
    </div>
    <div layout="row" layout-wrap ng-show="project.configurations" id="detail">
        <div flex="20" flex-xs="30" id="detail-title">
            <p>Property Type</p>
        </div>
        <div flex="80" flex-xs="70" layout="row" id="detail-value" layout-align="start center" layout-wrap>
            <span flex="33" ng-repeat="prop in propertyTypes" id="property-types">{{prop}}</span>
        </div>
    </div>
    <div layout="row" layout-wrap ng-show="project.standoutFeatures" id="detail">
        <div flex="20" flex-xs="30" id="detail-title">
            <p>Standout Features</p>
        </div>
        <div flex="80" flex-xs="70" id="detail-value" layout="row" layout-wrap layout-align="start center">
            <span flex="50" flex-xs="100" ng-repeat="feature in project.standoutFeatures" id="feature-name">{{feature.featureName}}</span>
        </div>
    </div>
    <div layout="row" layout-wrap ng-show="project.amenities" id="detail">
        <div flex="20" flex-xs="30" id="detail-title">
            <p>Amenities</p>
        </div>
        <div flex="80" flex-xs="70" id="detail-value">
            <div ng-repeat="(key,value) in amenities" layout="row" layout-wrap layout-align="start center">
                <span flex="100" flex-xs="100" ng-show="((key == 'basic')|| (key != 'basic' && !showMoreNotClicked))">
                        <p id="amenity-category"><b>{{key}}</b></p>
                    </span>
                <span flex="50" flex-xs="100" ng-repeat="item in value" ng-show="((item.category == 'basic')|| (item.category != 'basic' && !showMoreNotClicked))" ng-class="item.value  != 'No'?'normal':'stikeText'">
                            {{item.name}}
                            <span ng-show="item.value != 'Yes' && item.value!= 'No'">
                            ({{item.value}})
                            </span>
                </span>
            </div>
            <span flex="100" id="show-more-btn" ng-class="showMoreNotClicked? 'newGreen':'normalGrey'" ng-click="showMoreAmenities()">Show {{amenitiesMoreLess}}</span>
        </div>
    </div>
    <div flex="100" ng-show="project.configurations" id="detail">
        <div layout="row" id="detail-title">
            <div flex="25">Unit Types</div>
            <div flex="25">Super Built Area</div>
            <div flex="25">Buy Price</div>
            <div flex="25">Rent Price</div>
        </div>
        <div layout="row" ng-repeat="config in configurations | orderBy: 'bhk'" id="detail-value">
            <div flex="25">{{config.bhk}} BHK {{config.unit}}</div>
            <div flex="25">{{config.superBuiltAreaMin}} Sq. Ft. <span ng-show="config.superBuiltAreaMin != config.superBuiltAreaMax">- {{config.superBuiltAreaMax}} Sq. Ft.</span></div>
            <div flex="25"><span ng-show="config.buyMin != 'NA'">&#8377;</span>{{config.buyMin}} <span ng-show="config.buyMin != config.buyMax">- &#8377;{{config.buyMax}}</span></div>
            <div flex="25"><span ng-show="config.rentMin != 'NA'">&#8377;</span>{{config.rentMin}} <span ng-show="config.rentMin != config.rentMax">- &#8377;{{config.rentMax}}</span></div>
        </div>
    </div>
</div>
