<div ng-show="hasReviews">
    <div class="user-review" ng-repeat="review in reviews" layout="row" layout-wrap ng-show="$index < viewReviews">
        <div class="user-img" flex-gt-sm="15" flex-xs="25" flex-sm="20">
            <img src="images/general/noImage.png" alt="User">
        </div>
        <div flex-gt-sm="85" flex-xs="75" flex-sm="75">
            <div class="review-detail-basic">
                <p ng-show="!review.anonymous"><b>{{review.userName}}</b> | {{review.createdDate | date:'MMM dd, yy'}}</p>
                <p ng-show="review.anonymous"><b>Anonymous</b> | {{review.createdDate | date:'MMM dd, yy'}}</p>
            </div>
            <div class="rating-title">
                <h3>
                    <span ng-repeat="rate in [1,2,3,4,5] track by $index"><i class="fa fa-star" ng-class="($index<=(review.overallRating-1))?'newGreen':'grey'"></i></span> 
                </h3>
                <h3 id="review-title">{{review.reviewTitle}}</h3>
            </div>
            <p id="review-text" ng-show="!review.hide">{{review.reviewText | limitTo:470}}<span ng-show="review.wordCount > 470">...<span style="color: #1ab0d3;font-weight:bold;cursor:pointer;" ng-click="review.hide = !review.hide">Show More</span></span></p>
            <p id="review-text" ng-hide="!review.hide">{{review.reviewText}}</p>
        </div>
    </div>
    <div class="more-review-btn" ng-show="showReviewBtn">
        <md-button ng-click="showMoreReviews()">View More</md-button>
    </div>
</div>
