<div>
    <div class="all-rating-summary" flex="100">
        <p class="rating-summary-title">User Ratings</p>
        <div class="rating-block">
            Excellent ({{allRatings.fiveStar}})
            <div class="progress-bar">
                <span class="my-progress" id="excellentStar"></span>
            </div>
        </div>
        <div class="rating-block">
            Very Good ({{allRatings.fourStar}})
            <div class="progress-bar">
                <span class="my-progress" id="veryGoodStar"></span>
            </div>
        </div>
        <div class="rating-block">
            Good ({{allRatings.threeStar}})
            <div class="progress-bar">
                <span class="my-progress" id="goodStar"></span>
            </div>
        </div>
        <div class="rating-block">
            Average ({{allRatings.twoStar}})
            <div class="progress-bar">
                <span class="my-progress" id="averageStar"></span>
            </div>
        </div>
        <div class="rating-block">
            Bad ({{allRatings.oneStar}})
            <div class="progress-bar">
                <span class="my-progress" id="badStar"></span>
            </div>
        </div>
    </div>
    <div class="rating-summary" flex="100">
        <p class="rating-summary-title">Rating Summary</p>
        <p class="rating-summary-ratings" >
            <span>Amenities <span class="roofpikGreen">({{allRatings.amenities || 0}})</span></span>
            <span class="overall-ratings">
                <span ng-repeat="rate in [1,2,3,4,5] track by $index" >
                    <i class="fa fa-star" ng-class="($index<=(allRatings.amenities1-1))?'newGreen':'grey'"></i>
                </span>
            </span>
        </p>
        <p class="rating-summary-ratings">
            <span>Security <span class="roofpikGreen">({{allRatings.security || 0}})</span></span>
            <span class="overall-ratings">
                <span ng-repeat="rate in [1,2,3,4,5] track by $index" >
                    <i class="fa fa-star" ng-class="($index<=(allRatings.security1-1))?'newGreen':'grey'"></i>
                </span>
            </span>
        </p>
        <p class="rating-summary-ratings">
            <span>Open And Green Areas <span class="roofpikGreen">({{allRatings.openAndGreenAreas || 0}})</span></span>
            <span class="overall-ratings">
                <span ng-repeat="rate in [1,2,3,4,5] track by $index" >
                    <i class="fa fa-star" ng-class="($index<=(allRatings.openAndGreenAreas1-1))?'newGreen':'grey'"></i>
                </span>
            </span>
        </p>
        <p class="rating-summary-ratings">
            <span>Electricity And Water Supply <span class="roofpikGreen">({{allRatings.electricityAndWaterSupply || 0}})</span></span>
            <span class="overall-ratings">
                <span ng-repeat="rate in [1,2,3,4,5] track by $index" >
                <i class="fa fa-star" ng-class="($index<=(allRatings.electricityAndWaterSupply1-1))?'newGreen':'grey'"></i>
                </span>
            </span>
        </p>
        <p class="rating-summary-ratings">
            <span>Convenience Of House Maids <span class="roofpikGreen">({{allRatings.convenienceOfHouseMaids || 0}})</span></span>
            <span class="overall-ratings">
                <span ng-repeat="rate in [1,2,3,4,5] track by $index" >
                    <i class="fa fa-star" ng-class="($index<=(allRatings.convenienceOfHouseMaids1-1))?'newGreen':'grey'"></i>
                </span>
            </span>
        </p>
        <p class="rating-summary-ratings">
            <span>Convenience Of Parking <span class="roofpikGreen">({{allRatings.convenienceOfParking || 0}})</span></span>
            <span class="overall-ratings">
                <span ng-repeat="rate in [1,2,3,4,5] track by $index" >
                    <i class="fa fa-star" ng-class="($index<=(allRatings.convenienceOfParking1-1))?'newGreen':'grey'"></i>
                </span>
            </span>
        </p>
        <p class="rating-summary-ratings">
            <span>Layout Of Apartment<span class="roofpikGreen">({{allRatings.layoutOfApartment || 0}})</span></span>
            <span class="overall-ratings">
                <span ng-repeat="rate in [1,2,3,4,5] track by $index" >
                    <i class="fa fa-star" ng-class="($index<=(allRatings.layoutOfApartment1-1))?'newGreen':'grey'"></i>
                </span>
            </span>
        </p>
        <p class="rating-summary-ratings">
            <span>Infrastructure<span class="roofpikGreen">({{allRatings.infrastructure || 0}})</span></span>
            <span class="overall-ratings">
                <span ng-repeat="rate in [1,2,3,4,5] track by $index" >
                    <i class="fa fa-star" ng-class="($index<=(allRatings.infrastructure1-1))?'newGreen':'grey'"></i>
                </span>
            </span>
        </p>
    </div>
</div>
