<footer class="page-footer greytran grey-text">
    <div class="container container2">
        <div class="row ft12">
            <div class="col s12 m3 bodft xssm1">
                <h5>Links</h5>
                <ul class="footer-link">
                    <!-- <li><a class="grey-text" href="#!">Home</a></li> -->
                    <li><a class="grey-text" href="/#/about-us">About Us</a></li>
                    <li><a class="grey-text" href="/#/blogs/gurgaon/-KYJONgh0P98xoyPPYm9/1">Blog</a></li>
                    <li><a class="grey-text" href="/#/cover-stories/gurgaon/-KYJONgh0P98xoyPPYm9/1">Cover Stories</a></li>
                    <li><a class="grey-text" ng-href="{{goToListPage()}}">Projects</a></li>
                    <li><a class="grey-text" href="/#/write-review">Write Review</a></li>
                    <li><a class="grey-text" href="/#/faq">FAQs</a></li>
                    <li><a class="grey-text" href="/#/contact-us">Contact Us</a></li>
                </ul>
            </div>
            <div class="col s6 m4 pdr70 xs12 bodxs xssm2">
                <div class="row mgln mgrn">
                    <h5 class="grey-text">Join Our Newsletter</h5>
                    <p>Subscribe now for the latest in your local real estate market.</p>
                    <form name="forms.newsletter">
                        <div class="input-field col s12 pdln mgtn">
                            <i class="material-icons prefix">email</i>
                            <input name="emailAddress" placeholder="Email *" type="email" ng-model="mail" class="validate mgbn ft12" required>
                            <p class="redf" ng-show="forms.newsletter.emailAddress.$invalid && forms.newsletter.emailAddress.$touched">Please enter a vaild email address.</p>
                        </div>
 <!--                        <div class="input-field col s12 pdln mgtn overhdn">
                            <div id="captcha" vc-recaptcha theme="'dark'" key="model.key" on-create="setWidgetId(widgetId)" on-success="setResponse(response)" on-expire="cbExpiration()">
                            </div>
                        </div> -->
                        <div class="col s12 mgt10 pdln">
                            <button class="btn btn-full blue" ng-click="addSubscriber(mail)" ng-disabled="forms.newsletter.$invalid"><i class="material-icons left">send</i> Join</button>
                        </div>
                    </form>
                </div>
                <div class="row mgt30 mgln mgrn">
                    <h5 class="grey-text">Connect with us</h5>
                    <a href="https://www.facebook.com/roofpik" target="_blank">
                        <img src="images/general/facebook.png">
                    </a>
                    <a href="https://www.linkedin.com/company/roofpik?trk=job_view_topcard_company_name" target="_blank">
                        <img src="images/general/linked-in.png">
                    </a>
                    <a href="https://www.twitter.com/roofpik" target="_blank">
                        <img src="images/general/twitter.png">
                    </a>
                </div>
            </div>
            <div class="col s6 m5 xs12 xssm2">
                <h5>Contact Us</h5>
                <p>Can't find what you're looking for? Drop us a note and our team will get in touch with you.</p>
                <div>
                    <form name="forms.contactUs" ng-submit="submitQuery(user)">
                        <div class="input-field col s12 pdln mgtn">
                            <i class="material-icons prefix">account_circle</i>
                            <input name="userName" placeholder="Name *" type="text" class="validate mgbn ft12" ng-model="user.name" required>
                            <p class="redf" ng-show="forms.contactUs.userName.$invalid && forms.contactUs.userName.$touched">This field is required.</p>
                        </div>
                        <div class="row mgan">
                            <div class="input-field col s12 m6 pdln mgtn">
                                <i class="material-icons prefix">phone</i>
                                <input name="userMobile" placeholder="Phone *" type="text" class="validate mgbn ft12" ng-model="user.mobile" ng-minlength="10" ng-maxlength="10" required>
                                <p class="redf" ng-show="forms.contactUs.userMobile.$invalid && forms.contactUs.userMobile.$touched">Invalid Number</p>
                            </div>
                            <div class="input-field col s12 m6 pdln mgtn">
                                <i class="material-icons prefix">email</i>
                                <input name="userEmail" placeholder="Email *" type="email" class="validate mgbn ft12" ng-model="user.email" required>
                                <p class="redf" ng-show="forms.contactUs.userEmail.$invalid && forms.contactUs.userEmail.$touched">Please enter a valid email address.</p>
                            </div>
                        </div>
                        <div class="input-field col s12 pdln mgtn sele_list">
                            <i class="material-icons prefix">list</i>
                            <select class="mgbn" ng-model="user.userType" required>
                                <option value="" disabled selected>Choose your option *</option>
                                <option value="partner">Partner</option>
                                <option value="investor">Investor</option>
                                <option value="career">Career</option>
                            </select>
                        </div>
                        <div class="input-field col s12 pdln mgtn">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea name="userText" id="icon_prefix2" placeholder="Type your text *" ng-model="user.message" class="materialize-textarea mgbn" required></textarea>
                            <p class="redf" ng-show="forms.contactUs.userText.$invalid && forms.contactUs.userText.$touched">This field is required.</p>
                        </div>
                        <!--   <div
                    vc-recaptcha theme="'light'" key="model.key" on-create="setWidgetId(widgetId)" on-success="setResponse(response)" on-expire="cbExpiration()" >
                        </div> -->
                        <!-- <div class="input-field col s12 pdln mgtn overhdn">
                            <div id="captcha" vc-recaptcha theme="'dark'" key="model.key" on-create="setWidgetId(widgetId)" on-success="setResponse(response)" on-expire="cbExpiration()">
                            </div>
                        </div> -->
                        <div class="col s12 mgt10 pdln">
                            <button class="btn btn-full dark-grey blue" ng-disabled="forms.contactUs.$invalid" type="submit"><i class="material-icons left">list</i> Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright greytran">
        <div class="container white-text center ft12">
            © AlphaBinary Technologies Pvt Ltd
        </div>
    </div>
</footer>
