<footer class="page-footer greytran grey-text">
    <div class="container">
        <div class="row ft12">
            <div class="col s12 m3 bodft">
                <h5>Links</h5>
                <ul class="footer-link">
                    <li><a class="grey-text" href="#!">Home</a></li>
                    <li><a class="grey-text" href="#!">About Us</a></li>
                    <li><a class="grey-text" href="#!">Blogs</a></li>
                    <li><a class="grey-text" href="#!">Write Review</a></li>
                    <li><a class="grey-text" href="#!">Cover Stories</a></li>
                    <li><a class="grey-text" href="#!">Projects</a></li>
                    <li><a class="grey-text" href="#!">FAQ's</a></li>
                    <li><a class="grey-text" href="#!">Contact Us</a></li>
                </ul>
            </div>
            <div class="col s6 m4 pdr70 xs12 bodxs">
                <div class="row mgln mgrn">
                    <h5 class="grey-text">Join Our Newsletter</h5>
                    <p>Subscribe now for the latest in your local real estate market.</p>
                    <form name="newsletter">
                        <div class="input-field col s12 pdln mgtn">
                            <i class="material-icons prefix">email</i>
                            <input placeholder="Email" type="email" ng-model="mail" class="validate mgbn ft12" required>
                        </div>
                        <div class="col s12 mgt10 pdln">
                            <button class="btn btn-full blue" ng-click="addSubscriber(mail)" ng-disabled="newsletter.$invalid"><i class="material-icons left">send</i> Join</button>
                        </div>
                    </form>
                </div>
                <div class="row mgt30 mgln mgrn">
                    <h5 class="grey-text">Connect with us</h5>
                    <a href="https://www.facebook.com/roofpik" target="_blank">
                        <img src="images/general/facebook.png">
                    </a>
                    <a href="https://www.linkedin.com/company/roofpik?trk=job_view_topcard_company_name" target="_blank">
                        <img src="images/general/linked-in.png">
                    </a>
                    <a href="https://www.twitter.com/roofpik" target="_blank">
                        <img src="images/general/twitter.png">
                    </a>
                </div>
            </div>
            <div class="col s6 m5 xs12">
                <h5>Contact US</h5>
                <p>Can't find what you're looking for? Drop us a note and our team will get in touch with you.</p>
                <div>
                    <form name="contactUs" ng-submit="submitQuery(user)">
                        <div class="input-field col s12 pdln mgtn">
                            <i class="material-icons prefix">account_circle</i>
                            <input placeholder="Name" type="text" class="validate mgbn ft12" ng-model="user.name" required>
                        </div>
                        <div class="row mgan">
                            <div class="input-field col s12 m6 pdln mgtn">
                                <i class="material-icons prefix">phone</i>
                                <input placeholder="Phone" type="text" class="validate mgbn ft12" ng-model="user.mobile" ng-minlength="10" ng-maxlength="10" required>
                            </div>
                            <div class="input-field col s12 m6 pdln mgtn">
                                <i class="material-icons prefix">email</i>
                                <input placeholder="Email" type="email" class="validate mgbn ft12" ng-model="user.email" required>
                            </div>
                        </div>
                        <div class="input-field col s12 pdln mgtn sele_list">
                            <i class="material-icons prefix">list</i>
                            <select class="mgbn" ng-model="user.userType" required>
                                <option value="" disabled selected>Choose your option</option>
                                <option value="partner">Partner</option>
                                <option value="investor">Investor</option>
                                <option value="career">Career</option>
                            </select>
                        </div>
                        <div class="input-field col s12 pdln mgtn">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea id="icon_prefix2" placeholder="Type your text" ng-model="user.message" class="materialize-textarea mgbn" required></textarea>
                        </div>
                        <div vc-recaptcha theme="'dark'" key="model.key" on-create="setWidgetId(widgetId)" on-success="setResponse(response)" on-expire="cbExpiration()">
                        </div>
                        <div class="col s12 mgt10 pdln">
                            <button class="btn btn-full blue" ng-disabled="contactUs.$invalid" type="submit"><i class="material-icons left">list</i> Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright greytran">
        <div class="container white-text center ft12">
            © AlphaBinary Technologies Pvt Ltd
        </div>
    </div>
</footer>
