<div class="pd48">
    <div class="container">
        <div class="row footerlink">
            <div class="col s12 m4">
                <h3 class="heading mgtn">Useful Links</h3>
                
                <a href="/#/blog/gurgaon">Blog</a>
                <a href="/#/story/gurgaon">Cover Stories</a>
                <a href="/#/search/2017/property/gurgaon/residential/all?ptype=apartment">Projects</a>
                <a href="/#/write-review">Write Review</a>
                <a href="/#/contact-us">Contact Us</a>
            </div>
            <div class="col s12 m4 xspdt">
                <h3 class="heading mgtn">Discover</h3>
                <a href="/#/about-us" class="truncate">About Roofpik </a>
                <a href="/#/careers" class="truncate">career@Roofpik </a>
                <a href="/#/verified" class="truncate">Verified Residents</a>
                <a href="/#/guidelines" class="truncate">Content Guidelines </a>
                <a href="" class="truncate">Rental & Review Industry </a>
                <a href="/#/business-advantage" class="truncate">Business Advantage</a>
                
            </div>
            <div class="col s12 m4 ft13 pmg5 xspdt">
                <h3 class="heading mgtn">Contact Us</h3>
                <p><i class="material-icons left mgt3 ft18 grey-text">location_on</i>
                    <span class="spleft"> 250, Vipul Trade Center,Sector 48, <br>Gurgaon, Haryana</span></p>
                <p><i class="material-icons left mgt3 ft18 grey-text">phone</i>+91 124 438 4167</p>
                <p><i class="material-icons left mgt3 ft18 grey-text">email</i>contact@roofpik.com</p>
            </div>
        </div>
        <div class="row bodt mgan pdt30">
            <div class="col s12 m6 grey-text text-darken-2 ft14 pdln">© AlphaBinary Technologies Pvt Ltd</div>
            <div class="col s12 m6 right-align pdrn xsmgt20">
                <span class="mgt5 b ft14 inlineb grey-text"> Follow Us </span>
                <a href="https://www.facebook.com/roofpik" target="_blank" class="right mgl10"><img src="images/general/facebook.png" alt="Facebook"></a>
                <a href="https://www.twitter.com/roofpik" target="_blank" class="right mgl10"><img src="images/general/twitter.png" alt=""></a>
                <a href="https://www.linkedin.com/company/roofpik?trk=job_view_topcard_company_name" target="_blank" class="right mgl10"><img src="images/general/linked-in.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
