<div class="modal-contant pda20">
    <div class="row mgbn">
        <div class="col s12 pdb10 mgt10">
            <a href="#!" class=" modal-action modal-close block grey-text right"><i class="material-icons">close</i></a>
            <h3 class="ft15 ftw300  grey-text text-darken-2"> <i class="material-icons grey-text mgmnst3 ft20 left mgr10">lock_outline</i> Login / Sign Up</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center">
            <!-- <a href="" class="btn btn-full btfacebook btn-large b blue darken-4 white-text">
                <img src="images/general/facebook1.png" class="left facebookicon"> Log in with Facebook</a>
            <div class="row mgln mgrn pdt30">
                <hr class="mgmnsb10">
                <span class="inline white pdl10 pdr10 grey-text"> OR</span>
            </div> -->
            <a href="" class="btn white btn-large btgoogle b btn-full bodall grey-text text-darken-2" ng-click="loginWithGoogle()"><img src="images/general/googleplusicon.png" class="left icongoogle"> Log in with Google</a>
        </div>
    </div>
</div>
