<div id="loginbox">
    <a class="closebtn modal-close"><i class="material-icons">close</i></a>
    <div class="modal-content pdb25">
        <h5 class="ft16b"><i class="material-icons grey-text mgnr5 left">lock_outline</i>  Login / Sign Up</h5>
        <p class="grey-text  text-darken-3  center bodb">
            <span class="mgtmns bg-fa">Login with</span>
        </p>
        <a href="" class="btn  btn-block  pdt2 mgt30 grey lighten-5 fb-text" ng-click="facebookLogin()">
            <img class="left pdt2" src="images/general/facebook1.png"> facebook</a>
        <a href="" class="btn  btn-block pdt2 grey mgt15 lighten-5 gl-text" ng-click="googleLogin()">
            <img class="left pdt2" src="images/general/googleplus.png"> google</a>
    </div>
</div>