<section layout="row" class="main-category" flex layout-align="center start" layout-wrap>
    <div class="section-header" flex="100" layout="row" layout-align="center center">
        <div flex="80">
            <h1 class="center-text">Search by popular categories</h1>
            <h2 class="center-text">We’ve brought together genuine user reviews, fact-based insights, liveability index ratings, and much more from people like you. Everything that matters when buying, selling or renting property is here.</h2>
        </div>
    </div>
    <div layout-fill layout="column" flex="66">
        <md-grid-list md-cols="8" md-gutter="20px" md-row-height="2:3">
            <md-grid-tile class="family" md-rowspan="2" md-colspan="4" ng-click="takeToProjects('family')">
                <md-grid-tile-footer>
                    <h3>Family</h3>
                </md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile class="elderly" md-colspan="2" ng-click="takeToProjects('elderly')">
                <md-grid-tile-footer>
                    <h3>Elderly</h3>
                </md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile class="sohna-rd" md-colspan="2" ng-click="takeToLocalityProjects('Sohna Road')">
                <md-grid-tile-footer>
                    <h3>Sohna Road</h3>
                </md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile class="bachelors" md-colspan="2" ng-click="takeToProjects('bachelors')">
                <md-grid-tile-footer>
                    <h3>Bachelors</h3>
                </md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile class="golf-rd" md-colspan="2" ng-click="takeToLocalityProjects('Golf Course Road')">
                <md-grid-tile-footer>
                    <h3>Golf Course Road</h3>
                </md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile class="children" md-colspan="2" ng-click="takeToProjects('children')">
                <md-grid-tile-footer>
                    <h3>Children</h3>
                </md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile class="married" md-rowspan="2" md-colspan="4" ng-click="takeToProjects('married')">
                <md-grid-tile-footer>
                    <h3>Married</h3>
                </md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile class="dwarka-exp" md-colspan="2" ng-click="takeToLocalityProjects('Dwarka Expressway')">
                <md-grid-tile-footer>
                    <h3>Dwarka Expressway</h3>
                </md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile class="pets" md-colspan="2" ng-click="takeToProjects('pets')">
                <md-grid-tile-footer>
                    <h3>Pets</h3>
                </md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile class="golf-extn" md-colspan="2" ng-click="takeToLocalityProjects('Golf Course Road Extn.')">
                <md-grid-tile-footer>
                    <h3>Golf Course Road Extn.</h3>
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </div>
</section>
