<md-content class="blogs">
    <div layout="column" flex layout-wrap>
        <section layout-sm="column" layout-xs="column" layout-gt-sm="row" class="header-blog">
            <article flex="100">
                <div class="featured-blog" style="background-image:url({{blog.coverPhoto}});">
                    <div class="featured-caption">
                        <div class="featured-caption-content">
                            <h2>{{blog.title}}</h2>
                            <div id="place-name"><span ng-show="blog.placeName">{{blog.placeName}}</span>
                                <time>{{blog.createdDate | date:'MMM dd, yy'}}</time>
                            </div>
                            <ul class="featured-tags">
                                <li ng-repeat="tag in blog.hashtags"><a ng-href="/#/blog/gurgaon/{{cityId}}/2/{{tag.tagId}}">#{{tag.tag}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section layout-sm="column" layout-xs="column" layout-gt-sm="row" class="main-board" layout-align="center top">
            <div flex="50" class="blog-board" flex-xs="100" flex-sm="100">
                <md-card class="blog-card">
                    <md-card-content>
                        <p ng-bind-html="toTrustedHTML(blog.details)">
                        </p>
                        <span class="facebook-share" ng-click="shareonfb(blog)"><i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;Share</span>
                    </md-card-content>
                </md-card>
            </div>
            <div ui-view="popularNlocalityBlogs" flex="30 " class="blog-widget " flex-xs="100 " flex-sm="100"></div>
        </section>
    </div>
</md-content>
