<div>
    <section layout-sm="column" layout-xs="column" layout-gt-sm="row" class="header-blog">
        <article flex="50" flex-xs="100" flex-sm="100">
            <div class="featured-blog" style="background-image:url({{featuredBlogs[0].coverPhoto}});">
                <a ng-href="{{featuredBlogs[0].redirectionUrl}}">
                    <div class="featured-caption">
                        <div class="featured-caption-content">
                            <h2>{{featuredBlogs[0].title}}</h2>
                            <div id="place-name"><span ng-show="featuredBlogs[0].placeName">{{featuredBlogs[0].placeName}}</span>
                                <time>{{featuredBlogs[0].createdDate | date:'MMM dd, yy'}}</time>
                            </div>
                            <ul class="featured-tags">
                                <li ng-repeat="tag in featuredBlogs[0].hashtags"><a ng-href="/#/blog/gurgaon/{{cityId}}/2/{{tag.tagId}}">#{{tag.tag}}</a></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
        </article>
        <article flex="50" flex-xs="100" flex-sm="100">
            <div class="featured-blog" style="background-image:url({{featuredBlogs[1].coverPhoto}});">
                <a ng-href="{{featuredBlogs[1].redirectionUrl}}">
                    <div class="featured-caption">
                        <div class="featured-caption-content">
                            <h2>{{featuredBlogs[1].title}}</h2>
                            <div id="place-name"><span ng-show="featuredBlogs[1].placeName">{{featuredBlogs[1].placeName}}</span>
                                <time>{{featuredBlogs[1].createdDate | date:'MMM dd, yy'}}</time>
                            </div>
                            <ul class="featured-tags">
                                <li ng-repeat="tag in featuredBlogs[1].hashtags"><a ng-href="/#/blog/gurgaon/{{cityId}}/2/{{tag.tagId}}">#{{tag.tag}}</a></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
        </article>
    </section>
</div>
