<div>
    <md-card class="popular-blogs ">
        <md-card-header>
            <md-card-header-text>
                <span class="md-title ">Popular Blogs</span>
            </md-card-header-text>
        </md-card-header>
        <article ng-repeat="blog in popularBlogs ">
            <a ng-href="{{blog.redirectionUrl}}">
                <img ng-src="{{blog.coverPhoto}} " class="md-card-image " alt="Washed Out " />
                <md-card-title>
                    <md-card-title-text>
                        <h3>{{blog.title}}</h3>
                        <span class="md-subhead ">{{blog.createdDate | date:'MMM dd, yy'}}</span>
                    </md-card-title-text>
                </md-card-title>
            </a>
        </article>
    </md-card>
    <md-card class="popular-localities ">
        <md-card-header>
            <md-card-header-text>
                <span class="md-title ">Popular Localities</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <ul>
                <li ng-repeat="locality in popularLocalities ">
                    <div><i class="material-icons ">&#xE409;</i><a ng-href="/#/blog/gurgaon/{{cityId}}/3/{{locality.localityId}} ">{{locality.localityName}}</a></div>
                    <div class="clearfix "></div>
                </li>
            </ul>
        </md-card-content>
    </md-card>
    <md-card class="popular-tags ">
        <md-card-header>
            <md-card-header-text>
                <span class="md-title ">Tag Cloud</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <div class="tagcloud ">
                <a class="tag-btn " ng-href="/#/blog/gurgaon/{{cityId}}/2/{{tag.tagId}} " ng-repeat="tag in tagCloudData ">#{{tag.tag}}</a>
            </div>
        </md-card-content>
    </md-card>
</div>
