<div class="card rt_card">
    <h3 class="ft19 ftw3 pda10 grey lighten-5 mg0">Popular Stories</h3>
    <div class="row row-mgn box-h waves-effect waves-block waves-light" ng-repeat="blog in popularBlogs">
        <a ng-href="{{blog.redirectionUrl}}">
            <img class="responsive-img" ng-src="{{blog.coverPhoto}}">
            <div class="col m12">
                <h5 class="grey-text text-darken-4">{{blog.title}}</h5>
                <p>{{blog.createdDate | date:'MMM dd, yy'}}</p>
            </div>
            
        </a>
    </div>
</div>
<div class="card rt_card">
    <h3 class="ft19 ftw3 pda10 grey lighten-5 mg0">Popular Localities</h3>
    <div class="col m12">
        <ul class="rt_loc">
            <li ng-repeat="locality in popularLocalities"><a ng-href="/#/blog/gurgaon/{{cityId}}/3/{{locality.localityId}}">{{locality.localityName}}</a>
            </li>
        </ul>
    </div>
</div>
<div class="card rt_card">
    <h3 class="ft19 ftw3 pda10 grey lighten-5 mg0">Tag Cloud</h3>
    <div class="col m12 hslink">
        <a ng-repeat="tag in tagCloudData" ng-href="/#/blog/gurgaon/{{cityId}}/2/{{tag.tagId}}">#{{tag.tag}}</a>
    </div>
</div>
