<section>
    <div ng-show="showNoBlogs">
        <h4>No blogs with this tag</h4>
    </div>
    <div class="card mgtn" ng-repeat="blog in allBlogs" ng-show="blog.selected && !showNoBlogs">
        <div class="card-image waves-effect waves-block waves-light">
            <a href=""><img class="activator" ng-src="{{blog.coverPhoto}}"></a>
        </div>
        <div class="card-content pda10 ftw3 p-justi">
            <h3 class="ft19 ftw3 mgt10 mgbn">
               <a class="grey-text text-darken-4"><span>{{blog.title}}</span>
               </a>
               </h3>
            <h5 class="ft14 mgbn mgt10 grey-text text-darken-4" ng-show="blog.placeName">{{blog.placeName}}</h5>
            <h6 class="ft12 ftw3 mgt10 grey-text">By {{blog.adminName}}</h6>
            <div class="mgt10 row row-mgn linkah">
                <a class="mgr10" ng-repeat="tag in blog.hashtags " ng-href="/#/blog/gurgaon/{{cityId}}/2/{{tag.tagId}}">#{{tag.tag}}</a>
            </div>
            <p ng-bind-html="toTrustedHTML(blog.shortBlog)">
            </p>
            <p><span class="showMoreBtn right"><a ng-href="{{blog.redirectionUrl}}">Show More</a></span></p>
            <p>
                <span class="facebook-share" ng-click="shareonfb(blog) "><i class="fa fa-facebook "></i>&nbsp;&nbsp;&nbsp;Share</span>
            </p>
        </div>
    </div>
</section>
