<div>
    <div class="row img_detail mgbn">
        <img ng-src="{{coverImage}}" class="responsive-img">
        <div class="dt_abs">
            <h3 class="white-text text-sd mgbn">{{micromarket.name}}</h3>
            <h5 class="white-text text-sd">Gurgaon, Haryana</h5>
        </div>
    </div>
    <div class="row white shdsm displayn" id="fixsub_hd">
        <div class="container">
            <ul class="menu_sub mgan">
                <li>
                    <a href="#Overview" class="ft14">Overview</a>
                </li>
                <li>
                    <a href="#Project_Location" class="ft14">Project Location</a>
                </li>
                <li>
                    <a href="#Units_Sizes" class="ft14">Units & Sizes</a>
                </li>
                <li>
                    <a href="#Amenities" class="ft14">Amenities</a>
                </li>
                <li>
                    <a href="#Specifications" class="ft14">Specifications</a>
                </li>
                <li>
                    <a href="#gallery" class="ft14">Gallery</a>
                </li>
                <li>
                    <a href="#Reviews" class="ft14">Reviews</a>
                </li>
                <li>
                    <a href="#Popular_Projects" class="ft14">Popular Projects</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row linkroot mgbn">
                <nav>
                    <div class="nav-wrapper">
                        <div class="col s12">
                            <a href="" class="breadcrumb">Home</a>
                            <a href="" class="breadcrumb">{{micromarket.name}}</a>
                            <!-- <a href="" class="breadcrumb">lorem ipsum</a> -->
                        </div>
                    </div>
                </nav>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="row" id="Overview">
                        <div class="col s12 pdb20">
                            <h3 class="heading mgbn">Overview</h3>
                            <div class="ft14 grey-text">{{micromarket.name}}</div>
                        </div>
                        <div class="col s12">
                            <div class="row pdt10">
                                <div class="col s3 pdb10">
                                    <div class="ft14"> Under Construction </div>
                                    <div class="grey-text ft12">status</div>
                                </div>
                                <div class="col s3 pdb10">
                                    <div class="ft14"> 13.34 Acres </div>
                                    <div class="grey-text ft12">total area</div>
                                </div>
                                <div class="col s3 pdb10">
                                    <div class="ft14"> 510 </div>
                                    <div class="grey-text ft12">total launched apartments</div>
                                </div>
                                <div class="col s3 pdb10">
                                    <div class="ft14"> Sep'11 </div>
                                    <div class="grey-text ft12">launch date</div>
                                </div>
                                <div class="col s3 pdb10">
                                    <div class="ft14"> New and Resale </div>
                                    <div class="grey-text ft12">availability</div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 ft14 grey-text text-darken-2">
                            <p>{{micromarket.about1}}<a href="" ng-hide="showMoreClicked" ng-click="showMoreClicked = !showMoreClicked">...more</a><span ng-show="showMoreClicked">{{micromarket.about2}}</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 offset-s2">
                            <div class="card center pdt10 pdb10">
                                <p class="mgbn grey-text">Total projects in Sohna Road, Gurgaon</p>
                                <h3 class="grey-text text-darken-4 mgt10 mgb10">63</h3>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="card center pdt10 pdb10">
                                <p class="mgbn grey-text">Total projects in Sohna Road, Gurgaon</p>
                                <h3 class="grey-text text-darken-4 mgt10 mgb10">63</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row mgln mgrn black">
                        <a href="" class="col s6 no-padding img_location cover over_hidden bdrw relative" style="background-image: url(images/home/home-bg.jpg);">
                            <div class="text_abs_blog pda20 gradient">
                                <h5 class="white-text text-sd">Property Heading lorem ipsum</h5>
                            </div>
                        </a>
                        <div class="col s3 no-padding over_hidden">
                            <div class="row mgan">
                                <a href="" class="col s12 img_location_sm cover over_hidden bdbw bdrw relative" style="background-image: url(images/home/write-bg.jpg);">
                                    <div class="text_abs_blog pda20 gradient">
                                        <h5 class="white-text text-sd ft17">Property Heading lorem ipsum</h5>
                                    </div>
                                </a>
                                <a href="" class="col s12 img_location_sm bdrw cover over_hidden relative" style="background-image: url(images/home/writebg.jpg);">
                                    <div class="text_abs_blog pda20 gradient">
                                        <h5 class="white-text text-sd ft17">Property Heading lorem ipsum</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col s3 no-padding over_hidden">
                            <div class="row mgan">
                                <a href="" class="col s12 img_location_sm cover over_hidden bdbw relative" style="background-image: url(images/home/write-bg.jpg);">
                                    <div class="text_abs_blog pda20 gradient">
                                        <h5 class="white-text text-sd ft17">Property Heading lorem ipsum</h5>
                                    </div>
                                </a>
                                <a href="" class="col s12 img_location_sm cover over_hidden relative" style="background-image: url(images/home/writebg.jpg);">
                                    <div class="text_abs_blog pda20 gradient">
                                        <h5 class="white-text text-sd ft17">Property Heading lorem ipsum</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col s3 no-padding over_hidden bdrw bdtw">
                            <div class="row mgan">
                                <a href="" class="col s12 img_location_sm cover over_hidden bdbw relative" style="background-image: url(images/home/write-bg.jpg);">
                                    <div class="text_abs_blog pda20 gradient">
                                        <h5 class="white-text text-sd ft17">Property Heading lorem ipsum</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col s6 no-padding over_hidden bdrw bdtw">
                            <div class="row mgan">
                                <a href="" class="col s12 img_location_sm cover over_hidden bdbw relative" style="background-image: url(images/home/write-bg.jpg);">
                                    <div class="text_abs_blog pda20 gradient">
                                        <h5 class="white-text text-sd ft17">Property Heading lorem ipsum</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col s3 no-padding over_hidden bdtw">
                            <div class="row mgan">
                                <a href="" class="col s12 img_location_sm cover over_hidden bdbw relative" style="background-image: url(images/home/write-bg.jpg);">
                                    <div class="text_abs_blog pda20 gradient">
                                        <h5 class="white-text text-sd ft17">Property Heading lorem ipsum</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mgln mgrn">
                        <h3 class="heading">Total Projects 95</h3>
                        <div class="col s12 center">
                            <span class="circle center pdt30">
                               <span class="ft24 b block"> 02</span>
                            <span class="block ft12 grey-text">Apartments</span>
                            </span>
                            <span class="circle center pdt30">
                               <span class="ft24 b block"> 25</span>
                            <span class="block ft12 grey-text">Villas</span>
                            </span>
                            <span class="circle center pdt30">
                               <span class="ft24 b block"> 62</span>
                            <span class="block ft12 grey-text">Penthouses</span>
                            </span>
                            <span class="circle center pdt30">
                               <span class="ft24 b block"> 06</span>
                            <span class="block ft12 grey-text">Row Houses</span>
                            </span>
                        </div>
                        <div class="col s12 center mgt10">
                            <a href="" class="mgr10">View All Resale Apartments</a> /
                            <a href="" class="mgl10">View All Projects</a>
                        </div>
                    </div>
                    <div class="row mgln mgrn">
                        <h3 class="heading">Graph</h3>
                        <div class="col s12"></div>
                    </div>
                    <div class="row mgln mgrn" id="Project_Location">
                        <h3 class="heading">Project Location</h3>
                        <div class="col s8 pdln relative">
                            <img src="images/general/map-img.jpg" class="responsive-img">
                            <a class="btn mgtn transform" href="" ng-click="openModal()">View on Map</a>
                        </div>
                        <div class="col s4">
                            Site Address
                            <br>
                            <div class="grey-text">{{micromarket.name}}
                                <br> Gurgaon
                                <br> Haryana
                            </div>
                        </div>
                    </div>
                    <div class="row mgrn">
                        <div class="col s6">
                            <h3 class="heading"><i class="material-icons green-text left">thumb_up</i>Pros</h3>
                            <ul class="salient salientfull">
                                <li ng-repeat="pro in pros">{{pro}}</li>
                                <!-- <li>Singapore style world-class apartments</li>
                                <li>World class amenities and elegant interiors</li> -->
                            </ul>
                        </div>
                        <div class="col s6">
                            <h3 class="heading"> <i class="material-icons grey-text left">thumb_down</i> Cons</h3>
                            <ul class="salient salientfull">
                                <li ng-repeat="con in cons">{{con}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mgbn" id="gallery">
                        <div class="col s12">
                            <h5 class="ft15 mgtn b pdb10">Gallery</h5>
                        </div>
                        <div class="row mgan">
                            <div class="gallery">
                                <a href="images/home/writebg.jpg"><img src="images/home/writebg.jpg"></a>
                                <a href="images/home/write-bg.jpg"><img src="images/home/write-bg.jpg"></a>
                                <a href="images/home/writebg.jpg"><img src="images/home/writebg.jpg"></a>
                                <a href="images/home/write-bg.jpg"><img src="images/home/write-bg.jpg"></a>
                            </div>
                        </div>
                    </div>
                    <div class="row pd48">
                        <div class="col s5">
                            <h5 class="ft15 mgtn b pdb10">User Rating</h5>
                            <div class="row mgbn ft12">
                                <div class="col s6 mgrn">
                                    <input type="checkbox" class="filled-in" id="filled-in-box2">
                                    <label class="ft12" for="filled-in-box2">Excellent </label>
                                </div>
                                <div class="col s3 no-padding">
                                    <span class="progress mgbn  ht10 grey lighten-2">
                                      <span class="determinate" id="excellentStar" style="width: 10%;">
                                      </span>
                                    </span>
                                </div>
                                <div class="col s3 grey-text mgt5">0</div>
                            </div>
                            <div class="row mgbn ft12">
                                <div class="col s6 mgrn">
                                    <input type="checkbox" class="filled-in" id="filled-in-box3">
                                    <label class="ft12" for="filled-in-box3">Very Good </label>
                                </div>
                                <div class="col s3 no-padding">
                                    <span class="progress mgbn  ht10 grey lighten-2">
                                      <span class="determinate" id="excellentStar" style="width: 20%;">
                                      </span>
                                    </span>
                                </div>
                                <div class="col s3 grey-text mgt5">0</div>
                            </div>
                            <div class="row mgbn ft12">
                                <div class="col s6 mgrn">
                                    <input type="checkbox" class="filled-in" id="filled-in-box4">
                                    <label class="ft12" for="filled-in-box4">Good </label>
                                </div>
                                <div class="col s3 no-padding">
                                    <span class="progress mgbn  ht10 grey lighten-2">
                                      <span class="determinate" id="excellentStar" style="width: 40%;">
                                      </span>
                                    </span>
                                </div>
                                <div class="col s3 grey-text mgt5">0</div>
                            </div>
                            <div class="row mgbn ft12">
                                <div class="col s6 mgrn">
                                    <input type="checkbox" class="filled-in" id="filled-in-box5">
                                    <label class="ft12" for="filled-in-box5">Average </label>
                                </div>
                                <div class="col s3 no-padding">
                                    <span class="progress mgbn  ht10 grey lighten-2">
                                      <span class="determinate" id="excellentStar" style="width: 50%;">
                                      </span>
                                    </span>
                                </div>
                                <div class="col s3 grey-text mgt5">0</div>
                            </div>
                            <div class="row mgbn ft12">
                                <div class="col s6 mgrn">
                                    <input type="checkbox" class="filled-in" id="filled-in-box6">
                                    <label class="ft12" for="filled-in-box6">Bad </label>
                                </div>
                                <div class="col s3 no-padding">
                                    <span class="progress mgbn  ht10 grey lighten-2">
                                      <span class="determinate" id="excellentStar" style="width: 70%;">
                                      </span>
                                    </span>
                                </div>
                                <div class="col s3 grey-text mgt5">0</div>
                            </div>
                        </div>
                        <div class="col s3">
                            <h5 class="ft15 mgtn b pdb10">Resident Type</h5>
                            <div class="row mgbn">
                                <div class="col s12">
                                    <input type="checkbox" class="filled-in" id="type1">
                                    <label class="ft12" for="type1">Owners </label>
                                </div>
                                <div class="col s12">
                                    <input type="checkbox" class="filled-in" id="type2">
                                    <label class="ft12" for="type2">Tenants </label>
                                </div>
                            </div>
                        </div>
                        <div class="col s4">
                            <h5 class="ft15 mgtn b pdb10">Rating Summary</h5>
                            <div class="row">
                                <div class="col s12 ft12 ft18i mgt5">
                                    <span class="left mgr10">  <i class="material-icons green-text">star</i>
                                    <i class="material-icons green-text">star</i>
                                    <i class="material-icons green-text">star</i>
                                    <i class="material-icons green-text">star_half</i>
                                    <i class="material-icons grey-text">star_border</i>
                                    </span>
                                    <span>  (3.5) Security</span>
                                </div>
                                <div class="col s12 ft12 ft18i mgt5">
                                    <span class="left mgr10">  <i class="material-icons green-text">star</i>
                                    <i class="material-icons green-text">star</i>
                                    <i class="material-icons green-text">star</i>
                                    <i class="material-icons green-text">star_half</i>
                                    <i class="material-icons grey-text">star_border</i>
                                    </span>
                                    <span>  (2) Amenities</span>
                                </div>
                                <div class="col s12 ft12 ft18i mgt5">
                                    <span class="left mgr10">  <i class="material-icons green-text">star</i>
                                    <i class="material-icons green-text">star</i>
                                    <i class="material-icons green-text">star</i>
                                    <i class="material-icons green-text">star_half</i>
                                    <i class="material-icons grey-text">star_border</i>
                                    </span>
                                    <span> (4) Green Areas</span>
                                </div>
                                <div class="col s12 ft12 ft18i mgt5">
                                    <span class="left mgr10">  <i class="material-icons green-text">star</i>
                                    <i class="material-icons green-text">star</i>
                                    <i class="material-icons green-text">star</i>
                                    <i class="material-icons green-text">star_half</i>
                                    <i class="material-icons grey-text">star_border</i>
                                    </span>
                                    <span> (5) Parking</span>
                                </div>
                                <div class="col s12 ft12 ft18i mgt5">
                                    <span class="left mgr10">  <i class="material-icons green-text">star</i>
                                    <i class="material-icons green-text">star</i>
                                    <i class="material-icons green-text">star</i>
                                    <i class="material-icons green-text">star_half</i>
                                    <i class="material-icons grey-text">star_border</i>
                                    </span>
                                    <span> (2.5) Infrastructure</span>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <a href="#facilities_popup" class="right">more...</a>
                        </div>
                        <div id="facilities_popup" class="modal">
                            <div class="modal-content">
                                <h5 class="ft15 mgtn b mgbn">Facilities</h5>
                                <div class="row mgbn mgt10">
                                    <div class="col s4">
                                        <span class="progress mgbn  ht10 grey lighten-2">
                                           <span class="determinate" style="width: 50%;"></span>
                                        </span>
                                    </div>
                                    <div class="col s8 mgt3">Good schools</div>
                                </div>
                                <div class="row mgbn mgt5">
                                    <div class="col s4">
                                        <span class="progress mgbn  ht10 grey lighten-2">
                                          <span class="determinate" style="width: 75%;"></span>
                                        </span>
                                    </div>
                                    <div class="col s8 mgt3">Good Markets</div>
                                </div>
                                <div class="row mgbn mgt5">
                                    <div class="col s4">
                                        <span class="progress mgbn  ht10 grey lighten-2">
                                          <span class="determinate" style="width: 100%;"> 
                                          </span>
                                        </span>
                                    </div>
                                    <div class="col s8 mgt3">Reputed Hospitals</div>
                                </div>
                                <div class="row mgbn mgt5">
                                    <div class="col s4">
                                        <span class="progress mgbn  ht10 grey lighten-2">
                                          <span class="determinate" style="width: 80%;"> 
                                          </span>
                                        </span>
                                    </div>
                                    <div class="col s8 mgt3">Daily Need Items</div>
                                </div>
                                <div class="row mgbn mgt5">
                                    <div class="col s4">
                                        <span class="progress mgbn  ht10 grey lighten-2">
                                          <span class="determinate" style="width: 100%;"> 
                                          </span>
                                        </span>
                                    </div>
                                    <div class="col s8 mgt3">Public Transport</div>
                                </div>
                                <div class="row mgbn mgt5">
                                    <div class="col s4">
                                        <span class="progress mgbn  ht10 grey lighten-2">
                                          <span class="determinate" style="width: 100%;"> 
                                          </span>
                                        </span>
                                    </div>
                                    <div class="col s8 mgt3">Apartment layout efficient</div>
                                </div>
                                <div class="row mgbn mgt5">
                                    <div class="col s4">
                                        <span class="progress mgbn  ht10 grey lighten-2">
                                          <span class="determinate" style="width: 100%;"> 
                                          </span>
                                        </span>
                                    </div>
                                    <div class="col s8 mgt3">24x7 electricity</div>
                                </div>
                                <div class="row mgbn mgt5">
                                    <div class="col s4">
                                        <span class="progress mgbn  ht10 grey lighten-2">
                                          <span class="determinate" style="width: 100%;"> 
                                          </span>
                                        </span>
                                    </div>
                                    <div class="col s8 mgt3">Regular/clean water supply</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section>
                        <div class="row bdbtm ft13 grey-text text-darken-2 mgan" id="Reviews">
                            <div class="col s2 b pdb20">
                                <img class="imgcir mgt10" src="images/general/noImage.png">
                            </div>
                            <div class="col s10">
                                <p><b> Rajneesh Sharma </b> | Sep 01, 16</p>
                                <p class="grey-text review ft20i mgbn mgtmn">
                                    <i class="material-icons blue-text">star</i>
                                    <i class="material-icons blue-text">star</i>
                                    <i class="material-icons blue-text">star</i>
                                    <i class="material-icons blue-text">star</i>
                                    <i class="material-icons">star</i>
                                </p>
                                <p><b>Wonderful ambience - greenery all around</b></p>
                                <p class="justify">One entry and exit point has been constructed so thats a very big advantage and guards are always present. Clubhouse is there and it has a good ambience and is very well maintained. There are wide open green areas. It is spread across the Sohna Road and Golf Course Road Extension. There are some problems with the power backup. Housemaids are easily available. Basement and open parking is maintained and twice a day they have guards around. Here we have high-rise buildings with very good layout, main road connectivity is good which provides for easy transportation. Sohna Road is a problem as service roads are bad if you are coming in or going out of the society it is bad but inside, the ambience is wonderful. <a href="">more...</a></p>
                            </div>
                        </div>
                        <div class="row bodb bodt pdt10 pdb10 mgln mgrn">
                            <div class="col s12 center">
                                <a href="">more reviews...</a>
                            </div>
                        </div>
                    </section>
                    <div class="row mgln mgrn mgbn" id="Popular_Projects">
                        <h3 class="heading"> Popular Projects </h3>
                        <div class="slider ht400">
                            <ul class="slides white ht350">
                                <li>
                                    <div class="row mns8 mgbn">
                                        <div class="col s4 pdlr8">
                                            <div class="card boxsdn mgtn rdsan pdbn mgbn">
                                                <div class="card-image">
                                                    <img src="images/general/bestech.jpg">
                                                </div>
                                                <div class="card-content pdt8 pdln pdrn pdbn">
                                                    <a href="" class="a48">
                                                        <h5 class="truncate mgan ft15 lineh18 b lts">₹11469 Vipul Greens</h5>
                                                        <h6 class="truncate mgt3 mgbn ft15 lineh18  lts">Sohna Road, Sector 48</h6>
                                                        <div class="star lineh16 mgt5">
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <span class="ft12 lts4 lineh16">(3.95) 91 Reviews</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col s4 pdlr8">
                                            <div class="card boxsdn mgtn rdsan pdbn mgbn">
                                                <div class="card-image">
                                                    <img src="images/general/bestech.jpg">
                                                </div>
                                                <div class="card-content pdt8 pdln pdrn pdbn">
                                                    <a href="" class="a48">
                                                        <h5 class="truncate mgan ft15 lineh18 b lts">₹11469 Vipul Greens</h5>
                                                        <h6 class="truncate mgt3 mgbn ft15 lineh18  lts">Sohna Road, Sector 48</h6>
                                                        <div class="star lineh16 mgt5">
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <span class="ft12 lts4 lineh16">(3.95) 91 Reviews</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col s4 pdlr8">
                                            <div class="card boxsdn mgtn rdsan pdbn mgbn">
                                                <div class="card-image">
                                                    <img src="images/general/bestech.jpg">
                                                </div>
                                                <div class="card-content pdt8 pdln pdrn pdbn">
                                                    <a href="" class="a48">
                                                        <h5 class="truncate mgan ft15 lineh18 b lts">₹11469 Vipul Greens</h5>
                                                        <h6 class="truncate mgt3 mgbn ft15 lineh18  lts">Sohna Road, Sector 48</h6>
                                                        <div class="star lineh16 mgt5">
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <span class="ft12 lts4 lineh16">(3.95) 91 Reviews</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row mns8 mgbn">
                                        <div class="col s4 pdlr8">
                                            <div class="card boxsdn mgtn rdsan pdbn mgbn">
                                                <div class="card-image">
                                                    <img src="images/general/bestech.jpg">
                                                </div>
                                                <div class="card-content pdt8 pdln pdrn pdbn">
                                                    <a href="" class="a48">
                                                        <h5 class="truncate mgan ft15 lineh18 b lts">₹11469 Sohna Road</h5>
                                                        <h6 class="truncate mgt3 mgbn ft15 lineh18  lts">Sohna Road, Sector 48</h6>
                                                        <div class="star lineh16 mgt5">
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <span class="ft12 lts4 lineh16">(3.95) 91 Reviews</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col s4 pdlr8">
                                            <div class="card boxsdn mgtn rdsan pdbn mgbn">
                                                <div class="card-image">
                                                    <img src="images/general/bestech.jpg">
                                                </div>
                                                <div class="card-content pdt8 pdln pdrn pdbn">
                                                    <a href="" class="a48">
                                                        <h5 class="truncate mgan ft15 lineh18 b lts">₹11469 Sohna Road</h5>
                                                        <h6 class="truncate mgt3 mgbn ft15 lineh18  lts">Sohna Road, Sector 48</h6>
                                                        <div class="star lineh16 mgt5">
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <span class="ft12 lts4 lineh16">(3.95) 91 Reviews</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col s4 pdlr8">
                                            <div class="card boxsdn mgtn rdsan pdbn mgbn">
                                                <div class="card-image">
                                                    <img src="images/general/bestech.jpg">
                                                </div>
                                                <div class="card-content pdt8 pdln pdrn pdbn">
                                                    <a href="" class="a48">
                                                        <h5 class="truncate mgan ft15 lineh18 b lts">₹11469 Sohna Road</h5>
                                                        <h6 class="truncate mgt3 mgbn ft15 lineh18  lts">Sohna Road, Sector 48</h6>
                                                        <div class="star lineh16 mgt5">
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <i class="material-icons left ft15 mgr1 stargrn">star</i>
                                                            <span class="ft12 lts4 lineh16">(3.95) 91 Reviews</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="view_map_popup" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <div id="mapCanvas" class="mapht"></div>
            </div>
        </div>
    </div>
</div>
