<div class="mgt70 center">
    <div class="row reletive">
    <img class="responsive-img imght250" src="images/about-us/about_us.jpg"  alt="">
    <div class="abs_about"><h4 class="b">We bring reviews <br> 'To The People, By The People, <br> For The People'</h4></div>
    </div>
</div>
<div class="container">
    <div class="row mgt10 linkroot">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#home" class="breadcrumb">Home</a>
                    <a href="" class="breadcrumb">About Us</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col m12">
            <section>
                <div class="card mgtn">
                    <div class="card-content pda10 ftw3 grey-text text-darken-2 p-justi">
                        <h3 class="ft19 mgtn b">About Us</h3>
                        <p>In a competitive real estate industry, where developers and brokers are vying for your attention, it can become difficult to tell the difference between genuine advice and a sales pitch.
                            <br>
                            <br><b> At Roofpik</b>, we decided to disrupt the status quo by bringing to life a hub for genuine and verified user reviews. Whether you’re investing, buying, or renting, we help you make the best property choice based on recommendations, advice, and reviews from thousands of people like you.</p>
                        <h5 class="b ft17">Here’s What Roofpik is All About:</h5>
                        <ol class="list">
                            <li>
                                <b> A platform for reliable property reviews:</b> We’re pushing the boundaries of user reviews to help residents share real experiences of buying, renting, or investing in property. With a comprehensive verification process in place, we ensure that nothing but genuine opinions reach you.
                            </li>
                            <li>
                                <b> A guide to localities:</b> We’re about more than just real estate projects. With thousands of reviews about neighbourhoods and localities in leading Indian cities, Roofpik helps you shortlist and select the best areas to work, live, and play.
                            </li>
                            <li>
                                <b>A provider of data-driven insights:</b> We gather and investigate data based on structured parameters to give you a transparent evaluation of projects. This is done via statistical rankings of properties, comparative listings of localities, and refined search results.
                            </li>
                        </ol>
                        <p> Welcome to an easy, interactive, and trustworthy way to find property in India. </p>
                    </div>
                </div>
            </section>
        </div>
        <div class="clearfix"></div>
        <div class="row mgt20">
            <h4 class="center ft17"> Who’s Leading The Charge?</h4></div>
        <div class="row row-mgn">
            <div class="col m4 ">
                <div class="card rt_card minht">
                    <div class="row row-mgn">
                        <div class="row row-mgn waves-effect waves-block waves-light">
                            <img class="responsive-img" src="images/about-us/arpit.jpg">
                        </div>
                        <div class="col m12">
                            <h5 class="ft14 b grey-text text-darken-4">Arpit Mittal – The Tech Maestro</h5>
                            <p>Co-Founder <a href="https://in.linkedin.com/in/arpitmittal4" target="_blank" class="b">in</a>
                                <br>
                                <br>
                                <b>Arpit</b> brings rich technical experience and a passion for all things entrepreneurial. His previous venture, Edcited.com, was acquired by VC-funded company, Co-Cubes.
                                <br>
                                <br> He is the force that keeps Roofpik on the cutting edge of technology and product innovation.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col m4">
                <div class="card rt_card minht">
                    <div class="row row-mgn">
                        <div class="row row-mgn waves-effect waves-block waves-light">
                            <img class="responsive-img" src="images/about-us/mishu.jpg">
                        </div>
                        <div class="col m12">
                            <h5 class="ft14 b grey-text text-darken-4">Mishu Ahluwalia – The Operations Whiz</h5>
                            <p>Co-Founder <a href="https://in.linkedin.com/in/mishu-ahluwalia-2385628" target="_blank" class="b">in</a>
                                <br>
                                <br>
                                <b>Mishu</b> is a seasoned entrepreneur with over a decade of experience in the real estate industry. Also part of his credentials are stints at GE Capital and Dell.
                                <br>
                                <br>
                                <b>At Roofpik</b>, he breathes life into the marketing and real estate game plan.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col m4">
                <div class="card rt_card minht">
                    <div class="row row-mgn">
                        <div class="row row-mgn waves-effect waves-block waves-light">
                            <img class="responsive-img" src="images/about-us/kanika.jpg">
                        </div>
                        <div class="col m12">
                            <h5 class=" ft14 b grey-text text-darken-4">Kanika Katoch – The Talent Maven</h5>
                            <p>Co-Founder <a href="https://in.linkedin.com/in/kanika-katoch-a6a08b17" target="_blank" class="b">in</a>
                                <br>
                                <br>
                                <b>Kanika</b> has to her credit close to a decade of lending value to reputable brands such KPMG, Convergys and Oracle through her expertise in human resources and strategic business planning.
                                <br>
                                <br>
                                <b>At Roofpik</b>, Kanika spearheads the People Strategy and fosters operational excellence.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
