<section>
    <div class="row mgt70 grey lighten-4 mgbn">
        <div class="container container2">
            <div class="row pdt10">
                <div class="col s12 m10 l4">
                    <div class="col s12 pda20">
                        <h5 class="ft19 mgtn b mgb10 pdb10 bdbtm">Roofpik Office</h5>
                        <div class="row grey-text text-darken-2">
                            <div class="col s12 ft15">250, Vipul Trade Center, Sector 48,
                                <br> Gurgaon - 122001, Haryana, India</div>
                        </div>
                        <div id="contact-us-map" class="mapfix mgt30 mgln mgrn">
                            <div id="map" style="height:290px"></div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="col m12 pda20">
                        <h5 class="ft19 mgtn b mgb10 pdb10 bdbtm">Get In Touch</h5>
                        <p>You can also contact us via phone, email, social.</p>
                        <div class="row">
                            <a href="" class="col s12 mgt30 white pdan borderrds20">
                                <i class="material-icons center blue cir_cont white-text">phone</i><span>+91 124 438 4167</span>
                            </a>
                            <a href="mailto:contact@roofpik.com" class="col s12 mgt20 white pdan borderrds20">
                                <i class="material-icons center blue cir_cont white-text">email</i> <span>contact@roofpik.com</span>
                            </a>
                            <a href="https://www.facebook.com/roofpik" translate="_blank" class="col s12 mgt20 white pdan borderrds20">
                                <img class="cir_contimg" src="images/general/con-facebook.png">
                                <span>facebook.com/roofpik</span>
                            </a>
                            <a href="https://www.linkedin.com/company/roofpik" translate="_blank" class="col s12 mgt20 white pdan borderrds20">
                                <img class="cir_contimg" src="images/general/con-linkedin.png">
                                <span>linkedin.com/company/roofpik</span>
                            </a>
                            <a href="https://www.twitter.com/roofpik" translate="_blank" class="col s12 mgt20 white pdan borderrds20">
                                <img class="cir_contimg" src="images/general/con-twitter.png">
                                <span>twitter.com/roofpik</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="col s12 pda20">
                        <h5 class="ft19 mgtn b mgb10 pdb10 bdbtm">Contact Us</h5>
                        <p>Can't find what you're looking for? Drop us a note and our team will get in touch with you.</p>
                        <form name="contactUs">
                            <div class="row mgbn">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">person</i>
                                    <input id="select_project" ng-model="user.name" type="text" class="mgb10 validate" required>
                                    <label for="select_project">Your Name</label>
                                </div>
                            </div>
                            <div class="row mgbn">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">email</i>
                                    <input id="select_project" ng-model="user.email" type="text" class="mgb10 validate" required>
                                    <label for="select_project">Your Email</label>
                                </div>
                            </div>
                            <div class="row mgbn">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">phone</i>
                                    <input id="select_project" type="text" class="mgb10 validate" ng-model="user.phone" required>
                                    <label for="select_project">Your phone</label>
                                </div>
                            </div>
                            <div class="row mgbn">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">message</i>
                                    <textarea id="textarea1" class="materialize-textarea mgb10" ng-model="user.message" required></textarea>
                                    <label for="textarea1">Type your Message</label>
                                </div>
                            </div>
                            <div class="col m12 pdan">
                                <button class="btn btn-full blue right" ng-click="submit()" ng-disabled="contactUs.$invalid">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
