<div>
    <div ng-hide="reviewsAvailable">
        <div class="row pda20 mgan blue lighten-1 center">
            <h4 class="mgan ft22 white-text">
                <span class="mgt5 in-block">No reviews</span>
            </h4>
            <div class="row mgt20 center-align">
                <button class="btn white grey-text" ng-click="takeToWriteReview()"><i class="material-icons left">edit</i> Write Review</button>
            </div>
        </div>
    </div>
    <div ng-show="reviewsAvailable">
        <div class="row pda20 mgan blue lighten-1 center">
            <h4 class="mgan ft22 white-text">
                <span class="">
                     <i class="material-icons small" ng-repeat="i in [1,2,3,4,5] track by $index" ng-class="$index < reviewObject.numbers.averageRating1? 'amber-text text-darken-2': 'normal'">star</i>
                </span>
                <span class="mgt5 in-block"> {{reviewObject.numbers.averageRating || 0}}/5 From {{reviewObject.numbers.numberOfReviews}} Review<span ng-show="reviewObject.numbers.numberOfReviews > 1">s</span> </span>
            </h4>
            <div class="row mgt20 center-align">
                <button class="btn white grey-text" ng-click="takeToWriteReview()"><i class="material-icons left">edit</i> Write Review</button>
            </div>
        </div>
        <div class="row">
            <div class="col s3 m3 mgt20 wd_dt1">
                <div class="allbd white pda10 htrating">
                    <h5 class="ft15 mgtn b mgb10">User Rating</h5>
                    <div class="row mgbn">
                        <div class="col s6 mgrn">
                            <input type="checkbox" class="filled-in" ng-change="filterReview(5)" ng-model="ratingSelected.five" id="filled-in-box2" />
                            <label for="filled-in-box2">Excellent </label>
                        </div>
                        <div class="col s3 pdan">
                            <span class="progress mgbn  ht10 grey lighten-2">
                        <span class="determinate blue" id="excellentStar"></span>
                            </span>
                        </div>
                        <div class="col s3 grey-text mgt3">{{reviewObject.numbers.fiveStar}}</div>
                    </div>
                    <div class="row mgbn">
                        <div class="col s6 mgrn">
                            <input type="checkbox" class="filled-in" ng-change="filterReview(4)" ng-model="ratingSelected.four" id="filled-in-box3" />
                            <label for="filled-in-box3">Very Good </label>
                        </div>
                        <div class="col s3 pdan">
                            <span class="progress mgbn  ht10 grey lighten-2">
                        <span class="determinate blue" id="veryGoodStar"></span>
                            </span>
                        </div>
                        <div class="col s3 grey-text mgt3">{{reviewObject.numbers.fourStar}}</div>
                    </div>
                    <div class="row mgbn">
                        <div class="col s6 mgrn">
                            <input type="checkbox" class="filled-in" ng-change="filterReview(3)" ng-model="ratingSelected.three" id="filled-in-box4" />
                            <label for="filled-in-box4">Good </label>
                        </div>
                        <div class="col s3 pdan">
                            <span class="progress mgbn  ht10 grey lighten-2">
                        <span class="determinate blue" id="goodStar"></span>
                            </span>
                        </div>
                        <div class="col s3 grey-text mgt3">{{reviewObject.numbers.threeStar}}</div>
                    </div>
                    <div class="row mgbn">
                        <div class="col s6 mgrn">
                            <input type="checkbox" class="filled-in" ng-change="filterReview(2)" ng-model="ratingSelected.two" id="filled-in-box5" />
                            <label for="filled-in-box5">Average </label>
                        </div>
                        <div class="col s3 pdan">
                            <span class="progress mgbn  ht10 grey lighten-2">
                        <span class="determinate blue" id="averageStar"></span>
                            </span>
                        </div>
                        <div class="col s3 grey-text mgt3">{{reviewObject.numbers.twoStar}}</div>
                    </div>
                    <div class="row mgbn">
                        <div class="col s6 mgrn">
                            <input type="checkbox" class="filled-in" ng-change="filterReview(1)" ng-model="ratingSelected.one" id="filled-in-box6" />
                            <label for="filled-in-box6">Bad </label>
                        </div>
                        <div class="col s3 pdan">
                            <span class="progress mgbn  ht10 grey lighten-2">
                        <span class="determinate blue" id="badStar"></span>
                            </span>
                        </div>
                        <div class="col s3 grey-text mgt3">{{reviewObject.numbers.oneStar}}</div>
                    </div>
                </div>
            </div>
            <div class="col s2 m2 mgt20 wd_dt2">
                <div class="allbd white pda10 htrating">
                    <h5 class="ft15 mgtn b mgb10">Resident Type</h5>
                    <div class="row mgbn">
                        <div class="col s12 mgrn">
                            <input type="checkbox" class="filled-in" ng-model="selectedCustomerType.owner" ng-change="filterReviewByCustomerType('owner')" id="type1" />
                            <label for="type1">Owners </label>
                        </div>
                    </div>
                    <div class="row mgbn">
                        <div class="col s12 mgrn">
                            <input type="checkbox" class="filled-in" ng-model="selectedCustomerType.tenant" ng-change="filterReviewByCustomerType('tenant')" id="type2" />
                            <label for="type2">Tenants </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s3 m3 mgt20 wd_dt3">
                <div class="allbd white pda10 ft13 htrating">
                    <h5 class="ft15 mgtn b mgb10">Rating Summary</h5>
                    <div class="row mgbn" ng-repeat="item in ratingSummaryParams">
                        <div class="col s7">{{item.name}} ({{reviewObject.numbers[item.id]}})</div>
                        <div class="col s5 right-align  grey-text ft20i">
                            <i class="material-icons" ng-repeat="i in [1,2,3,4,5] track by $index" ng-class="$index < reviewObject.numbers[item.id1]? 'blue-text': 'normal'">star</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s4 m4 mgt20 wd_dt4">
                <div class="allbd white pda10 ft12 htrating">
                    <h5 class="ft15 mgtn b mgb10">Facilities</h5>
                    <div class="row mgbn">
                        <div class="col s8 lineht20">Good schools({{gsp}})</div>
                        <div class="col s4 right pdln">
                            <span class="progress mgbn  ht10 grey lighten-2">
                                <span class="determinate blue" id="gs"></span>
                            </span>
                        </div>
                    </div>
                    <div class="row mgbn">
                        <div class="col s8 lineht20">Good Markets({{gmp}})</div>
                        <div class="col s4 right pdln">
                            <span class="progress mgbn  ht10 grey lighten-2">
                                <span class="determinate blue" id="gm"></span>
                            </span>
                        </div>
                    </div>
                    <div class="row mgbn">
                        <div class="col s8 lineht20">Reputed Hospitals({{rhp}})</div>
                        <div class="col s4 right pdln">
                            <span class="progress mgbn  ht10 grey lighten-2">
                                <span class="determinate blue" id="rh"></span>
                            </span>
                        </div>
                    </div>
                    <div class="row mgbn">
                        <div class="col s8 lineht20">Daily Need Items({{dnip}})</div>
                        <div class="col s4 right pdln">
                            <span class="progress mgbn  ht10 grey lighten-2">
                                <span class="determinate blue" id="dni"></span>
                            </span>
                        </div>
                    </div>
                    <div class="row mgbn">
                        <div class="col s8 lineht20">Public Transport({{ptp}})</div>
                        <div class="col s4 right pdln">
                            <span class="progress mgbn  ht10 grey lighten-2">
                                <span class="determinate blue" id="pt"></span>
                            </span>
                        </div>
                    </div>
                    <div class="row mgbn">
                        <div class="col s8 lineht20">Apartment layout efficient({{alep}})</div>
                        <div class="col s4 right pdln">
                            <span class="progress mgbn  ht10 grey lighten-2">
                                <span class="determinate blue" id="ale"></span>
                            </span>
                        </div>
                    </div>
                    <div class="row mgbn">
                        <div class="col s8 lineht20">24x7 electricity({{epp}})</div>
                        <div class="col s4 right pdln">
                            <span class="progress mgbn  ht10 grey lighten-2">
                                <span class="determinate blue" id="24e"></span>
                            </span>
                        </div>
                    </div>
                    <div class="row mgbn">
                        <div class="col s8 lineht20">Regular/clean water supply({{rcwsp}})</div>
                        <div class="col s4 right pdln">
                            <span class="progress mgbn  ht10 grey lighten-2">
                                <span class="determinate blue" id="rcws"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="fetchingReviews && firstLoading" class="preloader-wrapper small active loadingPositionReviews">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <div class="row mgt20 mgan ft22" ng-hide="hasReviews || fetchingReviews">
            <h4>No Reviews</h4>
        </div>
        <div class="row mgt20 mgan" ng-show="hasReviews || !fetchingReviews">
            <div class="col s12">
                <div class="row bdbtm ft13 grey-text text-darken-2 mglrn mgb10 pdb10" ng-repeat="review in reviews">
                    <div class="col b pdb20">
                        <img class="imgcir mgt10" src="images/general/noImage.png">
                    </div>
                    <div class="col">
                        <p><b><span ng-show="review.userName == 'NA' || review.anonymous">Anonymous</span><span ng-hide="review.userName == 'NA' || review.anonymous">{{review.userName}}</span></b> | {{review.createdDate | date:'MMM dd, yy'}}</p>
                        <p class="grey-text review ft20i mgbn mgtmn">
                            <i class="material-icons" ng-repeat="i in [1,2,3,4,5] track by $index" ng-class="$index < review.overallRating? 'blue-text':'normal'">star</i>
                        </p>
                    </div>
                    <div class="col s12">
                        <p><b>{{review.reviewTitle}}</b></p>
                        <p class="justify">{{review.reviewText}}<span ng-show="review.showMore" class="roofGreen" ng-click="showReviewText($index)" style="cursor: pointer">...Show More</span></p>
                    </div>
                </div>
            </div>
            <div class="col s12 center">
                <a href="" class="modal-action modal-close btn blue mgr10" ng-click="showMoreReviews()" ng-show="!fetchingReviews && hasMoreReviews"><i class="material-icons left">visibility</i>View More</a>
                <div ng-show="fetchingReviews" class="preloader-wrapper small active loadingPositionReviews">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
