<div>
    <div class="row mgbn">
        <div class="container">
            <div class="row linkroot mgbn">
                <nav>
                    <div class="nav-wrapper">
                        <div class="col s12">
                            <a href="" class="breadcrumb">Home</a>
                            <a href="" class="breadcrumb">Write Review</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="container">
            <div class="row relative">
                <div class="col s8 pdr30">
                    <h3 class="heading">Write Review</h3>
                    <form name="reviewForm">
                        <div class="row relative mgbn" ng-show="idPresent">
                            <div class="col s4 imglist pdb10">
                                <a href=""> <img src="images/olive.jpg" class="responsive-img"></a>
                            </div>
                            <div class="col s6 pdln">
                                <div class="truncate grey-text ft12">lorem ipsum</div>
                                <h2 class="ft18 b mgbn mgt5 truncate"><a href="" class="redt"> The Olive Heights</a></h2>
                                <h6 class="mgbn ft12 truncate b text-darken-2 mgt5">
                                <a href="" class="grey-text"> Golf Course Road, Sector 56</a></h6>
                                <div class="grey-text mgt5 ft12">lorem ipsum</div>
                            </div>
                            <div class="col s2 pdln right-align">
                                <span class="pdl10 pdr10 b grnbg white-text">4.7</span>
                                <div class="ft11 grey-text mgt5">7832 votes </div>
                                <div class="ft11 grey-text">4233 reviews</div>
                            </div>
                        </div>
                        <div class="row mgln mgrn mgt10">
                            <div class="col s12 pdln ft15 b bodb pdb10"> Your first-hand experiences really help others. Thanks!
                            </div>
                        </div>
                        <div class="row mgbn">
                            <div class="input-field col s12 relative">
                                <input id="select_name_review" type="text" class="validate mgbn" required>
                                <label for="select_name_review">Select Project/Locality/Location *</label>
                                <div class="search-results wdsearch">
                                <!--     <ul class="collection homecoll">
                                        <li class="pda10 searchByNameItem collection-item">
                                            <span class="title ft13">lorem ipsum</span>
                                        </li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                        <div class="row mgt20">
                            <div class="col s12 pdb10 b">Are you a *</div>
                            <div class="col s4">
                                <input class="with-gap" name="group1" type="radio" id="owner" ng-model="review.userType" value="Owner" />
                                <label for="owner">Owner</label>
                            </div>
                            <div class="col s4">
                                <input class="with-gap" name="group1" type="radio" id="tenant" ng-model="review.userType" value="Tenant" />
                                <label for="tenant">Tenant</label>
                            </div>
                            <div class="col s4">
                                <input class="with-gap" name="group1" type="radio" id="visitor" ng-model="review.userType" value="Visitor" />
                                <label for="visitor">Visitor</label>
                            </div>
                        </div>
                        <hr>
                        <div class="row mgt20">
                            <div class="col s12 pdb10 b">Your Overall rating *</div>
                            <div class="col s12 relative align-left">
                                <span class="left starrating">
                                    <review-ratings ratingsobj='ratingsObject' index='1'></review-ratings>
                                </span>
                                <span class="arrow_box ratbox left b white-text">Click to rate</span>
                            </div>
                        </div>
                        <hr>
                        <div class="row mgbn mgt20">
                            <div class="col s12 pdb10 b">Review Title *</div>
                            <div class="input-field col s12">
                                <input id="review-title" type="text" class="validate" class="validate" ng-model="review.reviewTitle" required>
                                <label for="review-title">Type your review title</label>
                            </div>
                        </div>
                        <div class="row mgbn">
                            <div class="col s12 pdb10 b">Review text *</div>
                            <div class="input-field col s12">
                                <textarea id="textarea1" type="text" class="materialize-textarea validate" ng-model="review.reviewText" required></textarea>
                                <label for="textarea1">Type your review</label>
                            </div>
                        </div>
                        <div class="row mgln mgrn">
                            <div class="col s12 pdln ft15 b bodb pdb10"> Could you say a little more about it? <span class="ft13 grey-text ftw100">(optional)</span>
                            </div>
                            <div class="col s12 pdln mgt20 ft15 pdb10">We'd love your opinion! Anything you can share will help other travellers choose their perfect hotel. Thanks.</div>
                        </div>
                        <div class="mgt20 row mgln mgrn">
                            <div class="row mgbn" ng-repeat="item in ratingParams">
                                <div class="col s4 ft13 pdb10">{{item.name}}</div>
                                <div class="col s6 pdl0 grey-text pointer">
                                    <span class="left starrating">
                                       <review-ratings ratingsobj='ratingsObject' index='item.id'></review-ratings>
                                    </span>
                                    <span class="arrow_box ratbox left b white-text">Click to rate</span>
                                </div>
                            </div>
                            <hr>
                            <div class="row mgb10 mgt20">
                                <div class="col s4 ft13">Good Schools?</div>
                                <div class="col s6 pdan grey-text">
                                    <div class="col">
                                        <input class="with-gap" name="group2" type="radio" id="schoolsNotSure" ng-model="review.goodSchools" value="Not Sure">
                                        <label for="schoolsNotSure">Not Sure</label>
                                    </div>
                                    <div class="col">
                                        <input class="with-gap" name="group2" type="radio" id="schoolsNo" ng-model="review.goodSchools" value="No">
                                        <label for="schoolsNo">No</label>
                                    </div>
                                    <div class="col xspdn">
                                        <input class="with-gap" name="group2" type="radio" id="schoolsYes" ng-model="review.goodSchools" value="Yes">
                                        <label for="schoolsYes">Yes</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mgb10">
                                <div class="col s4 ft13">Good Markets?</div>
                                <div class="col s6 pdan grey-text">
                                    <div class="col">
                                        <input class="with-gap" name="group3" type="radio" id="marketsNotSure" ng-model="review.markets" value="Not Sure">
                                        <label for="marketsNotSure">Not Sure</label>
                                    </div>
                                    <div class="col">
                                        <input class="with-gap" name="group3" type="radio" id="marketsNo" ng-model="review.markets" value="No">
                                        <label for="marketsNo">No</label>
                                    </div>
                                    <div class="col xspdn">
                                        <input class="with-gap" name="group3" type="radio" id="marketsYes" ng-model="review.markets" value="Yes">
                                        <label for="marketsYes">Yes</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mgb10">
                                <div class="col s4 ft13">Reputed Hospitals?</div>
                                <div class="col s6 pdan grey-text">
                                    <div class="col">
                                        <input class="with-gap" name="group4" type="radio" id="hospitalsNotSure" ng-model="review.goodHospitals" value="Not Sure">
                                        <label for="hospitalsNotSure">Not Sure</label>
                                    </div>
                                    <div class="col">
                                        <input class="with-gap" name="group4" type="radio" id="hospitalsNo" ng-model="review.goodHospitals" value="No">
                                        <label for="hospitalsNo">No</label>
                                    </div>
                                    <div class="col xspdn">
                                        <input class="with-gap" name="group4" type="radio" id="hospitalsYes" ng-model="review.goodHospitals" value="Yes">
                                        <label for="hospitalsYes">Yes</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mgb10">
                                <div class="col s4 ft13 pdb10">Daily Need Items?</div>
                                <div class="col s6 pdan grey-text">
                                    <div class="col">
                                        <input class="with-gap" name="group5" type="radio" id="dailyNeedsNotSure" ng-model="review.dailyNeedItems" value="Not Sure">
                                        <label for="dailyNeedsNotSure">Not Sure</label>
                                    </div>
                                    <div class="col">
                                        <input class="with-gap" name="group5" type="radio" id="dailyNeedsNo" ng-model="review.dailyNeedItems" value="No">
                                        <label for="dailyNeedsNo">No</label>
                                    </div>
                                    <div class="col xspdn">
                                        <input class="with-gap" name="group5" type="radio" id="dailyNeedsYes" ng-model="review.dailyNeedItems" value="Yes">
                                        <label for="dailyNeedsYes">Yes</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mgb10">
                                <div class="col s4 ft13 pdb10">Public Transport?</div>
                                <div class="col s6 pdan grey-text">
                                    <div class="col">
                                        <input class="with-gap" name="group6" type="radio" id="transportNotSure" ng-model="review.easyAccessToPublicTransport" value="Not Sure">
                                        <label for="transportNotSure">Not Sure</label>
                                    </div>
                                    <div class="col">
                                        <input class="with-gap" name="group6" type="radio" id="transportNo" ng-model="review.easyAccessToPublicTransport" value="No">
                                        <label for="transportNo">No</label>
                                    </div>
                                    <div class="col xspdn">
                                        <input class="with-gap" name="group6" type="radio" id="transportYes" ng-model="review.easyAccessToPublicTransport" value="Yes">
                                        <label for="transportYes">Yes</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mgb10">
                                <div class="col s4 ft13 pdb10">Apartment Layout Efficient?</div>
                                <div class="col s6 pdan grey-text">
                                    <div class="col">
                                        <input class="with-gap" name="group7" type="radio" id="layoutNotSure" ng-model="review.apartmentLayoutEfficient" value="Not Sure">
                                        <label for="layoutNotSure">Not Sure</label>
                                    </div>
                                    <div class="col">
                                        <input class="with-gap" name="group7" type="radio" id="layoutNo" ng-model="review.apartmentLayoutEfficient" value="No">
                                        <label for="layoutNo">No</label>
                                    </div>
                                    <div class="col xspdn">
                                        <input class="with-gap" name="group7" type="radio" id="layoutYes" ng-model="review.apartmentLayoutEfficient" value="Yes">
                                        <label for="layoutYes">Yes</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mgb10">
                                <div class="col s4 ft13 pdb10">24x7 Electricity?</div>
                                <div class="col s6 pdan grey-text">
                                    <div class="col">
                                        <input class="with-gap" name="group8" type="radio" id="electricityNotSure" ng-model="review['24x7electricity']" value="Not Sure">
                                        <label for="electricityNotSure">Not Sure</label>
                                    </div>
                                    <div class="col">
                                        <input class="with-gap" name="group8" type="radio" id="electricityNo" ng-model="review['24x7electricity']" value="No">
                                        <label for="electricityNo">No</label>
                                    </div>
                                    <div class="col xspdn">
                                        <input class="with-gap" name="group8" type="radio" id="electricityYes" ng-model="review['24x7electricity']" value="Yes">
                                        <label for="electricityYes">Yes</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mgb10">
                                <div class="col s4 ft13 pdb10">Regular/Clean Water Supply?</div>
                                <div class="col s6 pdan grey-text">
                                    <div class="col">
                                        <input class="with-gap" name="group9" type="radio" id="waterNotSure" ng-model="review.regularCleanWaterSupply" value="NotSure">
                                        <label for="waterNotSure">Not Sure</label>
                                    </div>
                                    <div class="col">
                                        <input class="with-gap" name="group9" type="radio" id="waterNo" ng-model="review.regularCleanWaterSupply" value="No">
                                        <label for="waterNo">No</label>
                                    </div>
                                    <div class="col xspdn">
                                        <input class="with-gap" name="group9" type="radio" id="waterYes" ng-model="review.regularCleanWaterSupply" value="Yes">
                                        <label for="waterYes">Yes</label>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="row mgbn mgt20 relative">
                            <div class="col s12 pdb10 b">Add a tip to help travellers choose a good room *</div>
                            <div class="input-field col s12">
                                <input onclick="$('#addatip_popup') .css ('display','block')" id="review-title" ng-model="review.reivewTip" type="text" class="validate">
                                <label for="review-title">Type your tip</label>
                            </div>
                            <div id="addatip_popup" class="white pda20">
                                <i onclick="$('#addatip_popup') .css ('display','none')" class="material-icons right ft17 grey-text pointer">close</i>
                                <h5 class="mgtn ft15 b">Examples of helpful room tips</h5>
                                <hr>
                                <p>
                                    <em> "Rooms on the south side are quieter" "Corner suites are large and sunny" "Higher floors have less A/C unit noise"
                                   </em>
                                </p>
                            </div>
                        </div>
                        <div class="mgt20 row mgln mgrn">
                            <div class="col s12 pdb10 pdln b">Do you have photos to share?</div>
                            <div class="file-field input-field">
                                <div class="btn">
                                    <span><i class="material-icons left">photo</i>Add a Photo</span>
                                    <input type="file">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                        </div>
                        <!-- <button class="lighten-1 btn btn-primary block mgt20 wd100" ng-class="(reviewForm.$invalid || !review.userType || !review.overallRating || !projectSelected|| !loginStatus)?'disabled':'normal'" ng-click="submitReview()">Submit Your Review</button> -->
                        <button class="lighten-1 btn btn-primary block mgt20 wd100" ng-class="(reviewForm.$invalid || !review.userType || !review.overallRating|| !loginStatus)?'disabled':'normal'" ng-click="submitReview()">Submit Your Review</button>
                        <p ng-hide="loginStatus" id="loginSignup">Please login/signup to submit review *</p>
                    </form>
                </div>
                <div class="col m4 justify pdl30 abs htfull right0 leftsd" ng-show="idPresent">
                    <div class="row mgan">
                        <div class="col s12">
                            <a onclick="$('#seesample_popup') .css ('display','block')" class="pointer ft12">
                                See a sample
                            </a>
                            <h3 class="ft15 b">Recent reviews of this property</h3>
                        </div>
                    </div>
                    <div class="row bdbtm ft12 grey-text text-darken-2 mgln mgrn" id="Reviews">
                        <div class="col s2 b">
                            <img class="imgcir imgcir40 mgt10" src="images/general/noImage.png">
                        </div>
                        <div class="col s10">
                            <div class="grey-text text-darken-2 pdt10"> Rajneesh Sharma | Sep 01, 16</div>
                            <div class="grey-text ft20i">
                                <i class="material-icons green-text">star</i>
                                <i class="material-icons green-text">star</i>
                                <i class="material-icons green-text">star</i>
                                <i class="material-icons green-text">star</i>
                                <i class="material-icons">star</i>
                            </div>
                        </div>
                        <div class="col s12 mgt5">
                            <div class="b5">"Wonderful ambience - greenery all around"</div>
                            <p class="justify mgt5 more">One entry and exit point has been constructed so thats a very big advantage and guards are always present. Clubhouse is there and it has a good ambience and is very well maintained. There are wide open green areas. It is spread across the Sohna Road and Golf Course Road Extension. There are some problems with the power backup. Housemaids are easily available. Basement and open parking is maintained and twice a day they have guards around. Here we have high-rise buildings with very good layout, main road connectivity is good which provides for easy transportation. Sohna Road is a problem as service roads are bad if you are coming in or going out of the society it is bad but inside, the ambience is wonderful.
                            </p>
                        </div>
                    </div>
                    <div class="row bdbtm ft12 grey-text text-darken-2 mgln mgrn" id="Reviews">
                        <div class="col s2 b">
                            <img class="imgcir imgcir40 mgt10" src="images/general/noImage.png">
                        </div>
                        <div class="col s10">
                            <div class="grey-text text-darken-2 pdt10"> Rajneesh Sharma | Sep 01, 16</div>
                            <div class="grey-text ft20i">
                                <i class="material-icons green-text">star</i>
                                <i class="material-icons green-text">star</i>
                                <i class="material-icons green-text">star</i>
                                <i class="material-icons green-text">star</i>
                                <i class="material-icons">star</i>
                            </div>
                        </div>
                        <div class="col s12 mgt5">
                            <div class="b5">"Wonderful ambience - greenery all around"</div>
                            <p class="justify mgt5 more">One entry and exit point has been constructed so thats a very big advantage and guards are always present. Clubhouse is there and it has a good ambience and is very well
                            </p>
                        </div>
                    </div>
                    <div class="row bdbtm ft12 grey-text text-darken-2 mgln mgrn" id="Reviews">
                        <div class="col s2 b">
                            <img class="imgcir imgcir40 mgt10" src="images/general/noImage.png">
                        </div>
                        <div class="col s10">
                            <div class="grey-text text-darken-2 pdt10"> Rajneesh Sharma | Sep 01, 16</div>
                            <div class="grey-text ft20i">
                                <i class="material-icons green-text">star</i>
                                <i class="material-icons green-text">star</i>
                                <i class="material-icons green-text">star</i>
                                <i class="material-icons green-text">star</i>
                                <i class="material-icons">star</i>
                            </div>
                        </div>
                        <div class="col s12 mgt5">
                            <div class="b5">"Wonderful ambience - greenery all around"</div>
                            <p class="justify mgt5 more">One entry and exit point has been constructed so thats a very big advantage and guards are always present. Clubhouse is there and it has a good ambience and is very well
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="seesample_popup" class="white pda20">
        <i onclick="$('#seesample_popup') .css ('display','none')" class="material-icons right ft17 grey-text pointer">close</i>
        <h5 class="mgtn ft15 b">Reviewing Tips</h5>
        <hr> Your review can directly impact someone’s decision to buy or rent property. So make it count by using these reviewing tips:
        <p>
            <b>Remain Relevant:</b> A review with the relevant details garners more ratings and trust. Avoid excessive complaints or compliments, provide specific details where possible, and be objective about your views. The best reviews state both pros and cons.
        </p>
        <p>
            <b>Honesty Helps:</b> Although this is a neutral platform for users to openly share their views, reviews with discriminatory, libellous, or profane content will not pass the verification stage. Share your own experiences and not what you’ve heard about the property or neighbourhood you’re reviewing.
        </p>
    </div>
</div>
