<div class="container">
    <div class="row mgt70 linkroot">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#home" class="breadcrumb">Home</a>
                    <a href="" class="breadcrumb">Write Review</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col s12 m8 wd676">
            <h5 class="pdt10 b">Write Review</h5>
            <hr>
            <form name="reviewForm">
                <div class="row mgbn" ng-show="showSearch">
                    <div class="input-field col s12 reletive">
                        <input id="select_name_review" ng-model="selectedItem" ng-change="nameEntered()" type="text" class="validate mgbn" required><img src="http://www.ladbrokes.com/bingo/christmas-cracker/images/loadingAnimation.gif" ng-show="showLoading" class="loading-icon" autocomplete="false" />
                        <label for="select_name_review">Select Project/Locality/Location *</label>
                        <div class="search-results" ng-show="showResults">
                            <ul class="collection homecoll">
                                <li ng-repeat="item in projectList" ng-click="selectProject(item)" class="pda10 searchByNameItem collection-item">
                                    <span class="title ft13" ng-bind-html="item.name | highlight:selectedItem"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div ng-show="showLoadingSelected" class="preloader-wrapper big active loaderPositionReview">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left ">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="showSelected">
                    <div class="col s12 pdb10">
                        <h4 class="ft19">{{selectedItem}}</h4>
                    </div>
                </div>
                <div class="row mgt20">
                    <div class="col s12 pdb10">Are you a *</div>
                    <div class="col s4">
                        <input class="with-gap" name="group1" type="radio" id="owner" ng-model="review.userType" value="Owner" />
                        <label for="owner">Owner</label>
                    </div>
                    <div class="col s4">
                        <input class="with-gap" name="group1" type="radio" id="tenant" ng-model="review.userType" value="Tenant" />
                        <label for="tenant">Tenant</label>
                    </div>
                    <div class="col s4">
                        <input class="with-gap" name="group1" type="radio" id="visitor" ng-model="review.userType" value="Visitor" />
                        <label for="visitor">Visitor</label>
                    </div>
                </div>
                <hr>
                <div class="row mgt20">
                    <div class="col s12 pdb10">Overall rating *</div>
                    <div class="col s12 pointer">
                        <review-ratings ratingsobj='ratingsObject' index='1'></review-ratings>
                    </div>
                </div>
                <hr>
                <div class="row mgbn mgt20">
                    <div class="col s12 pdb10">Review Title *</div>
                    <div class="input-field col s12">
                        <input id="review-title" type="text" class="validate" ng-model="review.reviewTitle" required>
                        <label for="review-title">Type your review title</label>
                    </div>
                </div>
                <div class="row mgbn">
                    <div class="col s12 pdb10">Review text *</div>
                    <div class="input-field col s12">
                        <textarea id="textarea1" type="text" class="materialize-textarea validate" ng-model="review.reviewText" required></textarea>
                        <label for="textarea1">Type your review</label>
                    </div>
                </div>
                <div class="row mgbn mgt20 pdb10" ng-show="couponCodeSuccessful">
                    <p class="success pdl10">The coupon code {{couponCode}} has been successfully applied</p>
                </div>
                <div class="row mgbn mgt20" ng-hide="couponCodeSuccessful">
                    <div class="col s12 pdb10">Have a coupon code?</div>
                    <div class="input-field col s12">
                        <form name="reviewCoupon">
                            <div class="row mgbn">
                                <div class="col s8 ">
                                    <input id="couponCode" type="text" class="validate" ng-model="couponCode">
                                    <div ng-class="messageClass">{{message}}</div>
                                    <label for="couponCode">Enter Your Coupon Code</label>
                                </div>
                                <div class="col s4">
                                    <button ng-hide="couponCodeSuccessful || applyingCoupon" class="max btn blue" ng-click="validateCoupon()">Apply</button>
                                    <div ng-show="applyingCoupon" class="max preloader-wrapper small active">
                                        <div class="spinner-layer spinner-blue-only">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="gap-patch">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <p ng-click="showMoreFn()" class="alignc" style="cursor: pointer" ng-class="showMore?'roofGrey': 'roofGreen'"><b>{{showMoreLess}}</b></p>
                <div ng-show="showMore" class="mgt20">
                    <div class="row mgbn" ng-repeat="item in ratingParams">
                        <div class="col left ft13 pdb10">{{item.name}}</div>
                        <div class="col right ft20i pdl0 grey-text pointer">
                            <review-ratings ratingsobj='ratingsObject' index='item.id'></review-ratings>
                        </div>
                    </div>
                    <hr>
                    <div class="row mgb10">
                        <div class="col left ft13 pdb10">Good Schools?</div>
                        <div class="col s12 grey-text">
                            <div class="col right">
                                <input class="with-gap" name="group2" type="radio" id="schoolsNo" ng-model="review.schoolsAvailable" value="No" />
                                <label for="schoolsNo">No</label>
                            </div>
                            <div class="col right">
                                <input class="with-gap" name="group2" type="radio" id="schoolsYes" ng-model="review.schoolsAvailable" value="Yes" />
                                <label for="schoolsYes">Yes</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mgb10">
                        <div class="col left ft13 pdb10">Good Markets?</div>
                        <div class="col s12 grey-text">
                            <div class="col right">
                                <input class="with-gap" name="group3" type="radio" id="marketsNo" ng-model="review.marketsAvailable" value="No" />
                                <label for="marketsNo">No</label>
                            </div>
                            <div class="col right">
                                <input class="with-gap" name="group3" type="radio" id="marketsYes" ng-model="review.marketsAvailable" value="Yes" />
                                <label for="marketsYes">Yes</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mgb10">
                        <div class="col left ft13 pdb10">Reputed Hospitals?</div>
                        <div class="col s12 grey-text">
                            <div class="col right">
                                <input class="with-gap" name="group4" type="radio" id="hospitalsNo" ng-model="review.hospitalsAvailable" value="No" />
                                <label for="hospitalsNo">No</label>
                            </div>
                            <div class="col right">
                                <input class="with-gap" name="group4" type="radio" id="hospitalsYes" ng-model="review.hospitalsAvailable" value="Yes" />
                                <label for="hospitalsYes">Yes</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mgb10">
                        <div class="col left ft13 pdb10">Daily Need Items?</div>
                        <div class="col s12 grey-text">
                            <div class="col right">
                                <input class="with-gap" name="group5" type="radio" id="dailyNeedsNo" ng-model="review.dailyNeedsAvailable" value="No" />
                                <label for="dailyNeedsNo">No</label>
                            </div>
                            <div class="col right">
                                <input class="with-gap" name="group5" type="radio" id="dailyNeedsYes" ng-model="review.dailyNeedsAvailable" value="Yes" />
                                <label for="dailyNeedsYes">Yes</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mgb10">
                        <div class="col left ft13 pdb10">Public Transport?</div>
                        <div class="col s12 grey-text">
                            <div class="col right">
                                <input class="with-gap" name="group6" type="radio" id="transportNo" ng-model="review.transportAvailable" value="No" />
                                <label for="transportNo">No</label>
                            </div>
                            <div class="col right">
                                <input class="with-gap" name="group6" type="radio" id="transportYes" ng-model="review.transportAvailable" value="Yes" />
                                <label for="transportYes">Yes</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mgb10">
                        <div class="col left ft13 pdb10">Apartment Layout Efficient?</div>
                        <div class="col s12 grey-text">
                            <div class="col right">
                                <input class="with-gap" name="group7" type="radio" id="layoutNo" ng-model="review.layoutEfficient" value="No" />
                                <label for="layoutNo">No</label>
                            </div>
                            <div class="col right">
                                <input class="with-gap" name="group7" type="radio" id="layoutYes" ng-model="review.layoutEfficient" value="Yes" />
                                <label for="layoutYes">Yes</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mgb10">
                        <div class="col left ft13 pdb10">24x7 Electricity?</div>
                        <div class="col s12 grey-text">
                            <div class="col right">
                                <input class="with-gap" name="group8" type="radio" id="electricityNo" ng-model="review.electricityAvailable" value="No" />
                                <label for="electricityNo">No</label>
                            </div>
                            <div class="col right">
                                <input class="with-gap" name="group8" type="radio" id="electricityYes" ng-model="review.electricityAvailable" value="Yes" />
                                <label for="electricityYes">Yes</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mgb10">
                        <div class="col left ft13 pdb10">Regular/Clean Water Supply?</div>
                        <div class="col s12 grey-text">
                            <div class="col right">
                                <input class="with-gap" name="group9" type="radio" id="waterNo" ng-model="review.waterSupplyAvailable" value="No" />
                                <label for="waterNo">No</label>
                            </div>
                            <div class="col right">
                                <input class="with-gap" name="group9" type="radio" id="waterYes" ng-model="review.waterSupplyAvailable" value="Yes" />
                                <label for="waterYes">Yes</label>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <!-- <button data-target="mobile-verification-modal" class="blue lighten-1 btn block mgt20 wd100">Submit</button> -->
                <button data-target="mobile-verification-modal" ng-class="(reviewForm.$invalid || !review.userType || !review.overallRating || !projectSelected)?'disabled':'normal'" class="blue lighten-1 btn block mgt20 wd100">Submit</button>
                <!-- <a href="" ng-click="submitReview()" ng-class="(reviewForm.$invalid || !review.userType || !review.overallRating || !projectSelected)?'disabled':'normal'" class="blue lighten-1 btn block mgt20">Submit</a> -->
                <p ng-hide="loginStatus" id="loginSignup">Please login/signup to submit review *</p>
            </form>
        </div>
        <div class="col s12 m4 justify ftw3 hide767">
            <h5 class="pdt10 b">Reviewing Tips</h5>
            <hr> Your review can directly impact someone’s decision to buy or rent property. So make it count by using these reviewing tips:
            <p>
                <b>Remain Relevant:</b> A review with the relevant details garners more ratings and trust. Avoid excessive complaints or compliments, provide specific details where possible, and be objective about your views. The best reviews state both pros and cons.
            </p>
            <p>
                <b>Honesty Helps:</b> Although this is a neutral platform for users to openly share their views, reviews with discriminatory, libellous, or profane content will not pass the verification stage. Share your own experiences and not what you’ve heard about the property or neighbourhood you’re reviewing.
            </p>
            <p>
                <b>Add Photos:</b> You may not be able to write a thousand words, so post a picture! Photos of the property, project, and locality help garner more readers for your review besides making it credible.
            </p>
            <p>
                <b>Review Anonymously:</b> Our hawk-eyed moderators have a thing against reviews with personal information such as names, phone numbers, emails, or other contact details. Make sure your review doesn’t include such information.</p>
        </div>
    </div>
    <div id="mobile-verification-modal" class="modal modal-fixed-footer ht40 mgtp10">
        <div class="modal-content">
            <div class="row mgbn mgt20" ng-show="step == 1">
                <div class="col s12">
                    <h5>Enter your 10 digit mobile number</h5>
                    <p>We will send you a verification code.</p>
                </div>
                <div class="input-field col s12">
                    <input name="userMobile" id="mobile-number" type="number" class="validate" ng-model="mobileNum" ng-minlength="10" ng-maxlength="10" required>
                    <p class="red-text" ng-show="numberError">{{numberError}}</p>
                </div>
            </div>
            <div class="row mgbn mgt20" ng-show="step == 2">
                <div class="loadingPositionModal">
                    <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="loadingMessagePosition">{{loadingMessage}}</p>
            </div>
            <div class="row mgbn mgt20" ng-show="step == 3">
                <div class="col s12">
                    <h5>OTP sent successfully</h5>
                    <p>A verification code has been sent to your registered mobile {{userMobileNum[0]}}xxxxxxxx{{userMobileNum[9]}}and email address {{splitEmail[0][0]}}xxx@{{splitEmail[1]}}</p>
                </div>
                <div class="input-field col s12">
                    <input name="userOtp" id="user-otp" type="number" class="validate" ng-model="optNum" ng-minlength="4" ng-maxlength="4" required>
                    <p ng-show="incorrectOtp">Incorrect OTP</p>
                </div>
            </div>
            <div class="row mgbn mgt20" ng-show="step == 4">
                <div class="loadingPositionModal">
                    <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="loadingMessagePosition">Submitting Review...</p>
            </div>
            <div class="row mgbn mgt20" ng-show="step == 5">
                <div>
                    <p><b>Your review has been successfully submitted.</b></p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-show="step == 1" class="modal-action blue btn-flat white-text" ng-click="sendOtp(mobileNum)">Send OTP</button>
            <button ng-show="(step == 1) && !couponCodeSuccessful" class="modal-action grey btn-flat white-text mgr10" ng-click="submitWithoutVerification()">Submit without verification</button>
            <button ng-show="step == 3" class="modal-action blue btn-flat white-text mgr10" ng-click="verifyOtp(optNum)">Verify OTP</button>
            <button ng-show="step == 5" class="modal-action modal-close blue btn-flat white-text mgr10" ng-click="refreshPage()">OK</button>
        </div>
    </div>
</div>
