<div>
<style>
.review-m{
    display:none !important;
}

</style>
    <div class="row mgt70 write-review">
        <div class="container">
            <div class="row relative">
                <div class="col s12 m12 l8 pdr30 rightsd">
                    <h3 class="heading mgt30 mgbn">Write Review</h3>
                    <div class="row linkroot mgan">
                        <nav class="bgtrans">
                            <div class="nav-wrapper bgtrans">
                                <div class="col s12 pdln">
                                    <a href="/#/home" class="breadcrumb">Home</a>
                                    <a href="" class="breadcrumb">Write Review</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <form name="reviewForm">
                        <div class="row mgln mgrn">
                            <div class="col s12 pdln ft18 b bodb pdb10 mgt20">
                                 Your first-hand experiences really help other residents. Thanks!
                            </div>
                        </div>
                        <div class="row mgbn">
                            <div class="col s12 input-field">
                            <input id="place_name" type="text"  gm-places-autocomplete ng-model="autocomplete" placeholder="Seach locality and property" />
                            </div>
                            <div class="col s12 m6 input-field">
                                <select ng-model="review.user.type" class="browser-default">
                                    <option value="" disabled selected>I am living as</option>
                                    <option value="tenant"> Tenant </option>
                                    <option value="owner"> Owner </option>
                                </select>
                            </div>
                            <div class="input-field col s12 m6">
                                <input id="review-block" type="text" ng-model="review.user.block">
                                <label for="review-block">Tower/Block</label>
                            </div>
                        </div>
    
                        <div class="row mgt20">
                            <div class="col s12 pdb10 b">Your Overall rating *</div>
                            <div class="col s12 relative align-left">
                                <span class="left starrating">
                                    <review-ratings ratingsobj='ratingsObject' index='1' currval="{{review.main.rating}}"></review-ratings>
                                </span>
                                <span class="arrow_box ratbox left b white-text">{{ratingTxt.overall}}</span>
                            </div> 
                        </div>
                        <hr>
                        <div class="row mgbn mgt20">
                            <div class="col s12 pdb10 b">Review Title *</div>
                            <div class="input-field col s12">
                                <input id="review-title" type="text" class="validate" class="validate" ng-model="review.main.title">
                                <label for="review-title">Type your review title</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 pdb10 b">Pros *</div>
                            <div class="input-field col s12">
                                <textarea id="textarea1" class="materialize-textarea validate mgbn" ng-model="review.main.pros"></textarea>
                                <label for="textarea1">What are the positives of living at this place</label>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col s12 pdb10 b">Cons *</div>
                            <div class="input-field col s12">
                                <textarea id="textarea1" class="materialize-textarea validate mgbn" ng-model="review.main.cons"></textarea>
                                <label for="textarea1">What are the challenges of living at this place</label>
                            </div>
                        </div>
                        <div class="row mgln mgrn">
                            <div class="row mgbn mgt20 relative">
                                <div class="col s12 pdb10 b">Add a tip to help residents choose a good house</div>
                                <div class="input-field col s12">
                                    <input onclick="$('#addatip_popup') .css ('display','block')" id="review-tip" ng-model="review.main.reivewtip" type="text" class="validate">
                                    <label for="review-title">Type your tip</label>
                                </div>
                                <div id="addatip_popup" class="white pda20">
                                    <i onclick="$('#addatip_popup') .css ('display','none')" class="material-icons right ft17 grey-text pointer">close</i>
                                    <h5 class="mgtn ft15 b">Examples of helpful project tips</h5>
                                    <hr>
                                    <p>
                                        <em> "Excellent club house with swimming pool" "Lot's of good schools nearby" "Maintenance is excellent"
                                   </em>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- <button class="lighten-1 btn btn-primary block mgt20 wd100" ng-class="(reviewForm.$invalid || !review.userType || !review.overallRating || !projectSelected|| !loginStatus)?'disabled':'normal'" ng-click="submitReview()">Submit Your Review</button> -->
                        <button class="lighten-1 btn btn-primary block mgt20 wd100" ng-click="submitReview()" ng-enable="disbtn">Submit Your Review</button>
                    </form>
                </div>
                <div class="col s12 m12 l4 justify pdl30 xspdl10 mgt30 smxst">
                <div class="row relative">
                    <div class="col s12">
                          <h5 class="mgtn ft15 b">Reviewing Tips</h5>
                            <hr> Your review can directly impact someone’s decision to buy or rent property. So make it count by using these reviewing tips:
                            <p>
                                <b>Remain Relevant:</b> A review with the relevant details garners more ratings and trust. Avoid excessive complaints or compliments, provide specific details where possible, and be objective about your views. The best reviews state both pros and cons.
                            </p>
                            <div class="row mgbn mgt30">
                         <h5 class="ft17 pdl10"><span class="orange-text">What</span> you can talk abuot in your review</h5>
                            <div class="col s6">
                                <h5 class="ft13 purple-text mgbn">Amenities:</h5>
                                <p class="ft11 mgtn">How are the club-house and indoor/outdoor sports facilities</p>
                            </div>
                            <div class="col s6">
                                <h5 class="ft13 blue-text mgbn">Security:</h5>
                                <p class="ft11 mgtn">Availability of features like gated community,cctv,24x7 security etc.</p>
                            </div>
                            <div class="col s6">
                                <h5 class="ft13 green-text mgbn">Infrastructure:</h5>
                                <p class="ft11 mgtn">Quality of roads, street-lighting, traffic, air and noise pollution etc.</p>
                            </div>
                            <div class="col s6">
                                <h5 class="ft13 red-text mgbn">Convenience:</h5>
                                <p class="ft11 mgtn">Convenience of housemaids, quality of lifts, senior citizen, friendly, pet friendly etc.</p>
                            </div>
                            <div class="col s6">
                                <h5 class="ft13 orange-text mgbn">Open Areas:</h5>
                                <p class="ft11 mgtn">Parks and open/green areas, children play areas etc.</p>
                            </div>
                            <div class="col s6">
                                <h5 class="ft13 lime-text mgbn">Near-By:</h5>
                                <p class="ft11 mgtn">Best Schools, Markets, Hospitals, and Connectivity to public transport etc.</p>
                            </div>
                            <div class="col s12 ft10"><span class="black-text">90%</span> read reviews <span class="black-text">before</span> making decision - <span class="black-text">BrightLocal</span></div>
                            </div>
                           <p>
                                <b>Honesty Helps:</b> Although this is a neutral platform for users to openly share their views, reviews with discriminatory, libellous, or profane content will not pass the verification stage. Share your own experiences and not what you’ve heard about the property or neighbourhood you’re reviewing.
                            </p>
                            <p>
                               <b> Add Photos:</b> You may not be able to write a thousand words, so post a picture! Photos of the property, project, and locality help garner more readers for your review besides making it credible. 
                            </p>
                    </div>
                </div>
                    <div class="row mgan relative">
                        <div class="col s12">
                          <!--   <a onclick="$('#seesample_popup') .css ('display','block')" class="pointer ft12">
                                Reviewing Tips
                            </a> -->
                            <h3 class="ft15 b" ng-show="{{allReview}}">Recent reviews of this property</h3>
                        </div>
                      <!--   <div id="seesample_popup" class="white pda20">
                            <i onclick="$('#seesample_popup') .css ('display','none')" class="material-icons right ft17 grey-text pointer">close</i>
                            <h5 class="mgtn ft15 b">Reviewing Tips</h5>
                            <hr> Your review can directly impact someone’s decision to buy or rent property. So make it count by using these reviewing tips:
                            <p>
                                <b>Remain Relevant:</b> A review with the relevant details garners more ratings and trust. Avoid excessive complaints or compliments, provide specific details where possible, and be objective about your views. The best reviews state both pros and cons.
                            </p>
                            <p>
                                <b>Honesty Helps:</b> Although this is a neutral platform for users to openly share their views, reviews with discriminatory, libellous, or profane content will not pass the verification stage. Share your own experiences and not what you’ve heard about the property or neighbourhood you’re reviewing.
                            </p>
                            <p>
                               <b> Add Photos:</b> You may not be able to write a thousand words, so post a picture! Photos of the property, project, and locality help garner more readers for your review besides making it credible. 
                            </p>
                        </div> -->
                    </div>
                    <div class="row bdbtm ft13 grey-text text-darken-2 mgan" ng-repeat="review in allReviews">
                        <div class="col s12">
                            <p><span class="ft14"> {{review.name | capitalize}} </span> | {{review.date | date : 'd MMM yy'}} </p>
                            <p class="grey-text review ft20i mgbn ">
                                <ratings ratingval="{{review.rating}}"></ratings>
                            </p>
                            <p><b>{{review.title | capitalize}}</b></p>
                            <p class="justify">{{review.details | capitalize}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
