<main>
  <section ui-view="search">
  </section>
  <!-- Write a Review section start -->
  <section class="hide-on-small-only write-review">
    <div class="parallax-container valign-wrapper" style="height: 400px">
      <div class="parallax">
        <!-- <img src="images/home/writebg.jpg"> --></div>
      <div class="row center ">
        <div class="col s10 offset-s1 valign">
          <h3>Write a Review About Your Buying or Renting Experience</h3>
          <a href="/#/write-review" class="btn btn-large">WRITE A REVIEW</a>
        </div>
      </div>
    </div>
  </section>
</main>
