<main>
    <section ui-view="search">
    </section>
    <!-- Write a Review section start -->
    <section>
        <div class="parallax-container" style="height: 400px">
            <div class="parallax"> <img src="images/home/writebg.jpg"></div>
            <div class="transformfix white-text center">
                <h3>Write a Review About Your Buying or Renting Experience</h3>
                <a href="/#/write-review" class="btn btn-large">WRITE A REVIEW</a>
            </div>
        </div>
    </section>

</main>
