<div class="container">
    <h5 class="center mgtn"> Explore Micromarkets  </h5>
    <p class="center ft14 grey-text">The popular micro markets of Gurgaon</p>
    <div class="row">
        <div class="col s12 m12 l4 micro_overy">
            <div class="row mgan">
                <div class="card col s12  m6 l12">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s8">
                                <a href="/#/search/2017/property/gurgaon/residential/all?micro=-KfM5tQ-UKt6DtrWtzeE" style="cursor:pointer">
                                    <span class="card-title">Sohna Road</span>
                                    <p>3 BHK <span>starting 25,000 Rs</span></p>
                                    <p><a href="#">16 Projects</a>
                                        <a href="#">11 Localities</a></p>
                                </a>
                            </div>
                            <div class="col s4">
                                <div id="chart1" style="height: 200px; max-width: 300px; margin: 0 auto;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card col s12 m6  l12">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s8">
                                <a href="/#/search/2017/property/gurgaon/residential/all?micro=-KfQiNMHw7UE1alv1hSr" style="cursor:pointer">
                                    <span class="card-title">Golf Course Ext Road</span>
                                    <p>3 BHK <span>starting 28,000 Rs</span></p>
                                    <p><a href="#">14 Projects</a>
                                        <a href="#">9 Localities</a></p>
                                </a>
                            </div>
                            <div class="col s4">
                                <div id="chart2" style="height: 200px; max-width: 300px; margin: 0 auto; "></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s8 m8 l8 pdl20 hide-on-med-and-down">
            <img src="images/home/gurgaon.png" class="responsive-img">
            <div class="sohna-road">
                <p>Sohna Road</p>
                <div class="wrapper">
                    <div class="cssload-loader"></div>
                </div>
            </div>
            <div class="golf-course-extn-rd">
                <p>Golf Course Extn Road</p>
                <div class="wrapper">
                    <div class="cssload-loader"></div>
                </div>
            </div>
        </div>
    </div>
</div>
