<div id="mapContainer">
    <div id="mapCanvas"></div>
    <div class="LeftBox">
        <div class="row mapinp rele">
            <div class="input-field col s12 abs-auto">
                <input type="text" id="autocomplete-input" class="autocomplete">
                <label for="autocomplete-input">Search Box</label>
            </div>
        </div>
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>Project Status</div>
                <div class="collapsible-body">
                    <div class="row mgbn">                        
                        <p>
                            <input type="checkbox" class="filled-in" id="pro_redy" />
                            <label for="pro_redy">Redy To Move</label>
                        </p>
                        <p>
                            <input type="checkbox" class="filled-in" id="pro_under" />
                            <label for="pro_under">Under Construction</label>
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">place</i> Locality</div>
                <div class="collapsible-body">
                    <div class="row mgbn">                      
                        <p>
                            <input type="checkbox" class="filled-in" id="loc_sohna" />
                            <label for="loc_sohna">Sohna Road</label>
                        </p>
                        <p>
                            <input type="checkbox" class="filled-in" id="loc_golf_extn" />
                            <label for="loc_golf_extn">Golf Course Road Extn.</label>
                        </p>
                        <p>
                            <input type="checkbox" class="filled-in" id="loc_nirvana" />
                            <label for="loc_nirvana">Nirvana Country</label>
                        </p>
                        <p>
                            <input type="checkbox" class="filled-in" id="loc_golf_road" />
                            <label for="loc_golf_road">Golf Course Road</label>
                        </p>
                        <p>
                            <input type="checkbox" class="filled-in" id="loc_mg_road" />
                            <label for="loc_mg_road">MG Road</label>
                        </p>
                        <p>
                            <input type="checkbox" class="filled-in" id="loc_gold" />
                            <label for="loc_gold">Gold Sock</label>
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">star</i>User Rating</div>
                <div class="collapsible-body">
                    <div class="row mgbn label_i">                       
                        <p>
                            <input type="checkbox" class="filled-in" id="star1" />
                            <label for="star1">
                                <i class="material-icons blue-text">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                            </label>
                        </p>
                        <p>
                            <input type="checkbox" class="filled-in" id="star2" />
                            <label for="star2">
                                <i class="material-icons blue-text">star</i>
                                <i class="material-icons blue-text">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                            </label>
                        </p>
                        <p>
                            <input type="checkbox" class="filled-in" id="star3" />
                            <label for="star3">
                                <i class="material-icons blue-text">star</i>
                                <i class="material-icons blue-text">star</i>
                                <i class="material-icons blue-text">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                            </label>
                        </p>
                        <p>
                            <input type="checkbox" class="filled-in" id="star4" />
                            <label for="star4">
                                <i class="material-icons blue-text">star</i>
                                <i class="material-icons blue-text">star</i>
                                <i class="material-icons blue-text">star</i>
                                <i class="material-icons blue-text">star</i>
                                <i class="material-icons">star</i>
                            </label>
                        </p>
                        <p>
                            <input type="checkbox" class="filled-in" id="star5" />
                            <label for="star5">
                                <i class="material-icons blue-text">star</i>
                                <i class="material-icons blue-text">star</i>
                                <i class="material-icons blue-text">star</i>
                                <i class="material-icons blue-text">star</i>
                                <i class="material-icons blue-text">star</i>
                            </label>
                        </p>
                    </div>
                </div>
            </li>          
        </ul>
    </div>
</div>

