<div class="mgt65">
    <div class="parallax-container">
        <div class="parallax"> <img ng-src="{{blogMain.imgsrc}}" class="responsive-img"></div>
        <div class="transformfix center">
            <h3 class="white-text text-sd mgbn mgtn"><b>{{blogMain.title}}</b></h3>
        </div>
    </div>
    <section class="story-main container">
        <link rel="stylesheet" type="text/css" href="../../css/story.style.css">
        <div class="row">
            <div class="col s12 m7 l7">
                <div ng-repeat="items in blogDetail">
                    <h4 class="ft18">{{items.title}}</h4>
                    <div class="row">
                        <div class="col s12 center">
                            <img ng-src="{{items.imgsrc}}" class="responsive-img" />
                        </div>
                    </div>
                    <p> {{items.description}} </p>
                </div>
            </div>
            <div class="col l3 offset-l1  mgt20 hide-on-med-and-down">
                <div class="row">
                    <div class="col s12" ng-repeat="fsmall in featuredsmall" ng-click="showblog(fsmall)">
                        <div class="row">
                            <div class="col s12">
                                <img ng-src="{{fsmall.imgsrc}}" class="responsive-img">
                            </div>
                            <div class="col 12">
                                <h4 class="flow-text">
                            {{fsmall.title}}
                        </h4>
                                <div>
                                    <div class="date">
                                        {{fsmall.created | date}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
        $(document).ready(function() {
            $('.parallax').parallax();
        });
        </script>
    </section>
</div>
