<md-dialog class="search-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="center-text">Your are in Gurgaon</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content" layout="flex" flex layout-align="center center" layout-wrap>
            <div flex="100">
                <input type="text" placeholder="Search by project, builder, landmark or locality" ng-model="searchText" ng-change="printSearchText()" autofocus/>
            </div>
            <md-list flex="100">
                <md-list-item class="md-3-line search-item" ng-click="selectItem(item)" class="" ng-repeat="item in searchList | filter:searchText | limitTo:'10'" ng-show="{{item.show}}">
                    <img ng-src="{{item.img}}" class="imgsrh" ng-show="item.img"/>
                    <img ng-src="/images/general/default.jpg" ng-hide="item.img" class="imgsrh" />
                    <div class="md-list-item-text" layout="column">
                        <h3>{{item.name}}</h3>
                        <p ng-if="item.displayAddress">{{item.displayAddress}}</p>
                        <p ng-show="item.type != 'Project'">{{item.type}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </md-dialog-content>
</md-dialog>
