<div>
  <div class="navbar headerfix boxsdn">
    <nav class="white boxsdn">
      <div class="nav-wrapper">
        <div class="row">
          <div class="col no-padding">
            <a href="#" data-activates="slide-out" class="button-collapse show-on-large grey-text left">
              <i class="material-icons">menu</i></a>
            <a href="" class="rooflogo left"><img src="images/general/logoicon.png" ng-click="gotoHome()"> </a>
          </div>
          <ul class="right">
            <!--  <i class="material-icons left bticon">create</i>  -->
            <li class="hide-on-small-only"> <a href="/#/write-review" class="btnhd">Write Review</a></li>
            <li ng-hide="loginStatus">
              <a ng-click="openLogin()" id="open-login" class="btnhd mgln">
                                Login/Sign Up</a>
              <!-- <i class="material-icons left bticon">lock_outline</i> -->
            </li>
            <li class="btnhd_prof" ng-show="loginStatus">
              <a href="" class="btnhd">
                <img class="display-img left" ng-src="{{user.photoURL}}">{{user.displayName}}
              </a>
              <ul>
                <li> <a href="/#/write-review"><i class="material-icons left grey-text">edit</i>Write Review</a> </li>
                <li>
                  <a href="" ng-click="logout()">
                    <i class="material-icons left grey-text">power_settings_new</i> Logout
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <span class="right ft12 grey-text xsnr10 hide-on-small-only">
                        <i class="material-icons left ft15 bticont mgrn">location_on</i>Gurgaon</span>
        </div>
      </div>
    </nav>
  </div>
  <div id="slide-out" class="side-nav over_hidden">
    <div ng-include src="'resources/general/views/menu.html'"></div>
  </div>
</div>
