<div id="page-load">
  <div class="row white relative htv90 fixedall">
    <div class="transform center mgtn wdp70">
      <h5 class="xshdh" id="load-text">  </h5>
      <div class="row center">
        <div class="col s12 mgt20">
          <div class="cs-loader">
            <div class="cs-loader-inner">
              <label> ●</label>
              <label> ●</label>
              <label> ●</label>
              <label> ●</label>
              <label> ●</label>
              <label> ●</label>
            </div>
          </div>
        </div>
        <div class="col s12 mgt20 b">Loading</div>
      </div>
    </div>
  </div>
</div>
