<div class="row mgan">
      <a href="#home" class="logoslide mgt10"><img src="images/general/logo.png"></a>
    </div>
    <div class="row over_auto mgbn">
      <ul>
        <li><a href="#about-us" class="">About</a></li>
        <li><a href="/#/cover-stories">Cover Stories</a></li>
        <li><a href="/#/blogs">Blogs</a></li>
        <li><a href="/#/write-review">Write Review</a></li>
        <li><a href="/#/careers"> Careers </a></li>
        <li><a href="/#/faq"> FAQ's </a></li>
        <li><a href="/#/contact-us">Contact us</a></li>
        <li><a href="#!">Terms & Privacy</a></li>
      </ul>
    </div>
    <footer class="navfooter grey lighten-4 pdt10">
      <div class="row mgbn pdleftright">
        <div class="col left pdt10 left-align">
          <h6 class="grey-text mgtn">Follow us</h6>
        </div>
        <div class="col right right-align">
          <a class="right" href="https://www.facebook.com/roofpik" target="_blank">
            <img src="images/general/facebook.png">
          </a>
          <a class="right" href="https://www.linkedin.com/company/roofpik?trk=job_view_topcard_company_name" target="_blank">
            <img src="images/general/linked-in.png">
          </a>
          <a class="right" href="https://www.twitter.com/roofpik" target="_blank">
            <img src="images/general/twitter.png">
          </a>
        </div>
      </div>
      <div class="footer-copyright center pdt10 pdb10 grey lighten-3">
        <div class="ft12 grey-text">
          © AlphaBinary Technologies Pvt Ltd
        </div>
      </div>
    </footer>