<md-content class="cover-stories">
    <div layout="column" flex layout-wrap>
    <div ui-view="featuredStories"></div>
        <section layout-sm="column" layout-xs="column" layout-gt-sm="row" class="main-board" layout-align="center top">
            <div flex="50" class="story-board" flex-xs="100" flex-sm="100" ui-view="shortStories"></div>
            <div flex="30" class="story-widget" flex-xs="100" flex-sm="100" ui-view="popularNlocationStories"></div>
        </section>
    </div>
</md-content>
