<div>
    <md-card class="popular-stories">
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">Popular Stories</span>
            </md-card-header-text>
        </md-card-header>
        <article ng-repeat="story in popularStories">
            <a ng-href="{{story.redirectionUrl}}">
                <img ng-src="{{story.coverPhoto}}" class="md-card-image" alt="Washed Out" />
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{story.title}}</span>
                        <span class="md-subhead">{{story.placeName}}</span>
                    </md-card-title-text>
                </md-card-title>
            </a>
        </article>
    </md-card>
    <md-card class="popular-localities">
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">Popular Locations</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <ul>
                <li ng-repeat="location in popularLocations">
                    <div><i class="material-icons">&#xE409;</i><a ng-href="/#/cover-story/gurgaon/{{cityId}}/3/{{location.locationId}}">{{location.locationName}}</a></div>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </md-card-content>
    </md-card>
    <md-card class="popular-tags">
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">Tag Cloud</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <div class="tagcloud">
                <a class="tag-btn" ng-href="/#/cover-story/gurgaon/{{cityId}}/2/{{tag.tagId}}" ng-repeat="tag in tagCloudData">#{{tag.tag}}</a>
            </div>
        </md-card-content>
    </md-card>
</div>
