<div>
    <md-card class="story-card" ng-show="showNoStories">
        <h2>No Stories with this tag</h2>
    </md-card>
    <md-card class="story-card" ng-repeat="story in allStories" ng-show="!showNoStories && story.selected">
        <!-- <a href="https://www.facebook.com/sharer/sharer.php?u=test.roofpik.com" target="_blank">FACEBOOK</a> -->
        <img ng-src="{{story.coverPhoto}}" class="md-card-image" alt="Washed Out" />
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">{{story.title}}</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{story.placeName}}</span>
                <!-- <span class="md-subhead">By {{story.adminName}}</span> -->
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center" class="story-tags">
            <a class="story-tag" ng-repeat="tag in story.hashtags" ng-href="/#/cover-story/gurgaon/{{cityId}}/2/{{tag.tagId}}">#{{tag.tag}}</a>
        </md-card-actions>
        <md-card-content>
            <p ng-bind-html="toTrustedHTML(story.shortStory)">
            </p>
            <span id="facebook-share" ng-click="shareonfb(story)"><i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;Share</span>
            <span id="showMoreBtn"><a ng-href="{{story.redirectionUrl}}">Show More</a></span>
        </md-card-content>
        <md-card-header>
            <md-card-header-text layout-align="end center" layout="row">
                <md-card-avatar>
                    <!-- <md-icon class="md-avatar-icon" md-svg-icon="images/general/noImage.png"></md-icon> -->
                    <img src="images/general/noImage.png" id="user-img" />
                </md-card-avatar>
                <span class="md-title" id="user-name">{{story.userName}}</span>
            </md-card-header-text>
        </md-card-header>
    </md-card>
</div>
