<div class="mgt70 center box-sd">
    <div class="details-bn grey darken-4 white-text coverstoriesimg" style="background-image: url({{story.coverPhoto}})">
        <div class="cro-text">
            <h2 class="dh2">{{story.title}}</h2>
            <p class="white-text pdan spndate"><span>{{story.placeName}}</span>
                <time>{{story.createdDate | date:'MMM dd, yy'}}</time>
            </p>
            <div class="cro-text-link">
                <a class="mgr10" ng-repeat="tag in story.hashtags" ng-href="/#/cover-story/gurgaon/{{cityId}}/2/{{tag.tagId}}">#{{tag.tag}}</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mgt10 linkroot">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#home" class="breadcrumb">Home</a>
                    <a href="" class="breadcrumb">Cover Stories</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col m8">
            <section>
                <div class="card mgtn">
                    <div class="card-content pda10 ftw3 p-justi">
                        <h3 class="ft19 ftw3 mgt10 mgbn">
                        <a href="" class="grey-text text-darken-4">{{story.title}}</a>
                        </h3>
                        <h5 class="ft14 mgbn mgt10 grey-text text-darken-4">{{story.placeName}}</h5>
                        <div class="mgt10 row row-mgn linkah">
                            <a class="mgr10" ng-repeat="tag in story.hashtags" ng-href="/#/cover-story/gurgaon/{{cityId}}/2/{{tag.tagId}}">#{{tag.tag}}</a>
                        </div>
                        <p ng-bind-html="toTrustedHTML(story.data)"></p>
                        <br>
                        <span class="facebook-share" ng-click="shareonfb(story)"><i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;Share</span>
                        <div class="row mgt20">
                            <div class="col s12 right-align">
                                <span class="noimgtext">-{{story.userName}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col m4" ui-view="popularLocationStories">
        </div>
    </div>
</div>
