<div id="additional_filters" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Additional Filters</h4>
    <div class="row mgbn" ng-if="moreFiltersObj.micromarkets">
      <div class="col s12">
        <div class="row pdt2 mgbn">
          <h3 class="ft14 b bodb mgb10 pdb10">Micromarkets</h3>
          <div class="col s4 mgt5" ng-repeat="micro in micromarkets">
            <input type="checkbox" class="filled-in" id="{{micro.key}}" ng-change="applyFilters()" ng-model="selected.micro[micro.key]" />
            <label class="ft12" for="{{micro.key}}">{{micro.name}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row mgbn">
      <div class="col s12">
        <div class="row pdt2 mgbn" ng-if="moreFiltersObj.locations">
          <h3 class="ft14 b bodb mgb10 pdb10">Locations</h3>
          <div class="col s4 mgt5" ng-repeat="location in locations">
            <input type="checkbox" class="filled-in" id="{{location.key}}" ng-change="applyFilters()" ng-model="selected.loc[location.key]" />
            <label class="ft12" for="{{location.key}}">{{location.name}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row mgbn">
      <div class="col s12" ng-if="moreFiltersObj.builders">
        <div class="row pdt2 mgbn">
          <h3 class="ft14 b bodb mgb10 pdb10">Builders</h3>
          <div class="col s4 mgt5" ng-repeat="builder in builders">
            <input type="checkbox" class="filled-in" id="{{builder.key}}" ng-change="applyFilters()" ng-model="selected.builder[builder.key]" />
            <label class="ft12" for="{{builder.key}}">{{builder.name}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a ng-click="closeFilter()" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
  </div>
</div>
