<div layout="column" id="about-us" class="about-us-page">
    <div id="about-us-heading">
        <div id="about-us-title" layout="row" layout-align="center center">
            <h1>About Us</h1>
        </div>
        <!-- About Us-->
        <div id="about-us-description" layout="column" >
            <h2>Roofpik Covers the Littlest Details That Matter in Your Property Hunt</h2>
            <p>In a competitive real estate industry, where developers and brokers are vying for your attention, it can become difficult to tell the difference between genuine advice and a sales pitch.</p>
            <p>At Roofpik, we decided to disrupt the status quo by bringing to life a hub for genuine and verified user reviews. Whether you’re investing, buying, or renting, we help you make the best property choice based on recommendations, advice, and reviews from thousands of people like you.</p>

            <h3>Here’s What Roofpik is All About: </h3>
            <ul>
                <li><strong>A platform for reliable property reviews:</strong> We’re pushing the boundaries of user reviews to help residents share real experiences of buying, renting, or investing in property. With a comprehensive verification process in place, we ensure that nothing but genuine opinions reach you. </li>
                <li><strong>A guide to localities:</strong> We’re about more than just real estate projects. With thousands of reviews about neighbourhoods and localities in leading Indian cities, Roofpik helps you shortlist and select the best areas to work, live, and play.</li>
                <li><strong>A provider of data-driven insights:</strong> We gather and investigate data based on structured parameters to give you a transparent evaluation of projects. This is done via statistical rankings of properties, comparative listings of localities, and refined search results.</li>
            </ul>
            <p>Welcome to an easy, interactive, and trustworthy way to find property in India.</p>
        </div>
    </div>
    <md-divider></md-divider>
    <div id="our-team" layout="column" layout-align="center center">
        <div id="our-team-title" layout="row" layout-align="center center">
            <h2>Who’s Leading The Charge?</h2>
        </div>
        <div id="our-team-description" layout-sm="column" layout-xs="column" layout-gt-sm="row" layout-margin layout-align="center start">
            <div flex-gt-sm="33" flex-xs="100" flex-sm="100">
                <md-card>
                    <img src="images/about-us/arpit.jpg" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                        <md-card-title-text>
                            <h3>Arpit Mittal – The Tech Maestro</h3>
                            <span class="md-sub-head">Co-Founder <a href="https://in.linkedin.com/in/arpitmittal4" target="_blank"> <i class="fa fa-linkedin"></i></a></span>
                            <p>Arpit brings rich technical experience and a passion for all things entrepreneurial. His previous venture, Edcited.com, was acquired by VC-funded company, Co-Cubes.</p>
                            <p>He is the force that keeps Roofpik on the cutting edge of technology and product innovation.</p>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
            <div flex-gt-sm="33" flex-xs="100" flex-sm="100">
                <md-card>
                    <img src="images/about-us/mishu.jpg" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                        <md-card-title-text>
                            <h3>Mishu Ahluwalia – The Operations Whiz</h3>
                            <span class="md-sub-head">Co-Founder <a href="https://in.linkedin.com/in/mishu-ahluwalia-2385628" target="_blank"> <i class="fa fa-linkedin"></i> </a></span>
                            <p>Mishu is a seasoned entrepreneur with over a decade of experience in the real estate industry. Also part of his credentials are stints at GE Capital and Dell.</p>
                            <p>At Roofpik, he breathes life into the marketing and real estate game plan.</p>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
            <div flex-gt-sm="33" flex-xs="100" flex-sm="100">
                <md-card>
                    <img src="images/about-us/kanika.jpg" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                        <md-card-title-text>
                            <h3>Kanika Katoch – The Talent Maven</h3>
                            <span class="md-sub-head">Co-Founder <a href="https://in.linkedin.com/in/kanika-katoch-a6a08b17" target="_blank"><i class="fa fa-linkedin"></i> </a></span>
                            <p>Kanika has to her credit close to a decade of lending value to reputable brands such KPMG, Convergys and Oracle through her expertise in human resources and strategic business planning.</p>
                            <p>At Roofpik, Kanika spearheads the People Strategy and fosters operational excellence.</p>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
        </div>
    </div>
</div>
