<md-content class="blogs">
    <div layout="column" flex layout-wrap>
        <section layout-sm="column" layout-xs="column" layout-gt-sm="row" class="header-blog">
            <article flex="100">
                <div class="featured-blog" style="background-image:url({{blog.coverPhoto}});">
                    <div class="featured-caption">
                        <div class="featured-caption-content">
                            <h2>{{blog.title}}</h2>
                            <div id="place-name"><span ng-show="blog.placeName">{{blog.placeName}}</span><time>{{blog.createdDate | date:'MMM dd, yy'}}</time></div>
                            <ul class="featured-tags">
                                <li ng-repeat="tag in blog.hashtags" ng-click="getRelatedBlogs(tag.tagId)"><a href="#">#{{tag.tag}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section layout-sm="column" layout-xs="column" layout-gt-sm="row" class="main-board" layout-align="center top">
            <div flex="50" class="blog-board" flex-xs="100" flex-sm="100">
                <md-card class="blog-card">
                    <md-card-content>
                        <p ng-bind-html="toTrustedHTML(blog.details)">
                        </p>
                        <span id="facebook-share" ng-click="shareonfb(blog)"><i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;Share</span>
                    </md-card-content>
                </md-card>
            </div>
            <div flex="30" class="blog-widget" flex-xs="100" flex-sm="100">
                <md-card class="popular-blogs">
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-title">Popular Blogs</span>
                        </md-card-header-text>
                    </md-card-header>
                    <article ng-repeat="blog in popularBlogs" ng-click="goToBlogDetails(blog.blogId)">
                        <img ng-src="{{blog.coverPhoto}}" class="md-card-image" alt="Washed Out" />
                        <md-card-title>
                            <md-card-title-text>
                                <h3>{{blog.title}}</h3>
                                <span class="md-subhead">{{blog.createdDate | date:'MMM dd, yy'}}</span>
                            </md-card-title-text>
                        </md-card-title>
                    </article>
                </md-card>
                <md-card class="popular-localities">
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-title">Popular Localities</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <ul>
                            <li ng-repeat="locality in popularLocalities">
                                <div><i class="material-icons">&#xE409;</i><span ng-click="getLocalityBlogs(locality.localityId)">{{locality.localityName}}</span></div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </md-card-content>
                </md-card>
                <md-card class="popular-tags">
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-title">Tag Cloud</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <div class="tagcloud">
                            <p class="tag-btn" ng-click="getRelatedBlogs(tag.tagId)" ng-repeat="tag in tagCloudData">#{{tag.tag}}</p>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </section>
    </div>
    <!-- <md-button class="md-primary" ng-click="shareonfb()">FACEBOOK</md-button> -->
</md-content>