<div class="container">
    <div class="row mgt70 linkroot">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#home" class="breadcrumb">Home</a>
                    <a href="" class="breadcrumb">Commercial Details</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col s12 m8">
            <h1 class="hd1 b">Bestech Park View City 1</h1>
            <div class="row mgbn ft12">
                <div class="col s12 ft20i vatop mgt5"><i class="material-icons blue-text">location_on</i> | Next to Bestech Business Center, Sohna Road, Sector 48, Gurgaon, Haryana </div>
                <div class="col s12 grey-text mgt5 review ft20i vatop">
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons">star</i>
                    <a href="" class="mgr10">1 Review</a> |
                    <a href="" class="mgr10"># 4 rating</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4 grey-text ft13 text-darken-2 right-align">
            <div class="ft19 b">₹ 12,500</div>
            <div class="row mgbn ft12">
                <div class="col s12 mgt5">2, 3, 4 BHK</div>
                <div class="col s12 mgt5">1776 Sq.Ft. - 3939 Sq.Ft.</div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row mgln mgrn mgbn">
            <div class="col pdan s12 m7 waves-effect waves-light img-detail htfixbox">
                <img src="images/home/sohna.jpg">
                <div class="img-btn center-align">
                    <button class="waves-effect waves-light btn white grey-text"><i class="material-icons left">photo_library</i> View Gallery</button>
                </div>
            </div>
            <div class="col s12 m5 amen-tab htfixbox boxsd white">
                <ul class="tabs">
                    <li class="tab col m6"><a class="active" href="#interest">Yes I am Interest</a></li>
                    <li class="tab col m6"><a href="#pricefinder">Price finder</a></li>
                </ul>
                <div class="row">
                    <div id="interest" class="col s12">
                        <form>
                            <div class="col input-field s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input placeholder="Name" type="text" class="validate mgb5 ft12">
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">phone</i>
                                <input placeholder="Phone" type="text" class="validate mgb5 ft12">
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">email</i>
                                <input placeholder="Email" type="text" class="validate mgb5 ft12">
                            </div>
                            <div class="col s12 mgb5 mgt10">
                                <input type="checkbox" id="che1" class="filled-in ft12" />
                                <label for="che1" class="mgl3r">lorem ipsum</label>
                            </div>
                            <div class="col s12 mgt5">
                                <input type="checkbox" id="che2" class="filled-in ft12" />
                                <label for="che2" class="mgl3r">lorem ipsum</label>
                            </div>
                            <div class="col s12 mgtmn mgt10">
                                <button class="waves-effect waves-light btn btn-full blue lighten-2"><i class="material-icons left">list</i> Provide Details</button>
                            </div>
                        </form>
                    </div>
                    <div id="pricefinder" class="col s12">
                        <div class="row valign-wrapper logoprice">
                            <div class="col m5 pdan center-align"> <img src="images/project/99acres.png" alt=""></div>
                            <div class="col m4 center-align ft12">
                                <b>₹ 12,500</b>
                                <br> 1776 Sq.Ft.
                            </div>
                            <div class="col m3 right-align"><a href="" class="btn blue">Details</a></div>
                        </div>
                        <div class="row valign-wrapper logoprice">
                            <div class="col m5 pdan center-align"> <img src="images/project/triplogo.png" alt=""></div>
                            <div class="col m4 center-align ft12">
                                <b>₹ 12,500</b>
                                <br> 1776 Sq.Ft.
                            </div>
                            <div class="col m3 right-align"><a href="" class="btn blue">Details</a></div>
                        </div>
                        <div class="row valign-wrapper logoprice">
                            <div class="col m5 pdan center-align"> <img src="images/project/magicbricks.png" alt=""></div>
                            <div class="col m4 center-align ft12">
                                <b>₹ 12,500</b>
                                <br> 1776 Sq.Ft.
                            </div>
                            <div class="col m3 right-align"><a href="" class="btn blue">Details</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row mglrn mgt20 linehth5">
        <div class="col s4 pda10">
            <h5 class="ft12 mgan"> <i class="material-icons left teal-text text-accent-4">build</i> Maintenance Charges</h5>
            <h4 class="mgan ft16b pdl34 truncate">₹18000</h4>
            <p class="mgan ft11 pdl34">Nov 2015</p>
        </div>
        <div class="col s4 pda10">
            <h5 class="ft12 mgan">  <i class="material-icons left cyan-text text-accent-4">place</i> Address</h5>
            <h4 class="mgan ft16b pdl34 truncate">Sector 61, Gurgaon, Haryana</h4>
            <p class="mgan ft11 pdl34">City: Gurgaon</p>
        </div>
        <div class="col s4 pda10">
            <h5 class="ft12 mgan">  <i class="material-icons left deep-purple-text text-accent-1">details</i> Project Details</h5>
            <h4 class="mgan ft16b pdl34 truncate">Floors 12</h4>
            <p class="mgan ft11 pdl34">Towers 1</p>
        </div>
        <div class="col s4 pda10">
            <h5 class="ft12 mgan">  <i class="material-icons left  yellow-text text-accent-4">local_offer</i> Rent</h5>
            <h4 class="mgan ft16b pdl34 truncate">₹18000 - ₹42000</h4>
            <p class="mgan ft11 pdl34">Nov 2015</p>
        </div>
        <div class="col s4 pda10">
            <h5 class="ft12 mgan"> <i class="material-icons left orange-text text-accent-4">photo_size_select_small</i> Area</h5>
            <h4 class="mgan ft16b pdl34 truncate">1200 Sq.Ft. - 2438 Sq.Ft.</h4>
            <p class="mgan ft11 pdl34">Nov 2015</p>
        </div>
        <div class="col s4 pda10">
            <h5 class="ft12 mgan"> <i class="material-icons left  red-text text-accent-4">power</i> Power Backup</h5>
            <h4 class="mgan ft16b pdl34 truncate">Per Unit 17</h4>
            <p class="mgan ft11 pdl34">Charges</p>
        </div>
    </div>
    <section class="mgt20">
        <div class="row mgan pda10 allbd">
            <h4 class="mgan ft22">
                <span class="left">
                     <i class="material-icons small">star</i>
                     <i class="material-icons small">star</i>
                     <i class="material-icons small">star</i>
                     <i class="material-icons small">star</i>
                     <i class="material-icons small">star</i>
                </span>
                <span class="mgt5 in-block"> 4.5 Star Rating From 527 Reviews </span>
            </h4>
            <div class="row mgt20 center-align">
                <button class="btn blue"><i class="material-icons left">edit</i> Write Review</button>
            </div>
        </div>
        <div class="row">
            <div class="col s4 mgt20">
                <div class="allbd white pda10 htrating">
                    <h5 class="ft15 mgtn b mgb10">User Rating</h5>
                    <div class="row mgbn">
                        <div class="col s6 mgrn">
                            <input type="checkbox" class="filled-in" id="filled-in-box2" />
                            <label for="filled-in-box2">Excellent </label>
                        </div>
                        <div class="col s3 pdan">
                            <span class="progress mgbn  ht10 grey lighten-2">
                        <span class="determinate blue" style="width: 30%"></span>
                            </span>
                        </div>
                        <div class="col s3 grey-text mgt3">1500</div>
                    </div>
                    <div class="row mgbn">
                        <div class="col s6 mgrn">
                            <input type="checkbox" class="filled-in" id="filled-in-box3" />
                            <label for="filled-in-box3">Very Good </label>
                        </div>
                        <div class="col s3 pdan">
                            <span class="progress mgbn  ht10 grey lighten-2">
                        <span class="determinate blue" style="width: 30%"></span>
                            </span>
                        </div>
                        <div class="col s3 grey-text mgt3">500</div>
                    </div>
                    <div class="row mgbn">
                        <div class="col s6 mgrn">
                            <input type="checkbox" class="filled-in" id="filled-in-box4" />
                            <label for="filled-in-box4">Good </label>
                        </div>
                        <div class="col s3 pdan">
                            <span class="progress mgbn  ht10 grey lighten-2">
                        <span class="determinate blue" style="width: 30%"></span>
                            </span>
                        </div>
                        <div class="col s3 grey-text mgt3">450</div>
                    </div>
                    <div class="row mgbn">
                        <div class="col s6 mgrn">
                            <input type="checkbox" class="filled-in" id="filled-in-box5" />
                            <label for="filled-in-box5">Average </label>
                        </div>
                        <div class="col s3 pdan">
                            <span class="progress mgbn  ht10 grey lighten-2">
                        <span class="determinate blue" style="width: 30%"></span>
                            </span>
                        </div>
                        <div class="col s3 grey-text mgt3">150</div>
                    </div>
                    <div class="row mgbn">
                        <div class="col s6 mgrn">
                            <input type="checkbox" class="filled-in" id="filled-in-box6" />
                            <label for="filled-in-box6">Bad </label>
                        </div>
                        <div class="col s3 pdan">
                            <span class="progress mgbn  ht10 grey lighten-2">
                        <span class="determinate blue" style="width: 30%"></span>
                            </span>
                        </div>
                        <div class="col s3 grey-text mgt3">10</div>
                    </div>
                </div>
            </div>
            <div class="col s2 mgt20">
                <div class="allbd white pda10 htrating">
                    <h5 class="ft15 mgtn b mgb10">Resident Type</h5>
                    <div class="row mgbn">
                        <div class="col s12 mgrn">
                            <input type="checkbox" class="filled-in" id="type1" />
                            <label for="type1">Owners </label>
                        </div>
                    </div>
                    <div class="row mgbn">
                        <div class="col s12 mgrn">
                            <input type="checkbox" class="filled-in" id="type2" />
                            <label for="type2">Tenants </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s6 mgt20">
                <div class="allbd white pda10 ft13 htrating">
                    <h5 class="ft15 mgtn b mgb10">Rating Summary</h5>
                    <div class="row mgbn">
                        <div class="col s7">Amenities (4)</div>
                        <div class="col s5 right-align  grey-text ft20i">
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons">star</i>
                        </div>
                    </div>
                    <div class="row mgbn">
                        <div class="col s7">Security (4)</div>
                        <div class="col s5 right-align  grey-text ft20i">
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons">star</i>
                        </div>
                    </div>
                    <div class="row mgbn">
                        <div class="col s7">Open And Green Areas (4.5)</div>
                        <div class="col s5 right-align  grey-text ft20i">
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons">star</i>
                        </div>
                    </div>
                    <div class="row mgbn">
                        <div class="col s7">Electricity And Water Supply (4.5)</div>
                        <div class="col s5 right-align  grey-text ft20i">
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons">star</i>
                        </div>
                    </div>
                    <div class="row mgbn">
                        <div class="col s7">Convenience Of House Maids (4)</div>
                        <div class="col s5 right-align  grey-text ft20i">
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons">star</i>
                        </div>
                    </div>
                    <div class="row mgbn">
                        <div class="col s7">Convenience Of Parking (5)</div>
                        <div class="col s5 right-align  grey-text ft20i">
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons">star</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mgt20">
            <div class="col s8">
                <div class="row bdbtm ft13 grey-text text-darken-2 mglrn mgb10 pdb10">
                    <div class="col b pdb20">
                        <img class="imgcir mgt10" src="images/general/noImage.png">
                    </div>
                    <div class="col">
                        <p><b> Rajneesh Sharma </b> | Sep 01, 16</p>
                        <p class="grey-text review ft20i mgbn mgtmn">
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons">star</i>
                        </p>
                    </div>
                    <div class="col s12">
                        <p><b>Wonderful ambience - greenery all around</b></p>
                        <p class="justify">One entry and exit point has been constructed so thats a very big advantage and guards are always present. Clubhouse is there and it has a good ambience and is very well maintained. There are wide open green areas. It is spread across the Sohna Road and Golf Course Road Extension. There are some problems with the power backup. Housemaids are easily available. Basement and open parking is maintained and twice a day they have guards around. Here we have high-rise buildings with very good layout, main road connectivity is good which provides for easy transportation. Sohna Road is a problem as service roads are bad if you are coming in or going out of the society it is bad but inside, the ambience is wonderful.</p>
                    </div>
                </div>
                <div class="row bdbtm ft13 grey-text text-darken-2 mglrn mgb10 pdb10">
                    <div class="col b pdb20">
                        <img class="imgcir mgt10" src="images/general/noImage.png">
                    </div>
                    <div class="col">
                        <p><b> Rajneesh Sharma </b> | Sep 01, 16</p>
                        <p class="grey-text review ft20i mgbn mgtmn">
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons">star</i>
                        </p>
                    </div>
                    <div class="col s12">
                        <p><b>Wonderful ambience - greenery all around</b></p>
                        <p class="justify">One entry and exit point has been constructed so thats a very big advantage and guards are always present. Clubhouse is there and it has a good ambience and is very well maintained. There are wide open green areas. It is spread across the Sohna Road and Golf Course Road Extension. There are some problems with the power backup. Housemaids are easily available. Basement and open parking is maintained and twice a day they have guards around. Here we have high-rise buildings with very good layout, main road connectivity is good which provides for easy transportation. Sohna Road is a problem as service roads are bad if you are coming in or going out of the society it is bad but inside, the ambience is wonderful.</p>
                    </div>
                </div>
                <div class="row bdbtm ft13 grey-text text-darken-2 mglrn mgb10 pdb10">
                    <div class="col b pdb20">
                        <img class="imgcir mgt10" src="images/general/noImage.png">
                    </div>
                    <div class="col">
                        <p><b> Rajneesh Sharma </b> | Sep 01, 16</p>
                        <p class="grey-text review ft20i mgbn mgtmn">
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons blue-text">star</i>
                            <i class="material-icons">star</i>
                        </p>
                    </div>
                    <div class="col s12">
                        <p><b>Wonderful ambience - greenery all around</b></p>
                        <p class="justify">One entry and exit point has been constructed so thats a very big advantage and guards are always present. Clubhouse is there and it has a good ambience and is very well maintained. There are wide open green areas. It is spread across the Sohna Road and Golf Course Road Extension. There are some problems with the power backup. Housemaids are easily available. Basement and open parking is maintained and twice a day they have guards around. Here we have high-rise buildings with very good layout, main road connectivity is good which provides for easy transportation. Sohna Road is a problem as service roads are bad if you are coming in or going out of the society it is bad but inside, the ambience is wonderful.</p>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="allbd white pda10 ft13 htrating">
                    <h5 class="ft15 mgtn b mgb10 pdb10 bdbtm">Nearby Projects</h5>
                    <div class="row mgbn">
                        <div class="card shdnone">
                            <div class="cardTitle row mgb5">
                                <a href="" class="col s12 black-text ilpspan">
                                    <span>Bestech Park View City 1Sohna Road, Sector 48 ProjectSohna Road, Sector 48 Project</span>
                                    <span class="ft11 grey-text">Sohna Road, Sector 48 Project Sohna Road, Sector 48 ProjectSohna Road, Sector 48 Project</span>
                                </a>
                            </div>
                            <div class="card-image  waves-effect waves-light">
                                <a href=""> <img src="images/home/sohna.jpg"></a>
                            </div>
                            <div class="row mgln mgrn mgb10 ht50 allbd">
                                <div class="col s6 pd5 dis-tab ht50">
                                    <span class="block ellipsis">Rent Price</span>
                                    <span class="ft12 grey-text block ellipsis">₹28000 - ₹55000</span>
                                </div>
                                <div class="col s6 pd5 center ht50">
                                    <span class="block ellipsis">2, 3, 4 BHK</span>
                                    <span class="ft12 grey-text block ellipsis">1776 Sq. Ft. - 2345 Sq. </span>
                                </div>
                            </div>
                        </div>
                        <div class="card shdnone">
                            <div class="cardTitle row mgb5">
                                <a href="" class="col s12 black-text ilpspan">
                                    <span>Bestech Park View City 1Sohna Road, Sector 48 ProjectSohna Road, Sector 48 Project</span>
                                    <span class="ft11 grey-text">Sohna Road, Sector 48 Project Sohna Road, Sector 48 ProjectSohna Road, Sector 48 Project</span>
                                </a>
                            </div>
                            <div class="card-image  waves-effect waves-light">
                                <a href=""> <img src="images/home/sohna.jpg"></a>
                            </div>
                            <div class="row mgln mgrn mgb10 ht50 allbd">
                                <div class="col s6 pd5 dis-tab ht50">
                                    <span class="block ellipsis">Rent Price</span>
                                    <span class="ft12 grey-text block ellipsis">₹28000 - ₹55000</span>
                                </div>
                                <div class="col s6 pd5 center ht50">
                                    <span class="block ellipsis">2, 3, 4 BHK</span>
                                    <span class="ft12 grey-text block ellipsis">1776 Sq. Ft. - 2345 Sq. </span>
                                </div>
                            </div>
                        </div>
                        <div class="card shdnone">
                            <div class="cardTitle row mgb5">
                                <a href="" class="col s12 black-text ilpspan">
                                    <span>Bestech Park View City 1Sohna Road, Sector 48 ProjectSohna Road, Sector 48 Project</span>
                                    <span class="ft11 grey-text">Sohna Road, Sector 48 Project Sohna Road, Sector 48 ProjectSohna Road, Sector 48 Project</span>
                                </a>
                            </div>
                            <div class="card-image  waves-effect waves-light">
                                <a href=""> <img src="images/home/sohna.jpg"></a>
                            </div>
                            <div class="row mgln mgrn mgb10 ht50 allbd">
                                <div class="col s6 pd5 dis-tab  ht50">
                                    <span class="block ellipsis">Rent Price</span>
                                    <span class="ft12 grey-text block ellipsis">₹28000 - ₹55000</span>
                                </div>
                                <div class="col s6 pd5 center ht50">
                                    <span class="block ellipsis">2, 3, 4 BHK</span>
                                    <span class="ft12 grey-text block ellipsis">1776 Sq. Ft. - 2345 Sq. </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container">
    <div class="row mgt20 grey-text ft13 text-darken-2">
        <div class="col s12 b">
            <h5 class="ft15 mgtn b mgb10 pdb10 bdbtm">Amenities</h5>
        </div>
        <div class="col s12">
            <div class="row row-mgn flor_co">
                <div class="col s2 imgflor bod-right">
                    <i class="material-icons gt30 medium">home</i>
                </div>
                <div class="col s2 bod-right">
                    <div class="ft13 b mgb10">Air Conditioning</div>
                    <p>Centralized</p>
                </div>
                <div class="col s2">
                    <div class="ft13 b mgb10">Wet Points</div>
                    <p>Not Available</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mgt20 grey-text ft13 text-darken-2">
        <div class="col s12 b">
            <h5 class="ft15 mgtn b mgb10 pdb10 bdbtm">Internet</h5>
        </div>
        <div class="col s12">
            <div class="row row-mgn flor_co">
                <div class="col s2 imgflor bod-right">
                    <i class="material-icons gt30 medium">language</i>
                </div>
                <div class="col s2 bod-right">
                    <div class="ft13 b mgb10">Broadband Speed</div>
                    <p>10 Mbps</p>
                </div>
                <div class="col s2 bod-right">
                    <div class="ft13 b mgb10">Leased Line Speed </div>
                    <p>100 Mbps</p>
                </div>
                <div class="col s2">
                    <div class="ft13 b mgb10">Service Providers</div>
                    <p>Tikona, Airtel</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mgt20 grey-text ft13 text-darken-2">
        <div class="col s12 b">
            <h5 class="ft15 mgtn b mgb10 pdb10 bdbtm">Facilities</h5>
        </div>
        <div class="col s12">
            <div class="row row-mgn flor_co">
                <div class="col s2 imgflor bod-right">
                    <i class="material-icons gt30 medium">done_all</i>
                </div>
                <div class="col s2 bod-right">
                    <div class="ft13 b mgb10">Common Washroom</div>
                    <p>Available</p>
                </div>
                <div class="col s3 bod-right">
                    <div class="ft13 b mgb10">Reception </div>
                    <p>Not Available</p>
                </div>
                <div class="col s3">
                    <div class="ft13 b mgb10">Waiting Lounge Lobby</div>
                    <p>Available</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mgt20 grey-text ft13 text-darken-2">
        <div class="col s12 b">
            <h5 class="ft15 mgtn b mgb10 pdb10 bdbtm">Security</h5>
        </div>
        <div class="col s12">
            <div class="row row-mgn flor_co">
                <div class="col s2 imgflor bod-right">
                    <i class="material-icons gt30 medium">supervisor_account</i>
                </div>
                <div class="col s2 bod-right">
                    <div class="ft13 b mgb10">Boom Barriers</div>
                    <p>Available</p>
                </div>
                <div class="col s3">
                    <div class="ft13 b mgb10">CCTV </div>
                    <p>Available</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mgt20 grey-text ft13 text-darken-2">
        <div class="col s12 b">
            <h5 class="ft15 mgtn b mgb10 pdb10 bdbtm">Parking</h5>
        </div>
        <div class="col s12">
            <div class="row row-mgn flor_co">
                <div class="col s2 imgflor bod-right">
                    <i class="material-icons gt30 medium">directions_car</i>
                </div>
                <div class="col s5 bod-right">
                    <div class="ft13 b">Four Wheeler</div>
                    <div class="row mgan">
                        <div class="col s6">
                            <p>Daily Charges :- ₹100</p>
                            <p>Free Car Parks :- No</p>
                        </div>
                        <div class="col s6">
                            <p>Hourly Charges :- ₹20</p>
                            <p>Monthly Charges :- ₹3000</p>
                        </div>
                    </div>
                </div>
                <div class="col s5">
                    <div class="ft13 b">Two Wheeler </div>
                    <div class="row mgan">
                        <div class="col s6">
                            <p>Daily Charges :- ₹50</p>
                            <p>Monthly Charges :- ₹1500</p>
                        </div>
                        <div class="col s6">
                            <p>Hourly Charges :- ₹10</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mgt20">
        <div class="col s12 b">
            <h5 class="ft15 b mgtn mgb10 pdb10 bdbtm">Map</h5>
        </div>
    </div>
</div>
