<section>
    <div class="parallax-container posabs_img grey darken-3 htvcontact">
        <div class="container mgt150">
            <div class="row">
                <div class="col m7">
                    <div class="col m12 bgtrans pda20">
                        <h3 class="ft19 b">Contact Us</h3>
                        <form name = "contactUs" > 
                            <div class="row mgbn">
                                <div class="input-field col s12">
                                <i class="material-icons prefix">person</i>
                                    <input id="select_project" ng-model = "user.name" type="text" class="validate" required>
                                    <label for="select_project">Your Name</label>
                                </div>
                            </div>
                            <div class="row mgbn">
                                <div class="input-field col s12">
                                <i class="material-icons prefix">email</i>
                                    <input id="select_project" ng-model = "user.email" type="text" class="validate" required>
                                    <label for="select_project">Your Email</label>
                                </div>
                            </div>
                            <div class="row mgbn">
                                <div class="input-field col s12">
                                <i class="material-icons prefix">phone</i>
                                    <input id="select_project" type="text" class="validate" ng-model = "user.phone" required>
                                    <label for="select_project">Your phone</label>
                                </div>
                            </div>
                            <div class="row mgbn">
                                <div class="input-field col s12">
                                   <i class="material-icons prefix">message</i>
                                    <textarea id="textarea1" class="materialize-textarea" ng-model = "user.message" required></textarea>
                                    <label for="textarea1">Type your Message</label>
                                </div>
                            </div>
                            <div class="col m12">
                                <button class="btn blue right" ng-click = "submit()" ng-disabled="contactUs.$invalid">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col m5">
                    <div class="col m12 bgtrans pda20">
                        <div id="contact-us-map" class="mapfix">
                            <div id="map" style="width:100%;height:205px"></div>
                        </div>
                        <h3 class="ft19 b mgtn">Gurgaon Office</h3>
                        <div class="row grey-text text-darken-2">
                            <div class="col m2 pdt10"><i class="material-icons">location_on</i> </div>
                            <div class="col m10">250, Vipul Trade Center,Sector 48, Gurgaon, Haryana </div>
                        </div>
                        <div class="row grey-text text-darken-2">
                            <div class="col m2"><i class="material-icons">phone</i> </div>
                            <div class="col m10">+91 124 438 4167 </div>
                        </div>
                        <div class="row grey-text text-darken-2">
                            <div class="col m2"><i class="material-icons">email</i> </div>
                            <div class="col m10">contact@roofpik.com</div>
                        </div>
                        <div class="row mgbn">
                            <div class="col m5 center">
                                <h6 class="grey-text text-darken-2 b">Follow us</h6>
                            </div>
                            <div class="col m7 center">
                                <a href="https://www.facebook.com/roofpik" target="_blank">
                                    <img src="images/general/facebook.png">
                                </a>
                                <a href="https://www.linkedin.com/company/roofpik?trk=job_view_topcard_company_name" target="_blank">
                                    <img src="images/general/linked-in.png">
                                </a>
                                <a href="https://www.twitter.com/roofpik" target="_blank">
                                    <img src="images/general/twitter.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
