<div layout="column" id="contact-us" class="contact-us-page">
    <div id="contact-us-map">
        <div id="map" style="width:100%;height:400px"></div>
    </div>
    <md-divider></md-divider>
    <div layout="row" layout-xs="column" id="contact-us-form">
        <div flex="50" flex-xs="100" class="md-padding">
            <h2>Contact Us</h2>
            <form name="contactUs">
                <md-input-container class="md-block">
                    <label>Name</label>
                    <input ng-model="user.name" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input ng-model="user.email" type="email" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Phone</label>
                    <input ng-model="user.phone" type="number" ng-minlength="10" ng-maxlength="10" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Message</label>
                    <textarea ng-model="user.message" md-maxlength="500" ng-maxlength="500" rows="5" md-select-on-focus required></textarea>
                </md-input-container>

                <div flex="100" align="right">
                    <md-button class="md-raised md-primary" ng-click="submit()" ng-disabled="contactUs.$invalid">Send</md-button>
                </div>
            </form>
        </div>
        <div flex="50 " flex-xs="100" class="md-padding">
            <h2>Gurgaon Office</h2>

            <div layout="row" layout-wrap>
                <div flex="5" flex-xs="10" flex-sm="10"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                <div flex>250, Vipul Trade Center,<br> Sector 48, Gurgaon</div>
            </div><br>
            <div layout="row">
                <div flex="5" flex-xs="10" flex-sm="10"><i class="fa fa-phone" aria-hidden="true"></i></div>
                <div flex>+91 124 438 4167</div>
            </div><br>
            <div layout="row">
                <div flex="5" flex-xs="10" flex-sm="10"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                <div flex>contact@roofpik.com</div>
            </div>
        </div>
    </div>
</div>