<div class="mgt70 carousel carousel-slider center box-sd" data-indicators="true">
    <div class="carousel-item grey darken-4 white-text" href="#one!">
        <div class="coverstoriesimg wd50p overhdn" style="background-image: url( images/dummy/dummy.jpg)">
            <div class="cro-text">
                <a class="white-text" href="#cover-stories-details">
                    <h2 class="ellipsis">Beginning of Happy Memories at Parsvnath Greenville</h2>
                    <p class="pdan spndate">Unitech Fresco <span>Sep 24, 16</span></p>
                </a>
                <div class="cro-text-link">
                    <a href="" class="mgr10">lorem ipsum</a>
                    <a href="" class="mgr10">lorem ipsum</a>
                    <a href="" class="mgr10">lorem ipsum</a>
                    <a href="" class="mgr10">lorem ipsum</a>
                    <a href="" class="mgr10">lorem ipsum</a>
                    <a href="" class="mgr10">lorem ipsum</a>
                    <a href="" class="mgr10">lorem ipsum</a>
                </div>
            </div>
        </div>
        <div class="coverstoriesimg wd50p overhdn" style="background-image: url( images/dummy/dummy.jpg)">
            <div class="cro-text">
                <a class="white-text" href="#cover-stories-details">
                    <h2 class="ellipsis">Beginning of Happy Memories at Parsvnath Greenville</h2>
                    <p class="pdan spndate">Unitech Fresco <span>Sep 24, 16</span></p>
                </a>
                <div class="cro-text-link">
                    <a href="" class="mgr10">lorem ipsum</a>
                    <a href="" class="mgr10">lorem ipsum</a>
                    <a href="" class="mgr10">lorem ipsum</a>
                    <a href="" class="mgr10">lorem ipsum</a>
                    <a href="" class="mgr10">lorem ipsum</a>
                    <a href="" class="mgr10">lorem ipsum</a>
                    <a href="" class="mgr10">lorem ipsum</a>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-item grey darken-4 white-text" href="#two!">
        <div class="coverstoriesimg wd50p overhdn" style="background-image: url( images/dummy/dummy.jpg)">
            <div class="cro-text">
                <a class="white-text" href="#cover-stories-details">
                    <h2 class="ellipsis">Beginning of Happy Memories at Parsvnath Greenville</h2>
                    <p class="pdan spndate">Unitech Fresco <span>Sep 24, 16</span></p>
                </a>
                <div class="cro-text-link">
                    <a href="" class="mgr10">lorem ipsum</a>
                    <a href="" class="mgr10">lorem ipsum</a>
                    <a href="" class="mgr10">lorem ipsum</a>
                    <a href="" class="mgr10">lorem ipsum</a>
                    <a href="" class="mgr10">lorem ipsum</a>
                    <a href="" class="mgr10">lorem ipsum</a>
                    <a href="" class="mgr10">lorem ipsum</a>
                </div>
            </div>
        </div>
        <div class="coverstoriesimg wd50p overhdn" style="background-image: url( images/dummy/dummy.jpg)">
            <div class="cro-text">
                <a class="white-text" href="#cover-stories-details">
                    <h2 class="ellipsis">Beginning of Happy Memories at Parsvnath Greenville</h2>
                    <p class="pdan spndate">Unitech Fresco <span>Sep 24, 16</span></p>
                </a>
                <div class="cro-text-link">
                    <a href="" class="mgr10">lorem ipsum</a>
                    <a href="" class="mgr10">lorem ipsum</a>
                    <a href="" class="mgr10">lorem ipsum</a>
                    <a href="" class="mgr10">lorem ipsum</a>
                    <a href="" class="mgr10">lorem ipsum</a>
                    <a href="" class="mgr10">lorem ipsum</a>
                    <a href="" class="mgr10">lorem ipsum</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mgt10 linkroot">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#home" class="breadcrumb">Home</a>
                    <a href="" class="breadcrumb">Cover Stories</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col m8">
            <section>
                <div class="card mgtn">
                    <div class="card-image waves-effect waves-block waves-light">
                        <a href=""><img class="activator" src="images/dummy/dummy.jpg"></a>
                    </div>
                    <div class="card-content pda10 ftw3 p-justi">
                        <h3 class="ft19 ftw3 mgt10 mgbn">
               <a href="" class="grey-text text-darken-4">Beginning of Happy Memories at Parsvnath Greenville
               </a>
               </h3>
                        <h5 class="ft14 mgbn mgt10 grey-text text-darken-4">Parsvnath Greenville</h5>
                        <h6 class="ft12 ftw3 mgt10 grey-text">By Kanika Katoch</h6>
                        <div class="mgt10 row row-mgn linkah">
                            <a href="" class="mgr10">lorem ipsum</a>
                            <a href="" class="mgr10">lorem ipsum</a>
                            <a href="" class="mgr10">lorem ipsum</a>
                            <a href="" class="mgr10">lorem ipsum</a>
                            <a href="" class="mgr10">lorem ipsum</a>
                        </div>
                        <p> Meenakshi and Amit Tyagi are a happy family of four and currently reside at Parsvnath Greenville on Sohna Road. Amit works with a leading E-commerce platform while Meenakshi is a homemaker. With their two little vibrant kids, they shifted to Gurgaon 18 months ago from Bangalore. Completely new to the city, they stayed at a hotel for 15 days before they could finalize the house. After dealing with brokers for a few days, they took a friend’s advice and started looking for their dream home on the newly developed area of Sohna Road(Even though Amit’s office is at M.G. Road) since it provided excellent budget options for a 3BHK that they wanted.
                        </p>
                        <div class="row mgt20">
                            <div class="col s12 right-align">
                                <img src="images/general/noImage.png" class="cover-imgcir">
                                <span class="noimgtext">Meenakshi Tyagi</span></div>
                        </div>
                    </div>
                </div>
                <div class="card mgt15">
                    <div class="card-image waves-effect waves-block waves-light">
                        <a href=""><img class="activator" src="images/dummy/dummy.jpg"></a>
                    </div>
                    <div class="card-content pda10 ftw3 p-justi">
                        <h3 class="ft19 ftw3 mgt10 mgbn">
               <a href="" class="grey-text text-darken-4">Beginning of Happy Memories at Parsvnath Greenville
               </a>
               </h3>
                        <h5 class="ft14 mgbn mgt10 grey-text text-darken-4">Parsvnath Greenville</h5>
                        <h6 class="ft12 ftw3 mgt10 grey-text">By Kanika Katoch</h6>
                        <div class="mgt10 row row-mgn linkah">
                            <a href="" class="mgr10">lorem ipsum</a>
                            <a href="" class="mgr10">lorem ipsum</a>
                            <a href="" class="mgr10">lorem ipsum</a>
                            <a href="" class="mgr10">lorem ipsum</a>
                            <a href="" class="mgr10">lorem ipsum</a>
                        </div>
                        <p> Meenakshi and Amit Tyagi are a happy family of four and currently reside at Parsvnath Greenville on Sohna Road. Amit works with a leading E-commerce platform while Meenakshi is a homemaker. With their two little vibrant kids, they shifted to Gurgaon 18 months ago from Bangalore. Completely new to the city, they stayed at a hotel for 15 days before they could finalize the house. After dealing with brokers for a few days, they took a friend’s advice and started looking for their dream home on the newly developed area of Sohna Road(Even though Amit’s office is at M.G. Road) since it provided excellent budget options for a 3BHK that they wanted.
                        </p>
                        <div class="row mgt20">
                            <div class="col s12 right-align">
                                <img src="images/general/noImage.png" class="cover-imgcir">
                                <span class="noimgtext">Meenakshi Tyagi</span></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col m4">
            <div class="card rt_card">
                <h3 class="ft19 ftw3 pda10 grey lighten-5 mg0">Popular Stories</h3>
                <div class="row row-mgn box-h waves-effect waves-block waves-light">
                    <a href="">
                        <img class="responsive-img" src="images/dummy/dummy.jpg">
                        <div class="col m12">
                            <h5 class="grey-text text-darken-4">Beginning of Happy Memories at Parsvnath Greenville</h5>
                            <p>Parsvnath Greenville</p>
                        </div>
                    </a>
                </div>
                <div class="row row-mgn box-h waves-effect waves-block waves-light">
                    <a href="">
                        <img class="responsive-img" src="images/dummy/dummy.jpg">
                        <div class="col m12">
                            <h5 class="grey-text text-darken-4">Beginning of Happy Memories at Parsvnath Greenville</h5>
                            <p>Parsvnath Greenville</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="card rt_card">
                <h3 class="ft19 ftw3 pda10 grey lighten-5 mg0">Popular Locations</h3>
                <div class="col m12">
                    <ul class="rt_loc">
                        <li><a href=""> South city 2 </a> </li>
                        <li><a href=""> South city 2 </a> </li>
                        <li><a href=""> South city 2 </a> </li>
                        <li><a href=""> South city 2 </a> </li>
                        <li><a href=""> South city 2 </a> </li>
                    </ul>
                </div>
            </div>
            <div class="card rt_card">
                <h3 class="ft19 ftw3 pda10 grey lighten-5 mg0">Tag Cloud</h3>
                <div class="col m12 hslink">
                    <a href="">#security</a>
                    <a href="">#maintenance</a>
                    <a href="">#RWA</a>
                    <a href="">#pool</a>
                </div>
            </div>
        </div>
    </div>
</div>
