<md-content class="write-review-page">
    <div layout="row" flex="80" id="write-review-container">
        <div flex="25">
            <div id="review-tips">
            <h3>Reviewing Tips</h3>
            <p><b>Your review can directly impact someone’s decision to buy or rent property. So make it count by using these reviewing tips:</b></p>

            <p><b>Remain Relevant: </b>A review with the relevant details garners more ratings and trust. Avoid excessive complaints or compliments, provide specific details where possible, and be objective about your views. The best reviews state both pros and cons.</p>

            <p><b>Honesty Helps: </b>Although this is a neutral platform for users to openly share their views, reviews with discriminatory, libellous, or profane content will not pass the verification stage. Share your own experiences and not what you’ve heard about the property or neighbourhood you’re reviewing.</p>

            <p><b>Add Photos: </b>You may not be able to write a thousand words, so post a picture! Photos of the property, project, and locality help garner more readers for your review besides making it credible. </p>

            <p><b>Review Anonymously: </b>Our hawk-eyed moderators have a thing against reviews with personal information such as names, phone numbers, emails, or other contact details. Make sure your review doesn’t include such information.</p>
            </div>
        </div>
        <div flex="5"></div>
        <div flex="70" >
            <div id="review-form-container">
                <div flex="100" id="review-form-title">
                    <h3>{{reviewName}}</h3>
                </div>
                <form name="reviewForm" id="review-form-fields">
                    <div layout="row" class="review-param">
                        <div flex="30" class="param-title">
                            <h4>Are you a *</h4>
                        </div>
                        <div flex="70" layout="row" layout-align="start center">
                            <md-radio-group ng-model="review.customerType" layout="row" class="md-warn" required>
                                <md-radio-button value="Owner"> Owner </md-radio-button>
                                <md-radio-button value="Tenant"> Tenant </md-radio-button>
                                <md-radio-button value="Visitor"> Visitor </md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                    <div layout="row" class="review-param">
                        <div flex="30" class="param-title">
                            <h4>Overall rating *</h4>
                        </div>
                        <div layout="row" flex="70" layout-align="none center">
                            <review-ratings ratingsobj='ratingsObject1' index='1'></review-ratings>
                        </div>
                    </div>
                    <div layout="row" class="review-param">
                        <div flex="30" class="param-title">
                            <h4>Review Title *</h4>
                        </div>
                        <div flex="70">
                            <input ng-model="review.reviewTitle" placeholder="Review Title" id="review-title" required>
                        </div>
                    </div>
                    <div layout="row" class="review-param">
                        <div flex="30" class="param-title">
                            <h4>Review Text *</h4>
                        </div>
                        <div flex="70">
                            <textarea ng-model="review.reviewText" rows="10" columns="20" placeholder="Write your review" id="review-text" required></textarea>
                        </div>
                    </div>
                    <!-- <div flex="100" id="show-more">
                        <p ng-click="showMoreFn()" ng-class="showMore?'roofGrey': 'roofGreen'"><b>{{showMoreLess}}</b></p>
                    </div> -->
                    <div class="rating-ques">
                        <div layout="row" class="review-param" layout-wrap>
                            <div flex="50" flex-xs="100" layout="row">
                                <div flex class="param-title">
                                    <h4>Security</h4>
                                </div>
                                <div layout="row" flex layout-align="center center">
                                    <review-ratings ratingsobj='ratingsObject2' index='2'></review-ratings>
                                </div>
                            </div>
                            <div flex="50" flex-xs="100" layout="row">
                                <div flex class="param-title">
                                    <h4>Amenities</h4>
                                </div>
                                <div layout="row" flex layout-align="center center">
                                    <review-ratings ratingsobj='ratingsObject3' index='3'></review-ratings>
                                </div>
                            </div>
                            <div flex="50" flex-xs="100" layout="row">
                                <div flex class="param-title">
                                    <h4>Open and green areas</h4>
                                </div>
                                <div layout="row" flex layout-align="center center">
                                    <review-ratings ratingsobj='ratingsObject4' index='4'></review-ratings>
                                </div>
                            </div>
                            <div flex="50" flex-xs="100" layout="row">
                                <div flex class="param-title">
                                    <h4>Electricity and water supply</h4>
                                </div>
                                <div layout="row" flex layout-align="center center">
                                    <review-ratings ratingsobj='ratingsObject5' index='5'></review-ratings>
                                </div>
                            </div>
                            <div flex="50" flex-xs="100" layout="row">
                                <div flex class="param-title">
                                    <h4>Convenience of housemaids</h4>
                                </div>
                                <div layout="row" flex layout-align="center center">
                                    <review-ratings ratingsobj='ratingsObject6' index='6'></review-ratings>
                                </div>
                            </div>
                            <div flex="50" flex-xs="100" layout="row">
                                <div flex class="param-title">
                                    <h4>Convenience of parking</h4>
                                </div>
                                <div layout="row" flex layout-align="center center">
                                    <review-ratings ratingsobj='ratingsObject7' index='7'></review-ratings>
                                </div>
                            </div>
                            <div flex="50" flex-xs="100" layout="row">
                                <div flex class="param-title">
                                    <h4>Infrastructure</h4>
                                </div>
                                <div layout="row" flex layout-align="center center">
                                    <review-ratings ratingsobj='ratingsObject8' index='8'></review-ratings>
                                </div>
                            </div>
                            <div flex="50" flex-xs="100"  layout="row">
                                <div flex class="param-title">
                                    <h4>Layout of the apartment</h4>
                                </div>
                                <div layout="row" flex layout-align="center center">
                                    <review-ratings ratingsobj='ratingsObject9' index='9'></review-ratings>
                                </div>
                            </div>
                        </div>
                        <div class="yes-no-ques">
                            <div layout="row" layout-wrap class="review-param" ng-repeat="item in yesNoParam">
                                <div flex="70" flex-xs="100" flex-sm="70" class="param-title">
                                    <h4>{{item.ques}}</h4>
                                </div>
                                <div layout-align="end center" layout="row" flex="30" flex-xs="100" flex-sm="30"  id="radio-btns">
                                    <md-radio-group ng-model="review[item.id]" layout="row" class="md-warn">
                                        <md-radio-button value="Yes"> Yes</md-radio-button>
                                        <md-radio-button value="No"> No </md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div layout="row" layout-align="end center">
                        <md-button class="md-raised md-warn" ng-click="createPath(review)" ng-disabled="(reviewForm.$invalid) || (!review.overallRating)">Submit</md-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</md-content>


<!-- <md-content class="review-details-page">
    <div layout="row" class="" layout-xs="column">
        <div flex="75" flex-xs="100" class="md-padding review-form" id="outer-box">
                <h3 style="margin:10px auto;"">{{reviewName}}</h3>
                <div layout="row" class="md-padding" layout-sm="column">
                    Are you a *
                    <span flex></span>
                    <md-radio-group ng-model="review.userType" layout="row" class="md-warn" required>
                        <md-radio-button value="Owner"> Owner </md-radio-button>
                        <md-radio-button value="Tenant"> Tenant </md-radio-button>
                        <md-radio-button value="Visitor"> Visitor </md-radio-button>
                    </md-radio-group>
                </div>
                <md-divider></md-divider>
                <div layout="row" class="md-padding rating" layout-sm="column">
                    <div flex>
                        Overall rating *
                    </div>
                    <div layout="row" flex layout-align="end center">
                        <review-ratings ratingsobj='ratingsObject1' index='1'></review-ratings>
                    </div>
                </div>
                <md-divider></md-divider>
                <div layout="row" class="md-padding">
                    <div flex>
                        <md-input-container class="md-block">
                            <input ng-model="review.reviewTitle" placeholder="Review Title" required>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row">
                    <div flex class="md-padding">
                        <md-input-container class="md-block">
                            <textarea ng-model="review.reviewText" md-maxlength="1000" rows="5" placeholder="Write your review" required></textarea>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" class="md-padding rating" layout-sm="column">
                    <div flex>
                        Security
                    </div>
                    <div layout="row" flex layout-align="end center">
                        <review-ratings ratingsobj='ratingsObject2' index='2'></review-ratings>
                    </div>
                </div>
                <md-divider></md-divider>
                <div layout="row" class="md-padding rating" layout-sm="column">
                    <div flex>
                        Amenities
                    </div>
                    <div layout="row" flex layout-align="end center">
                        <review-ratings ratingsobj='ratingsObject3' index='3'></review-ratings>
                    </div>
                </div>
                <md-divider></md-divider>
                <div layout="row" class="md-padding rating" layout-sm="column">
                    <div flex>
                        Open and green areas
                    </div>
                    <div layout="row" flex layout-align="end center">
                        <review-ratings ratingsobj='ratingsObject4' index='4'></review-ratings>
                    </div>
                </div>
                <md-divider></md-divider>
                <div layout="row" class="md-padding rating" layout-sm="column">
                    <div flex>
                        Electricity and water supply
                    </div>
                    <div layout="row" flex layout-align="end center">
                        <review-ratings ratingsobj='ratingsObject5' index='5'></review-ratings>
                    </div>
                </div>
                <md-divider></md-divider>
                <div layout="row" class="md-padding rating" layout-sm="column">
                    <div flex>
                        Convinience of housemaids
                    </div>
                    <div layout="row" flex layout-align="end center">
                        <review-ratings ratingsobj='ratingsObject6' index='6'></review-ratings>
                    </div>
                </div>
                <md-divider></md-divider>
                <div layout="row" class="md-padding rating" layout-sm="column">
                    <div flex>
                        Convinience of parking
                    </div>
                    <div layout="row" flex layout-align="end center">
                        <review-ratings ratingsobj='ratingsObject7' index='7'></review-ratings>
                    </div>
                </div>
                <md-divider></md-divider>
                <div layout="row" class="md-padding">
                    <div flex>
                        Is the project conveniently located ?
                    </div>
                    <div layout="row" flex layout-align="end center">
                        <md-radio-group ng-model="review.projectConvenientlyLocated" layout="row" class="md-warn">
                            <md-radio-button value="Yes"> Yes</md-radio-button>
                            <md-radio-button value="No"> No </md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
                <div layout="row" class="md-padding">
                    <div flex>
                        Do you have easy access to public transport ?
                    </div>
                    <div layout="row" flex layout-align="end center">
                        <md-radio-group ng-model="review.easyAccessToPublicTransport" layout="row" class="md-warn">
                            <md-radio-button value="Yes"> Yes </md-radio-button>
                            <md-radio-button value="No"> No </md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
                <div layout="row" class="md-padding">
                    <div flex>
                        Do you think a property reviewing platform like this would be useful for you in the future ?
                    </div>
                    <div layout="row" flex layout-align="end center">
                        <md-radio-group ng-model="review.useful" layout="row" class="md-warn">
                            <md-radio-button value="Yes"> Yes </md-radio-button>
                            <md-radio-button value="No"> No </md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
                <div class="image-selected">
                    <img class="thumb" ng-src="{{uploadedImage}}" />
                </div>
                <div class="md-padding" layout="row">
                    <div flex>
                        Upload Image
                    </div>
                    <div flex="75">
                        <input type="file" name="file" onchange="angular.element(this).scope().getFileDetails(event)" style="width: 40%" accept="image/*" single/>
                    </div>
                </div>
            </form>
            <div layout="row" layout-align="end center">
                <md-button class="md-raised md-warn" ng-click="createPath(review)" ng-disabled="review-form.$invalid">Update</md-button>
            </div>
        </div>
        <div flex="25 grow" class="md-padding review-tips">
            <h3 class="gl-sub-heading">Review Writing Tips</h3>
            <p><b>Help your fellow apartment seeker get the most out of your review with the following tips:</b></p>
            <p><b>Be Specific </b>- Don't just complain about something but rather describe specific thing you do or don't like. Explain what happened. We've found users lend more weight to a review with details.</p>
            <p><b>Be Courteous and Honest</b> - Describe your experience, be it good or bad, but don't go overboard. Keep your review precise and to the point. We value open expression, but profanity and hateful speech are not allowed on the site.</p>
            <p><b>Add Photos </b>- A picture tells a thousand words, or so they say.</p>
            <p><b>No Personal Info </b>- We don't allow reviews with names, phone numbers, email or other contact info, so please avoid using it.</p>
        </div>
    </div>
</md-content>
 -->