
<div class="container">
<div class="row mgt70 linkroot">    
    <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="#home" class="breadcrumb">Home</a>
        <a href="#projects" class="breadcrumb">Projects</a> 
        <a href="" class="breadcrumb">Project Details</a>       
      </div>
    </div>
  </nav>
</div>
    <div class="row mgln mgrn grey lighten-5">
        <div class="col pdan s12 m6 waves-effect waves-light">
            <img class="responsive-img" src="images/home/sohna.jpg">
        </div>
        <div class="col s12 m6 pdl30">
            <h5 class="pdt10 ft19 b ellipsis">Bestech Park View City 1</h5>
            <div class="row mgbn">
                <div class="col s12 mgt10">Sohna Road, Sector 48</div>
                <div class="col s12 grey-text mgt5 review ft20i">
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons">star</i>
                    <span>1 Review</span>
                </div>
            </div>
            <div class="row mgbn">
                <div class="col m12 grey-text ft13 text-darken-2 mgbn">
                    <p><b>Area:</b> 1776 Sq.Ft. - 3939 Sq.Ft.</p>
                    <p><b>Rent:</b> ₹1.59 Cr <span> - ₹3.23 Cr</span></p>
                </div>
            </div>
           
            <div class="row center flexbox grey-text text-darken-2 ft12 mgbn pdt10">
                <div class="col">
                    <i class="material-icons small">home</i>
                    <p>Ready to Move</p>
                </div>
                <div class="col">
                    <i class="material-icons small">hotel</i>
                    <p>2, 3, 4 BHK</p>
                </div>
                <div class="col">
                    <i class="material-icons small">account_balance</i>
                    <p>High End</p>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row grey-text ft13 text-darken-2 mgbn">
        <div class="col s3 b">
            <p>Address</p>
        </div>
        <div class="col s9">
            <p>Next to Bestech Business Center, Sohna Road, Sector 48, Gurgaon, Haryana</p>
        </div>
    </div>
    <hr>
    <div class="row grey-text ft13 text-darken-2 mgbn">
        <div class="col s3 b">
            <p>Property</p>
        </div>
        <div class="col s9">
            <p>Penthouses / Duplexes Apartments</p>
        </div>
    </div>
    <hr>
    <div class="row grey-text ft13 text-darken-2 mgbn">
        <div class="col s3 b">
            <p>Standout Features</p>
        </div>
        <div class="col s9">
            <p>Penthouses with Large Terraces</p>
        </div>
    </div>
    <hr>
    <div class="row grey-text ft13 text-darken-2">
        <div class="col s12 b">
            <h5 class="ush5">Amenities</h5>
            <hr>
        </div>
        <div class="col s12 mgb20 amen-tab reletive">
            <ul class="tabs">
                <li class="tab col "><a class="active" href="#test1">Basic</a></li>
                <li class="tab col "><a href="#test2">Convenience</a></li>
                <li class="tab col "><a href="#test3">Entertainment</a></li>
                <li class="tab col "><a href="#test4">Safety</a></li>
                <li class="tab col "><a href="#test5">Services</a></li>
                <li class="tab col "><a href="#test6">Sports</a></li>
            </ul>           
        </div>
        <div id="test1" class="col s12">
            <!--  Basic -->
            <ul class="ullist">
                <li>Car Parking</li>
                <li>CCTV</li>
                <li>Clubhouse</li>
                <li>Fire Protection</li>
                <li>Gym</li>
                <li>Intercom</li>
                <li>Kids Play Area</li>
                <li>Kids Pool</li>
                <li>Lifts</li>
                <li>Parks</li>
                <li>Power Backup (Full)</li>
                <li>Swimming Pool (Outdoor)</li>
                <li>Security 24X7</li>
                <li>
                    <s>Video Phone</s>
                </li>
                <li>Water Supply 24X7</li>
            </ul>
        </div>
        <div id="test2" class="col s12">
            <!-- Convenience -->
            <ul class="ullist">
                <li>Badminton Court (Outdoor)</li>
                <li>Inhouse Restaurants</li>
                <li>Multipurpose Court</li>
            </ul>
        </div>
        <div id="test3" class="col s12">
            <!-- Entertainment -->
            <ul class="ullist">
                <li>Party Hall</li>
            </ul>
        </div>
        <div id="test4" class="col s12">
            <!-- Safety -->
            <ul class="ullist">
                <li>Gated Community</li>
                <li>Guard At Lift Lobby</li>
                <li>
                    <s>Guest Accomodation</s>
                </li>
                <li>
                    <s>Pet Area</s>
                </li>
                <li>
                    <s>SmartCard/Biometric</s>
                </li>
                <li>Visitor Parking</li>
            </ul>
        </div>
        <div id="test5" class="col s12">
            <!-- Services -->
            <ul class="ullist">
                <li>Maintenance Staff</li>
                <li>Rain Water Harvesting</li>
                <li>Waste Disposal</li>
            </ul>
        </div>
        <div id="test6" class="col s12">
            <!-- Sports -->
            <ul class="ullist">
                <li>Basketball Court (Outdoor)</li>
                <li>Tennis Court</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row grey-text ft13 text-darken-2">
        <div class="col s12 b">
            <h5 class="ush5">Apartments</h5>
            <hr>
        </div>
        <div class="col s12 mgb20 amen-tab reletive">
            <ul class="tabs">
                <li class="tab col "><a class="active" href="#bhk2">2 BHK</a></li>
                <li class="tab col "><a href="#bhk3">3 BHK</a></li>
                <li class="tab col "><a href="#bhk4">4 BHK</a></li>
            </ul>        
        </div>
        <div id="bhk4" class="col s12">
            <div class="row row-mgn">
                <div class="col s5 b">Unit Types</div>
                <div class="col s7">2 BHK Apartments</div>
            </div>
            <div class="row row-mgn">
                <div class="col s5 b">Super Built Area</div>
                <div class="col s7">3062 Sq. Ft. - 3939 Sq. Ft.</div>
            </div>
            <div class="row row-mgn">
                <div class="col s5 b">Buy Price</div>
                <div class="col s7">NA</div>
            </div>
            <div class="row row-mgn">
                <div class="col s5 b">Rent Price</div>
                <div class="col s7">₹46000 - ₹65000</div>
            </div>
        </div>
        <div id="bhk3" class="col s12">
            <div class="row row-mgn">
                <div class="col s5 b">Unit Types</div>
                <div class="col s7">3 BHK Apartments</div>
            </div>
            <div class="row row-mgn">
                <div class="col s5 b">Super Built Area</div>
                <div class="col s7">1776 Sq. Ft. - 2345 Sq. Ft.</div>
            </div>
            <div class="row row-mgn">
                <div class="col s5 b">Buy Price</div>
                <div class="col s7">NA</div>
            </div>
            <div class="row row-mgn">
                <div class="col s5 b">Rent Price</div>
                <div class="col s7">₹28000 - ₹55000</div>
            </div>
        </div>
        <div id="bhk2" class="col s12">
            <div class="row row-mgn">
                <div class="col s5 b">Unit Types</div>
                <div class="col s7">2 BHK Penthouses / Duplexes</div>
            </div>
            <div class="row row-mgn">
                <div class="col s5 b">Super Built Area</div>
                <div class="col s7">-- --- --</div>
            </div>
            <div class="row row-mgn">
                <div class="col s5 b">Buy Price</div>
                <div class="col s7">NA</div>
            </div>
            <div class="row row-mgn">
                <div class="col s5 b">Rent Price</div>
                <div class="col s7"> -- ----- ---</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 ft13 grey-text text-darken-2">
            <hr>
            <h5 class="ush5">User Ratings</h5>
            <hr>
            <div class="row mgt20 mgb10">
                <div class="col s4">Excellent (0)</div>
                <div class="col s8">
                    <div class="progress ht10 grey lighten-2">
                        <div class="determinate blue" style="width: 70%"></div>
                    </div>
                </div>
            </div>
            <div class="row mgb10">
                <div class="col s4">Very Good (1)</div>
                <div class="col s8">
                    <div class="progress ht10 grey lighten-2">
                        <div class="determinate blue" style="width: 0%"></div>
                    </div>
                </div>
            </div>
            <div class="row mgb10">
                <div class="col s4">Good (0)</div>
                <div class="col s8">
                    <div class="progress ht10 grey lighten-2">
                        <div class="determinate blue" style="width: 0%"></div>
                    </div>
                </div>
            </div>
            <div class="row mgb10">
                <div class="col s4">Average (0)</div>
                <div class="col s8">
                    <div class="progress ht10 grey lighten-2">
                        <div class="determinate blue" style="width: 0%"></div>
                    </div>
                </div>
            </div>
            <div class="row mgb10">
                <div class="col s4">Bad (0)</div>
                <div class="col s8">
                    <div class="progress ht10 grey lighten-2">
                        <div class="determinate blue" style="width: 0%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 ft13 mgb20 grey-text text-darken-2">
            <hr>
            <h5 class="ush5">Rating Summary</h5>
            <hr>
            <div class="row mgt20 mgb10">
                <div class="col s6">Amenities (4)</div>
                <div class="col s6 right-align  grey-text ft20i">
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons">star</i>
                </div>
            </div>
            <div class="row mgb10">
                <div class="col s6">Security (4)</div>
                <div class="col s6 right-align  grey-text ft20i">
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons">star</i>
                </div>
            </div>
            <div class="row mgb10">
                <div class="col s6">Open And Green Areas (4.5)</div>
                <div class="col s6 right-align  grey-text ft20i">
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons">star</i>
                </div>
            </div>
            <div class="row mgb10">
                <div class="col s6">Electricity And Water Supply (4.5)</div>
                <div class="col s6 right-align  grey-text ft20i">
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons">star</i>
                </div>
            </div>
            <div class="row mgb10">
                <div class="col s6">Convenience Of House Maids (4)</div>
                <div class="col s6 right-align  grey-text ft20i">
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons">star</i>
                </div>
            </div>
            <div class="row mgb10">
                <div class="col s6">Convenience Of Parking (5)</div>
                <div class="col s6 right-align  grey-text ft20i">
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons blue-text">star</i>
                    <i class="material-icons">star</i>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row grey-text ft15 text-darken-2">
        <div class="col s12 mgt10 grey-text review ft20i">
            <span class="ft15">2 Review</span>
            <i class="material-icons blue-text">star</i>
            <i class="material-icons blue-text">star</i>
            <i class="material-icons blue-text">star</i>
            <i class="material-icons blue-text">star</i>
            <i class="material-icons">star</i>
            <span> (4)</span>
        </div>
    </div>
    <hr>
    <div class="row ft13 grey-text text-darken-2 mgbn">
        <div class="col s3 m1 b pdb20">
            <img class="imgcir mgt10" src="images/general/noImage.png">
        </div>
        <div class="col s9 m11">
            <p><b> Rajneesh Sharma </b> | Sep 01, 16</p>
            <p class="grey-text review ft20i mgbn mgtmn">
                <i class="material-icons blue-text">star</i>
                <i class="material-icons blue-text">star</i>
                <i class="material-icons blue-text">star</i>
                <i class="material-icons blue-text">star</i>
                <i class="material-icons">star</i>
            </p>
            <p><b>Wonderful ambience - greenery all around</b></p>
            <p class="justify">One entry and exit point has been constructed so thats a very big advantage and guards are always present. Clubhouse is there and it has a good ambience and is very well maintained. There are wide open green areas. It is spread across the Sohna Road and Golf Course Road Extension. There are some problems with the power backup. Housemaids are easily available. Basement and open parking is maintained and twice a day they have guards around. Here we have high-rise buildings with very good layout, main road connectivity is good which provides for easy transportation. Sohna Road is a problem as service roads are bad if you are coming in or going out of the society it is bad but inside, the ambience is wonderful.</p>
        </div>
    </div>
    <hr>
    <div class="row ft13 grey-text text-darken-2 mgbn">
        <div class="col s3 m1 b pdb20">
            <img class="imgcir mgt10" src="images/general/noImage.png">
        </div>
        <div class="col s9 m11">
            <p><b> Sangeeta Agarwal </b> | Aug 28, 16</p>
            <p class="grey-text review ft20i mgbn mgtmn">
                <i class="material-icons blue-text">star</i>
                <i class="material-icons blue-text">star</i>
                <i class="material-icons blue-text">star</i>
                <i class="material-icons blue-text">star</i>
                <i class="material-icons">star</i>
            </p>
            <p><b>The well designed society</b></p>
            <p class="justify">The way it is designed is really good. It has a lot of open spaces, which are well maintained. We always have dispute with the RWA because there is no football ground or play ground for kids and only one park for the whole society. So the question which always arises is "Do you like the landscape or the kids playing area”.</p>
        </div>
    </div>
</div>
