<md-content class="cover-stories">
    <div layout="column" flex layout-wrap>
        <section layout-sm="column" layout-xs="column" layout-gt-sm="row" class="header-story">
            <article flex="100">
                <div class="featured-story" style="background-image:url({{story.coverPhoto}});">
                    <div class="featured-caption">
                        <div class="featured-caption-content">
                            <h3>{{story.title}}</h3>
                            <div id="place-name"><span>{{story.placeName}}</span><time>{{story.createdDate | date:'MMM dd, yy'}}</time></div>
                            <ul class="featured-tags">
                                <li ng-repeat="tag in story.hashtags" ng-click="getRelatedStories(tag.tagId)"><a href="#">#{{tag.tag}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section layout-sm="column" layout-xs="column" layout-gt-sm="row" class="main-board" layout-align="center top">
            <div flex="50" class="story-board" flex-xs="100" flex-sm="100">
                <md-card class="story-card">
                    <md-card-content>
                        <p ng-bind-html="toTrustedHTML(story.data)"></p>
                        <span id="facebook-share" ng-click="shareonfb(story)"><i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;Share</span>
                    </md-card-content>
                    <md-card-header>
                        <md-card-header-text layout-align="end center" layout="row">
                            <md-card-avatar>
                                <img src="images/general/noImage.png" id="user-img"/>
                            </md-card-avatar>
                            <span class="md-title" id="user-name">{{story.userName}}</span>
                        </md-card-header-text>
                    </md-card-header>
                </md-card>
            </div>
            <div flex="30" class="story-widget" flex-xs="100" flex-sm="100">
                <md-card class="popular-stories">
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-title">Popular Stories</span>
                        </md-card-header-text>
                    </md-card-header>
                    <article ng-repeat="story in popularStories" ng-click="goToStoryDetails(story.storyId)">
                        <img ng-src="{{story.coverPhoto}}" class="md-card-image" alt="Washed Out" />
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{story.title}}</span>
                                <span class="md-subhead">{{story.placeName}}</span>
                            </md-card-title-text>
                        </md-card-title>
                    </article>
                </md-card>
                <md-card class="popular-localities">
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-title">Popular Localities</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <ul>
                            <li ng-repeat="locality in popularLocalities">
                                <div><i class="material-icons">&#xE409;</i><span ng-click="getLocalityPosts(locality.localityId)">{{locality.localityName}}</span></div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </md-card-content>
                </md-card>
                <md-card class="popular-tags">
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-title">Tag Cloud</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <div class="tagcloud">
                            <p class="tag-btn" ng-click="getRelatedStories(tag.tagId)" ng-repeat="tag in tagCloudData">#{{tag.tag}}</p>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </section>
    </div>
</md-content>