

<div class="container">
<div class="row mgt70 linkroot">    
    <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="#home" class="breadcrumb">Home</a>
        <a href="" class="breadcrumb">Write Review</a>       
      </div>
    </div>
  </nav>
</div>
    <div class="row">
        <div class="col s12 m4 justify ftw3">
            <h5 class="pdt10 b">Reviewing Tips</h5>
            <hr> Your review can directly impact someone’s decision to buy or rent property. So make it count by using these reviewing tips:
            <p>
                <b>Remain Relevant:</b> A review with the relevant details garners more ratings and trust. Avoid excessive complaints or compliments, provide specific details where possible, and be objective about your views. The best reviews state both pros and cons.
            </p>
            <p>
                <b>Honesty Helps:</b> Although this is a neutral platform for users to openly share their views, reviews with discriminatory, libellous, or profane content will not pass the verification stage. Share your own experiences and not what you’ve heard about the property or neighbourhood you’re reviewing.
            </p>
            <p>
                <b>Add Photos:</b> You may not be able to write a thousand words, so post a picture! Photos of the property, project, and locality help garner more readers for your review besides making it credible.
            </p>
            <p>
                <b>Review Anonymously:</b> Our hawk-eyed moderators have a thing against reviews with personal information such as names, phone numbers, emails, or other contact details. Make sure your review doesn’t include such information.</p>
        </div>
        <div class="col s12 m8 pdleft50">
            <h5 class="pdt10 b">Write Review</h5>
            <hr>
            <div class="row mgbn">
                <div class="input-field col s12">
                    <input id="select_project" type="text" class="validate">
                    <label for="select_project">Select Project/Locality</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 pdb10">Are you a *</div>
                <div class="col">
                    <input class="with-gap" name="group1" type="radio" id="owner" />
                    <label for="owner">Owner</label>
                </div>
                <div class="col">
                    <input class="with-gap" name="group1" type="radio" id="tenant" />
                    <label for="tenant">Tenant</label>
                </div>
                <div class="col">
                    <input class="with-gap" name="group1" type="radio" id="visitor" />
                    <label for="visitor">Visitor</label>
                </div>
            </div>
            <hr>
            <div class="row mgt20">
                <div class="col s12 pdb10">Overall rating *</div>
                <div class="col s12 grey-text">
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                </div>
            </div>
            <hr>
            <div class="row mgbn mgt20">
                <div class="col s12 pdb10">Review Title *</div>
                <div class="input-field col s12">
                    <input id="select_project" type="text" class="validate">
                    <label for="select_project">Type your review title</label>
                </div>
            </div>
            <div class="row mgbn">
                <div class="col s12 pdb10">Review text *</div>
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Type your review</label>
                </div>
            </div>
            <div class="row mgbn">
                <div class="col left ft13 pdb10">Security</div>
                <div class="col right ft20i pdl0 grey-text">
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                </div>
            </div>
            <div class="row mgbn">
                <div class="col left ft13 pdb10">Amenities</div>
                <div class="col right ft20i pdl0 grey-text">
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                </div>
            </div>
            <div class="row mgbn">
                <div class="col left ft13 pdb10">Open and green areas</div>
                <div class="col right ft20i pdl0 grey-text">
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                </div>
            </div>
            <div class="row mgbn">
                <div class="col left ft13 pdb10">Electricity and water supply</div>
                <div class="col right ft20i pdl0 grey-text">
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                </div>
            </div>
            <div class="row mgbn">
                <div class="col left ft13 pdb10">Convenience of housemaids</div>
                <div class="col right ft20i pdl0 grey-text">
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                </div>
            </div>
            <div class="row mgbn">
                <div class="col left ft13 pdb10">Convenience of parking</div>
                <div class="col right ft20i pdl0 grey-text">
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                </div>
            </div>
            <div class="row mgbn">
                <div class="col left ft13 pdb10">Infrastructure</div>
                <div class="col right ft20i pdl0 grey-text">
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                </div>
            </div>
            <div class="row">
                <div class="col left ft13 pdb10">Layout of the apartment</div>
                <div class="col right ft20i pdl0 grey-text">
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                </div>
            </div>
            <hr>
            <div class="row mgt20 mgb10">
                <div class="col left ft13 pdb10">Is the project conveniently located ?</div>
                <div class="col right grey-text">
                    <div class="col right">
                        <input class="with-gap" name="group2" type="radio" id="yes" />
                        <label for="yes">Yes</label>
                    </div>
                    <div class="col right">
                        <input class="with-gap" name="group2" type="radio" id="no" />
                        <label for="no">No</label>
                    </div>
                </div>
            </div>
            <div class="row mgb10">
                <div class="col left ft13 pdb10">Do you have easy access to public transport ?</div>
                <div class="col right grey-text">
                    <div class="col right">
                        <input class="with-gap" name="group3" type="radio" id="yes1" />
                        <label for="yes1">Yes</label>
                    </div>
                    <div class="col right">
                        <input class="with-gap" name="group3" type="radio" id="no1" />
                        <label for="no1">No</label>
                    </div>
                </div>
            </div>
            <div class="row mgb10">
                <div class="col left ft13 pdb10">Do you have good schools nearby ?</div>
                <div class="col right grey-text">
                    <div class="col right">
                        <input class="with-gap" name="group4" type="radio" id="yes2" />
                        <label for="yes2">Yes</label>
                    </div>
                    <div class="col right">
                        <input class="with-gap" name="group4" type="radio" id="no2" />
                        <label for="no2">No</label>
                    </div>
                </div>
            </div>
            <div class="row mgb10">
                <div class="col left ft13 pdb10">Do you have markets nearby ?</div>
                <div class="col right grey-text">
                    <div class="col right">
                        <input class="with-gap" name="group5" type="radio" id="yes3" />
                        <label for="yes3">Yes</label>
                    </div>
                    <div class="col right">
                        <input class="with-gap" name="group5" type="radio" id="no3" />
                        <label for="no3">No</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col left ft13 pdb10">Do you have good hospitals nearby ?</div>
                <div class="col right grey-text">
                    <div class="col right">
                        <input class="with-gap" name="group6" type="radio" id="yes4" />
                        <label for="yes4">Yes</label>
                    </div>
                    <div class="col right">
                        <input class="with-gap" name="group6" type="radio" id="no4" />
                        <label for="no4">No</label>
                    </div>
                </div>
            </div>
            <hr>
            <a href="" class="waves-effect waves-light blue lighten-1 btn block mgt20">Submit</a>
            <div class="red-text ft13 center pdt10">Please login/signup to submit review *</div>
        </div>
    </div>
    <hr>
</div>
