<div layout="row" flex layout-wrap class="footer">
    <div layout="row" layout-align="center center" flex="100" class="top-footer">
        <div flex="80" layout="row">
            <div flex="33">
                <h3>Roofpik</h3>
                <ul>
                    <li>
                        About
                    </li>
                    <!--                     <li>
                        Career
                    </li> -->
                    <li>
                        FAQ's
                    </li>
                    <li>
                        Contact Us
                    </li>
                </ul>
            </div>
            <div flex="33">
                <h3>Localities</h3>
                <ul>
                    <li ng-click="takeToLocalityProjects('Sohna Road')">
                        Sohna Road
                    </li>
                    <li ng-click="takeToLocalityProjects('Golf Course Road')">
                        Golf Course Road
                    </li>
                    <li ng-click="takeToLocalityProjects('Golf Course Road Extn.')">
                        Golf Course Extn Road
                    </li>
                    <li ng-click="takeToLocalityProjects('Dwarka Expressway')">
                        Dwarka Expressway
                    </li>
                </ul>
            </div>
            <div flex="33">
                <h3>Contact</h3>
                <p>
                    250, Vipul Trade Center
                    <br>Sector 48, Gurgaon, Haryana
                    <br>+91 124 438 4167
                    <br>contact@roofpik.com
                </p>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" flex="100" class="bottom-footer">

        <div flex="80" class="flex-xs-90" layout="row" layout-wrap>
            <div flex="33"  class="flex-xs-100" layout="row" layout-align="center center">
                © Alpha Binary Technologies Pvt Ltd
            </div>
            <div flex="66" class="flex-xs-100" layout="row" layout-align="end center">
                <ul>
                    <li>
                        Terms and Privacy
                    </li>
                    <li>
                        <a href="https://www.facebook.com/roofpik" target="_blank">
                            <img src="images/general/facebook.png" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/roofpik?trk=job_view_topcard_company_name" target="_blank">
                            <img src="images/general/linked-in.png" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com/roofpik" target="_blank">
                            <img src="images/general/twitter.png" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
