<div layout="row" class="header" layout-wrap>
    <div flex="20" flex-xs="40" class="logo" layout-align="start center" layout="row" ng-click="gotoHome()">
        <img src="images/general/logo.png" />
    </div>
    <div flex="80" flex-xs="60" class="main-menu" layout-align="end center" layout="row">
        <ul>
            <!--   <li class="shortlist-menu-item">
                <div class="menu-item">
                    <span>Shortlisted</span>
                    <i class="material-icons fade">favorite_border </i>
                    <span class="badge">2</span>
                </div>
                <shortlisted-project></shortlisted-project>
            </li> -->
            <!--  <li>
                <div class="menu-item">
                    <span>Help</span>
                    <i class="material-icons fade">help_outline</i>
                </div>
            </li> -->
            <li>
                <div class="menu-item" ng-click="goToCoverStories()">
                    <i class="material-icons fade">recent_actors</i>
                    <span>Cover Stories</span>
                </div>
            </li>
            <li>
                <div class="menu-item" ng-click="goToBlogs()">
                    <i class="material-icons fade">library_books</i>
                    <span>Blogs</span>
                </div>
            </li>
            <li>
                <div class="menu-item" ng-click="gotoWriteReviews()">
                    <i class="material-icons fade">mode_edit</i>
                    <span>Write Review</span>
                </div>
            </li>
            <li class="fixrtmenu" ng-if="!loginStatus">
                <div class="menu-item" ng-click="showLogin($event)">
                    <i class="material-icons fade">fingerprint</i>
                    <span>Login/Sign up</span>
                </div>
            </li>
            <li class="fixrtmenu user-menu-item" ng-if="loginStatus">
                <div class="menu-item">
                    <img src="https://dummyimage.com/32x32/676767/fff" />
                    <span class="menu-name">User</span>
                </div>
                <user-menu></user-menu>
            </li>
        </ul>
    </div>
</div>
