<div layout="row" class="header">
    <div flex="20" class="logo" layout-align="start center" layout="row" ng-click="gotoHome()">
        <img src="images/general/logo.png" />
    </div>
    <div flex="80" class="main-menu" layout-align="end center" layout="row">
        <ul>
          <!--   <li class="shortlist-menu-item">
                <div class="menu-item">
                    <span>Shortlisted</span>
                    <i class="material-icons fade">favorite_border </i>
                    <span class="badge">2</span>
                </div>
                <shortlisted-project></shortlisted-project>
            </li> -->
           <!--  <li>
                <div class="menu-item">
                    <span>Help</span>
                    <i class="material-icons fade">help_outline</i>
                </div>
            </li> -->
          <!--   <li ng-if="!loginStatus">
                <div class="menu-item">
                    <span>Sign Up</span>
                    <i class="material-icons fade">face</i>
                </div>
            </li> -->
            <li ng-if="!loginStatus">
                <div class="menu-item" ng-click="showLogin($event)">
                    <span>Login/Sign up</span>
                    <i class="material-icons fade">fingerprint</i>
                </div>
            </li>
             <li class="user-menu-item" ng-if="loginStatus">
                <div class="menu-item">
                    <img src="https://dummyimage.com/32x32/676767/fff" />
                    <span>User</span>
                </div>
                <user-menu></user-menu>
            </li>
        </ul>
    </div>
    <!--  <div flex="20">
        Yes
        <p ng-if="user">
            {{user}} User is logged in :D
        </p>
        <p ng-if="!user">
            Hey buddy, log in! Be cool
        </p>
    </div> -->
</div>
