<div>
  <style>
  .projdata {
    max-height: 250px;
    overflow-y: scroll;
  }
  </style>
  <div class="row mgt70 write-review">
    <div class="container">
      <div class="row relative">
        <div class="col s12 m12 l8 pdr30 rightsd">
          <h3 class="heading mgt30">Write Review</h3>
          <form name="reviewForm">
            <div class="row mgln mgrn">
              <div class="col s12 pdln ft18 b bodb pdb10 mgt20">
                Tell us about yourself?
              </div>
            </div>
            <div class="row mgbn">
              <div class="col s12 m4 input-field">
                <select ng-model="review.user.type" class="browser-default">
                  <option value="" disabled selected>Choose your option</option>
                  <option value="tenant">I live on rent</option>
                  <option value="owner">I own the place</option>
                  <option value="prospect">I visited for rent</option>
                </select>
                <span ng-show="review.user.type == null && validate" class="error">This field is required</span>
              </div>
              <div class="input-field col s12 m4">
                <input id="review-age" type="text" ng-model="review.user.age">
                <label for="review-age">Year of Birth (YYYY)</label>
                <span ng-show="review.user.age == null && validate" class="error">This field is required</span>
              </div>
              <div class="input-field col s12 m4">
                <select ng-model="review.user.gender" class="browser-default">
                  <option value="" disabled selected>Select Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
                <span ng-show="review.user.gender == null && validate" class="error">This field is required</span>
              </div>
            </div>
            <div class="row mgbn">
              <div class="col s12 m4 input-field">
                <select ng-model="review.user.livedwith" class="browser-default">
                  <option value="" disabled selected>I am living with</option>
                  <option value="family">Family</option>
                  <option value="friends">Friends</option>
                  <option value="other">Other</option>
                  <option value="alone">Alone</option>
                </select>
                <span ng-show="review.user.livedwith == null && validate" class="error">This field is required</span>
              </div>
              <div class="input-field col s12 m4">
                <input id="review-house" type="text" ng-model="review.user.house">
                <label for="review-house">House/Flat No</label>
                <span ng-show="review.user.house == null && validate" class="error">This field is required</span>
              </div>
              <div class="input-field col s12 m4">
                <input id="review-block" type="text" ng-model="review.user.block">
                <label for="review-block">Tower/Block</label>
                <span ng-show="review.user.block == null && validate" class="error">This field is required</span>
              </div>
            </div>
            <div class="row mgln mgrn">
              <div class="col s12 pdln ft18 b bodb pdb10 mgt20">
                Your first-hand experiences really help other residents. Thanks!
              </div>
            </div>
            <div class="row mgbn">
              <div class="col s12 input-field" id="pname">
                <input id="project-name" type="text" ng-model="searchtxt" ng-change="searchData()" autocomplete="off">
                <label for="project-name">Where do you live? (search project/locality)</label>
                <span ng-show="searchtxt == null && validate" class="error">This field is required</span>
              </div>
              <div class="col s12" ng-show="projectsData">
                <ul class="collection projdata">
                  <li class="collection-item" ng-repeat="item in allData" ng-click="selectedProj(item)">{{item.name}} </li>
                </ul>
              </div>
            </div>
            <div class="row mgt20">
              <div class="col s12 pdb10 b">Your Overall rating *</div>
              <div class="col s12 relative align-left">
                <span class="left starrating">
                                    <review-ratings ratingsobj='ratingsObject' index='1'></review-ratings>
                                </span>
                <span class="arrow_box ratbox left b white-text">{{ratingTxt.overall}}</span>
              </div>
              <div class="col s12 pdb10"><span ng-show="ratingTxt.overall == 'Click to rate' && validate" class="error">This field is required</span></div>
            </div>
            <hr>
            <div class="row mgbn mgt20">
              <div class="col s12 pdb10 b">Review Title *</div>
              <div class="input-field col s12">
                <input id="review-title" type="text" class="validate" class="validate" ng-model="review.main.title">
                <label for="review-title">Type your review title</label>
              </div>
              <div class="col s12 pdb10">
                <span ng-show="review.main.title == null && validate" class="error">This field is required</span></div>
            </div>
            <div class="row mgbn">
              <div class="col s12 pdb10 b">Review text *</div>
              <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea validate mgbn" ng-model="review.main.detail" ng-change="reviewText()"></textarea>
                <label for="textarea1">Type your review</label>
              </div>
              <div class="col s12 text-count right-align" ng-hide="textcount"> <span class="validate" id="textcount">{{data.textlength}}</span>/100 </div>
              <div class="col s12 pdb10 b">
                <span ng-show="!data.textcount" class="error">Minimum 100 characters required</span>
                <span ng-show="review.main.detail == null && validate" class="error">Minimum 100 characters</span>
              </div>
            </div>
            <div class="row mgln mgrn">
              <div class="col s12 pdln ft18 b bodb pdb10 mgt20"> Could you say a little more about it? <span class="ft13 grey-text ftw100">(optional)</span>
              </div>
              <div class="col s12 pdln mgt20 ft15 pdb10">We'd love your opinion! Anything you can share will help other travellers choose their perfect hotel. Thanks.</div>
            </div>
            <div class="mgt20 row mgln mgrn">
              <div class="row mgbn" ng-repeat="item in ratingParams">
                <div class="col s4 ft13 pdb10">{{item.name}}</div>
                <div class="col s6 pdl0 grey-text pointer">
                  <span class="left starrating">
                                       <review-ratings ratingsobj='ratingsObject' index='item.id'></review-ratings>
                                    </span>
                  <span class="arrow_box ratbox left b white-text">{{item.rtxt}}</span>
                </div>
              </div>
              <hr>
              <!-- closeby -->
              <div class="row mgb10 mgt20 xspdb10">
                <div class="col s12 m4 ft13 b">Good Schools?
                  <p class="ft11 linht15 mgtn ftw100">lorem ipsum Anything you can choose lorem ipsum</p>
                </div>
                <div class="col s12 m6 no-padding grey-text xspdt10 xspdl10">
                  <div class="col no-padding xspdn">
                    <input class="btn btnsm" type="button" value="Yes" ng-click="review.closeby.school = 'Yes'" ng-class="{'xtbtn-active': review.closeby.school == 'Yes'}">
                  </div>
                  <div class="col">
                    <input class="btn btnsm" type="button" value="No" ng-click="review.closeby.school = 'No'" ng-class="{'xtbtn-active': review.closeby.school == 'No'}">
                  </div>
                  <div class="col pdrn xspdln">
                    <input class="btn btnsm" type="button" value="Not Sure" ng-click="review.closeby.school = 'Not Sure'" ng-class="{'xtbtn-active': review.closeby.school == 'Not Sure'}">
                  </div>
                </div>
              </div>
              <div class="row mgb10 xspdb10">
                <div class="col s12 m4 ft13 b">Good Markets?
                  <p class="ft11 linht15 mgtn ftw100">lorem ipsum Anything you can share will help other lorem ipsum</p>
                </div>
                <div class="col s12 m6 no-padding grey-text xspdt10 xspdl10">
                  <div class="col no-padding xspdn">
                    <input class="btn btnsm" type="button" value="Yes" ng-click="review.closeby.market = 'Yes'" ng-class="{'xtbtn-active': review.closeby.market == 'Yes'}">
                  </div>
                  <div class="col">
                    <input class="btn btnsm" type="button" value="No" ng-click="review.closeby.market = 'No'" ng-class="{'xtbtn-active': review.closeby.market == 'No'}">
                  </div>
                  <div class="col pdrn xspdln">
                    <input class="btn btnsm" type="button" value="Not Sure" ng-click="review.closeby.market = 'Not Sure'" ng-class="{'xtbtn-active': review.closeby.market == 'Not Sure'}">
                  </div>
                </div>
              </div>
              <div class="row mgb10 xspdb10">
                <div class="col s12 m4 b ft13">Reputed Hospitals?
                  <p class="ft11 linht15 mgtn ftw100">lorem ipsum Anything you can share will choose lorem ipsum</p>
                </div>
                <div class="col s12 m6 no-padding grey-text xspdt10 xspdl10">
                  <div class="col no-padding xspdn">
                    <input class="btn btnsm" type="button" value="Yes" ng-click="review.closeby.hospital = 'Yes'" ng-class="{'xtbtn-active': review.closeby.hospital == 'Yes'}">
                  </div>
                  <div class="col">
                    <input class="btn btnsm" type="button" value="No" ng-click="review.closeby.hospital = 'No'" ng-class="{'xtbtn-active': review.closeby.hospital == 'No'}">
                  </div>
                  <div class="col pdrn xspdln">
                    <input class="btn btnsm" type="button" value="Not Sure" ng-click="review.closeby.hospital = 'Not Sure'" ng-class="{'xtbtn-active': review.closeby.hospital == 'Not Sure'}">
                  </div>
                </div>
              </div>
              <div class="row mgb10">
                <div class="col s12 m4 ft13 pdb10">Daily Need Items?</div>
                <div class="col s12 m6 no-padding grey-text">
                  <div class="col xspdn">
                    <input class="with-gap" name="group5" type="radio" id="dailyNeedsYes" ng-model="review.extra.location" value="Yes">
                    <label for="dailyNeedsYes">Yes</label>
                  </div>
                  <div class="col">
                    <input class="with-gap" name="group5" type="radio" id="dailyNeedsNo" ng-model="review.extra.location" value="No">
                    <label for="dailyNeedsNo">No</label>
                  </div>
                  <div class="col">
                    <input class="with-gap" name="group5" type="radio" id="dailyNeedsNotSure" ng-model="review.extra.location" value="Not Sure">
                    <label for="dailyNeedsNotSure">Not Sure</label>
                  </div>
                </div>
              </div>
              <div class="row mgb10">
                <div class="col s12 m4 ft13 pdb10">Public Transport?</div>
                <div class="col s12 m6 no-padding grey-text">
                  <div class="col xspdn">
                    <input class="with-gap" name="group6" type="radio" id="transportYes" ng-model="review.extra.transport" value="Yes">
                    <label for="transportYes">Yes</label>
                  </div>
                  <div class="col">
                    <input class="with-gap" name="group6" type="radio" id="transportNo" ng-model="review.extra.transport" value="No">
                    <label for="transportNo">No</label>
                  </div>
                  <div class="col">
                    <input class="with-gap" name="group6" type="radio" id="transportNotSure" ng-model="review.extra.transport" value="Not Sure">
                    <label for="transportNotSure">Not Sure</label>
                  </div>
                </div>
              </div>
              <div class="row mgb10">
                <div class="col s12 m4 ft13 pdb10">Apartment Layout Efficient?</div>
                <div class="col s12 m6 no-padding grey-text">
                  <div class="col xspdn">
                    <input class="with-gap" name="group7" type="radio" id="layoutYes" ng-model="review.extra.layout" value="Yes">
                    <label for="layoutYes">Yes</label>
                  </div>
                  <div class="col">
                    <input class="with-gap" name="group7" type="radio" id="layoutNo" ng-model="review.extra.layout" value="No">
                    <label for="layoutNo">No</label>
                  </div>
                  <div class="col">
                    <input class="with-gap" name="group7" type="radio" id="layoutNotSure" ng-model="review.extra.layout" value="Not Sure">
                    <label for="layoutNotSure">Not Sure</label>
                  </div>
                </div>
              </div>
              <div class="row mgb10">
                <div class="col s12 m4 ft13 pdb10">24x7 Electricity?</div>
                <div class="col s12 m6 no-padding grey-text">
                  <div class="col xspdn">
                    <input class="with-gap" name="group8" type="radio" id="electricityYes" ng-model="review.extra.electricity" value="Yes">
                    <label for="electricityYes">Yes</label>
                  </div>
                  <div class="col">
                    <input class="with-gap" name="group8" type="radio" id="electricityNo" ng-model="review.extra.electricity" value="No">
                    <label for="electricityNo">No</label>
                  </div>
                  <div class="col">
                    <input class="with-gap" name="group8" type="radio" id="electricityNotSure" ng-model="review.extra.electricity" value="Not Sure">
                    <label for="electricityNotSure">Not Sure</label>
                  </div>
                </div>
              </div>
              <div class="row mgb10">
                <div class="col s12 m4 ft13 pdb10">Regular/Clean Water Supply?</div>
                <div class="col s12 m6 no-padding grey-text">
                  <div class="col xspdn">
                    <input class="with-gap" name="group9" type="radio" id="waterYes" ng-model="review.extra.water" value="Yes">
                    <label for="waterYes">Yes</label>
                  </div>
                  <div class="col">
                    <input class="with-gap" name="group9" type="radio" id="waterNo" ng-model="review.extra.water" value="No">
                    <label for="waterNo">No</label>
                  </div>
                  <div class="col">
                    <input class="with-gap" name="group9" type="radio" id="waterNotSure" ng-model="review.extra.water" value="NotSure">
                    <label for="waterNotSure">Not Sure</label>
                  </div>
                </div>
              </div>
              <hr>
            </div>
            <div class="row mgbn mgt20 relative">
              <div class="col s12 pdb10 b">Add a tip to help residents choose a good house *</div>
              <div class="input-field col s12">
                <input onclick="$('#addatip_popup') .css ('display','block')" id="review-tip" ng-model="review.other.reivewtip" type="text" class="validate">
                <label for="review-title">Type your tip</label>
              </div>
              <div id="addatip_popup" class="white pda20">
                <i onclick="$('#addatip_popup') .css ('display','none')" class="material-icons right ft17 grey-text pointer">close</i>
                <h5 class="mgtn ft15 b">Examples of helpful project tips</h5>
                <hr>
                <p>
                  <em> "Rooms on the south side are quieter" "Corner suites are large and sunny" "Higher floors have less A/C unit noise"
                                   </em>
                </p>
              </div>
            </div>
            <!-- <button class="lighten-1 btn btn-primary block mgt20 wd100" ng-class="(reviewForm.$invalid || !review.userType || !review.overallRating || !projectSelected|| !loginStatus)?'disabled':'normal'" ng-click="submitReview()">Submit Your Review</button> -->
            <button class="lighten-1 btn btn-primary block mgt20 wd100" ng-click="submitReview()">Submit Your Review</button>
          </form>
        </div>
        <div class="col s12 m12 l4 justify pdl30 xspdl10 mgt30 smxst">
          <div class="row mgan relative">
            <div class="col s12">
              <a onclick="$('#seesample_popup') .css ('display','block')" class="pointer ft12">
                                See a sample
                            </a>
              <h3 class="ft15 b">Recent reviews of this property</h3>
            </div>
            <div id="seesample_popup" class="white pda20">
              <i onclick="$('#seesample_popup') .css ('display','none')" class="material-icons right ft17 grey-text pointer">close</i>
              <h5 class="mgtn ft15 b">Reviewing Tips</h5>
              <hr> Your review can directly impact someone’s decision to buy or rent property. So make it count by using these reviewing tips:
              <p>
                <b>Remain Relevant:</b> A review with the relevant details garners more ratings and trust. Avoid excessive complaints or compliments, provide specific details where possible, and be objective about your views. The best reviews state both pros and cons.
              </p>
              <p>
                <b>Honesty Helps:</b> Although this is a neutral platform for users to openly share their views, reviews with discriminatory, libellous, or profane content will not pass the verification stage. Share your own experiences and not what you’ve heard about the property or neighbourhood you’re reviewing.
              </p>
            </div>
          </div>
          <div class="row bdbtm ft12 grey-text text-darken-2 mgln mgrn" id="Reviews">
            <div class="col s2 b">
              <img class="imgcir imgcir40 mgt10" src="images/general/noImage.png">
            </div>
            <div class="col s10">
              <div class="grey-text text-darken-2 pdt10"> Rajneesh Sharma | Sep 01, 16</div>
              <div class="grey-text ft20i">
                <i class="material-icons green-text">star</i>
                <i class="material-icons green-text">star</i>
                <i class="material-icons green-text">star</i>
                <i class="material-icons green-text">star</i>
                <i class="material-icons">star</i>
              </div>
            </div>
            <div class="col s12 mgt5">
              <div class="b5">"Wonderful ambience - greenery all around"</div>
              <p class="justify mgt5 more">One entry and exit point has been constructed so thats a very big advantage and guards are always present. Clubhouse is there and it has a good ambience and is very well maintained. There are wide open green areas. It is spread across the Sohna Road and Golf Course Road Extension. There are some problems with the power backup. Housemaids are easily available. Basement and open parking is maintained and twice a day they have guards around. Here we have high-rise buildings with very good layout, main road connectivity is good which provides for easy transportation. Sohna Road is a problem as service roads are bad if you are coming in or going out of the society it is bad but inside, the ambience is wonderful.
              </p>
            </div>
          </div>
          <div class="row bdbtm ft12 grey-text text-darken-2 mgln mgrn" id="Reviews">
            <div class="col s2 b">
              <img class="imgcir imgcir40 mgt10" src="images/general/noImage.png">
            </div>
            <div class="col s10">
              <div class="grey-text text-darken-2 pdt10"> Rajneesh Sharma | Sep 01, 16</div>
              <div class="grey-text ft20i">
                <i class="material-icons green-text">star</i>
                <i class="material-icons green-text">star</i>
                <i class="material-icons green-text">star</i>
                <i class="material-icons green-text">star</i>
                <i class="material-icons">star</i>
              </div>
            </div>
            <div class="col s12 mgt5">
              <div class="b5">"Wonderful ambience - greenery all around"</div>
              <p class="justify mgt5 more">One entry and exit point has been constructed so thats a very big advantage and guards are always present. Clubhouse is there and it has a good ambience and is very well
              </p>
            </div>
          </div>
          <div class="row bdbtm ft12 grey-text text-darken-2 mgln mgrn" id="Reviews">
            <div class="col s2 b">
              <img class="imgcir imgcir40 mgt10" src="images/general/noImage.png">
            </div>
            <div class="col s10">
              <div class="grey-text text-darken-2 pdt10"> Rajneesh Sharma | Sep 01, 16</div>
              <div class="grey-text ft20i">
                <i class="material-icons green-text">star</i>
                <i class="material-icons green-text">star</i>
                <i class="material-icons green-text">star</i>
                <i class="material-icons green-text">star</i>
                <i class="material-icons">star</i>
              </div>
            </div>
            <div class="col s12 mgt5">
              <div class="b5">"Wonderful ambience - greenery all around"</div>
              <p class="justify mgt5 more">One entry and exit point has been constructed so thats a very big advantage and guards are always present. Clubhouse is there and it has a good ambience and is very well
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
