<div>
  <div class="side-nav hide-on-large-only" id="slide-out1">
    <form>
      <div class="row filter-heading">
        <div class="col s12">
          <span> Filters </span>
        </div>
      </div>
      <hr>
      <div class="row price-filter">
        <div class="col s12">
          <h3 class="ft14 b">Rent</h3>
        </div>
        <div class="col s12">
          <div id="price2"></div>
        </div>
        <div class="col s6" ng-hide="true">
          <input id="minP" placeholder="₹ Min" type="number" ng-change="minChange()" ng-model="data.rmin" />
        </div>
        <div class="col s6" ng-hide="true">
          <input id="maxP" placeholder="₹ Max" type="number" ng-change="maxChange()" ng-model="data.rmax" />
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h3 class="ft14 b">Project Categories</h3>
        </div>
        <div class="col s12 mgt5" ng-repeat="item in categories">
          <input type="checkbox" ng-model="selected.category[item.id]" id="{{item.id}}" ng-change="addFilter(item.id, 'category')" class="filled-in" />
          <label class="ft11" for="{{item.id}}">{{item.name}}</label>
          <label class="ft10 fright" for="num">10</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h3 class="ft14 b">Bedroom</h3>
        </div>
        <div class="col s6 mgt5" ng-repeat="item in [1, 2, 3, 4, 5, 6]">
          <input type="checkbox" class="filled-in" ng-model="selected.bhk[item]" ng-change="addFilter(item, 'bhk')" id="{{item}}" />
          <label class="ft11" for="{{item}}">{{item}} BHK</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h3 class="ft14 b">Property Types</h3>
        </div>
        <div class="col s12 mgt5" ng-repeat="item in propertyTypes">
          <input type="checkbox" ng-model="selected.ptype[item.id]" id="{{item.id}}" ng-change="addFilter(item.id, 'ptype')" class="filled-in" />
          <label class="ft11" for="{{item.id}}">{{item.name}}</label>
          <label class="ft10 fright" for="num">10</label>
        </div>
      </div>
      <div class="row pdt2 mgbn">
        <div class="col s12">
          <span class="more-filter" ng-click="moreFilters()">More Filters</span>
        </div>
      </div>
      <!-- Modal Trigger -->
      <!-- Modal Structure -->
    </form>
  </div>
  <div class="row mgbn mgt65 bg-grey">
    <div class="row linkroot mgbn  bg-grey">
      <nav class="bg-grey">
        <div class="nav-wrapper bg-grey">
          <div class="col s12 pdl30">
            <a href="#home" class="breadcrumb">Home</a>
            <a href="/#/listing" class="breadcrumb">Projects</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="row bg-grey">
    <section>
      <div class="row list-heading">
        <div class="col s12 pdl30">
          <h5>  Projects in Gurgaon  <a href="#" data-activates="slide-out1" class="right button-collapse1 hide-on-large-only"><i class="material-icons">menu</i></a></h5>
        </div>
      </div>
      <div class="row pdl30 pdr30">
        <div id="boxfilterlist" class="col s2 m3 l3 hide-on-med-and-down ">
          <form>
            <div class="row filter-heading">
              <div class="col s12">
                <span> Filters </span>
              </div>
            </div>
            <hr>
            <div class="row price-filter">
              <div class="col s12">
                <h3 class="ft14 b">Rent</h3>
              </div>
              <div class="col s12">
                <div id="price"></div>
              </div>
              <div class="col s6" ng-hide="true">
                <input id="minP" placeholder="₹ Min" type="number" ng-change="minChange()" ng-model="data.rmin" />
              </div>
              <div class="col s6" ng-hide="true">
                <input id="maxP" placeholder="₹ Max" type="number" ng-change="maxChange()" ng-model="data.rmax" />
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <h3 class="ft14 b">Project Categories</h3>
              </div>
              <div class="col s12 mgt5" ng-repeat="item in categories">
                <input type="checkbox" ng-model="selected.category[item.id]" id="{{item.id}}" ng-change="addFilter(item.id, 'category')" class="filled-in" />
                <label class="ft11" for="{{item.id}}">{{item.name}}</label>
                <label class="ft10 fright" for="num">10</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <h3 class="ft14 b">Bedrooms</h3>
              </div>
              <div class="col s6 mgt5" ng-repeat="item in [1, 2, 3, 4, 5, 6]">
                <input type="checkbox" class="filled-in" ng-model="selected.bhk[item]" ng-change="addFilter(item, 'bhk')" id="{{item}}" />
                <label class="ft11" for="{{item}}">{{item}} BHK</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <h3 class="ft14 b">Property Types</h3>
              </div>
              <div class="col s12 mgt5" ng-repeat="item in propertyTypes">
                <input type="checkbox" ng-model="selected.ptype[item.id]" id="{{item.id}}" ng-change="addFilter(item.id, 'ptype')" class="filled-in" />
                <label class="ft11" for="{{item.id}}">{{item.name}}</label>
                <label class="ft10 fright" for="num">10</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <h3 class="ft14 b">Micromarkets</h3>
              </div>
              <div class="col s12 mgt5" ng-repeat="item in micromarkets | limitTo:(2) % 3 == 1 ? 2 : 3">
                <input type="checkbox" ng-model="selected.micro[item.key]" id="{{item.key}}" ng-change="addFilter(item.key, 'micro')" class="filled-in" />
                <label class="ft11" for="{{item.key}}">{{item.name}}</label>
              </div>
            </div>
            <div class="row pdt2 mgbn">
              <div class="col s12">
                <span class="more-filter" ng-click="moreFilters('micromarkets')">More Micromarkets</span>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <h3 class="ft14 b">Locations</h3>
              </div>
              <div class="col s6 mgt5" ng-repeat="item in locations">
                <input type="checkbox" ng-model="selected.loc[item.key]" id="{{item.key}}" ng-change="addFilter(item.key, 'loc')" class="filled-in" />
                <label class="ft11" for="{{item.key}}">{{item.name}}</label>
              </div>
            </div>
            <div class="row pdt2 mgbn">
              <div class="col s12">
                <span class="more-filter" ng-click="moreFilters('locations')">More Locations</span>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <h3 class="ft14 b">Builders</h3>
              </div>
              <div class="col s6 mgt5" ng-repeat="item in builders">
                <input type="checkbox" ng-model="selected.builder[item.key]" id="{{item.key}}" ng-change="addFilter(item.key, 'builder')" class="filled-in" />
                <label class="ft11" for="{{item.key}}">{{item.name}}</label>
              </div>
            </div>
            <div class="row pdt2 mgbn">
              <div class="col s12">
                <span class="more-filter" ng-click="moreFilters('builders')">More Builders</span>
              </div>
            </div>
            <!-- Modal Trigger -->
            <!-- Modal Structure -->
          </form>
        </div>
        <div class="col s12 m12 l6 pdr30 projList">
          <div class="col s12 card pdt10 pdln pdrn pdbn white" ng-show="loading">
            <h3>Loading</h3>
          </div>
          <div ng-repeat="project in projects" ng-show="!loading">
            <div ng-include src="'resources/project/views/partials/project_listitem.html'"></div>
          </div>
        </div>
        <div ng-include src="'resources/project/views/partials/review_schedule_right_static_bar.html'"></div>
      </div>
    </section>
    <div ng-include src="'resources/project/views/partials/additional_filters_model.html'"></div>
    <div ng-include src="'resources/project/views/partials/schedule_visit_model.html'"></div>
  </div>
</div>
